﻿@model ChemMgmt.Nikon.LedgerUsageLocationModel

@{
    Layout = "~/Views/Shared/_LayoutManagementLedger.cshtml";
}
@Styles.Render("~/Content/csmscss")
@if (ViewBag.ShouldClose == true)
{
    <script type="text/javascript">
        window.close();
    </script>

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="submit" id="RegisterExecution" name="RegisterExecution" Style="display: none;" />

    <div class="form-horizontal">
        <div class="ioSection ioSectionSearch">
            <!-- 列1 -->
            <div class="ioFieldOne">
                <input type="hidden" id="_Mode" name="_Mode" value="">
                <div id="MessagePanel" class="ioSet" style="display:none">
                    <div class="ioSet" style="display:none">
                        <div class="label">
                        </div>
                        <div class="io">
                            <label for="Message" ForeColor="Red" Font-Size="Small"></label>
                        </div>
                    </div>
                </div>
                <div class="ioHeading">
                    @Html.Label("【使用場所情報】")
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblMGMT_GROUP">使用場所：</label>
                    </div>
                    <div class="io">
                        <input id="LEDGER_FLOW_ID" name="LEDGER_FLOW_ID" type="hidden" value="" />
                        <input type="hidden" value="@Model.StatusId" id="hdnstatusid" />
                        <input type="hidden" value="@Model._Mode" id="hdnmode" />
                        <input id="UsageLocationidval" name="USAGE_LOC_SELECTION" type="hidden" value="@Model.LOC_ID" />
                        <input id="RowId" name="RowId" type="hidden" value="" />
                        @Html.TextBoxFor(model => model.LOC_NAME, new { id = "LOC_NAME", @class = "textBoxOne requiredreadonly", @Readonly = "Readonly" })
                        <input type="button" id="UsageLocationSelect" class="button" value="選択" onclick="return UsageLocationPopUp();" />

                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblAMOUNT">最大使用量：</label>
                    </div>
                    <div class="io">
                        @Html.TextBoxFor(model => model.AMOUNT, new { id = "AMOUNT", @class = "textBoxShort halfWidth required", @maxlength = "8", onkeyup = "return validateGeneralData(this,'numeric_ammount',event);" })
                        @Html.DropDownListFor(model => model.UNITSIZE_ID, Model.LookupUnitSizeMasterInfo ?? new List<SelectListItem>(), new { id = "UNITSIZE_ID", @class = "required SiglebyteCapacity", style = "width: 100px;" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblISHA_USAGE">労働安全衛生法の用途：</label>
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.ISHA_USAGE, Model.LookupUsageMasterInfo ?? new List<SelectListItem>(), new { id = "UsageMaster", @class = "required UsageMaster", style = "width: 100px;", @onchange = "return ChangeUsageMaster(this.value);" })
                    </div>
                </div>

                <div class="ioSet">
                    <div class="label">
                        <label for="lblISHA_OTHER_USAGE">労働安全衛生法の用途（その他）：</label>
                    </div>
                    <div class="io">
                        @Html.TextBoxFor(model => model.ISHA_OTHER_USAGE, new { id = "ISHA_OTHER_USAGE", @class = "textBox", @maxlength = "100", onkeyup = "return validateGeneralData(this,'alpha_numeric_hyphen_singlequote',event);" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblCHEM_OPERATION_CHIEF">化学物質取扱責任者：</label>
                    </div>
                    <div class="io">
                        <table cellspacing="0" cellpadding="2" rules="cols" id="ChiefGrid" style="font-size:Small;width:100%;border-collapse:collapse;">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="ioHeading">
                    <label>【小分け情報】</label>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblSUB_CONTAINER">小分けの有無：</label>
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.SUB_CONTAINER, Model.LookupSUB_CONTAINER ?? new List<SelectListItem>(), new { id = "subcontainer", @class = "required subcontainer", style = "width: 100px;" })

                    </div>
                </div>
                <div class="ioHeading">
                    <label for="">【使用場所情報】</label>
                </div>
                <div class="ioSet">
                    <div class="label">
                    </div>
                    <div class="io">
                        <span style="color: red; font-size: small;">装置へ投入する場合は、該当する装置名を記載してください。</span>
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblENTRY_DEVICE">装置への投入：</label>
                    </div>
                    <div class="io">
                        @Html.TextBoxFor(model => model.ENTRY_DEVICE, new { id = "ENTRY_DEVICE", @class = "textBoxOne", @maxlength = 100, onkeyup = "return validateGeneralData(this,'alpha_numeric_hyphen_singlequote',event);" })
                    </div>
                </div>

                <div class="ioHeading">
                    <label>【作業管理】</label>
                </div>
                <div class="ioSet">
                    <div class="label">
                    </div>
                    <div class="io">
                        <span style="color: red; font-size: small;">保護具は1つ以上選んでください。</span>
                    </div>
                </div>
                <div class="ioSet">
                    <br />
                    <div class="label">
                        <label for="Protectorlbl">保護具：</label><br />
                    </div>
                    <div class="io">

                        <table cellspacing="0" cellpadding="4" rules="cols" id="LedgerProtectorGrid" style="color:Black;background-color:White;border-color:White;border-width:1px;border-style:Solid;font-size:Small;width:100%;border-collapse:collapse;">
                            <tbody>

                                @if (Model != null)
                                {
                                    int i = 0;
                                    if (Model.objLedgerProtectorModel != null && Model.objLedgerProtectorModel.Count > 0)
                                    {
                                        foreach (var items in Model.objLedgerProtectorModel)
                                        {
                                            <tr>
                                                <td align='center' style="border-right:1px solid">
                                                    @if (items.CHECK)
                                                    {
                                                        <input type='checkbox' align='right' class=LedgerRegisterChekbox id=@("RegisterCheck"+i) name="@items.PROTECTOR_NAME" checked="checked" onchange="return ChangeTxtAttr(this.value);" value="@items.PROTECTOR_ID">
                                                    }
                                                    else
                                                    {
                                                        <input type='checkbox' align='right' class=LedgerRegisterChekbox id=@("RegisterCheck"+i) name="@items.PROTECTOR_NAME" onchange="return ChangeTxtAttr(this.value);" value="@items.PROTECTOR_ID">
                                                    }
                                                </td>

                                                <td style="width:555px;">
                                                    <label id="LOC_NAME" class="label" style="display:inline-block;width:500px;">@items.PROTECTOR_NAME</label>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblOTHER_PROTECTOR">保護具（その他）：</label>
                    </div>
                    <div class="io">
                        @Html.TextBoxFor(model => model.OTHER_PROTECTOR, new { id = "OTHER_PROTECTOR", @class = "textBoxLong", @maxlength = 100, onkeyup = "return validateGeneralData(this,'alpha_numeric_hyphen_singlequote',event);" })
                    </div>
                </div>

                <div class="ioHeading">
                    <label for="">【リスクアセスメント結果】</label>
                </div>
                <div class="ioSet">
                    <br />
                    <div class="label">
                        <label for="lblApplicableLaw">適用法令：</label><br />
                    </div>
                    <div class="io">
                        <div>
                            <table cellspacing="0" cellpadding="4" rules="cols" id="ApplicableLawGrid" style="color:Black;background-color:White;border-color:White;border-width:1px;border-style:Solid;font-size:Small;border-collapse:collapse;">
                                <tbody>
                                    <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:1px;border-style:Solid;font-weight:bold;">
                                        <th colspan="1" scope="col">適用法令</th>
                                        <th scope="col">適用法令（詳細）</th>
                                        <th scope="col">点数</th>
                                    </tr>
                                    <tr>
                                        <td>該当なし</td>
                                        <td>-</td>
                                        <td>1</td>
                                    </tr>
                                    <tr style="background-color:SeaShell;">
                                        <td colspan="2" style="color:White;background-color:DarkRed;text-align:Right;font-weight:Bold;">点数合計</td>
                                        <td>1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblREG_TRANSACTION_VOLUME">職場の取扱量：</label>
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.REG_TRANSACTION_VOLUME, Model.LookupREG_TRANSACTION_VOLUME, new { id = "regtransactionvolume", @class = "required regtransactionvolume", style = "width: 356px;", @onchange = "return RiskAssessmentChange();" })

                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblREG_WORK_FREQUENCY">作業頻度：</label>
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.REG_WORK_FREQUENCY, Model.LookupREG_WORK_FREQUENCY, new { id = "regworkfrequency", @class = "required regworkfrequency", style = "width: 356px;", @onchange = "return RiskAssessmentChange();" })

                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblREG_DISASTER_POSSIBILITY">災害発生の可能性：</label>
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.REG_DISASTER_POSSIBILITY, Model.LookupREG_DISASTER_POSSIBILITY, new { id = "regdisasterpossibility", @class = "required regdisasterpossibility", style = "width: 356px;", @onchange = "return RiskAssessmentChange();" })

                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblMEASURES_BEFORE_SCORE">アセスメント評価値：</label>
                    </div>
                    <div class="io">
                        <label for="MEASURES_BEFORE_SCORE" id="lblMeasureBeforeScore" style="font-size:large;font-weight:bold">@Model.MEASURES_BEFORE_SCORE</label>
                        <label for="MEASURES_BEFORE_SCORE_UNIT" id="lblMeasureBeforeScoreUnit" style="font-size:large;font-weight:bold">@Model.MEASURES_BEFORE_SCORE_UNIT</label>
                        <label for="lblMEASURES_BEFORE_RANK" style="padding-left:190px;">対策前のリスクレベル:</label>
                        <label for="MEASURES_BEFORE_RANK_DISP" id="lblMeasureBeforeRankdisp" style="font-size:large;font-weight:bold;padding-right:50px;">@Model.MEASURES_BEFORE_RANK_TEXT</label>
                        <input id="MEASURES_BEFORE_RANK" name="MEASURES_BEFORE_RANK" type="hidden" value="@Model.MEASURES_BEFORE_RANK" />
                        <input id="MEASURES_BEFORE_SCORE" name="MEASURES_BEFORE_SCORE" type="hidden" value="@Model.MEASURES_BEFORE_SCORE" />
                        <input id="MEASURES_BEFORE_SCORE_UNIT" name="MEASURES_BEFORE_SCORE_UNIT" type="hidden" value="@Model.MEASURES_BEFORE_SCORE_UNIT" />
                        <input id="MEASURES_BEFORE_RANK_DISP" name="MEASURES_BEFORE_RANK_DISP" type="hidden" value="@Model.MEASURES_BEFORE_RANK_TEXT" />
                        <input type="submit" id="RISK_EVALUATE_BEFORE" name="RISK_EVALUATE_BEFORE" class="button" style="font-weight:bold;color:red;" value="リスク評価" />
                    </div>
                </div>
                <hr>
                <div class="ioSet">
                    <br />
                    <div class="label">
                        <label for="Label5">リスク低減策：</label>  <br />
                    </div>
                    <div class="io">
                        <div>
                            <table cellspacing="0" cellpadding="4" rules="cols" id="RegulationGrid" style="color:Black;border-width:1px;font-size:Small;width:100%;border-collapse:collapse;">
                                <thead>
                                    <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:1px;border-style:Solid;font-weight:bold;">

                                        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">リスク低減策</font></font></th>
                                        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">優先度</font></font></th>
                                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">該当</font></font></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.objLedgerRisk != null && Model.objLedgerRisk.Count > 0)
                                        {
                                            foreach (var items in Model.objLedgerRisk)
                                            {
                                                <tr style="background-color:#F0FFF0;">

                                                    <td style="width:364px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@items.RISK_REDUCE_POLICY</font></font></td>
                                                    <td style="width:50px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>@items.LED_RISK_REDUCE_TYPE</font></td>
                                                    <td style="width:50px;" align="center">
                                                        @if (items.IsChecked)
                                                        {
                                                            <input id=@items.LED_RISK_REDUCE_FLAG type="checkbox" checked="checked" onchange="return ChangeRiskLedger(this.value);" value="@items.LED_RISK_REDUCE_ID">
                                                        }
                                                        else
                                                        {
                                                            <input id=@items.LED_RISK_REDUCE_FLAG type="checkbox" onchange="return ChangeRiskLedger(this.value);" value="@items.LED_RISK_REDUCE_ID">
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblMEASURES_AFTER_SCORE">リスク低減策後アセスメント評価値：</label>
                    </div>
                    <div class="io">
                        <label for="MEASURES_AFTER_SCORE" id="lblMeasureAfterScore" style="font-size:large;font-weight:bold">@Model.MEASURES_AFTER_SCORE</label>
                        <label for="MEASURES_AFTER_SCORE_UNIT" id="lblMeasureAfterScoreUnit" style="font-size:large;font-weight:bold">@Model.MEASURES_AFTER_SCORE_UNIT</label>
                        <label for="lblMEASURES_AFTER_RANK" style="font-size:large;font-weight:bold;padding-left:190px;">対策後のリスクレベル：</label>
                        <label for="MEASURES_AFTER_RANK_DISP" id="lblMeasureAfterRankdisp" style="font-size:large;font-weight:bold;padding-right:50px;">@Model.MEASURES_AFTER_RANK_TEXT</label>
                        <input id="MEASURES_AFTER_RANK" name="MEASURES_AFTER_RANK" type="hidden" value="@Model.MEASURES_AFTER_RANK" />
                        <input id="MEASURES_AFTER_SCORE" name="MEASURES_AFTER_SCORE" type="hidden" value="@Model.MEASURES_AFTER_SCORE" />
                        <input id="MEASURES_AFTER_RANK_DISP" name="MEASURES_AFTER_RANK_DISP" type="hidden" value="@Model.MEASURES_AFTER_RANK_TEXT" />
                        <input id="MEASURES_AFTER_SCORE_UNIT" name="MEASURES_AFTER_SCORE_UNIT" type="hidden" value="@Model.MEASURES_AFTER_SCORE_UNIT" />
                        <input type="submit" id="RISK_EVALUATE_AFTER" name="RISK_EVALUATE_AFTER" class="button" style="font-weight:bold;color:red;" value="リスク評価" />
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label" />
                    <div class="io" style="padding-left:450px;">
                        <span style="color: red; font-size: small;">レベルAでも保護具着用はお願いします。</span>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="hdnGroupCd" name="hdnGroupCd">
        <input type="hidden" id="lblGroupName" name="lblGroupName">
        <input id="REG_TYPE_IDS" name="REG_TYPE_IDS" type="hidden" />
        <input id="FLG_UNREGISTERED_CHEM" name="FLG_UNREGISTERED_CHEM" type="hidden" />
    </div>
    <div style="clear: both;">
        <div id="footer">
            <hr>
            <div class="buttonFieldLeft">
            </div>
            <div class="buttonField">
                <input type="button" name="Register" value="確定" id="btnconfirmclick" class="button">
                <input type="button" name="close" value="閉じる" id="btnClose" class="button">
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>


    <script src="~/Scripts/jquery-1.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        $(document).ready(function () {
            UsageLocationDetails();
            var statusid = $("#hdnstatusid").val();
            var modevalue = $("#hdnmode").val();
            if (statusid == "2" || modevalue == "5" || modevalue == "6" || modevalue == "3") {
                $("input").prop('disabled', true);
                $("select").prop('disabled', true);
                $("#RISK_EVALUATE_BEFORE").hide();
                $("#RISK_EVALUATE_AFTER").hide();
                $("#btnClose").prop('disabled', false);
                $("#CloseButtonHeader").prop('disabled', false);
            }

            if (modevalue == "5" || modevalue == "6" || modevalue == "3") {
                $("#btnconfirmclick").hide();
                $("#btnClose").hide();
                $("#UsageLocationSelect").hide();
                $("#CloseButtonHeader").prop('disabled', false);
            }
            else {
                $("#btnClose").prop('disabled', false);
            }


            var original = '';
            $('#AMOUNT').on('input', function () {
                if ($(this).val().replace(/[^.]/g, "").length > 1) {
                    $(this).val(original);
                } else {
                    original = $(this).val();
                }
            });
            //$("#AMOUNT").keypress(function (e) {
            //    //if the letter is not digit then display error and don't type anything
            //    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //        return false;
            //    }
            //});

            $('#RegisterCheck5').change(function () {
                if ($(this).is(":checked")) {
                    $("#OTHER_PROTECTOR").addClass("required");
                } else {
                    $("#OTHER_PROTECTOR").removeClass("required");
                }
            });

            $("#btnconfirmclick").click(function (e) {
                let dothis = confirm('確定します。よろしいですか？');
                if (dothis) {
                    var ValidationSummary = "";
                    var Locid = $("#UsageLocationidval").val();
                    var Amount = $("#AMOUNT").val();
                    var UnitSize = $("#UNITSIZE_ID").val();
                    var UsageMaster = $("#UsageMaster").val();
                    var Container = $("#subcontainer").val();
                    var TransactionVolume = $("#regtransactionvolume").val();
                    var WorkFrequency = $("#regworkfrequency").val();
                    var DisasterPossibility = $("#regdisasterpossibility").val();
                    var MeasuresBeforeScore = $("#MEASURES_BEFORE_SCORE").val();
                    var MeasuresAfterScore = $("#MEASURES_AFTER_SCORE").val();

                    if (Locid == "") {
                        ValidationSummary += "場所IDは必須項目です。\n";
                    }
                    if (Amount == "") {
                        ValidationSummary += "最大使用量は必須項目です。\n";
                    }
                    if (UnitSize == "") {
                        ValidationSummary += "単位は必須項目です。\n";
                    }
                    if (UsageMaster == "") {
                        ValidationSummary += "労働安全衛生法の用途は必須項目です。\n";
                    }
                    if (Container == "") {
                        ValidationSummary += "小分け容器の有無は必須項目です。\n";
                    }
                    if (TransactionVolume == "") {
                        ValidationSummary += "対策前のリスクレベルは必須項目です。\n";
                    }
                    if (WorkFrequency == "") {
                        ValidationSummary += "作業頻度は必須項目です。\n";
                    }
                    if (DisasterPossibility == "") {
                        ValidationSummary += "災害発生の可能性は必須項目です。\n";
                    }
                    if (MeasuresBeforeScore == "" && $("#MEASURES_BEFORE_RANK").val() != "4") {
                        ValidationSummary += "対策前のリスクレベルは必須項目です。\n";
                    }
                    if (MeasuresAfterScore == "" && $("#MEASURES_AFTER_RANK").val() != "4") {
                        ValidationSummary += "対策後のリスクレベルは必須項目です。\n";
                    }
                    if (UsageMaster == "9") {
                        ValidationSummary += "労働安全衛生法の用途(その他)は必須項目です。\n";
                    }

                    if ($("#RegisterCheck5:checked").length == "1") {
                        ValidationSummary += "保護具(その他)は必須項目です。\n";
                    }

                    if (ValidationSummary != "") {
                        alert(ValidationSummary);
                        return false;
                    }
                    var formvaldata = $('form').serialize();
                    $.ajax({
                        url: "/ZC140/LoadUseLocationGrid",
                        type: "POST",
                        cache: false,
                        data: formvaldata,
                        success: function (data) {
                            if (data == "True") {
                                window.opener.LoadUsageLocation();
                                window.close();
                            }
                        },
                        error: function () {
                            alert("An error has occured!!!");
                        }
                    });
                    return false;
                }
                else {
                    return false;
                }
            });


            $("#btnClose").click(function () {
                window.close();
            });

            $("#RISK_EVALUATE_BEFORE").click(function () {
                var IshaUsageval = $('#UsageMaster').val();
                var RegTransactionVolume = $('#regtransactionvolume').val();
                var RegWorkFrequency = $('#regworkfrequency').val();
                var RegDisasterPossibility = $('#regdisasterpossibility').val();
                var validationlist = "";
                if (IshaUsageval == "") {
                    validationlist += "労働安全衛生法の用途は必須項目です。\n";
                }
                if (RegTransactionVolume == "") {
                    validationlist += "労働安全衛生法の用途は必須項目です。\n";
                }
                if (RegWorkFrequency == "") {
                    validationlist += "労働安全衛生法の用途は必須項目です。\n";
                }
                if (RegDisasterPossibility == "") {
                    validationlist += "労働安全衛生法の用途は必須項目です。\n";
                }

                if (validationlist != "") {
                    alert(validationlist);
                    return false;
                }

                var formddata = $('form').serialize();
                $.ajax({
                    type: "POST",
                    url: "/ZC140/RiskBeforeEvaluateCommand",
                    cache: false,
                    data: formddata,
                    dataType: "json",
                    success: function (data) {
                        if (data != "") {
                            $("#MEASURES_BEFORE_RANK").val(data[1]);
                            if (data[2] != null) {
                                $("#MEASURES_BEFORE_SCORE").val(data[2]);
                            }
                            else {
                                $("#MEASURES_BEFORE_SCORE").val('');
                            }
                            if (data[3] != null) {
                                $("#MEASURES_BEFORE_SCORE_UNIT").val(data[3]);
                            } else {
                                $("#MEASURES_BEFORE_SCORE_UNIT").val('');
                            }
                            $("#MEASURES_BEFORE_RANK_DISP").val(data[0]);
                            if (data[2] != null) {
                                $("#lblMeasureBeforeScore").text(data[2]);
                            } else {
                                $("#lblMeasureBeforeScore").text('');
                            }

                            if (data[3] != null) {
                                $("#lblMeasureBeforeScoreUnit").text(data[3]);
                            }
                            else {
                                $("#lblMeasureBeforeScoreUnit").text('');
                            }
                            $("#lblMeasureBeforeRankdisp").text(data[0]);
                            return false;
                        }
                    },
                    error: function () {
                        return false;
                    }
                });
                return false;
            });

            $("#RISK_EVALUATE_AFTER").click(function () {
                var IshaUsage = $('#UsageMaster').val();
                var RegTransactionVolume = $('#regtransactionvolume').val();
                var RegWorkFrequency = $('#regworkfrequency').val();
                var RegDisasterPossibility = $('#regdisasterpossibility').val();
                var MeasureBeforeScore = $("#MEASURES_BEFORE_SCORE").val();
                var validation = "";
                if (IshaUsage == "") {
                    validation += "労働安全衛生法の用途は必須項目です。\n";
                }
                if (RegTransactionVolume == "") {
                    validation += "労働安全衛生法の用途は必須項目です。\n";
                }
                if (RegWorkFrequency == "") {
                    validation += "労働安全衛生法の用途は必須項目です。\n";
                }
                if (RegDisasterPossibility == "") {
                    validation += "労働安全衛生法の用途は必須項目です。\n";
                }
                if (MeasureBeforeScore == "" && $("#MEASURES_BEFORE_RANK").val() != "4") {
                    validation += "アセスメント評価値は必須項目です。\n";
                }

                if (validation != "") {
                    alert(validation);
                    return false;
                }

                var formddata = $('form').serialize();
                $.ajax({
                    type: "POST",
                    url: "/ZC140/RiskAfterEvaluate",
                    cache: false,
                    data: formddata,
                    dataType: "json",
                    success: function (data) {
                        if (data != "") {
                            $("#MEASURES_AFTER_RANK").val(data[1]);
                            if (data[2] != null) {
                                $("#MEASURES_AFTER_SCORE").val(data[2]);
                            }
                            else {
                                $("#MEASURES_AFTER_SCORE").val('');
                            }

                            if (data[3] != null) {
                                $("#MEASURES_AFTER_SCORE_UNIT").val(data[3]);
                            } else {
                                $("#MEASURES_AFTER_SCORE_UNIT").val('');
                            }

                            $("#MEASURES_AFTER_RANK_DISP").val(data[0]);

                            if (data[2] != null) {
                                $("#lblMeasureAfterScore").text(data[2]);
                            } else {
                                $("#lblMeasureAfterScore").text('');
                            }

                            if (data[3] != null) {
                                $("#lblMeasureAfterScoreUnit").text(data[3]);
                            }
                            else {
                                $("#lblMeasureAfterScoreUnit").text('');
                            }

                            $("#lblMeasureAfterRankdisp").text(data[0]);
                            return false;
                        }
                    },
                    error: function () {
                        return false;
                    }
                });
                return false;
            });

        });

        var url = null;
        function UsageLocationPopUp() {
            var usageIds = $("#UsageLocationidval").val();
            url = '../ZC010/ZC01081?TableName=M_USAGE_LOCATION&ColumnName=P_LOC_ID&SelectType=0&RowId=&Id=' + usageIds + '';
            window.open(url, '_blank', 'popUpWindow', 'height=726,width=1276,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');
            return false;
        }

        function UsageLocationDetails() {
            var usageIds = $("#UsageLocationidval").val();
            $.ajax({
                type: "GET",
                url: "/ZC140/GetLocationName",
                cache: false,
                data: { "LocId": usageIds },
                success: function (data) {
                    if (data != "") {
                        $("#LOC_NAME").val(data);
                        $("#UsageLocationidval").val(usageIds);
                        $.ajax({
                            type: "GET",
                            url: "/ZC140/BindChiefValues",
                            cache: false,
                            data: { "LocId": usageIds },
                            success: function (data) {
                                if (data != "") {
                                    $('#ChiefGrid tbody').html("");
                                    $('#ChiefGrid tbody').append(data);
                                } else {
                                    return false;
                                }
                            },
                            error: function () {

                            }
                        });
                        return false;
                    } else {
                        return false;
                    }
                },
                error: function () {

                }
            });
            return false;
        }


        function ChangeTxtAttr(obj) {
            $.ajax({
                type: "GET",
                url: "/ZC140/ProtectorGridChange",
                cache: false,
                data: { "CheckVal": obj },
                success: function (data) {
                    return false;
                },
                error: function () {
                }
            });
            return false;
        }

        function ChangeRiskLedger(obj) {
            $.ajax({
                type: "GET",
                url: "/ZC140/RiskReduceGridChange",
                cache: false,
                data: { "CheckVal": obj },
                success: function (data) {
                    if (data != "") {
                        $("#MEASURES_AFTER_SCORE").val("");
                        $("#MEASURES_AFTER_SCORE_UNIT").val("");
                        $("#MEASURES_AFTER_RANK_DISP").val("");
                        $("#MEASURES_AFTER_RANK").val("");
                        $("#lblMeasureAfterRankdisp").text("");
                        $("#lblMeasureAfterScore").text("");
                        $("#lblMeasureAfterScoreUnit").text("");
                    }
                    return false;
                },
                error: function () {
                }
            });
            return false;
        }

        function ChangeUsageMaster(obj) {
            if (obj == 19) {
                $("#ISHA_OTHER_USAGE").addClass("required");
            } else {
                $("#ISHA_OTHER_USAGE").removeClass("required");
            }
            RiskAssessmentChange();
        }

        function RiskAssessmentChange() {
            $("#MEASURES_AFTER_SCORE").val("");
            $("#MEASURES_AFTER_SCORE_UNIT").val("");
            $("#MEASURES_AFTER_RANK_DISP").val("");
            $("#MEASURES_AFTER_RANK").val("");
            $("#lblMeasureAfterRankdisp").text("");
            $("#lblMeasureAfterScore").text("");
            $("#lblMeasureAfterScoreUnit").text("");

            $("#MEASURES_BEFORE_RANK").val("");
            $("#MEASURES_BEFORE_SCORE").val("");
            $("#MEASURES_BEFORE_SCORE_UNIT").val("");
            $("#MEASURES_BEFORE_RANK_DISP").val("");
            $("#lblMeasureBeforeScore").text("");
            $("#lblMeasureBeforeScoreUnit").text("");
            $("#lblMeasureBeforeRankdisp").text("");
        }


        var UPARROW_KEY = 38;
        var DOWNARROW_KEY = 40;
        var LEFTARROW_KEY = 37;
        var RIGHTARROW_KEY = 39;
        var SPACE_KEY = 32;
        var ENTER_KEY = 13;
        var SHIFTTAB_KEY = 9;
        var SHIFT_KEY = 16;
        var HOME_KEY = 36;

        function validateGeneralData(obj, validateKey, e) {
            var keynum;
            if (window.event) // IE
            {
                keynum = event.keyCode;
            }
            else if (e.which) // Netscape/Firefox/Opera
            {
                keynum = e.which;
            }
            if (obj.value != '') {
                if (keynum != HOME_KEY && keynum != SHIFT_KEY && keynum != SHIFTTAB_KEY && keynum != LEFTARROW_KEY && keynum != RIGHTARROW_KEY) {
                    switch (validateKey) {
                        case "numeric_ammount":
                            {
                                validateData(obj, "[^0-9\.\]");
                                return false;
                            }
                        case "alpha_numeric_hyphen_singlequote":
                            {
                                validateData(obj, "[^A-Za-z0-9\+\/\>\<\'\"\;\:\#\$\%\*\(\)\.\-\=\]");
                                return false;
                            }
                    } //end switch
                }
            }
            return true;
        }
        function validateData(obj, query) {
            var fieldValue = obj.value;
            while (0 < fieldValue.length) {
                if (fieldValue.search(query) != -1) {
                    fieldValue = fieldValue.substring(0, fieldValue.length - 1);
                } else {
                    break;
                }
            }
            if (obj.value != fieldValue || fieldValue == "") {
                obj.value = fieldValue;
            }
        }
    </script>
}


