﻿@model ChemMgmt.Models.LedgerCommonInfo
@{
    WebGrid webGrid = new WebGrid(Model.LedgerCommonList, canSort: false, canPage: false);
    Layout = "~/Views/Shared/_LayoutManagementLedger.cshtml";
}
@Styles.Render("~/Content/WebgridLedger")
@Styles.Render("~/Content/csmscss")
@Scripts.Render("~/bundles/RegistrationScripts")
@Scripts.Render("~/bundles/jqueryLedger30")
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@Scripts.Render("~/bundles/DataTableScripts")
@Scripts.Render("~/bundles/Datatable")
<script src="~/Scripts/jquery.blockUI.js"></script>

<script type="text/javascript">
    var window;
    var url = "";
    $("body").on("click", ".flowcode", function () {
        $.blockUI({ message: '<p>読み込み中...</p>' });
        var row = $(this).closest("tr");
        var FlowCode = row.find("td").eq(2).text();
        if (FlowCode != "") {
            url = "../ZC140/ZC14020?Mode=3" + "&Id=" + FlowCode + "&Type=1"+"&returnid=1";
            //window = window.open(url, 'popUpWindow', 'height=750,width=1300,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes'); //, 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes, _blank'
            window.location.href = url;
            return false;
        }
    });
    function closePopup() {
        window.close();
    }

    function block() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
    }

    function Unblock() {
        $.unblockUI();
    }

    function BackButton() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
        window.location.href = "../ZC140/ZC14010";
    }
</script>

@using (Html.BeginForm())
{
    int rowVal = 0;
    @Html.AntiForgeryToken()

    <div style="clear: both;">
        <hr>
        <div id="contents">
            <table cellspacing="0" id="MainContents_SearchFormView" style="border-collapse:collapse;"></table>
        </div>
        <div style="clear: both;">

            <div id="result">
                <span id="SubContents_ResultCount" class="count"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><span>件数:</span> @Model.LedgerCommonList.Count() 件</font></font></span>
                <div style="clear: both;">
                    <div id="resultGridOuter">
                        <div id="resultGridInner">
                            <div>
                                <div class="webGrid">
                                    @webGrid.GetHtml(
                                    htmlAttributes: new { id = "MNGLedgerWebGrid" },
                                    tableStyle: "webgrid-table",
                                    headerStyle: "webgrid-header",
                                    footerStyle: "webgrid-footer",
                                    alternatingRowStyle: "webgrid-alternating-row",
                                    rowStyle: "webgrid-row-style",
                                    fillEmptyRows: false,
                                    mode: WebGridPagerModes.All,
                                    columns: webGrid.Columns(
                                             webGrid.Column("No.", format: item => rowVal = rowVal + 1),
webGrid.Column("STATUS_TEXT", "状態"),
webGrid.Column("APPLI_NO", "申請番号", style: "col-sm4", format: @<text><a href="" class="flowcode">@item.APPLI_NO</a></text>),
webGrid.Column("REG_NO", "登録番号"),
webGrid.Column("REG_OLD_NO", "旧安全衛生番号"),
webGrid.Column("REG_OLD_NO_COUNT_STR", ""),
webGrid.Column("CHEM_CD", "化学物質コード", style: "col-sm4"),
webGrid.Column("CHEM_NAME", "化学物質名", style: "col-sm4"),
webGrid.Column("PRODUCT_NAME", "商品名", style: "col-sm2"),
webGrid.Column("CHEM_PRODUCT_COUNT_STR", ""),
webGrid.Column("CAS_NO", "CAS#"),
webGrid.Column("MAKER_NAME", "メーカー名", style: "col-sm4"),
webGrid.Column("GROUP_NAME", "管理部門"),
webGrid.Column("APPLICANT", "申請者"),
webGrid.Column("NID", "NID"),
webGrid.Column("APPLI_CLASS_NAME", "区分"),
webGrid.Column("REASON", "変更・廃止の事由"),
webGrid.Column("OTHER_REASON", "変更・廃止の事由（その他）", style: "col-sm"),
webGrid.Column("HAZMAT_TYPE", "危険物の類別", style: "col-sm1"),
webGrid.Column("LOC_NAME", "保管場所", style: "col-sm4"),
webGrid.Column("LOC_COUNT_STR", ""),
webGrid.Column("AMOUNT", "最大保管量"),
webGrid.Column("UNITSIZE", "単位", style: "col-sm2"),
webGrid.Column("USAGE_LOC_NAME", "使用場所", style: "col-sm2"),
webGrid.Column("USAGE_LOC_COUNT_STR", ""),
webGrid.Column("USAGE_LOC_AMOUNT", "最大使用量"),
webGrid.Column("USAGE_LOC_UNITSIZE", "単位"),
webGrid.Column("FIGURE_NAME", "形状"),
webGrid.Column("CHEM_CAT", "分類"),
webGrid.Column("REG_TEXt", "該当法令"),
webGrid.Column("OTHER_REGULATION", "その他該当法令"),
webGrid.Column("REQUIRED_CHEM", "作業記録必須物質"),
webGrid.Column("PROTECTOR_NAME", "保護具"),
webGrid.Column("OTHER_PROTECTOR", "保護具（その他）"),
webGrid.Column("MEASURES_BEFORE_SCORE", "アセスメント評価値"),
webGrid.Column("MEASURES_BEFORE_RANK_TEXT", "対策前のリスクレベル"),
webGrid.Column("MEASURES_AFTER_SCORE", "リスク低減策後アセスメント評価値"),
webGrid.Column("MEASURES_AFTER_RANK_TEXT", "対策後のリスクレベル"),
webGrid.Column("SDS_FILENAME", "SDS(PDF)"),
webGrid.Column("SDS_URL", "SDS(URL)"),
webGrid.Column("UNREGISTERED_CHEM_FILENAME", "未登録化学物質情報"),
webGrid.Column("MEMO", "備考")))
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both;">

                </div>
            </div>
        </div>
    </div>
}