﻿@model ChemMgmt.Models.LedgerCommonInfo
@{
    Layout = "~/Views/Shared/_LayoutManagementLedger.cshtml";
    WebGrid webGrid = new WebGrid(Model.ChemCommonList, canSort: false, canPage: false);
}
@Styles.Render("~/Content/WebgridLedger")
@Styles.Render("~/Content/csmscss")
@Scripts.Render("~/bundles/RegistrationScripts")
@Scripts.Render("~/bundles/jqueryLedger30")
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@Scripts.Render("~/bundles/DataTableScripts")
<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#SelectAllWebGrid').removeAttr('width').DataTable({
            "sScrollX": "0",
            "sScrollY": "400px",
            "sScrollXInner": "10%",
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" },
            "columnDefs": [
                { "width": "18px", "targets": 0 },
                { "width": "200px", "targets": 1 },
                { "width": "150px", "targets": 2 },
                { "width": "150px", "targets": 3 },
                { "width": "200px", "targets": 4 },
                { "width": "200px", "targets": 5 },
                { "width": "300px", "targets": 6 },
                { "width": "250px", "targets": 7 }

            ],
        });

        $(document).ready(function () {
            $(".dataTable-column-checkbox").on("checked", function () {
                alert(0);
            });
        });
    });

</script>


@using (Html.BeginForm("ZC14030", "ZC140", FormMethod.Post, new { id = "myform" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="ioSection ioSectionSearch" style="text-align: left ; width:99%">
            <div class="ioFieldLong ioSet">
                <div class="label" style="float: left; margin-right: 50px;">
                    <p>
                        @Html.RadioButtonFor(model => model.FLOW_SEARCH_TARGET, 0, new { @checked = "checked", @class = "radio" })
                        <label for="sizeSmall">処理待ち案件(@Session["machiCount"]件)</label>
                        @Html.RadioButtonFor(model => model.FLOW_SEARCH_TARGET, 1, new { @class = "radio" })
                        <label for="sizeMed">フロー中案件(@Session["flowCount"]件)</label>
                    </p>
                </div>
                <div class="buttonField">
                    <input class="button" style="height: 36px; width: 94px;" onclick="return ClickEdit();" type="button" value="表示">
                    <style type="text/css">
                        <!--
                        #footerButton0 {
                            display: none;
                        }
                        -->
                    </style>
                </div>
                <div class="buttonField" style="display: none;">
                    <input type="search" id="Search" class="button" value="検索" />
                </div>
            </div>
        </div>

    </div>
    <hr />
    <div id="result">
        @*<asp:Label ID="ResultCount" runat="server" CssClass="count" Style="display: none;" />*@
        <label for="" class="count" Style="display: none;"></label>
        <div style="clear: both;" />
        <div id="resultGridOuter">
            <div id="resultGridInner">
                <div class="webGrid">
                    @webGrid.GetHtml(
                     htmlAttributes: new { id = "SelectAllWebGrid" },
                     tableStyle: "webgrid-table",
                     headerStyle: "webgrid-header",
                     footerStyle: "webgrid-footer",
                     alternatingRowStyle: "webgrid-alternating-row",
                     rowStyle: "webgrid-row-style",
                  fillEmptyRows: false,
                 mode: WebGridPagerModes.All,
                 columns: webGrid.Columns(
                webGrid.Column(format: @<text> <input type="checkbox" value="@item.LEDGER_FLOW_ID" name="MgmtCheckbox" id="checkbox" class="selection" /> </text>),
webGrid.Column("BEFORE_WORKFLOW_RESULT_TEXT", "状態"),
webGrid.Column("APPLI_NO", "申請番号"),
webGrid.Column("ApplicationDate", "申請日時"),
webGrid.Column("APPLI_CLASS_NAME", "申請区分"),
webGrid.Column("APPROVAL_TARGET", "処理種別", style: "col-sm4"),
webGrid.Column("GROUP_NAME", "申請部署", style: "col-sm4"),
webGrid.Column("APPLICANT", "申請者", style: "col-sm2")))
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <hr>
        <div class="buttonFieldLeft">
        </div>
        <div class="buttonField">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;"><input type="submit" name="ctl00$footerButton0" value="Express" onclick="var ret = MultipleSelectionCheck('案件が選択されていません。', 'SubContents_ResultGrid');if (ret == false) { return false; }else{block();};" id="footerButton0" class="button"></font>
            </font>
        </div>
    </div>
}

<script src="~/Scripts/jquery.blockUI.js"></script>
<script>

    function ClickEdit() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
        var checked = $("input[name='MgmtCheckbox']:checked").length;
        if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        var favorite = [];
        $.each($("input[name='MgmtCheckbox']:checked"), function () {
            favorite.push($(this).val());
        });

        $.ajax({
            url: '/ZC140/Display',
            type: 'GET',
            data: { 'Id': favorite.join(", ") },
            success: function (data) {
                if (data != "") {
                    window.location.href = data;
                    return false;
                }
            },
        });
        return false;
    }


    $(function () {
        $.unblockUI();
        $('#myform .radio').change(function () {
            $.blockUI({ message: '<p>読み込み中...</p>' });
            $('#myform').submit();
        });
    });
    $(document).ready(function () {
        $("th:first").css("width", "18px");
        $("th:first").html('<input type="checkbox" value="" name="headerchkRow" id="master" class="chkHeaderclass" />');
        function block() {
            $.blockUI({ message: '<p>読み込み中...</p>' });
        }

        function Unblock() {
            $.unblockUI();
        }
    });

    $(function () {
        $("#master").click(function () {
            var checkAll = $("#master").prop('checked');
            if (checkAll) {
                $(".selection").prop("checked", true);
            } else {
                $(".selection").prop("checked", false);
            }
        });

        $(".selection").click(function () {
            if ($(".selection").length == $(".selection:checked").length) {
                $("#master").prop("checked", true);
            } else {
                $("#master").prop("checked", false);
            }
        });
    });
</script>
