﻿@model ChemMgmt.Models.LedgerCommonInfo
@{
    Layout = "~/Views/Shared/_LayoutManagementLedger.cshtml";
    WebGrid grid = new WebGrid(Model._listLedgerModel, canSort: false, canPage: false);
    int rowVal = 0;
}
@Styles.Render("~/Content/WebgridLedger")
@Styles.Render("~/Content/csmscss")
@Scripts.Render("~/bundles/RegistrationScripts")
@Scripts.Render("~/bundles/jqueryLedger30")
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@Scripts.Render("~/bundles/DataTableScripts")
<script src="~/Scripts/jquery.blockUI.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#InventoryListDataView').DataTable({
            "sScrollX": "0",
            "sScrollY": "400px",
            "sScrollXInner": "140%",
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bAutoWidth": false,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }
        });

        $(".dataTable-column-checkbox").on("checked", function () {
            alert(0);
        });

    });
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="hdnGroupCd" name="hdnGroupCd">
    <input type="hidden" id="lblGroupName" name="lblGroupName">

    <div class="form-horizontal">
        <div class="ioSection ioSectionSearch" style="width:99%">
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="MessagePanel" CssClass="ioSet">
                    <div class="label">
                    </div>
                    <div class="io">
                        <label ID="Message" style="font-size:small;color:red">@TempData["SuccessMessage"]</label>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        //$("text").prop('disabled', true);
                        //$("textarea").prop('disabled', true);
                        //$("select").prop('disabled', true);


                        $("#ManagementGroupClear").prop('disabled', true);
                        $("#ManagementGroupSelect").prop('disabled', true);
                        $("#REASON").prop('disabled', true);
                        $("#OTHER_REASON").prop('disabled', true);
                        $("#btnValidateChangeRequest").prop('disabled', true);

                        //    $("#btnHeader_Back").prop('disabled', false);
                    });
                </script>
            }
            @if (TempData["FailureMessage"] != null)
            {
                <script>
                    $(document).ready(function () {
                        alert("@TempData["FailureMessage"]");
                    });
                </script>

            }
            <div class="ioFieldLong">
                <div class="ioSet">
                    <div class="label">
                        <label for="Label1">管理部門：</label>
                    </div>
                    <div class="io">
                        <input type="button" id="ManagementGroupSelect" name="ManagementGroupSelect" class="buttonLong" value="選択" onclick="return ClickPopUpTree();" />
                        <input type="button" id="ManagementGroupClear" name="ManagementGroupClear" class="buttonLong" value="クリア" onclick="return ClearPopUp();" />
                        <label for="ManagementGroupSelectionView" id="groupselectionview" name="groupselectionview">@Model.GROUP_NAME</label>
                        <input type="hidden" id="GROUP_SELECTION" name="GROUP_SELECTION" class="REG_NO" value="@Model.GROUP_CD" />
                        <input type="hidden" id="USER_SELECTION" name="USER_SELECTION" class="REG_NO" />

                        @Html.HiddenFor(m => m.REG_NO)
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblREASON">変更・廃止の事由：</label>
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.REASON, Model.LookupReason, new { @class = "dropDownList required", @onchange = "return ChangeMandatoryValue(this.value);" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        <label for="lblOTHER_REASON">変更・廃止の事由（その他）：</label>
                    </div>
                    <div class="io">
                        @Html.TextBoxFor(model => model.OTHER_REASON, new { id = "OTHER_REASON", @class = "textBoxOne" })
                    </div>
                </div>
            </div>
            <div class="buttonField">
                <input type="button" name="ValidateChangeRequest" id="btnValidateChangeRequest" class="button" value="変更申請" onclick="return ValidateRegChangeRequest();" />
                <input type="submit" id="ValidateChangeRequest" name="ValidateChangeRequest" class="button" value="変更申請" style="display:none" />
            </div>
        </div>
    </div>
    <div id="SubContent">
        <hr />
        <div id="result">
            @if (Model._listLedgerModel != null && Model._listLedgerModel.Count > 0)
            {
                <label id="ResultCount" class="count"><span>件数:</span>@Model._listLedgerModel.Count() 件</label>
            }
            else
            {
                <label id="ResultCount" class="count">0</label>
            }
            <div style="clear: both;" />
            <div id="resultGridOuter">
                <div id="resultGridInner">
                    @if (Model._listLedgerModel != null && Model._listLedgerModel.Count > 0)
                    {
                        @grid.GetHtml(
                                           tableStyle: "webgrid-table",
                                           headerStyle: "webgrid-header",
                                           footerStyle: "webgrid-footer",
                                           alternatingRowStyle: "webgrid-alternating-row",
                                           rowStyle: "webgrid-row-style",
                                           htmlAttributes: new { @id = "InventoryListDataView", @class = "Grid" },
                                           fillEmptyRows: false,
                                           mode: WebGridPagerModes.All,
                                           columns: grid.Columns(
                  grid.Column("No.", format: item => rowVal = rowVal + 1),
                  grid.Column(columnName: "BEFORE_WORKFLOW_RESULT_TEXT", header: "状態", style: "col-sm4"),
                  grid.Column(columnName: "APPLI_NO", header: "申請番号", style: "col-sm3"),
                  grid.Column(columnName: "REG_NO", header: "登録番号", style: "col-sm4"),
                  grid.Column(columnName: "REG_NO", header: "旧安全衛生番号", style: "col-sm4"),
                  grid.Column(columnName: "CAS_NO", header: " ", style: "col-sm4"),
                  grid.Column(columnName: "CHEM_CD", header: "化学物質コード", style: "col-sm3"),
                  grid.Column(columnName: "CHEM_NAME", header: "化学物質名", style: "col-sm4"),
                  grid.Column(columnName: "STATUS_TEXT", header: "商品名", style: "col-sm4"),
                  grid.Column(columnName: "STATUS_TEXT", header: " ", style: "col-sm4"),
                  grid.Column(columnName: "CAS_NO", header: "CAS＃", style: "col-sm3"),
                  grid.Column(columnName: "MAKER_NAME", header: "メーカー名", style: "col-sm4"),
                  grid.Column(columnName: "GROUP_NAME", header: "管理部門", style: "col-sm3"),
                  grid.Column(columnName: "APPLICANT", header: "申請者", style: "col-sm3"),
                  grid.Column(columnName: "APPROVER1", header: "NID", style: "col-sm3"),
                  grid.Column(columnName: "APPLI_CLASS_NAME", header: "区分", style: "col-sm3"),
                  grid.Column(columnName: "REASON", header: "変更・廃止の事由", style: "col-sm3"),
                  grid.Column(columnName: "OTHER_REASON", header: "変更・廃止の事由（その他）", style: "col-sm3"),
                  grid.Column(columnName: "HAZMAT_TYPE", header: "危険物の類別", style: "col-sm3"),
                  grid.Column(columnName: "LOC_NAME", header: "保管場所", style: "col-sm3"),
                  grid.Column(columnName: "LOC_COUNT_STR", header: " ", style: "col-sm3"),
                  grid.Column(columnName: "AMOUNT", header: "最大保管量", style: "col-sm3"),
                  grid.Column(columnName: "UNITSIZE", header: "単位", style: "col-sm3"),
                  grid.Column(columnName: "USAGE_LOC_NAME", header: "使用場所", style: "col-sm3"),
                  grid.Column(columnName: "LOC_COUNT_STR", header: " ", style: "col-sm3"),
                  grid.Column(columnName: "USAGE_LOC_AMOUNT", header: "最大使用量", style: "col-sm3"),
                  grid.Column(columnName: "USAGE_LOC_UNITSIZE", header: "単位", style: "col-sm3"),
                  grid.Column(columnName: "FIGURE_NAME", header: "形状", style: "col-sm3"),
                  grid.Column(columnName: "CHEM_CAT", header: "分類", style: "col-sm3"),
                  grid.Column(columnName: "HAZMAT_TYPE", header: "該当法令", style: "col-sm3"),
                  grid.Column(columnName: "OTHER_PROTECTOR", header: "その他該当法令", style: "col-sm3"),
                  grid.Column(columnName: "REQUIRED_CHEM", header: "作業記録必須物質", style: "col-sm3"),
                  grid.Column(columnName: "PROTECTOR_NAME", header: "保護具", style: "col-sm3"),
                  grid.Column(columnName: "OTHER_PROTECTOR", header: "保護具（その他)", style: "col-sm3"),
                  grid.Column(columnName: "MEASURES_BEFORE_SCORE", header: "アセスメント評価値", style: "col-sm3"),
                  grid.Column(columnName: "MEASURES_BEFORE_RANK_TEXT", header: "対策前のリスクレベル", style: "col-sm3"),
                  grid.Column(columnName: "MEASURES_AFTER_SCORE", header: "リスク低減策後アセスメント評価値", style: "col-sm3"),
                  grid.Column(columnName: "MEASURES_AFTER_RANK_TEXT", header: "対策後のリスクレベル", style: "col-sm3"),
                  grid.Column(columnName: "SDS", header: "SDS（​​PDF）", style: "col-sm3"),
                  grid.Column(columnName: "SDS_URL", header: "SDS（​​URL）", style: "col-sm3"),
                  grid.Column(columnName: "UNREGISTERED_CHEM_FILENAME", header: "未登録化学物質情報", style: "col-sm3"),
                  grid.Column(columnName: "REASON", header: "注釈", style: "col-sm3")
                  ))
                    }
                </div>
            </div>
        </div>
    </div>

}


<script>
    function ClickPopUpTree() {
        var idval = $('#Group').val();
        var url = "../ZC010/ZC01081?TableName=M_GROUP&ColumnName=P_GROUP_CD&SelectType=0&RowId=&Filter=&IsSelectRequired=False&Session=GROUP_CD&Id=" + idval + "";
        window.open(url, 'popUpWindow', 'height=726px,width=1276px,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');
    }

    function ClearPopUp() {
        $("#groupselectionview").text("");
        $("#Group").val("");
    }

    function ChangeMandatoryValue(obj) {
        if (obj == "6") {
            $("#OTHER_REASON").addClass("required");
        } else {
            $("#OTHER_REASON").removeClass("required");
        }
    }

    function ValidateRegChangeRequest() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
        $.ajax({
            url: '/ZC140/ValidateChangeRequest',
            type: 'GET',
            data: { "REASON_ID": $("#REASON").val(), "OTHER_REASON": $("#OTHER_REASON").val(), "GroupCollection": $("#Group").val(), "Regno": $(".REG_NO").val() },
            success: function (data) {
                if (data != "") {
                    alert(data);
                    $.unblockUI();
                    return false;
                } else {
                    $('#ValidateChangeRequest').trigger("click")
                    return false;
                }
            },
            error: function (err) {
                //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                return false;
            }
        });
        return false;
    }

    $("#ValidateChangeRequest").click(function () {
        $.blockUI({ message: '<p>読み込み中...</p>' });

    })


    function LedgerRegulationDetails() {
        $.ajax({
            url: '/ZC140/GetGroupNameValues',
            type: 'GET',
            data: { "GroupCd": $("#GROUP_SELECTION").val() },
            success: function (data) {
                if (data != "") {
                    var successdata = data.split('|');
                    if (successdata[1] != "true") {
                        alert(successdata[0]);
                    }
                    else {
                        $("#groupselectionview").text(successdata[0]);
                        return false;
                    }
                }
            },
            error: function (err) {
                //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                return false;
            }
        });
        return false;
    }

    $(document).ready(function () {
        $.unblockUI();
        LedgerRegulationDetails();
    });
</script>