﻿@model ChemMgmt.Models.LedgerCommonInfo
@{
    WebGrid webGrid = new WebGrid(Model.ChemCommonList, canSort: false, canPage: false);
    Layout = "~/Views/Shared/_LayoutManagementLedger.cshtml";
}
@Styles.Render("~/Content/WebgridLedger")
@Styles.Render("~/Content/csmscss")
@Scripts.Render("~/bundles/RegistrationScripts")
@Scripts.Render("~/bundles/DataTableScripts")
@Scripts.Render("~/bundles/Datatable")
<script type="text/javascript">
    $(document).ready(function () {
        $("#Search").click(function (e) {
            var aaplino = $("#APPLI_NO").val();
            $('#ApplicationNo').val(aaplino);
        });

        function block() {
            $.blockUI({ message: '<p>読み込み中...</p>' });
        }

        function Unblock() {
            $.unblockUI();
        }

        $(".dataTable-column-checkbox").on("checked", function () {
            alert(0);
        });
        $("table thead tr th").eq(4).css("border-right-style", "none");
        $("table thead tr th").eq(5).css("border-left-style", "none");
        $("table thead tr th").eq(8).css("border-right-style", "none");
        $("table thead tr th").eq(9).css("border-left-style", "none");
    });
</script>

<script type="text/javascript">
    var window;

    var url = "";
    $("body").on("click", ".flowcode", function () {
        var row = $(this).closest("tr");
        var FlowCode = row.find("td").eq(2).text();
        if (FlowCode != "") {
             $.blockUI({ message: '<p>読み込み中...</p>' });
            url = "../ZC140/ZC14020?Mode=3" + "&Id=" + FlowCode + "&Type=0";
            //window = window.open(url, 'popUpWindow', 'height=750,width=1300,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes'); //, 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes, _blank'
            window.location.href = url;
            return false;
        }
    });
    function closePopup() {
        window.close();
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="MainContent" ContentPlaceHolderID="MainContents">
        <input type="submit" id="SearchExecuteButton" Style="display: none;" />
        <div class="form-horizontal">
            <ItemTemplate>
                <div class="ioSection ioSectionSearch">
                    <!-- 列1 -->
                    <div class="ioFieldLong">
                        <div class="ioSet">
                            <div class="label">
                                <label for="lblCHEM_NAME">化学物質名：</label>
                            </div>
                            <div class="io">
                                @Html.DropDownListFor(model => model.CHEM_NAME_CONDITION, Model.LookupChemNameCondition ?? new List<SelectListItem>(), new { @class = "searchCondition" })
                                @Html.TextBoxFor(Model => Model.CHEM_NAME, new { id = "CHEM_NAME", @class = "textBox" })
                            </div>
                        </div>
                        <div class="ioSet">
                            <div class="label">
                                <label for="lblPRODUCT_NAME">商品名：</label>
                            </div>
                            <div class="io">
                                @Html.DropDownListFor(model => model.PRODUCT_NAME_CONDITION, Model.LookupProductName ?? new List<SelectListItem>(), new { @class = "searchCondition" })
                                @Html.TextBoxFor(Model => Model.PRODUCT_NAME, new { id = "PRODUCT_NAME", @class = "textBox" })
                            </div>
                        </div>
                        <div class="ioSet">
                            <div class="label">
                                <label for="lblCAS_NO">CAS#(半角)：</label>
                            </div>
                            <div class="io">
                                @Html.DropDownListFor(model => model.CAS_NO_CONDITION, Model.LookupCas ?? new List<SelectListItem>(), new { @class = "searchCondition" })
                                @Html.TextBoxFor(Model => Model.CAS_NO, new { id = "CAS_NO", @class = "textBox halfWidth" })
                            </div>
                        </div>
                        <div class="ioSet">
                            <div class="label">
                                <label for="lblREG_NO">登録番号(半角)：</label>
                            </div>
                            <div class="io">
                                @Html.DropDownListFor(model => model.REG_NO_CONDITION, Model.LookupRegistrationNo ?? new List<SelectListItem>(), new { @class = "searchCondition" })
                                @Html.TextBoxFor(Model => Model.REG_NO, new { id = "REG_NO", @class = "textBox halfWidth" })
                            </div>
                        </div>
                        <div class="ioSet">
                            <div class="label">
                                <label for="lblAPPLI_NO">申請番号：</label>
                            </div>
                            <div class="io">
                                @Html.TextBoxFor(Model => Model.APPLI_NO, new { id = "APPLI_NO", @class = "textBox halfWidth" })
                                @Html.HiddenFor(Model => Model.ApplicationNo, new { id = "ApplicationNo" })
                            </div>
                        </div>
                        <div class="ioSet">
                            <div class="label">
                                <label for="lblCHEM_CD">化学物質コード：</label>
                            </div>
                            <div class="io">
                                @Html.TextBoxFor(Model => Model.CHEM_CD, new { id = "CHEM_CD", @class = "textBox halfWidth" })
                            </div>
                        </div>
                        <div class="ioSet">
                            <div class="label">
                                <label for="Label1">管理部門：</label>
                            </div>
                            <div class="io">
                                <input type="button" id="ManagementGroupSelect" class="buttonLong" value="選択" />
                                <input type="button" id="ManagementGroupClear" class="buttonLong" value="クリア" onclick="return Cleartext('hdnGroupCd');" />
                                <input type="button" class="btnuserclick" name="reg" onclick="return setValue('hdnGroupCd');" style="visibility:hidden" />
                                <input type="hidden" name="USER_SELECTION" id="USER_SELECTION" />
                                <input type="hidden" name="GROUP_SELECTION" id="GROUP_SELECTION" />
                                @if (Model.GROUP_CD_COLLECTION != null && Model.GROUP_CD_COLLECTION.Count() > 0)
                                {
                                    <label id="ManagementGroupSelectionView">@Model.lblalreadySetValue</label>
                                    @Html.HiddenFor(Model => Model.managementgroupIds, new { id = "hdnGroupCd", Name = "GROUP_CD_SELECTION" })
                                }
                                else
                                {
                                    <label id="ManagementGroupSelectionView"></label>
                                    @Html.HiddenFor(Model => Model.managementgroupIds, new { id = "hdnGroupCd", Name = "GROUP_CD_SELECTION" })
                                }

                            </div>
                        </div>
                        <div class="ioSet">
                            <div class="label">
                                <label for="lblREG_TYPE_ID">法規制：</label>
                            </div>
                            <div class="io">
                                <input type="button" id="RegulationSelect" value="選択" Class="buttonLong" />
                                <input type="button" id="RegulationClear" value="クリア" Class="buttonLong" onclick="return Cleartext('Regulationidval');" />
                                <input type="button" class="btnregclick" name="reg" onclick="return setValue('Regulationidval');" style="visibility:hidden" />
                                @if (Model.REG_COLLECTION != null && Model.REG_COLLECTION.Count() > 0)
                                {
                                    <label id="RegulationSelectionView">@Model.lblalreadySetValue</label>
                                    @Html.HiddenFor(Model => Model.hiddenRegulationIds, new { id = "Regulationidval", Name = "REG_SELECTION" })
                                }
                                else
                                {
                                    <label id="RegulationSelectionView"></label>
                                    @Html.HiddenFor(Model => Model.hiddenRegulationIds, new { id = "Regulationidval", Name = "REG_SELECTION" })
                                }
                            </div>
                        </div>
                        <div class="ioSet">
                            <div class="label">
                                <label for="lblACTION_LOC_NAME">保管場所：</label>
                            </div>
                            <div class="io">
                                <input type="button" id="ActionLocationNameSelect" class="buttonLong" value="選択" />
                                <input type="button" id="ActionLocationNameClear" class="buttonLong" value="クリア" onclick="return Cleartext('Locationidval');" />
                                <input type="button" class="btnlocreg" name="reg" onclick="return setValue('Locationidval');" style="visibility:hidden" />
                                @if (Model.ACTION_LOC_COLLECTION != null && Model.ACTION_LOC_COLLECTION.Count() > 0)
                                {
                                    <label id="ActionLocationNameSelectionView">@Model.lblalreadySetValue</label>
                                    @Html.HiddenFor(Model => Model.hiddenLocationIds, new { id = "Locationidval", Name = "ACTION_LOC_SELECTION" }) }
                                else
                                {
                                    <label id="ActionLocationNameSelectionView"></label>
                                    @Html.HiddenFor(Model => Model.hiddenLocationIds, new { id = "Locationidval", Name = "ACTION_LOC_SELECTION" })}

                            </div>
                        </div>
                        <div class="ioSet">
                            <div class="label">
                                <label for="lblUSAGE_LOC_NAME">使用場所：</label>
                            </div>
                            <div class="io">
                                <input type="button" id="UsageLocationNameSelect" class="buttonLong" value="選択" />
                                <input type="button" id="UsageLocationNameClear" class="buttonLong" value="クリア" onclick="return Cleartext('UsageLocationidval');" />
                                <input type="button" class="btnusagelocclick" name="reg" onclick="return setValue('UsageLocationidval');" style="visibility:hidden" />
                                @if (Model.USAGE_LOC_COLLECTION != null && Model.USAGE_LOC_COLLECTION.Count() > 0)
                                {
                                    <label id="UsageLocationNameSelectionView">@Model.lblalreadySetValue</label>
                                    @Html.HiddenFor(Model => Model.hiddenusageIds, new { id = "UsageLocationidval", Name = "USAGE_LOC_SELECTION" })
                                }
                                else
                                {
                                    <label id="UsageLocationNameSelectionView"></label>
                                    @Html.HiddenFor(Model => Model.hiddenusageIds, new { id = "UsageLocationidval", Name = "USAGE_LOC_SELECTION" })
                                }

                            </div>
                        </div>
                        <div class="ioSet">
                            <div class="label">
                                <label for="lblCHEM_OPERATION_CHIEF">化学物質取扱責任者(NID)：</label>
                            </div>
                            <div class="io">
                                @Html.TextBoxFor(Model => Model.CHEM_OPERATION_CHIEF, new { id = "CHEM_OPERATION_CHIEF", @class = "textBox" })
                                @if (Model.CHEM_OPERATION_CHIEF_NAME != null)
                                {
                                    @Html.DisplayFor(Model => Model.CHEM_OPERATION_CHIEF_NAME)
                                }

                            </div>
                        </div>
                    </div>
                    <!-- 列3 -->
                    <div class="ioFieldShort">
                        <div class="ioSet">
                            <div class="label">
                                <label for="lblLEDGER_STATUS">状態：</label>
                            </div>
                            <div class="io">
                                @Html.DropDownListFor(model => model.LEDGER_STATUS, Model.LookupState ?? new List<SelectListItem>(), new { @class = "searchCondition" })
                            </div>
                        </div>
                    </div>
                    <!-- 列2 -->
                    <div class="buttonField">
                        <input type="submit" id="Search" class="button" value="検索" formaction="ZC14010" />
                        <input type="submit" id="Clear" class="button" value="クリア" formaction="ClearSearch" />
                        <input type="button" id="Regist" onclick="return NewRegistration()" class="button" value="新規登録" />
                    </div>
                    <!-- 列3 -->
                    <div class="buttonField">
                        <input type="button" id="ListOutput" value="リスト出力" class="button" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") />
                        <input type="submit" id="lstListOutput" value="リスト出力" class="button" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") formaction="ListOutput" style="display:none" />
                    </div>
                    <!-- 列4 -->
                    <div class="buttonField">
                        <input type="button" id="Edit" class="button" onclick="return ClickEditPage();" value="編集" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") />
                        <input type="button" id="BulkUpdate" class="button" onclick="return clickBulkchange();" value="一括変更" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") />
                        <input type="button" id="Copy" class="button" value="参照登録" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") />
                        <input type="button" id="History" class="button" value="履歴参照" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") onclick="return RefreneceHistory()" />
                    </div>
                    <div class="buttonField">
                        <br class="button" />
                        <br class="button" />
                        <br class="button" />
                        <input type="button" id="Delete" class="button" value="廃止" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") onclick="return Abolish()" />
                    </div>
                </div>
            </ItemTemplate>
        </div>
    </div>
    <hr />
    <div style="clear: both;">
        <input type="hidden" id="hdnGroupCd" name="hdnGroupCd">
        <input type="hidden" id="lblGroupName" name="lblGroupName">
        <div id="result">
            <span id="SubContents_ResultCount" class="count" style="color:White;font-size:X-Large;font-weight:bold;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><span>件数:</span> @Model.ChemCommonList.Count() 件</font></font></span>
            <div style="clear: both;">
                <div id="resultGridOuter">
                    <div id="resultGridInner">
                        <div>
                            <div>

                                <div class="webGrid">
                                    @webGrid.GetHtml(
                                    htmlAttributes: new { id = "MNGLedgerWebGrid" },
                                    tableStyle: "webgrid-table",
                                    headerStyle: "webgrid-header",
                                    footerStyle: "webgrid-footer",
                                    alternatingRowStyle: "webgrid-alternating-row",
                                    rowStyle: "webgrid-row-style",
                                    fillEmptyRows: false,
                                    mode: WebGridPagerModes.All,
                                    columns: webGrid.Columns(
                                                webGrid.Column(format: @<text> <input type="checkbox" value="@item.LEDGER_FLOW_ID" name="MgmtCheckbox" id="checkbox" class="selection" /> </text>),
webGrid.Column("STATUS_TEXT", "状態"),
webGrid.Column("APPLI_NO", "申請番号", style: "col-sm4", format: @<text><a href="" class="flowcode">@item.APPLI_NO</a></text>),
webGrid.Column("REG_NO", "登録番号"),
webGrid.Column("REG_OLD_NO", "旧安全衛生番号"),
webGrid.Column("REG_OLD_NO_COUNT_STR", ""),
webGrid.Column("CHEM_CD", "化学物質コード", style: "col-sm4"),
webGrid.Column("CHEM_NAME", "化学物質名", style: "col-sm4"),
webGrid.Column("PRODUCT_NAME", "商品名", style: "col-sm2"),
webGrid.Column("CHEM_PRODUCT_COUNT_STR", ""),
webGrid.Column("CAS_NO", "CAS#"),
webGrid.Column("MAKER_NAME", "メーカー名", style: "col-sm4"),
webGrid.Column("GROUP_NAME", "管理部門"),
webGrid.Column("APPLICANT", "申請者"),
webGrid.Column("NID", "NID"),
webGrid.Column("APPLI_CLASS_NAME", "区分"),
webGrid.Column("REASON", "変更・廃止の事由"),
webGrid.Column("OTHER_REASON", "変更・廃止の事由（その他）", style: "col-sm"),
webGrid.Column("HAZMAT_TYPE", "危険物の類別", style: "col-sm1"),
webGrid.Column("LOC_NAME", "保管場所", style: "col-sm4"),
webGrid.Column("LOC_COUNT_STR", ""),
webGrid.Column("AMOUNT", "最大保管量"),
webGrid.Column("UNITSIZE", "単位", style: "col-sm2"),
webGrid.Column("USAGE_LOC_NAME", "使用場所", style: "col-sm2"),
webGrid.Column("USAGE_LOC_COUNT_STR", ""),
webGrid.Column("USAGE_LOC_AMOUNT", "最大使用量"),
webGrid.Column("USAGE_LOC_UNITSIZE", "単位"),
webGrid.Column("FIGURE_NAME", "形状"),
webGrid.Column("CHEM_CAT", "分類"),
webGrid.Column("REG_TEXt", "該当法令"),
webGrid.Column("OTHER_REGULATION", "その他該当法令"),
webGrid.Column("REQUIRED_CHEM", "作業記録必須物質"),
webGrid.Column("PROTECTOR_NAME", "保護具"),
webGrid.Column("OTHER_PROTECTOR", "保護具（その他）"),
webGrid.Column("MEASURES_BEFORE_SCORE", "アセスメント評価値"),
webGrid.Column("MEASURES_BEFORE_RANK_TEXT", "対策前のリスクレベル"),
webGrid.Column("MEASURES_AFTER_SCORE", "リスク低減策後アセスメント評価値"),
webGrid.Column("MEASURES_AFTER_RANK_TEXT", "対策後のリスクレベル"),
webGrid.Column("SDS_FILENAME", "SDS(PDF)"),
webGrid.Column("SDS_URL", "SDS(URL)"),
webGrid.Column("UNREGISTERED_CHEM_FILENAME", "未登録化学物質情報"),
webGrid.Column("MEMO", "備考")))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $(function () {
            $("#Search").click(function (e) {
                var data = $('form').serialize();
                $.blockUI({ message: '<p>読み込み中...</p>' });
                $.ajax({
                    url: "/ZC140/MaxCountResult",
                    type: "post",
                    cache: false,
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        if (data[0] >= 0) {
                            var rowCount = data[0];
                            var totalcount = data[1];
                            var maxsearchcount = data[2];
                            if (rowCount >= maxsearchcount) {
                                $("#result").hide();
                                if (confirm("{" + rowCount + "} 件以上({ " + totalcount + "}件)ヒットしました。上位{ " + rowCount + " } 件の検索結果を表示します。\n全件表示する場合はリスト出力を行ってください。")) {
                                    $("#result").show();
                                } else {
                                    e.preventDefault();
                                }
                            }
                        }
                    },
                    error: function () {
                        $.unblockUI();
                    }
                });
            });
        });

        $("th:first").css("width", "18px");
        $("th:first").html('<input type="checkbox" value="" name="headerchkRow" id="master" class="chkHeaderclass" />');


        //PopUps Starts here

        var url = null;

        $("#ManagementGroupSelect").click(function () {
            var groupids = $("#hdnGroupCd").val();
            url = '../ZC010/ZC01081?TableName=M_GROUP&ColumnName=P_GROUP_CD&SelectType=2&RowId=&ClassId=&Id=' + groupids + '';
            window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');

        });

        $("#RegulationSelect").click(function () {
            var regids = $("#Regulationidval").val();
            url = '../ZC010/ZC01081?TableName=M_REGULATION&ColumnName=P_REG_TYPE_ID&SelectType=2&RowId=&ClassId=&Id=' + regids + '&model=ML';
            window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');

        });

        $("#ActionLocationNameSelect").click(function () {
            var actionIds = $("#Locationidval").val();
            url = '../ZC010/ZC01081?TableName=M_STORING_LOCATION&ColumnName=P_LOC_ID&SelectType=2&RowId=&ClassId=&Id=' + actionIds + '&model=ML';
            window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');
        });

        $("#UsageLocationNameSelect").click(function () {
            var usageIds = $("#UsageLocationidval").val();
            url = '../ZC010/ZC01081?TableName=M_USAGE_LOCATION&ColumnName=P_LOC_ID&SelectType=2&RowId=&ClassId=&Id=' + usageIds + '&model=ML';
            window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');

        });

        $("#ListOutput").click(function (e) {
            //$.blockUI({ message: '<p>読み込み中...</p>' });
            $('#lstListOutput').trigger('click');
            return false;
        });

        $("#Copy").click(function (e) {
            $.blockUI({ message: '<p>読み込み中...</p>' });
            var checked = $("input[name='MgmtCheckbox']:checked").length;
            if (checked == "0") {
                alert("対象が選択されていません。");
                $.unblockUI();
                return false;
            }
            else if (checked > 1) {
                alert("対象が複数選択されています。");
                $.unblockUI();
                return false;
            }
            var id;
            $.each($("input[name='MgmtCheckbox']:checked"), function () {
                id = $(this).val();
            });
            $.ajax({
                type: 'GET',
                data: { 'Id': id },
                url: '/ZC140/Referenceregistration',
                cache: false,
                success: function (data) {
                    if (data == "参照登録できません。") {
                        alert(data);
                        $.unblockUI();
                        return false;
                    }
                    else {
                        window.location.href = data;
                        return false;
                    }
                },
                error: function (err) {
                    $.unblockUI();
                    return false;
                }
            });
            return false;
        });
    });

    function setValue(Id) {
        if (Id == "UsageLocationidval") {
            var UsageLocationidval = $("#UsageLocationidval").val();
            if (UsageLocationidval != "") {
                $("#UsageLocationNameSelectionView").text("設定済み");
                return false;
            }
            else {
                $("#UsageLocationNameSelectionView").text("");
                return false;
            }
        }
        else if (Id == "Locationidval") {
            var Locationidval = $("#Locationidval").val();
            if (Locationidval != "") {
                $("#ActionLocationNameSelectionView").text("設定済み");
                return false;
            }
            else {
                $("#ActionLocationNameSelectionView").text("");
                return false;
            }

        }
        else if (Id == "hdnGroupCd") {
            var hdnGroupCd = $("#hdnGroupCd").val();
            if (hdnGroupCd != "") {
                $("#ManagementGroupSelectionView").text("設定済み");
                return false;
            }
            else {
                $("#ManagementGroupSelectionView").text("");
                return false;
            }

        }
        else if (Id == "Regulationidval") {
            var Regulationidval = $("#Regulationidval").val();
            if (Regulationidval != "") {
                $("#RegulationSelectionView").text("設定済み");
                return false;
            }
            else {
                $("#RegulationSelectionView").text("");
                return false;
            }

        }
    }

    function Cleartext(Id) {
        if (Id == "UsageLocationidval") {
            $("#UsageLocationNameSelectionView").text("");
            $("#UsageLocationidval").val("");
        }
        else if (Id == "Locationidval") {
            $("#ActionLocationNameSelectionView").text("");
            $("#Locationidval").val("");
        }
        else if (Id == "hdnGroupCd") {
            $("#ManagementGroupSelectionView").text("");
            $("#hdnGroupCd").val("");
        }
        else if (Id == "Regulationidval") {
            $("#RegulationSelectionView").text("");
            $("#Regulationidval").val("");
        }
    }

    $(function () {
        $("#master").click(function () {
            var checkAll = $("#master").prop('checked');
            if (checkAll) {
                $(".selection").prop("checked", true);
            } else {
                $(".selection").prop("checked", false);
            }
        });

        $(".selection").click(function () {
            if ($(".selection").length == $(".selection:checked").length) {
                $("#master").prop("checked", true);
            } else {
                $("#master").prop("checked", false);
            }

        });

        $("#master").click(function () {
            var checkAll = $("#master").prop('checked');
            if (checkAll) {
                $(".selection").prop("checked", true);
            } else {
                $(".selection").prop("checked", false);
            }
        });
    });

    function RefreneceHistory() {
        var checked = $("input[name='MgmtCheckbox']:checked").length;
        if (checked == "0") {
            alert("対象が選択されていません。");
            $.unblockUI();
            return false;
        }
        var url;
        var favorite = [];
        $.each($("input[name='MgmtCheckbox']:checked"), function () {
            favorite.push($(this).val());
        });
        $.blockUI({ message: '<p>読み込み中...</p>' });
        url = "../ZC140/ReferenceHistory?ledgerflowid=" + favorite.join(", ");
        window.location.href = url;
        return false;
    }

    function clickBulkchange() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
        var checked = $("input[name='MgmtCheckbox']:checked").length;
        if (checked == "0") {
            alert("対象が選択されていません。");
            $.unblockUI();
            return false;
        }
        var favorite = [];
        $.each($("input[name='MgmtCheckbox']:checked"), function () {
            favorite.push($(this).val());
        });
        $.ajax({
            url: '/ZC140/BulkUpdate',
            type: 'GET',
            data: { 'RegNo': favorite.join(", ") },
            success: function (data) {
                if (data != "") {
                    var splistring = data.split('|');
                    if (splistring[0] == "true") {
                        window.location.href = "../ZC140/ZC14040?" + splistring[1];
                        return false;
                    } else if (splistring[0] == "false") {
                        alert(splistring[1]);
                        $.unblockUI();
                        return false;
                    }
                } else {
                    $.unblockUI();
                    return false;
                }
            },
            error: function (err) {
                $.unblockUI();
                return false;
            }
        });
        return false;
    }



    function Abolish() {
        var checked = $("input[name='MgmtCheckbox']:checked").length;
        if (checked == "0") {
            alert("対象が選択されていません。");
            $.unblockUI();
            return false;
        }
        else if (checked > 1) {
            alert("対象が複数選択されています。");
            $.unblockUI();
            return false;
        }
        var id;
        $.each($("input[name='MgmtCheckbox']:checked"), function () {
            id = $(this).val();
            var row = $(this).closest("tr")[0];
            regno = row.cells[3].innerText;
            return false;
        });
        $.blockUI({ message: '<p>読み込み中...</p>' });
        $.ajax({
            url: '/ZC140/Delete',
            type: 'GET',
            data: { 'Id': id },
            success: function (data) {
                if (data == "廃止申請できないものが含まれています。") {
                    $.unblockUI();
                    alert(data);
                    return false;
                }
                else {
                    window.location.href = data;
                    return false;
                }
            },
            error: function (err) {
                $.unblockUI();
                return false;
            }
        });
        return false;
    }

    function NewRegistration() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
        var mode = 0;
        window.location.href = "../ZC140/ZC14020?mode=" + mode + "&Type=Register";
    }

    function ClickEditPage() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
        var checked = $("input[name='MgmtCheckbox']:checked").length;
        if (checked == "0") {
            alert("対象が選択されていません。");
            $.unblockUI();
            return false;
        }
        else if (checked > 1) {
            alert("対象が複数選択されています。")
            $.unblockUI();
            return false;
        }
        var id;
        $.each($("input[name='MgmtCheckbox']:checked"), function () {
            id = $(this).val();
        });
        $.ajax({
            url: '/ZC140/Edit',
            type: 'GET',
            data: { 'Id': id },
            success: function (data) {
                if (data == "申請中、同じ登録番号の変更申請もしくは廃止申請が行われている場合、変更申請できません。") {
                    $.unblockUI();
                    alert(data);
                    return false;
                }
                else {
                    window.location.href = data;
                    return false;
                }
            },
            error: function (err) {
                $.unblockUI();
                return false;
            }
        });
        return false;
    }

</script>
<script src="~/Scripts/jquery.blockUI.js"></script>
