﻿@model ZyCoaG.M_MASTER
@{
    WebGrid grid = new WebGrid(Model.listCasRegModelDetails, canSort: false, canPage: false);
}

<style type="text/css">


    .col-sm {
        min-width: 1150px;
    }



    .col-sm1 {
        min-width: 300px;
    }



    .col-sm2 {
        min-width: 300px;
    }



    .col-sm3 {
        min-width: 350px;
    }



    .col-sm4 {
        min-width: 50px;
    }



    .to-the-right {
        text-align: right;
    }



    .webgrid-table {
        width: 50%;
        display: table;
        border-collapse: collapse;
        border-collapse: collapse;
    }



        .webgrid-table th {
            border: 1px solid black;
            font-size: small;
            border-collapse: collapse;
            border: 1px solid #999;
            /*padding: 0.3rem;*/
            text-align: center;
        }



        .webgrid-table td {
            border-left: 1px solid black;
            font-size: small;
            border-collapse: collapse;
            /*padding: 0.3rem;*/
            text-align: left;
        }



    .webgrid-header {
        background-color: maroon;
        text-align: center;
        background-color: White;
        border-width: 2px;
        border-style: Solid;
        font-size: Small;
        border-collapse: collapse;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        background-color: maroon;
    }



    .webgrid-footer {
    }



    .webgrid-row-style {
        background-color: white;
    }



    .webgrid-alternating-row {
        background-color: seashell;
    }



    .webgrid-header a {
        color: #ffffff;
    }



    .webGrid :hover th {
        cursor: pointer;
    }



    .dataTables_scrollBody thead tr[role="row"] {
        visibility: collapse !important;
    }
</style>



@if (Model.listCasRegModelDetails != null && Model.listCasRegModelDetails.Count() > 0)
{

    <div style="height:auto; width:100%; overflow-y:visible;">
        <div id="resultGridOuter">
            <div id="resultGridInner">
                <div id="IventoryGrid">
                    @grid.GetHtml(
                    tableStyle: "webgrid-table",
                    headerStyle: "webgrid-header",
                    footerStyle: "webgrid-footer",
                    alternatingRowStyle: "webgrid-alternating-row",
                    rowStyle: "webgrid-row-style",
                    htmlAttributes: new { id = "CASDataView" },
                    fillEmptyRows: false,
                    mode: WebGridPagerModes.All,
                    columns: grid.Columns(
                    grid.Column(null, null, format: @<text>
                            <input type="radio" value=@item.ROW_ID class="selection" id="chkHeader" name="RowID" onchange="return casValues(this.value);" />
                    </text>),
grid.Column(columnName: "casno", header: "CAS#", style: "col-sm4"),
grid.Column(columnName: "maximum", header: "上限", style: "col-sm4"),
grid.Column(columnName: "minimum", header: "下限", style: "col-sm4"),
grid.Column(columnName: "shape", header: "形状", style: ""),
grid.Column(columnName: "terms", header: "使用条件", style: "")))
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <table cellspacing="0" cellpadding="4" rules="cols" id="CasGrid" style="color:Black;background-color:White;border-color:White;border-width:1px;border-style:Solid;font-size:Small;width:50%;border-collapse:collapse;">
            <tbody>
                <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:1px;border-style:Solid;font-weight:bold;">
                    <th scope="col"> &nbsp;</th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> CAS#</font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 上限 </font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 下限 </font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 形状 </font></font></th>
                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 使用条件 </font></font></th>
                </tr>

            </tbody>
        </table>
    </div>
}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@*<script src="~/Scripts/jquery.dataTables.min.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    //$(document).ready(function () {
    //    var oTable = $('#CASDataView').DataTable({
    //        "sScrollX": "0",
    //        "sScrollY": "400px",
    //        "sScrollXInner": "140%",
    //        "bPaginate": false,
    //        "bLengthChange": false,
    //        "bFilter": false,
    //        "bSort": true,
    //        "bInfo": false,
    //        "bAutoWidth": false,
    //        "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }
    //    });

    //});

    function casValues(id) {
        //var FireId = [];
        var RowId = [];
        $.each($("input[name='RowID']:checked"), function () {
            RowId.push($(this).val());
        });
        var checked = $("input[name='RowID']:checked").length;
        if (checked == "0") {

            alert("削除行を選択して、リスト削除してください。");
            return false;
        }
        $.ajax({
            type: "GET",
            url: "/ZC050/btnControlCASValues",
            data: { "SELECTINDEX": RowId.join(", ") },
            cache: false,
            success: function (data) {
                var CAS = data[0];
                var MAX = data[2];
                var MIN = data[1];
                var Shape = data[3];
                var value1 = data[4];

                if (value1 != null) {
                    var ShapeKey = value1.replace(/;/g, ',');
                }
                var Terms = data[5];
                var value2 = data[6];
                if (value2 != null) {
                    var TermsKey = value2.replace(/;/g, ',');
                }
                //$('#hdnStatusId').val() == ""
                $("#CAS").val(CAS);
                $("#MAX").val(MAX);
                $("#MIN").val(MIN);
                $('#SHAPE_SELECTION').val(ShapeKey);
                $('#TERMS_SELECTION').val(TermsKey);
                $('#SHAPE_VALUE_SELECTION').val(Shape);
                $('#TERMS_VALUE_SELECTION').val(Terms);


            }
        });
    }

    Array.prototype.forEach.call(document.querySelectorAll('[type=radio]'), function (radio) {
        radio.addEventListener('click', function () {
            var self = this;
            // get all elements with same name but itself and mark them unchecked
            Array.prototype.filter.call(document.getElementsByName(this.name), function (filterEl) {
                $("#CAS").val("");
                $("#MAX").val("");
                $("#MIN").val("");
                $('#SHAPE_SELECTION').val("");
                $('#TERMS_SELECTION').val("");
                $('#SHAPE_VALUE_SELECTION').val("");
                $('#TERMS_VALUE_SELECTION').val("");
                return self !== filterEl;
            }).forEach(function (otherEl) {
                delete otherEl.dataset.check
            })

            // set state based on previous one
            if (this.dataset.hasOwnProperty('check')) {
                this.checked = false
                delete this.dataset.check
            } else {
                this.dataset.check = ''
            }
        }, false)
    })

</script>​