﻿@model ChemMgmt.Models.M_FIRE
@{
    WebGrid grid = new WebGrid(Model.listMFire, canSort: true, canPage: false);
    Layout = "~/Views/Shared/_LayoutMasterMaintenance.cshtml";
}

<link href="~/Content/Css/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <script src="../Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript" src="../Scripts/LabelPrint.js"></script>
    <script type="text/javascript" src="../Scripts/jquery.blockUI.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var oTable = $('#FireListDataView').DataTable({
                "sScrollX": "0",
                "sScrollY": "400px",
                "sScrollXInner": "150%",
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": false,
                "bAutoWidth": false,
                "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }
            });

            $(".dataTable-column-checkbox").on("checked", function () {
                alert(0);
            });
        });
    </script>

    <script type="text/javascript" src="../Scripts/wait.js"></script>
    <script language="javascript" type="text/javascript" src="../Scripts/zycg.js"></script>

<style type="text/css">

    .col-sm {
        min-width: 1150px;
    }

    .col-sm1 {
        min-width: 2550px;
    }

    .col-sm2 {
        min-width: 300px;
    }

    .col-sm3 {
        min-width: 150px;
    }

    .col-sm4 {
        min-width: 50px;
    }

    .auto-style3 {
        height: 0px;
    }

    .auto-style4 {
        height: 23px;
    }

    .auto-style5 {
        height: 0px;
    }

    .auto-style6 {
        height: 23px;
    }

    .webgrid-table {
        width: 100%;
        display: table;
        border-collapse: collapse;
        border-collapse: collapse;
    }

        .webgrid-table th {
            border: 1px solid black;
            font-size: small;
            border-collapse: collapse;
            border: 1px solid #999;
            padding: 0.3rem;
            text-align: left;
        }

        .webgrid-table td {
            border-left: 1px solid black;
            font-size: small;
            border-collapse: collapse;
            padding: 0.3rem;
            text-align: left;
        }

    .webgrid-header {
        background-color: maroon;
        text-align: center;
        background-color: White;
        border-width: 2px;
        border-style: Solid;
        font-size: Small;
        border-collapse: collapse;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        background-color: maroon;
        white-space: nowrap;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        background-color: white;
    }

    .webgrid-alternating-row {
        background-color: seashell;
    }

    .webgrid-header a {
        color: #ffffff;
    }

    .webGrid :hover th {
        cursor: pointer;
    }

    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        width: 90%;
        position: relative;
        left: 7px;
        border-radius: 0px !important;
        border: 1px #c5c5c5;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        background-color: #fff !important;
    }
</style>

<script type="text/javascript">
    $(window).load(function () {

        var count = $('#inventoryDataCount').val();
        if (count == 0) {
            $(".DisableCountNo").attr("disabled", true);
        }
        else {
            $(".DisableCountNo").attr("disabled", false);
        }

        ////Create the CheckBox element.
        //var chkHeader = $("<input type=checkbox id='chkHeaderAll'/>");
        ////Append it to the First cell of Header Row.
        //$("#FireListDataView th:first-child").append(chkHeader);
        //$("#chkHeaderAll").click(function () {
        //    $(".chkHeaderclass").prop('checked', $(this).prop('checked'));
        //});

    });
    $(document).ready(function () {
        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {
            var totalRows = $("#inventoryList td :checkbox").length;
            var checked = $("#inventoryList td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#inventoryList").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#gvStock_selectionCheck").removeAttr("checked");
            }
        });

    });
    //function OpenTreePopup(w, h, scroll, flag, returnUrl) {

    //     var idval = $("#hdnLocationId").val();
    //    //var tabName = tablename;
    //    //if (flag == 1) {
    //    //    var url = "../ZC010/ZC01081?TableName=M_STORING_LOCATION&ColumnName=P_LOC_ID&SelectType=2&RowId=&Filter=&Id=&returnUrl=../ZC050/ZC05031";
    //    //}

    //    if (flag == 1) {
    //        var url = "/ZC010/ZC01081?TableName=M_STORING_LOCATION&ColumnName=P_LOC_ID&SelectType=2&RowId&Filter&Id=" + idval + "";
    //    }

    //    //TableName = "M_STORING_LOCATION", ColumnName = "P_LOC_ID", SelectType = "2", RowId = "", Filter = "", Id = ""
    //    //    "'dialogHeight: " + SystemConst.DialogHeight + "px; dialogWidth: " + SystemConst.DialogWidth + "px')";
    //    window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes'); //, 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes, _blank'
    //}


    function OpenTreePopupCommon(flag, id) {
        //var id = $("#hdnRegCd").val();
        //var TERMSSELECTION = $("#TERMS_SELECTION").val();
        if (flag == 1) {
            var idval = $('#Locationidval').val();
            var url = "/ZC010/ZC01081?TableName=M_STORING_LOCATION&ColumnName=P_LOC_ID&SelectType=2&RowId&Filter&Id=" + idval + "";
        }
        //else if (flag == 2) {
        //    var url = "/ZC010/ZC01081?TableName=M_COMMON&ColumnName=M_FIGURE&ClassId=M_FIGURE&SelectType=2&RowId&Filter&Id="+ SHAPESELECTION+"";
        //}
        //else {
        //    var url = "/ZC010/ZC01081?TableName=M_COMMON&ColumnName=M_ISHA_USAGE&ClassId=M_ISHA_USAGE&SelectType=2&RowId&Filter&Id="+ TERMSSELECTION+"";
        //}
        window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes'); //, 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes, _blank'
    }
</script>

@*//$(function () {
        //    $('table tr th input:checkbox').click(function () {
        //        $(this).parent().parent().parent().find('tr td input:checkbox').prop('checked', $(this).is(':checked'));
        //    });
        //    $('table tr td input:checkbox').click(function () {
        //        var checkedAll = $(this).parent().parent().parent().find('tr td input:checkbox:not(:checked)').length == 0 ? true : false;
        //        $(this).parent().parent().parent().find('tr th input:checkbox').prop('checked', checkedAll);
        //    });
        //});
    </script>*@
@*<script type="text/javascript">
        $(window).load(function () {
            var parent = $('#resultGridInner');
            var windowHeight = $(window).height();
            var topHeight = $('#header').outerHeight() + $('#contents').outerHeight();
            var gridHeight = windowHeight - topHeight - 56;
            if (gridHeight < 208) {
                gridHeight = 208;
            }
            parent.height(gridHeight);

            var grid = $('#grid');
            if (parent.length && grid.length) {
                parent.width('10000px');
                parent.width(grid[0].offsetWidth + 20)
            }
        });

        $(window).resize(function () {
            var parent = $('#resultGridInner');
            var windowHeight = $(window).height();
            var topHeight = $('#header').outerHeight() + $('#contents').outerHeight();
            var gridHeight = windowHeight - topHeight - 56;
            if (gridHeight < 208) {
                gridHeight = 208;
            }
            parent.height(gridHeight);
        });
    </script>*@




@using (Html.BeginForm())
{

    <div>
        @if (TempData["Message"] != null)
        {
            <script type="text/javascript">
                      alert('@TempData["Message"]');
            </script>
        }
        <table class="TableUcHeader">
            <tr>
                <td rowspan="2" style="width: 130px">
                    <div id="header">
                        <div class="titleField">
                            <div class="logo">
                            </div>
                        </div>
                    </div>
                </td>
                <td align="left" valign="bottom" class="auto-style1">
                    <label id="lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【消防法届出マスタ－検索】</label>
                <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                    <div class="io" align="left">
                        <fieldset style=border:none></fieldset>
                    </div>
                </td>
                <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                <td style="width: 90px" rowspan="2" align="center" valign="middle">
                    <div ID="logout">

                    </div>
                </td>
                <td style="width: 112px" rowspan="2" align="center" valign="middle">
                    <div style="width: 112px;" />
                    <input type="submit" id="btnBack_Click" name="btnBack_Click" value="戻る" class="ButtonHeader" onclick="return block();" />
                </td>
            </tr>
            <tr>
                <td style="width:700px;text-align:left;vertical-align:top">
                    @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                    {
                        <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                    }
                </td>
            </tr>
        </table>

        <hr />
    </div>

    if (Model.listMFire != null && Model.listMFire.Count() > 0)
    {
        @Html.Hidden("inventoryDataCount", 1)
    }
    else
    {
        @Html.Hidden("inventoryDataCount", 0)
    }

    <body class="body">
        @*<form id="form1" runat="server" enctype="multipart/form-data" defaultbutton="ButtonDefault">*@
        <div class="form-horizontal">
            <input type="button" id="ButtonDefault" value="" Style="display: none;" />
            <div id="contents">
                <table class="TableSearch">
                    <tr>
                        <td valign="top">
                            <table width="840px" align="center">
                                <tr>
                                    <!-- 検索域・1行目 -->
                                    <td align="right" width="170px">
                                        <label for="lblUser_Cd" class="LabelSearch">届出名称：</label>
                                    </td>
                                    <td align="left" width="400px">
                                        @Html.DropDownListFor(model => model.REPORT_TYPE, Model.ddlType, new { id = "reporttype", @class = "DdlSearchShort" })
                                        @Html.HiddenFor(model => model.REPORT_TYPE)

                                        &nbsp;
                                        @Html.TextBoxFor(m => m.txtReportName, null, new { id = "txtReportName", @class = "TextBoxSearchLong", @style = "width:190px;" })
                                    </td>
                                    <td align="center" width="90px">
                                        <input type="submit" id="btnSearch" name="btnSearch" Class="ButtonNormal ButtonMargin" Value="検索" onclick="return block();" />
                                    </td>
                                    <td align="center" width="90px">
                                        &nbsp;
                                    </td>
                                    <td align="center" width="106px">
                                        <input type="submit" id="btnUpdate" value="既設更新" class="ButtonNormal ButtonMargin" onclick="return btnUpdate_Click();" />
                                    </td>
                                </tr>
                                <tr>
                                    <!-- 検索域・2行目 -->
                                    <td align="right" width="170px">
                                        <label for="lblUser_Nm" class="LabelSearch">取扱所の種類：</label>
                                    </td>
                                    <td align="left" width="400px">

                                        @Html.DropDownListFor(model => model.REPORT_PLACE_KEY, Model.ddlReportPlace, "", new { @class = "DdlSearchShort", @style = "width:150px;" })
                                    </td>
                                    <td align="center" width="90px">
                                        <input type="submit" id="btnClear" name="btnClear" value="クリア" class="ButtonNormal ButtonMargin" onclick="return block();" />

                                    </td>
                                    <td align="center" width="90px">
                                        &nbsp;
                                    </td>
                                    <td align="center" width="106px">
                                        <input type="button" id="btnInsert" value="参照登録" class="ButtonNormal ButtonMargin" onclick="return btnInsert_Click();" />
                                    </td>
                                </tr>
                                <tr>
                                    <!-- 検索域・3行目 -->
                                    <td align="right" width="170px">
                                        <label for="lblUser_Kana" class="LabelSearch">届出場所：</label>
                                    </td>
                                    <td align="left" width="400px">
                                        <div id="UpdatePanel1">
                                            <ContentTemplate>
                                                @Html.DropDownListFor(model => model.REPORT_LOCATION, Model.ddlLocation, new { id = "reportLocation", @class = "DdlSearchShort", @onchange = "return selectReportPlace(this.value)" })
                                                @Html.HiddenFor(model => model.REPORT_LOCATION)
                                                &nbsp;

                                                <input type="button" name="Location_Selection" value="選択" onclick="@("OpenTreePopupCommon('1','')")" id="Location_Selection" class="ButtonUC">
                                                &nbsp;

                                                <input type="button" name="LocationSelection" value="クリア" id="Location_Selection" class="ButtonUC" onclick="Cleartext('Location');" />
                                                <input type="hidden" id="Locationidval" name="Locationidval" value="@Model.hdnLocationId">
                                                @if (Model.hdnLocationId != null && Model.hdnLocationId != "")
                                                {
                                                    <label id="lblLocationSelection">設定済み </label>
                                                }
                                                else
                                                {
                                                    <label id="lblLocationSelection"></label>
                                                }
                                                <input type="button" class="btnlocreg" name="reg" onclick="return setValue('Location');" style="visibility:hidden" />

                                                <label for="LocationSelectionView"></label>

                                                <input type="hidden" id="lblRegName" name="lblRegName" />
                                                <input type="hidden" id="hdnGroupCd" name="hdnGroupCd" />
                                                <input type="hidden" id="lblGroupName" name="lblGroupName" />

                                            </ContentTemplate>
                                        </div>
                                    </td>

                                    <td align="center" width="90px">
                                        <input type="submit" id="btnRegister" name="btnRegister" value="新規登録" class="ButtonNormal ButtonMargin" onclick="return block();" />
                                    </td>
                                    <td align="center" width="106px">
                                        <input type="button" id="btnDelete" value="廃止" class="ButtonNormal ButtonMargin" onclick="return btnDelete_Click();" />
                                    </td>
                                </tr>
                                <tr>
                                    <!-- 検索域・4行目 -->
                                    <td align="right" width="170px">
                                        <label for="lblUser_Nm0" class="LabelSearch">状態：</label>
                                    </td>
                                    <td align="left" width="400px">
                                        @Html.DropDownListFor(model => model.DEL_FLAG, Model.ddlStatus, new { @class = "DdlSearchShort" })
                                    </td>

                                    <td align="center" width="90px">
                                        &nbsp;
                                    </td>
                                    <td align="center" width="106px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right" width="170px">
                                        &nbsp;
                                    </td>
                                    <td></td>
                                    <td colspan="3">
                                        <div id="pnlInclude">
                                            &nbsp;
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br />

                <hr />
            </div>

            <div style="width: 100%; text-align: right;">
                @if (Model.listMFire != null && Model.listMFire.Count() > 0)
                {
                    <span id="ResultCount" style="color:White;font-size:X-Large;font-weight:bold;">件数 : @Model.listMFire.Count() 件</span>
                }
            </div>

            @if (Model.listMFire != null && Model.listMFire.Count() > 0)
            {
                <div style="height:auto; width:100%; overflow-y:visible;">
                    <div id="resultGridOuter">
                        <div id="resultGridInner">
                            <div>
                                @grid.GetHtml(
                     tableStyle: "webgrid-table",
                     headerStyle: "webgrid-header",
                     footerStyle: "webgrid-footer",
                     alternatingRowStyle: "webgrid-alternating-row",
                     rowStyle: "webgrid-row-style",
                     htmlAttributes: new { @id = "FireListDataView" },
                     fillEmptyRows: false,
                     mode: WebGridPagerModes.All,
                     columns: grid.Columns(
grid.Column(format: @<text><input type="checkbox" value=@item.REPORT_ID class="selection" id="@item.REPORT_ID" name="Inventorycheckbox" /></text>),
grid.Column(columnName: "STATUS", header: "状態", style: "col-sm3"),
grid.Column(columnName: "REPORT_NAME", header: "届出名称", style: "col-sm3"),
grid.Column(columnName: "REPORT_YMD", header: "届出年月日", style: "col-sm3"),
grid.Column(columnName: "REPORT_SUBMIT", header: "届出先", style: "col-sm3"),
grid.Column(columnName: "REPORT_PLACE", header: "取扱所の種類", style: "col-sm3"),
grid.Column(columnName: "REPORT_LOCATION", header: "届出場所", style: "col-sm1"),
grid.Column(columnName: "FIRE_SIZE", header: "合計倍数", style: "col-sm3"),
grid.Column(columnName: "REG_USER_NAME", header: "登録者", style: "col-sm3"),
grid.Column(columnName: "REG_DATE", header: "登録日時", style: "col-sm3"),
grid.Column(columnName: "UPD_USER_NAME", header: "更新者", style: "col-sm3"),
grid.Column(columnName: "UPD_DATE", header: "更新日時", style: "col-sm3"),
grid.Column(columnName: "DEL_USER_NAME", header: "削除者", style: "col-sm3"),
grid.Column(columnName: "DEL_DATE", header: "削除日時", style: "col-sm3")
))
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div style="height:auto; width:100%; overflow-y:visible;">
                    <div id="UpdatePanel">
                        <div id="resultGridOuter" style="overflow:auto; width: 100%;">
                            <div id="resultGridInner" style="height: 409px; width: 1608px;">
                                <div>
                                    <table cellspacing="0" cellpadding="4" rules="cols" id="grid" style="color:Black;background-color:White;border-width:1px;border-style:Solid;font-size:Small;border-collapse:collapse;">
                                        <tbody>
                                            <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:2px;border-style:Solid;font-weight:bold;font-family:'Times New Roman'">
                                                <th><input id="gvStock_selectionCheck" type="checkbox" name="gvStock$ctl01$selectionCheck" /></th>
                                                <th>状態</th>
                                                <th>
                                                    届出名称
                                                </th>
                                                <th>
                                                    届出年月日
                                                </th>
                                                <th>
                                                    届出先
                                                </th>
                                                <th>
                                                    取扱所の種類
                                                </th>
                                                <th>
                                                    届出場所
                                                </th>
                                                <th>
                                                    合計倍数
                                                </th>
                                                <th>
                                                    登録者
                                                </th>
                                                <th>
                                                    登録日時
                                                </th>
                                                <th>
                                                    更新者
                                                </th>
                                                <th>
                                                    更新日時
                                                </th>
                                                <th>
                                                    削除者
                                                </th>
                                                <th>
                                                    削除日時
                                                </th>
                                                <
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </body>
}


<script type="text/javascript">
    function selectReportPlace(id) {
        $("#REPORT_LOCATION").val(id);
    }

    $(document).ready(function () {

        $(function () {
            $("#txtReportName").bind('paste', function () {
                setTimeout(function () {
                    var data = $('#txtReportName').val();
                    var dataFull = data.replace(/[\^\&\|\?\.\-\\]/gi, '');
                    $('#txtReportName').val(dataFull);
                });
            });
        });
    });


    function newFireRegister() {
        window.location.href = "../ZC050/ZC05032?Type=New&TableName=M_FIRE_REPORT&IsPostBack=False"
    }

    function btnUpdate_Click() {
        var checked = $("input[name='Inventorycheckbox']:checked").length;
        var FireId = [];
        $.each($("input[name='Inventorycheckbox']:checked"), function () {
            FireId.push($(this).val());
        });
        if (checked > "1") {
            alert("対象が複数選択されています。");
            return false;

        } else if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        else {
            window.location.href = "../ZC050/ZC05032?Type=Update&IsPostBack=False&TableName=M_FIRE_REPORT&FireId=" + FireId.join(",");
            //$.ajax({
            //    url: '/ZC050/ZC0',
            //    type: 'GET',
            //    data: { 'FireId': FireId.join(",") },
            //    success: function (data) {
            //        if (data != "") {
            //            alert(data);
            //            return false;
            //        }
            //        else {
            //            var url = "../ZC050/ZC05032?FireId=" + StockId + "&isEdit=" + 1;
            //            window.location.href = url;
            //        }
            //        return false;
            //    },
            //    error: function (err) {
            //        //alert("ユーザーIDとパスワードの入力に誤りがあります。");
            //        return false;
            //    }
            //});
            return false;
        }
        return false;
    }

    function btnInsert_Click() {
        var checked = $("input[name='Inventorycheckbox']:checked").length;
        var FireId = [];
        $.each($("input[name='Inventorycheckbox']:checked"), function () {
            FireId.push($(this).val());
        });
        if (checked > "1") {
            alert("対象が複数選択されています。");
            return false;

        } else if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        else {
            window.location.href = "../ZC050/ZC05032?Type=RefRegister&IsPostBack=False&TableName=M_FIRE_REPORT&FireId=" + FireId.join(",");
            //$.ajax({
            //    url: '/ZC050/ZC0',
            //    type: 'GET',
            //    data: { 'FireId': FireId.join(",") },
            //    success: function (data) {
            //        if (data != "") {
            //            alert(data);
            //            return false;
            //        }
            //        else {
            //            var url = "../ZC050/ZC05032?FireId=" + StockId + "&isEdit=" + 1;
            //            window.location.href = url;
            //        }
            //        return false;
            //    },
            //    error: function (err) {
            //        //alert("ユーザーIDとパスワードの入力に誤りがあります。");
            //        return false;
            //    }
            //});
            return false;
        }
        return false;
    }

    function btnDelete_Click() {
        var checked = $("input[name='Inventorycheckbox']:checked").length;
        var FireId = [];
        $.each($("input[name='Inventorycheckbox']:checked"), function () {
            FireId.push($(this).val());
        });
        if (checked > "1") {
            alert("対象が複数選択されています。");
            return false;

        } else if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        else {
            window.location.href = "../ZC050/ZC05032?Type=Delete&IsPostBack=False&TableName=M_FIRE_REPORT&FireId=" + FireId.join(",");
            //$.ajax({
            //    url: '/ZC050/ZC0',
            //    type: 'GET',
            //    data: { 'FireId': FireId.join(",") },
            //    success: function (data) {
            //        if (data != "") {
            //            alert(data);
            //            return false;
            //        }
            //        else {
            //            var url = "../ZC050/ZC05032?FireId=" + StockId + "&isEdit=" + 1;
            //            window.location.href = url;
            //        }
            //        return false;
            //    },
            //    error: function (err) {
            //        //alert("ユーザーIDとパスワードの入力に誤りがあります。");
            //        return false;
            //    }
            //});
            return false;
        }
        return false;
    }


    function setValue(Id) {
        if (Id == "Location") {
            if ($("#Locationidval").val() != "") {
                $("#reportLocation").prop('disabled', true);
                $("#lblLocationSelection").text("設定済み");
            } else {
                $("#lblLocationSelection").text("");
            }
        }
        else if (Id == "Regulation") {
            if ($("#Regulationidval").val() != "") {
                $("#lblRegulationSelection").text("設定済み");
            } else {
                $("#lblRegulationSelection").text("");
            }
        }
    }

    function Cleartext(Id) {
        if (Id == "Location") {
            $("#reportLocation").prop('disabled', false);
            $("#lblLocationSelection").text("");
            $("#Locationidval").val("");
        }

    }

</script>
<script>
    $(document).ready(function () {
        $("th:first").css("width", "18px");
        $("th:first").html('<input type="checkbox" value="" name="headerchkRow" id="master" class="chkHeaderclass" />');

        $("#master").click(function () {
            var checkAll = $("#master").prop('checked');
            if (checkAll) {
                $(".selection").prop("checked", true);
            } else {
                $(".selection").prop("checked", false);
            }
        });

        $(".selection").click(function () {
            if ($(".selection").length == $(".selection:checked").length) {
                $("#master").prop("checked", true);
            } else {
                $("#master").prop("checked", false);
            }
        });
    });
</script>


