﻿@model ZyCoaG.M_MASTER
@{
    Layout = "~/Views/Shared/_LayoutMasterMaintenance.cshtml";
}

<script>
    $(document).ready(function () {
        $("#register").click(function (e) {
            var result = confirm("登録します。よろしいですか？");
            if (result != true) {
                e.preventDefault();
                return false;
            }
        });

        // disable enter key
        $("form").keypress(function (e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                e.preventDefault();
                return false;
            }
        });
    });

</script>


@using (Html.BeginForm("ZC05201", "ZC050", new { TableName = @Request.QueryString["TableName"] }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.masterMaintenanceScreen,
new { id = "masterMaintenanceScreen", Value = "M_MESSAGE" })
    if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            alert('@TempData["Message"]');
        </script>
    }
    <div>
        <table class="TableUcHeader">
            <tr>
                <td rowspan="2" style="width: 130px">
                    <div id="header">
                        <div class="titleField">
                            <div class="logo">
                            </div>
                        </div>
                    </div>
                </td>
                <td align="left" valign="bottom" class="auto-style1">
                    <label id="lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【ログイン画面メッセージ編集】</label>
                <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                    <div class="io" align="left">
                        <fieldset style=border:none></fieldset>
                    </div>
                </td>
                <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                <td style="width: 90px" rowspan="2" align="center" valign="middle">
                    <div ID="logout">

                    </div>
                </td>
                <td style="width: 112px" rowspan="2" align="center" valign="middle">
                    <div style="width: 112px;" />
                    <input type="submit" id="btnBack_Click" name="btnBack_Click" value="戻る" class="ButtonHeader" />
                </td>
            </tr>
            <tr>
                <td style="width:700px;text-align:left;vertical-align:top">
                    @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                    {
                        <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                    }
                </td>
            </tr>
        </table>
        <hr />
    </div>
    <div class="bodyMaster">
        <div id="contents">

            @Html.HiddenFor(m => m.mMessage.P_MSG_TEXT, new { @id = "P_MSG_TEXT", @Value = Model.mMessage.MSG_TEXT })

            <table class="TableSearch" align="center">
                <tr>
                    <td>
                        <table width="800" align="center">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <span id="lbl" style="color:Red;font-size:Medium;font-weight:bold;">ログイン画面に表示する内容を編集して下さい。</span>
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <span id="lblMsg" style="color:Red;">　</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" align="center">
                                        <table>
                                            <tr>
                                                <td align="center" valign="top" width="600px"></td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top" width="600px" class="auto-style3">
                                                    <table id="mMessage" border="0">
                                                        <tr>
                                                            <td align="right" valign="top" class="auto-style5" width="200px">
                                                                @Html.HiddenFor(m => m.mMessage.MSG_ID, new { @id = "MSG_ID" })
                                                            </td>
                                                            <td class="auto-style5" valign="top" width="314px">
                                                                @Html.EditorFor(model => model.mMessage.MSG_TEXT, new { @id = "MSG_TEXT" })
                                                                @Html.ValidationMessageFor(model => model.mMessage.MSG_TEXT)
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <table class="TableFooter">
            <tr>
                <td>
                    <table style="float:left;">
                        <tr>
                            <td width="90px">
                            </td>
                            <td width="90px">
                            </td>
                            <td width="90px">
                            </td>
                        </tr>
                    </table>
                    <table style="float:right;">
                        <tr>
                            <td>&nbsp;</td>
                            <td width="90px">
                            </td>
                            <td width="90px">
                            </td>
                            <td width="90px">
                            </td>
                            <td width="90px">
                            </td>
                            <td width="90px">
                            </td>
                            <td width="90px">
                            </td>
                            <td width="90px">
                            </td>
                            <td width="90px">
                                <input type="button" name="btnInitialize_Click" value="初期化" onclick="init();" id="initialize" class="ButtonFooter" />
                            </td>
                            <td width="90px">
                                <input type="button" name="btnClear_Click" value="クリア" onclick="clearMsg();" id="clear" class="ButtonFooter" />
                            </td>
                            <td width="90px">
                                <input type="submit" name="btnRegistration_Click" value="登録" onclick="block();" id="register" class="ButtonFooter">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
}

