﻿@model ChemMgmt.Models.M_FIRE
@{

    Layout = "~/Views/Shared/_LayoutMasterMaintenance.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@*<link href="~/Content/Css/StyleSheet.css" rel="stylesheet" />
    <script src="../Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript" src="../Scripts/LabelPrint.js"></script>
    <script type="text/javascript" src="../Scripts/jquery.blockUI.js"></script>



    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
@*<table class="TableUcHeader">
        <tbody>
            <tr>
                <td rowspan="2" style="width: 130px">
                    <div id="header">
                        <div class="titleField">
                            <div class="logo">
                            </div>
                        </div>
                    </div>
                </td>
                <td align="left" valign="bottom" class="auto-style1">
                    <span id="lTitle" style="color:Yellow;font-size:Small;font-weight:bold;">【消防法届出マスターメンテナンス】</span>
                </td>
                <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                <td style="width: 160px" rowspan="2" align="right" valign="middle">
                    <div class="io" align="left">
                        &nbsp;

                    </div>
                </td>
                <td style="width: 90px" rowspan="2" align="center" valign="middle">
                    <input type="submit" name="ucHeader$btnHeader_Back" value="戻る" id="btnHeader" class="ButtonHeader">
                </td>

            </tr>
            <tr>
                <td style="width: 700px" align="left" valign="top">
                    <span id="ucHeader_lblLogin" style="color:White;font-size:Small;">ログイン者名：開発ユーザー(管理者)</span>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />*@




@using (Html.BeginForm())
{


    <style type="text/css">
        label[name=change] {
            Font-Size: X-Small;
            Color: Red;
        }

        label[name=change1] {
            Font-Size: Small;
            Color: Red;
        }

        label[name=change2] {
            Font-Size: Small;
            Color: Red;
            display: inline !important;
        }

        select[name="lstLocation1"] {
            margin-left: -50px;
        }
    </style>



    <div>
        <table class="TableUcHeader">
            <tr>
                <td rowspan="2" style="width: 130px">
                    <div id="header">
                        <div class="titleField">
                            <div class="logo">
                            </div>
                        </div>
                    </div>
                </td>
                <td align="left" valign="bottom" class="auto-style1">
                    <label id="lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【消防法届出マスターメンテナンス】</label>
                <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                    <div class="io" align="left">
                        <fieldset style=border:none></fieldset>
                    </div>
                </td>
                <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                <td style="width: 90px" rowspan="2" align="center" valign="middle">
                    <div ID="logout">

                    </div>
                </td>
                <td style="width: 112px" rowspan="2" align="center" valign="middle">
                    <div style="width: 112px;" />
                    <input type="submit" id="btnBack_Click" name="btnBack_Click" value="戻る" class="ButtonHeader" onclick="return block();" />
                </td>
            </tr>
            <tr>
                <td style="width:700px;text-align:left;vertical-align:top">
                    @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                    {
                        <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                    }
                </td>
            </tr>
        </table>

        <hr />
    </div>
    <div class="form-horizontal">

        @if (Model.TYPE == "Delete")
        {

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#RegisterFire").hide();
                    $("#RefRegisterFire").hide();
                    $("#UpdFire").hide();
                    $("#btnCsvOutput").hide();
                    $("#btnControl").show();

                    $("#datepicker").datepicker("option", "disabled", true);

                    $("#reportPlaceKey").prop('disabled', true);
                    $("input[type=text]").prop('readonly', true);
                    $("#StorageLocationAdd").hide();
                    $("#StroageLocationDelete").hide();
                    $("#UsageLocationAdd").hide();
                    $("#UsageLocationDelete").hide();
                    $("#lblMsgDel").show();
                    $("#btnControl").prop('disabled', false);
                });
            </script>
        }


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="hdnGroupCd" name="hdnGroupCd">
        <input type="hidden" id="GhsCateogry" name="GhsCateogry">
        <input type="hidden" id="Regulation" name="Regulation">
        <input type="hidden" id="Fire" name="Fire">
        <input type="hidden" id="Office" name="Office">
        <input type="hidden" id="Locationidval" name="Locationidval" value="@Model.hdnLocationId1">
        @*@Html.HiddenFor(Model => Model.hiddenLocationIds, new { id = "Locationidval", Name = "Locationidval" })*@
        <input type="hidden" id="lblGroupName" name="lblGroupName">
        <input type="hidden" id="UsageLocationidval" name="UsageLocationidval" value="@Model.hdnLocationId2">
        <input type="hidden" id="locname1" value="@Model.locname1">
        <input type="hidden" id="locname2" value="@Model.locname2">
        @*<input type="hidden" id="mode" value="@Model.mode">*@
        @*@Html.HiddenFor(Model => Model.hiddenLocationIds, new { id = "UsageLocationidval", Name = "StorageLocation" })*@
        @if (Model.mode == "0")
        {
            <table class="TableSearch">
                <tr>
                    <td>
                        <table style="width:90%" align="center">

                            @*@Html.HiddenFor(Model => Model.hiddenLocationIds, new { id = "StorageLocation", Name = "StorageLocation" })*@
                            <tr>
                                <td align="right" class="auto-style21"></td>
                                <td align="left" class="auto-style20" colspan="2">
                                    @*<asp:Label ID="lblMsg" runat="server" Text="必要な項目を入力して下さい。" Font-Size="Small" ForeColor="Red" Visible="False"></asp:Label>*@
                                    @*<label for="lblMsg" id="lblMsg" name=change1 style="display:none">以下の内容で更新しても宜しいですか？</label>*@
                                    @if (Model.TYPE == "asd")
                                    {
                                        <label for="lblMsg" id="lblMsgDel1" name=change2>以下の内容を削除しても宜しいですか？</label>
                                        @*<input type="submit" id="btnControl" name="btnControl" class="ButtonFooter" Value="入出庫" />*@

                                    }
                                    else if (Model.TYPE == "New")
                                    {
                                        <label for="lblMsg" id="lblMsgNew" name=change1>以下の内容で登録しても宜しいですか？</label>
                                        @*<input type="submit" id="btnControl" name="btnControl" class="ButtonFooter" Value="入出庫" />*@

                                    }
                                    else if (Model.TYPE == "RefRegister")
                                    {
                                        <label for="lblMsg" id="lblMsgRef" name=change1>以下の内容で登録しても宜しいですか？</label>
                                        @*<input type="submit" id="btnControl" name="btnControl" class="ButtonFooter" Value="入出庫" />*@

                                    }
                                    else if (Model.TYPE == "Update")
                                    {
                                        <label for="lblMsg" id="lblMsgUpd" name=change1 style="display:none">以下の内容で更新しても宜しいですか？</label>
                                    }
                                    else
                                    {
                                        <label for="lblMsg" id="lblMsgDel" name=change2 style="display:none">以下の内容を削除しても宜しいですか？</label>
                                    }

                                    @*<span id="lblMsg" style="color:Red;font-size:Small;">以下の内容で更新しても宜しいですか？</span>*@
                                </td>
                                <td align="right" class="auto-style14"></td>
                                <td align="left" width="250px" class="auto-style18"></td>
                            </tr>
                            <tr>
                                <td align="right" class="auto-style21">
                                    @*<asp:Label ID="lblReportName" runat="server" Text="届出名称：" CssClass="LabelSearch"></asp:Label>*@
                                    <label for="lblReportName" class="LabelSearch">届出名称：</label>

                                </td>
                                <td align="left" class="auto-style20" colspan="2">
                                    @*<asp:TextBox ID="txtReportName" runat="server" CssClass="TextBoxSearchLong required" Width="400px"></asp:TextBox>*@
                                    @Html.TextBoxFor(m => m.REPORT_NAME, null, new { id = "txtReportName", name = "REPORT_NAME", @class = "TextBoxSearchLong required", @style = "Width:400px" })
                                    &nbsp;
                                </td>
                                <td align="right" class="auto-style14">
                                    &nbsp;
                                </td>
                                <td align="right">
                                    @*<asp:Button ID="btnCsvOutput" runat="server" CssClass="ButtonNormal" Text="CSV出力" onclick="btnCsvOutput_Click" Visible="true" />*@
                                    <input type="submit" id="btnCsvOutput" value="CSV出力" class="ButtonNormal" name="btnCSVExport" onclick="return btnCSVInputCheck();" />
                                </td>
                            </tr>
                            <tr>
                                <td align="right" class="auto-style22">
                                    @*<asp:Label ID="lblReportYMD" runat="server" Text="届出年月日：" CssClass="LabelSearch"></asp:Label>*@
                                    <label for="lblReportYMD" class="LabelSearch">届出年月日：</label>
                                </td>
                                <td align="left" class="auto-style10" colspan="2">
                                    @*<asp:TextBox ID="txtReportYMD" runat="server" CssClass="TextBoxSearchLong required"></asp:TextBox>*@
                                    @Html.TextBoxFor(model => model.REPORT_YMD, null, new { id = "datepicker", name = "REPORT_YMD", @class = "TextBoxSearchLong required", @onchange = "return selectReportYMD(this.value)" })
                                    @Html.HiddenFor(model => model.REPORT_YMD)
                                    @*<img title="カレンダー" class="" alt="カレンダー" src="../Image/calendar.png">*@
                                </td>
                                <td align="right" class="auto-style15">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style6">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="right" class="auto-style23">
                                    @*<asp:Label ID="lblReportSubmit" runat="server" Text="届出先：" CssClass="LabelSearch"></asp:Label>*@
                                    <label for="lblReportSubmit" class="LabelSearch">届出先：</label>
                                </td>
                                <td align="left" class="auto-style13" colspan="2">
                                    @*<asp:TextBox ID="txtReportSubmit" runat="server" CssClass="TextBoxSearchLong required" Width="400px"></asp:TextBox>*@
                                    @Html.TextBoxFor(m => m.REPORT_SUBMIT, null, new { id = "txtReportSubmit", @class = "TextBoxSearchLong required", @style = "Width:400px" })
                                    &nbsp;
                                </td>
                                <td align="right" class="auto-style16">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style12">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="right" class="auto-style7">
                                    @*<asp:Label ID="lblReportPlace" runat="server" Text="取扱所の種類：" CssClass="LabelSearch"></asp:Label>*@
                                    <label for="lblReportPlace" class="LabelSearch">取扱所の種類：</label>
                                </td>
                                <td align="left" class="auto-style19" colspan="2">
                                    @*<asp:DropDownList ID="ddlReportPlace" runat="server" DataValueField="Id" DataTextField="Name" CssClass="searchCondition" />*@
                                    @*@Html.DropDownListFor(model => model.REPORT_TYPE, new SelectList(new[] { "Partial Match", "Forward Match" }), new { @class = "searchCondition" })*@

                                    @Html.DropDownListFor(model => model.REPORT_PLACE_KEY, Model.ddlReportPlace, "", new { id = "reportPlaceKey", @class = "DdlSearchShort", @style = "width:150px;", name = "reportPlaceKey", @onchange = "return selectReportPlace(this.value)" })
                                    @Html.HiddenFor(model => model.REPORT_PLACE_KEY)
                                </td>
                                <td align="right" class="auto-style17">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style11">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top" class="auto-style21"></td>
                                <td align="left" class="auto-style20" colspan="2">
                                    @*<asp:Label ID="lblLocMsg" runat="server" Text="保管場所、使用場所のどちらか一方は必ず入力してください。" Font-Size="X-Small" ForeColor="Red"></asp:Label>*@
                                    <label for="lblLocMsg" name=change>保管場所、使用場所のどちらか一方は必ず入力してください。</label>
                                </td>
                                <td align="left" class="auto-style17">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style11">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top" class="auto-style21">
                                    @*<asp:Label ID="lblLocation1" runat="server" Text="届出場所：" CssClass="LabelSearch"></asp:Label>*@
                                    <label for="lblLocation1" class="LabelSearch">届出場所：</label>
                                </td>
                                <td align="left" class="auto-style20">
                                    @*<asp:Button ID="btnSelect1" runat="server" CssClass="buttonLong" Text="保管場所選択" />*@
                                    @*<input type="button" id="btnSelect1" value="保管場所選択" class="buttonLong" />
                                        <br />*@
                                    @*<asp:Button ID="btnLocationClear1" runat="server" CssClass="buttonLong" Text="クリア" OnClick="btnLocationClear1_Click" />*@
                                    @*<input type="button" id="btnLocationClear1" value="クリア" class="buttonLong" />*@

                                    <input type="button" id="StorageLocationAdd" value="保管場所選択" Class="buttonLong" /> <br />
                                    <input type="button" id="StroageLocationDelete" value="クリア" Class="buttonLong" @*formaction="RegulationDelete"*@ onclick="Cleartext('Location');" />
                                    <input type="button" class="btnlocreg" name="reg" onclick="return setStorageLocValue();" style="visibility:hidden" />

                                </td>
                                <td align="left" class="auto-style20">

                                    @*<asp:ListBox ID="lstLocation1" runat="server" Rows="5" Width="511px"></asp:ListBox>*@
                                    @*@Html.ListBoxFor(m => m.WEIGHT_MGMT, Model.PRODUCT_NAME, new { @style = "Width:400px" })*@

                                    @*@Html.TextAreaFor(Model => Model.lstLocation2)*@
                                    <textarea readonly name="lstLocation1" id="lstLocation1" size="5" style="Width:511px;height:100px;background-color:white"></textarea>
                                    @*<asp:HiddenField ID="hdnLocationId1" runat="server" />*@
                                    <input type="hidden" id="hdnLocationId1">
                                    @Html.HiddenFor(Model => Model.hdnLocationId1, new { id = "hdnLocationId1", Name = "hdnLocationId1" })
                                    @Html.HiddenFor(Model => Model.mode, new { id = "mode", Name = "mode" })
                                    @Html.HiddenFor(Model => Model.labelMode, new { id = "labelMode", Name = "labelMode" })
                                </td>
                                <td align="left" class="auto-style17">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style11">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="right" class="auto-style7"></td>
                                <td align="left" class="auto-style19" colspan="2"></td>
                                <td align="right" class="auto-style17"></td>
                                <td align="left" class="auto-style11"></td>
                            </tr>
                            <tr>
                                <td align="right" class="auto-style21">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style20">
                                    @*<asp:Button ID="btnSelect2" runat="server" CssClass="buttonLong" Text="使用場所選択" />*@
                                    @*<input type="button" id="btnSelect2" value="使用場所選択" class="buttonLong" />
                                        <br />*@
                                    @*<asp:Button ID="btnLocationClear2" runat="server" CssClass="buttonLong" Text="クリア" OnClick="btnLocationClear2_Click" />*@
                                    @*<input type="button" id="btnLocationClear2" value="クリア" class="buttonLong" />*@

                                    <input type="button" id="UsageLocationAdd" value="使用場所選択" Class="buttonLong" /> <br />
                                    <input type="button" id="UsageLocationDelete" value="クリア" Class="buttonLong" @*formaction="RegulationDelete"*@ onclick="Cleartext('UsageLocation');" />
                                    <input type="button" class="btnusagelocclick" name="reg" onclick="return setUsageLocValue();" style="visibility:hidden" />
                                </td>
                                <td align="left" class="auto-style20">
                                    @*<asp:ListBox ID="lstLocation2" runat="server" Rows="5" Width="512px"></asp:ListBox>*@
                                    @*@Html.ListBoxFor(m => m.WEIGHT_MGMT, Model.PRODUCT_NAME, new {id="lstLocation2", @style = "512px" })*@

                                    @*@Html.TextAreaFor(Model =>Model.lstLocation2)*@
                                    <textarea readonly id="lstLocation2" name="lstLocation2" size="5" style="Width:512px;height:100px;background-color:white"></textarea>
                                    @*<asp:HiddenField ID="hdnLocationId2" runat="server" />*@
                                    @Html.Hidden("hdnLocationId2")
                                    @Html.HiddenFor(Model => Model.hdnLocationId2, new { id = "hdnLocationId2", Name = "hdnLocationId2" })


                                </td>
                                <td align="left" class="auto-style17">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style11">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="left" class="auto-style21">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style20">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style20">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style17">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style11">
                                    &nbsp;
                                </td>
                            </tr>

                            <tr>
                                <td align="left" class="auto-style21">
                                    &nbsp;
                                </td>
                                <td align="left" class="auto-style20" colspan="4">
                                    @Html.Raw(Model.tblFireData)

                                </td>
                            </tr>

                        </table>
                        @* <asp:HiddenField ID="hdnFocus" runat="server" />*@
                        @Html.Hidden("hdnFocus")

                    </td>
                </tr>
            </table>
            <br />
            <hr />
        }
        <table class="TableFooter">
            <tbody>
                <tr>
                    <td>
                        <table style="float:left;">
                            <tbody>
                                <tr>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table style="float:right;">
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>

                                    <td width="90px">
                                        @if (Model.TYPE == "Update")
                                        {
                                            <input type="submit" name="UpdFire" value="既設更新" id="UpdFire" class="ButtonFooter" onclick="return block();">
                                            <input type="submit" name="UpdFire" value="既設更新" id="UpdFireValid" style="display:none" class="ButtonFooter" onclick="return block();">
                                            <input type="hidden" name="regFlag" id="regFlag">
                                        }
                                        else if (Model.TYPE == "Delete")
                                        {
                                            <input type="submit" name="UpdFire" value="既設更新" id="UpdFire" style="display:none" class="ButtonFooter" onclick="return block();">
                                        }
                                        else
                                        {
                                            <input type="submit" name="UpdFire" value="既設更新" id="UpdFire" disabled="disabled" class="ButtonFooter" onclick="return block();">
                                        }
                                    </td>

                                    <td width="90px">
                                        @if (Model.TYPE == "RefRegister")
                                        {
                                            <input type="submit" name="RefRegisterFire" value="参照登録" id="RefRegisterFire" class="ButtonFooter" onclick="return block();">
                                            <input type="hidden" name="regFlag" id="regFlag">
                                        }
                                        else if (Model.TYPE == "Delete")
                                        {
                                            <input type="submit" name="RefRegisterFire" value="参照登録" id="RefRegisterFire" style="display:none" class="ButtonFooter" onclick="return block();">
                                        }
                                        else
                                        {
                                            <input type="submit" name="RefRegisterFire" value="参照登録" id="RefRegisterFire" disabled="disabled" class="ButtonFooter" onclick="return block();">
                                        }
                                    </td>

                                    <td width="90px">
                                        @if (Model.mode == "1")
                                        {
                                            <input type="submit" name="btnOK" value="確定" id="btnOK" class="ButtonFooter" onclick="return block();">
                                        }
                                        else
                                        {
                                            if (Model.TYPE == "New")
                                            {
                                                <input type="submit" name="RegisterFire" value="新規登録" id="RegisterFire" class="ButtonFooter" onclick="return block();">
                                                <input type="hidden" name="regFlag" id="regFlag">
                                            }
                                            else if (Model.TYPE == "Delete")
                                            {
                                                <input type="submit" name="RegisterFire" value="新規登録" id="RegisterFire" style="display:none" class="ButtonFooter" onclick="return block();">
                                            }
                                            else
                                            {
                                                <input type="submit" name="RegisterFire" value="新規登録" id="RegisterFire" disabled="disabled" class="ButtonFooter" onclick="return block();">
                                            }
                                        }

                                        @*<input type="submit" name="btnRegistration_Click" value="登録" id="Registration" disabled=@RegisterDisabled class="ButtonFooter">*@
                                        @*<input type="submit" id="RegisterFire" onclick="return ValidateRegistration(1);" value="登録" class="ButtonFooter" name="Registration" @((Request.QueryString["mode"].ToString() == "0" || Request.QueryString["mode"].ToString() == "1" ? "enabled='enabled'" : "disabled='disabled'")) />*@
                                    </td>
                                    <td>
                                        @if (Model.TYPE == "Delete")
                                        {
                                            <input type="submit" name="btnControl" value="確定" id="btnControl" class="ButtonFooter" onclick="return block();">
                                            @*<input type="submit" id="btnControl" name="btnControl" class="ButtonFooter" Value="入出庫" />*@

                                        }
                                        else
                                        {
                                            <input type="submit" name="btnControl" value="確定" id="btnControl" class="ButtonFooter" style="display:none" onclick="return block();">
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

}


<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script>
<script type="text/javascript">

    function selectReportPlace(id) {
        $("#REPORT_PLACE_KEY").val(id);
    }
    function selectReportYMD(id) {
        $("#REPORT_YMD").val(id);
    }

    function Cleartext(Id) {
        if (Id == "Location") {
            $("#Locationidval").val("");
            $('#lstLocation1').empty();
        } else {
            $("#UsageLocationidval").val("");
            $('#lstLocation2').empty();
        }

    }

    $(document).ready(function () {

        $(function () {
            $("#txtReportName").bind('paste', function () {
                setTimeout(function () {
                    var data = $('#txtReportName').val();
                    var dataFull = data.replace(/[\^\&\|\?\.\-\\]/gi, '');
                    alert(dataFull)
                    $('#txtReportName').val(dataFull);
                });
            });
        });

        $(function () {
            $("#datepicker").bind('paste', function () {
                setTimeout(function () {
                    var data = $('#datepicker').val();
                    var dataFull = data.replace(/[\^\&\|\?\.\-\\]/gi, '');
                    $('#datepicker').val(dataFull);
                });
            });
        });

        $(function () {
            $("#txtReportSubmit").bind('paste', function () {
                setTimeout(function () {
                    var data = $('#txtReportSubmit').val();
                    var dataFull = data.replace(/[\^\&\|\?\.\-\\]/gi, '');
                    $('#txtReportSubmit').val(dataFull);
                });
            });
        });


        /*Disable all input type="text" box*/
        //$('#form1 input[type="text"]').prop("disabled", true);
        ///*Disable textarea using id */
        //$('#form1 #lstLocation1').prop("disabled", true);
        //$('#form1 #lstLocation1').prop("disabled", true);


        //$("#RegisterFire").attr("disable","disabled");
        $("#RefRegisterFire").attr("disable", "disabled");
        $("#UpdFire").attr("disable", "disabled");
        $("#lblMsgNew").hide();
        $("#lblMsgUpd").hide();
        $("#lblMsgRef").hide();
        $("#lblMsgDel").hide();

        //$("#btnControl").hide();

        $("#RegisterFire").click(function () {
            $("#regFlag").val(3);
            var formdata = $('form').serialize();
            $.ajax({
                url: "/ZC050/InputCheck",
                type: "POST",
                cache: false,
                data: formdata,
                success: function (data) {
                    if (data != "") {
                        alert(data);
                        return false;
                    }
                    else {
                        $("#RegisterFire").hide();
                        $("#RefRegisterFire").hide();
                        $("#UpdFire").hide();
                        $("#btnCsvOutput").hide();
                        $("#lblMsgNew").show();
                        $("#btnControl").show();
                        //$("#txtReportName").prop('readonly', true);
                        //$("#datepicker").prop('readonly', true);
                        //$('.ui-datepicker-trigger').on('click', function () {
                        //    $('.ui-datepicker-trigger').off('click');
                        //});

                        //$("#datepicker").on('click', function () {
                        //   $("#datepicker").off('click');
                        //});
                        $("#datepicker").datepicker("option", "disabled", true);

                        //$("#txtReportSubmit").prop('readonly', true);

                        //$("#btnBack_Click").prop('disabled', false);
                        $("#reportPlaceKey").prop('disabled', true);
                        $("#labelMode").val("0");
                        $("input[type=text]").prop('readonly', true);
                        $("#StorageLocationAdd").hide();
                        $("#StroageLocationDelete").hide();
                        $("#UsageLocationAdd").hide();
                        $("#UsageLocationDelete").hide();
                        $("#btnControl").prop('disabled', false);
                        return false;
                    }
                },
                error: function () {
                    return false;
                }
            })
            return false;
        });

        $("#UpdFire").click(function () {
            $("#regFlag").val(1);
            var formdata = $('form').serialize();
            $.ajax({
                url: "/ZC050/InputCheck",
                type: "POST",
                cache: false,
                data: formdata,
                success: function (data) {
                    if (data != "") {
                        alert(data);
                        return false;
                    }
                    else {
                        $("#RegisterFire").hide();
                        $("#RefRegisterFire").hide();
                        $("#UpdFire").hide();
                        $("#btnCsvOutput").hide();
                        $("#lblMsgUpd").show();
                        $("#btnControl").show();
                        $("#datepicker").datepicker("option", "disabled", true);

                        //$("#txtReportSubmit").prop('readonly', true);

                        //$("#btnBack_Click").prop('disabled', false);
                        $("#labelMode").val("0");
                        $("#lblMsgUpd").show();
                        $("#reportPlaceKey").prop('disabled', true);
                        $("input[type=text]").prop('readonly', true);
                        $("#StorageLocationAdd").hide();
                        $("#StroageLocationDelete").hide();
                        $("#UsageLocationAdd").hide();
                        $("#UsageLocationDelete").hide();
                        $("#btnControl").prop('disabled', false);
                        return false;
                    }
                },
                error: function () {
                    return false;
                }
            })
            return false;
        });

        $("#RefRegisterFire").click(function () {
            $("#regFlag").val(2);
            var formdata = $('form').serialize();
            $.ajax({
                url: "/ZC050/InputCheck",
                type: "POST",
                cache: false,
                data: formdata,
                success: function (data) {
                    if (data != "") {
                        alert(data);
                        return false;
                    }
                    else {
                        $("#RegisterFire").hide();
                        $("#RefRegisterFire").hide();
                        $("#UpdFire").hide();
                        $("#btnCsvOutput").hide();
                        $("#lblMsgRef").show();
                        $("#btnControl").show();
                        $("#datepicker").datepicker("option", "disabled", true);

                        //$("#txtReportSubmit").prop('readonly', true);

                        //$("#btnBack_Click").prop('disabled', false);
                        $("#labelMode").val("0");
                        $("#reportPlaceKey").prop('disabled', true);
                        $("input[type=text]").prop('readonly', true);
                        $("#StorageLocationAdd").hide();
                        $("#StroageLocationDelete").hide();
                        $("#UsageLocationAdd").hide();
                        $("#UsageLocationDelete").hide();
                        $("#btnControl").prop('disabled', false);

                        return false;
                    }
                },
                error: function () {
                    return false;
                }
            })
            return false;
        });


        $("#btnCSVInputCheck").click(function () {
            $("#regFlag").val(4);
            var formdata = $('form').serialize();
            $.ajax({
                url: "/ZC050/btnCSVInputCheck",
                type: "POST",
                cache: false,
                data: formdata,
                success: function (data) {
                    if (data != "") {
                        alert(data);
                        return false;
                    }
                    else {
                        $("#RegisterFire").hide();
                        $("#RefRegisterFire").hide();
                        $("#UpdFire").hide();

                        return false;
                    }
                },
                error: function () {
                    return false;
                }
            })
            return false;
        });

        var options = $.extend({}, // empty object
            $.datepicker.regional["ja"], {
            dateFormat: "yy/mm/dd",
            buttonImageOnly: true,
            buttonText: "Select date",
            id: "selectDate",
            showOn: "button",
            buttonImage: "../Image/calendar.png",
        } // your custom options
        );

        $("#lstLocation1").text($("#locname1").val());
        $("#lstLocation2").text($("#locname2").val());

        $("#datepicker").datepicker(options);

        $("#StorageLocationAdd").click(function () {

            var locids = $("#Locationidval").val();
            url = '../ZC010/ZC01081?TableName=M_STORING_LOCATION&ColumnName=P_LOC_ID&SelectType=2&Id=' + locids + '';
            window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');
        });

        $("#UsageLocationAdd").click(function () {
            var locids = $("#UsageLocationidval").val();
            url = '../ZC010/ZC01081?TableName=M_USAGE_LOCATION&ColumnName=P_LOC_ID&SelectType=2&Id=' + locids + '';
            window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');
        });

        function StorageLocDeatilsAdd() {
            $.ajax({
                type: "POST",
                url: "/ZC050/GetStorageLocDetails",
                cache: false,
                success: function (data) {
                    alert(data);
                    $('#lstLocation1').empty();
                    $.each($(data), function (key, value) {
                        $('#lstLocation1').append('<option value=' + key + '>' + value + '</option>');
                    });
                },
                error: function () {
                    alert("エラーが発生！！")
                }
            });
        }

        function RegulationDetailsAdd() {
            $.ajax({
                type: "POST",
                url: "/ZC110/GetRegulationDetails",
                cache: false,
                success: function (data) {
                    $('#RegulationGrid tbody').empty();
                    if (data != null || data != "" || data != "undefined") {

                        $('#RegulationGrid tbody').append(data);
                    }
                },
                error: function () {
                    alert("エラーが発生！！")
                }
            });
        }

        $("input").change(function () {
            var value = this.value;
            var fireValue = value || 0;

            var value = fireValue / 100;

            if (!isNaN(value) && value !== Infinity) {
                $("#sum").text(value);
            }

        });

    });

    function txtOnChange(id, txtvalue) {
        var txtFireSizeTotal = $('#txtFireSizeTotal').text();
        var lblMultipleTotal = $('#lblMultipleTotal').text();
        var lblMultiple = $('#lblMultiple' + id).text();
        var regTypeId = $('#hdnRegTypeId' + id).val();
        var hdnFireSize = $('#hdnFireSize' + id).val();


        if (txtvalue == "") {
            alert("hi");
            $.ajax({
                type: "GET",
                url: "/ZC050/GetTblFireValue",
                data: { "id": id, "txtvalue": txtvalue, "txtFireSizeTotal": txtFireSizeTotal, "lblMultipleTotal": lblMultipleTotal, "regTypeId": regTypeId, "lblMultiple": lblMultiple, "hdnFireSize": hdnFireSize },
                cache: false,
                success: function (data) {
                    if (data != null) {
                        var lblMultiple = data[0];
                        var txtFireSize = data[1];
                        var fireSizeTotal = data[2];
                        var lblMultipleTotal = data[3];

                        $('#lblMultiple' + id).text(lblMultiple);
                        $('#txtFireSize' + id).val(txtFireSize);
                        $('#txtFireSizeTotal').text(fireSizeTotal);
                        $('#lblMultipleTotal').text(lblMultipleTotal);
                    }

                },
                error: function () {
                    return false;
                }
            });
        }
        else if (!$.isNumeric(txtvalue)) {
            $('#txtFireSize' + id).val("");
            $('#lblMultiple' + id).val("");
        }
        else {
            $.ajax({
                type: "GET",
                url: "/ZC050/GetTblFireValue",
                data: { "id": id, "txtvalue": txtvalue, "txtFireSizeTotal": txtFireSizeTotal, "lblMultipleTotal": lblMultipleTotal, "regTypeId": regTypeId, "lblMultiple": lblMultiple, "hdnFireSize": hdnFireSize },
                cache: false,
                success: function (data) {
                    if (data != null) {
                        var lblMultiple = data[0];
                        var txtFireSize = data[1];
                        var fireSizeTotal = data[2];
                        var lblMultipleTotal = data[3];

                        $('#lblMultiple' + id).text(lblMultiple);
                        $('#txtFireSize' + id).val(txtFireSize);
                        $('#txtFireSizeTotal').text(fireSizeTotal);
                        $('#lblMultipleTotal').text(lblMultipleTotal);
                    }

                },
                error: function () {
                    return false;
                }
            });
        }
        return false;
    }

    function setStorageLocValue() {
        var locationId = $("#Locationidval").val();
        //alert(locationId);
        $.ajax({
            url: '/ZC050/GetStorageLocName',
            type: 'GET',
            data: { 'locId': locationId },
            //dataType: 'json',
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    //alert(data);
                    //var lblMultiple = data[0];
                    //var txtFireSize = data[1];
                    //alert(data);
                    $("#lstLocation1").text(data);
                    $("#Locationname").val(data);
                }
                return false;
            },
            error: function (err) {
                //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                return false;
            }
        });
        return false;
    }

    function setUsageLocValue() {
        var usagelocationId = $("#UsageLocationidval").val();
        //alert(usagelocationId);
        $.ajax({
            url: '/ZC050/GetUsageLocName',
            type: 'GET',
            data: { 'locId': usagelocationId },
            success: function (data) {
                if (data != "") {
                    //alert(data);
                    $("#lstLocation2").text(data);
                    $("#Locationname").val(data);
                }
                return false;
            },
            error: function (err) {
                //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                return false;
            }
        });
        return false;
    }


    function btnCSVInputCheck() {

        var reportName = $('#txtReportName').val();
        if (reportName == "") {
            alert("届出名称を入力してください。");
            return false;
        }
    }


</script>

