﻿@model ChemMgmt.Models.CsmsCommonInfo
@{
    WebGrid webGrid = new WebGrid(Model.ChemCommonList, canSort: false, canPage: false);
}

@Styles.Render("~/Content/csmscss")
@Scripts.Render("~/bundles/RegistrationScripts")
@{
    //string Mode;
    //string busychechid;
    //if (Request.QueryString["mode"] != null)
    //{
    //    Mode = Request.QueryString["mode"];
    //}
    //if (Request.QueryString["busychechid"] != null)
    //{
    //    busychechid = Request.QueryString["busychechid"];

    //}
    @Html.HiddenFor(m => m.hdnmode, new { value = "Mode", id = "hiddenmode", name = "hiddenmode" });

}
<script src="~/Scripts/jquery.cookie.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#AllWebGrid').DataTable({
            "sScrollX": "500px",
            "sScrollY": "400px",
            "sScrollXInner": "100%",
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": true,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" },
            "columnDefs": [
                { "width": "10px", "targets": 0 },
                { "width": "100px", "targets": 1 },
                { "width": "40px", "targets": 2 },
                { "width": "150px", "targets": 3 },
                { "width": "200px", "targets": 4 },
                { "width": "200px", "targets": 5 },
                { "width": "300px", "targets": 6 },
                { "width": "250px", "targets": 7 },
                { "width": "250px", "targets": 8 }

            ],
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#SelectAllWebGrid').DataTable({
            "sScrollX": "500px",
            "sScrollY": "400px",
            "sScrollXInner": "50%",
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": true,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" },
            "columnDefs": [
                { "width": "18px", "targets": 0 },
                { "width": "60px", "targets": 1 },
                { "width": "60px", "targets": 2 },
                { "width": "60px", "targets": 3 },
                { "width": "60px", "targets": 4 },
                { "width": "60px", "targets": 5 }

            ],
        });

    });
</script>

<style type="text/css">

    .col-sm {
        min-width: 1150px;
    }

    .col-sm1 {
        min-width: 300px;
    }

    .col-sm2 {
        min-width: 300px;
    }

    .col-sm3 {
        max-width: 60px;
    }

    .col-sm4 {
        min-width: 50px;
    }


    .dataTables_scrollBody thead tr[role="row"] {
        visibility: collapse !important;
    }

    .webgrid-table {
        width: 100%;
        display: table;
        padding: 0px 40px 0px;
        border-collapse: collapse;
        border-collapse: collapse;
    }

        .webgrid-table th {
            font-size: small;
            border-collapse: collapse;
            border: 1px solid #fff;
            padding: 0.3rem;
            text-align: left;
        }

        .webgrid-table td {
            border-left: 1px solid black;
            padding: 0px 40px 0px;
            font-size: small;
            border-collapse: collapse;
            padding: 0.3rem;
            text-align: left;
        }

    .webgrid-header {
        background-color: maroon;
        text-align: center;
        background-color: White;
        border-width: 2px;
        border-style: Solid;
        font-size: Small;
        border-collapse: collapse;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        background-color: maroon;
        white-space: nowrap;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        background-color: white;
    }

    .webgrid-alternating-row {
        background-color: seashell;
    }

    .webgrid-header a {
        color: #ffffff;
    }

    .webGrid :hover th {
        cursor: pointer;
    }
</style>
<div id="header">
    <div class="titleField">
        <div class="logo">
        </div>
        <div class="infoSet">
            <span id="FormTitle" class="formTitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">【含有物検索】 </font></font></span>
            <br>
            <span id="FormUserName" class="formUserName"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName</font></font></span>
        </div>
    </div>
</div>
<hr />
<script type="text/javascript">
    var window;
    function OpenTreePopup(id) {
        var url = "../ZC110/ZC11020?ChemCd=" + id + "&Mode=3";
        window = window.open(url, 'popUpWindow', 'height=750,width=1300,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');
        return false;
    }
    function closePopup() {
        window.close();
    }
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (TempData["msg"] != null)
    {
        @Html.Raw(TempData["msg"])
    }
    <div class="form-horizontal">
        <table cellspacing="0" id="SearchFormView" style="border-collapse:collapse; width:99%">
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="ioSection ioSectionSearch">
                            <!-- 列1 -->
                            <div class="ioFieldLong">
                                <div class="ioSet">
                                    <div class="label">
                                        <Label for="Name of substance">物質名：</Label>
                                    </div>
                                    <div class="io">
                                        @Html.DropDownListFor(model => model.CHEM_NAME_CONDITION, Model.LookupChemNameCondition, new { @class = "searchCondition" })
                                        @Html.TextBoxFor(item => item.CHEM_NAME, new { @class = "textBox halfWidth" })
                                    </div>
                                </div>
                                @if (Model.hdnmode != 1)
                                {
                                    <div class="ioSet">
                                        <div class="label">
                                            <Label for="Chemical substance 半ード(half angle)">化学物質コード(半角)：</Label>
                                        </div>
                                        <div class="io">
                                            @Html.DropDownListFor(model => model.CHEM_CD_CONDITION, Model.LookupChemNameCondition, new { @class = "searchCondition" })
                                            @Html.TextBoxFor(item => item.CHEM_CD, new { @class = "textBox halfWidth" })
                                        </div>
                                        @*</asp:Panel>*@
                                    </div>
                                }

                                <div class="ioSet">
                                    <div class="label">
                                        <Label for="CAS# (half-width)">CAS#(半角)：</Label>
                                    </div>
                                    <div class="io">
                                        @Html.DropDownListFor(model => model.CAS_NO_CONDITION, Model.LookupChemNameCondition, new { @class = "searchCondition" })
                                        @Html.TextBoxFor(item => item.CAS_NO, new { id = "CAS_NO", @class = "textBox halfWidth" })
                                    </div>
                                </div>
                            </div>
                            @if (Model.hiddenbusyCheckid != null)
                            {
                                @Html.HiddenFor(m => m.hiddenbusyCheckid, new { id = "hdnbusycheckid", name = "hdnbusycheckid" });
                            }
                            <div class="buttonField">
                                <input type="submit" id="Search" value="検索" name="Search" class="button" formaction="ZC11021" />
                                <input type="submit" id="Clear" value="クリア" name="clear" class="button" formaction="ResetValues" />
                            </div>
                        </div>
                        <hr />
                        @if (Model.hdnmode == 1)
                        {
                            <div id="result">
                                <span id="SubContents_ResultCount" class="count" style="color:White;font-size:X-Large;font-weight:bold;">
                                    @if (Model.ChemCommonList != null && Model.ChemCommonList.Count() > 0)
                                    {
                                        <font style="vertical-align:inherit;"><span>件数:</span> @(Model.ChemCommonList.Count() - 1) 件</font>
                                    }
                                    else
                                    {
                                        <font style="vertical-align:inherit;"><span>件数:</span> 0 件</font>
                                    }
                                </span>

                                @Html.HiddenFor(m => m.hdnmode, new { value = "Mode", id = "hiddenmode", name = "hiddenmode" })
                                <label for="ResultCount" runat="server" CssClass="count" ForeColor="White" Font-Bold="True" Font-Size="X-Large" />
                                <div style="clear: both;" />
                                <div class="webGrid">
                                    @webGrid.GetHtml(
                                   htmlAttributes: new { id = "SelectAllWebGrid", @class = "Grid" },
                                   tableStyle: "webgrid-table",
                                   headerStyle: "webgrid-header",
                                   footerStyle: "webgrid-footer",
                                   alternatingRowStyle: "webgrid-alternating-row",
                                   rowStyle: "webgrid-row-style",
                                   mode: WebGridPagerModes.All,
                                   columns: webGrid.Columns(
                                          webGrid.Column(format: @<text> <input type="radio" value="@item.CHEM_CD" name="ChemCdGrid" id="checkbox" /> </text>
),
webGrid.Column("CHEM_NAME", "物質名", style: "col-sm2", format: @<text><a href="" onclick="return OpenTreePopup('@item.CHEM_CD')">@item.CHEM_NAME</a></text>),
webGrid.Column("CAS_NO", "CAS#", style: "col-sm3"),
webGrid.Column("DENSITY", "比重", style: "col-sm3"),
webGrid.Column("FIGURE_NAME", "形状", style: "col-sm3"),
webGrid.Column("CHEM_CAT", "分類", style: "col-sm3")
))
                                </div>
                            </div>
                        }
                        @if (Request.QueryString["mode"] == null && Model.hdnmode != 1)
                        {
                            <div id="result">
                                <span id="SubContents_ResultCount" class="count" style="color:White;font-size:X-Large;font-weight:bold;">
                                    @if (Model.ChemCommonList != null && Model.ChemCommonList.Count() > 0)
                                    {
                                        if (Model.ChemCommonList.Count() > 500)
                                        {
                                            <font style="vertical-align:inherit;"><span>件数:</span> @(Model.ChemCommonList.Count() - 1) 件</font>
                                        }
                                        else
                                        {
                                            <font style="vertical-align:inherit;"><span>件数:</span> @Model.ChemCommonList.Count() 件</font>
                                        }
                                    }
                                    else
                                    {
                                        <font style="vertical-align:inherit;"><span>件数:</span> 0 件</font>
                                    }
                                </span>
                                <label for="ResultCount" runat="server" CssClass="count" ForeColor="White" Font-Bold="True" Font-Size="X-Large" />
                                <div style="clear: both;" />
                                <div class="webGrid">
                                    @webGrid.GetHtml(
                               htmlAttributes: new { id = "AllWebGrid", @class = "Grid" },
                               tableStyle: "webgrid-table",
                               headerStyle: "webgrid-header",
                               footerStyle: "webgrid-footer",
                               alternatingRowStyle: "webgrid-alternating-row",
                               rowStyle: "webgrid-row-style",
                               mode: WebGridPagerModes.All,
                               columns: webGrid.Columns(
                                      webGrid.Column(format: @<text> <input type="checkbox" value="@item.CHEM_CD" name="ChemCdGrid" id="checkbox" /> </text>
),
webGrid.Column("CHEM_CD", "化学物質コード", style: "col-sm3"),
webGrid.Column("CHEM_NAME", "物質名", style: "col-sm3"),
webGrid.Column("CAS_NO", "CAS#", style: "col-sm3"),
webGrid.Column("CHEM_CAT", "形状", style: "col-sm3"),
webGrid.Column("DENSITY", "比重", style: "col-sm3"),
webGrid.Column("REGULATION", "法規制", style: "col-sm3"),
webGrid.Column("GHS", "GHS分類", style: "col-sm3"),
webGrid.Column("MEMO", "備考", style: "col-sm3")
))
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        @if (Model.ChemCommonList != null)
        {
            <div id="footer">
                <hr>
                <div class="buttonFieldLeft">
                </div>
                @if (Request.QueryString["mode"] == "1" || Model.hdnmode == 1)
                {
                    <font style="text-align:left;">
                        <font style="text-align:left;">
                            <input type="button" name="footerButton2" value="未登録" id="footerButton2" class="ButtonFooter" onclick="return AddUnRegChemChemicalCode();">
                        </font>
                    </font>
                }
                <div class="buttonField">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <input type="button" name="footerButton0" value="選択 " id="AddChem" onclick="return AddChemChemicalCode();" class="ButtonFooter" />
                        </font>
                    </font>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <input type="button" name="footerButton1" value="閉じる" id="footerButton1" class="ButtonFooter" onclick="window.close();">
                        </font>
                    </font>
                    <br />
                    <br />
                </div>
                <br />
            </div>
        }
    </div>
}
<script>
    $(document).ready(function () {
        $(function () {
            $("#Search").click(function (e) {
                 $.blockUI({ message: '<p>読み込み中...</p>' });
                var data = $('form').serialize();
                $.ajax({
                    url: "/ZC110/Maxcountresult",
                    type: "post",
                    cache: false,
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        if (data[0] >= 0) {
                            var SearchCount = data[0];
                            var Fixedcount = data[1];
                            if (SearchCount > Fixedcount) {
                                $("#result").hide();
                                if (confirm("{" + Fixedcount + "} 件以上({ " + SearchCount + "}件)ヒットしました。上位{ " + Fixedcount + " } 件の検索結果を表示します。\n全件表示する場合はリスト出力を行ってください。")) {
                                    $("#result").show();
                                } else {
                                    document.location = '@Url.Action("ZC11021", "ZC110")';
                                    e.preventDefault();
                                }
                            }
                        }
                    },
                    error: function () {
                        return false;
                    }
                });
            });
        });
    });


    function block() {
            $.blockUI({ message: '<p>読み込み中...</p>' });
        }

        function Unblock() {
            $.unblockUI();
        }
    function AddChemChemicalCode() {
        var checked = $("input[name='ChemCdGrid']:checked").length;
        if (checked == "0") {
            alert("対象が選択されていません。");

            return false;
        }
        else {
             $.blockUI({ message: '<p>読み込み中...</p>' });
            var ChemCd = [];
            $.each($("input[name='ChemCdGrid']:checked"), function () {
                ChemCd.push($(this).val());
            });
            var busycheck = $("#hdnbusycheckid").val();
            $.ajax({
                url: '/ZC110/AddContainedIds',
                type: 'POST',
                data: { 'ContainedIds': ChemCd.join(","),'busycheckId': busycheck },
                success: function (data) {
                    if (data > 0)
                    {
                        var mode = 1;
                        window.location.href = "../ZC110/ZC11021?mode="+ mode +"&BusyoCheck="+busycheck+"&data="+data;
                        return false;
                    }
                    else
                    {
                      window.opener.LoadContainedDetails();
                      window.close();
                    }

                },
                error: function (err) {
                    return false;
                }
            });
            return false;
        }
        return false;
    }

    function AddUnRegChemChemicalCode() {
         $.blockUI({ message: '<p>読み込み中...</p>' });
                var ChemCd='C000000000';
                    $.ajax({
                        url: '/ZC110/AddContainedIds',
                        type: 'POST',
                        data: { 'ContainedIds': ChemCd },
                        success: function (data) {
                            window.opener.LoadContainedDetails();
                            window.close();
                        },
                        error: function (err) {
                            return false;
                        }
                    });
                    return false;
         }



</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>
@*<script>
        $(document).ready(function () {
            $("th:first").css("width", "18px");
        });
    </script>*@
