﻿@model ChemMgmt.Models.CsmsCommonInfo
@{
    WebGrid webGrid = new WebGrid(Model.ChemCommonList, canSort: false, canPage: false);
}
@Styles.Render("~/Content/csmscss")
@Scripts.Render("~/bundles/RegistrationScripts")


<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#SelectAllWebGrid').DataTable({
            "sScrollX": "0",
            "sScrollY": "400px",
            "sScrollXInner": "10%",
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }
        });

        $(".dataTable-column-checkbox").on("checked", function () {
            alert(0);
        });

        function block() {
            $.blockUI({ message: '<p>読み込み中...</p>' });
        }

        function Unblock() {
            $.unblockUI();
        }
        $('.ui-autocomplete-input').css('width', '1000px')
        $('#combobox > input.ui-autocomplete-input').css('width', '3000px')

        if (@Html.Raw(Json.Encode(TempData["DBCall"])) != null) {
             var InputValues = $('form').serialize();
            $.ajax({
                type: "POST",
                data:InputValues,
                url: "/ZC110/GetAllRecords",
                cache: false,
                success: function (data) {

                },
                error: function () {

                }
            });
        }
    });


</script>
<script type="text/javascript">
    function NewRegister() {
        var mode = 0;
        window.location.href = "../ZC110/ZC11020?mode=" + mode + "&TempFlag=5"
    }    
</script>
<style type="text/css">
    .col-sm {
        min-width: 1150px;
    }

    .col-sm1 {
        min-width: 300px;
    }

    .col-sm2 {
        min-width: 40px;
    }

    .col-sm3 {
        min-width: 350px;
    }

    .col-sm4 {
        min-width: 50px;
    }

    .to-the-right {
        text-align: right;
    }

       .webgrid-table {
        width: 100%;
        display: table;
        border-collapse: collapse;       
      
    }

        .webgrid-table th {
            border: 1px solid black;
            font-size: small;
            border-collapse: collapse;
            border: 1px solid #999;           
            padding: 0.3rem;
            text-align: left;
        }

        .webgrid-table td {
            border-left: 1px solid black;           
            font-size: small;
            border-collapse: collapse;
            padding: 0.3rem;
            text-align: left;
            white-space: nowrap;
        }

    .webgrid-header {
        background-color: maroon;
        text-align: center;
        background-color: White;
        border-width: 2px;
        border-style: Solid;
        font-size: Small;
        border-collapse: collapse;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        background-color: maroon;
        white-space: nowrap;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        background-color: white;
    }

    .webgrid-alternating-row {
        background-color: seashell;
    }

    .webgrid-header a {
        color: #ffffff;
    }

    .webGrid :hover th {
        cursor: pointer;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .ui-autocomplete {
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-input {
        width: 90%;
        position: relative;
        left: 7px;
        border-radius: 0px !important;
        border: 1px #F0FFFF;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
        border: 1px solid skyblue !important;
        background-color: skyblue !important;
         -webkit-text-fill-color: #F0FFFF;
    }

    .ui-widget.ui-widget-content {
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        background: #fff !important;
    }

    .ui-autocomplete-input, ui-menu-item-wrapper {
        background-color: white;
        color: white;
        color: black;
    }

    .ui-widget-content {
        background: white;
    }

    .dataTables_scrollBody thead tr[role="row"] {
        visibility: collapse !important;
    }
</style>
<script type="text/javascript">
    var window;
    function OpenTreePopup(id) {
        var url = "../ZC110/ZC11020?ChemCd=" + id + "&Mode=3";
        window = window.open(url, 'popUpWindow', 'height=750,width=1300,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes'); 
        return false;
    }
    function closePopup() {
        window.close();
    }
</script>
<form id="searchfrm" name="searchfrm" method="post">
    <section id="loginForm">
        <div id="header">
            <div class="titleField">
                <div class="logo"></div>
                <div class="infoSet">
                    <span id="FormTitle" class="formTitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">【化学物質マスター検索】 </font></font></span>
                    <br>
                    @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                    {
                        <span id="FormUserName" class="formUserName"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</font></font></span>
                    }
                    else
                    {
                        @Url.Action("ZC01001", "ZC010");
                    }

                </div>
            </div>
            <div class="buttonField">
                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="button" name="headerButton2" value="戻る" id="headerButton2" onclick="window.location.href='@Url.Action("SearchBack", "ZC110")'" class="ButtonHeader"></font></font>
            </div>
        </div>
        @Html.AntiForgeryToken()
        <hr />
        <div class="form-horizontal">
            <div class="ioSection ioSectionSearch">
                <div class="ioFieldLong">

                    <div class="ioSet">
                        <div class="label">
                            <label for="lblCHEM_SEARCH_TARGET">検索対象：</label>
                        </div>
                        <div class="io">
                            @if (Request.QueryString["mode"] != "7")
                            {
                                @Html.RadioButtonFor(model => model.CHEM_SEARCH_TARGET, 0)
                                <label for="sizeSmall">化学物質</label>
                                @Html.RadioButtonFor(model => model.CHEM_SEARCH_TARGET, 1)
                                <label for="sizeMed">商品</label>
                            }
                            else if (Request.QueryString["mode"] == "7")
                            {
                                @Html.RadioButtonFor(model => model.CHEM_SEARCH_TARGET, 0)
                                <label for="sizeSmall">化学物質</label>
                                @Html.RadioButtonFor(model => model.CHEM_SEARCH_TARGET, 1,new { @checked="checked"})
                                <label for="sizeMed">商品</label>
                            }
                        </div>
                    </div>
                    @Html.Hidden("hiddenChemCode")
                    <div class="ioSet">
                        <div class="label">
                            <Label for="Classification">分類：</Label>
                        </div>
                        <div class="io">
                            @Html.DropDownListFor(model => model.CHEM_CAT, new SelectList(ViewBag.ddl.LookupClassification, "Value", "Text"), new { @class = "dropDownList" })
                        </div>
                    </div>
                    <div class="ioSet">
                        <div class="label">
                            <label for="Chemical substance code">化学物質コード(半角)：</label>
                        </div>
                        <div class="io">
                            @Html.DropDownListFor(m => m.CHEM_CD_CONDITION, new SelectList(ViewBag.ddl.LookupChemSubCode, "Value", "Text"), new { @class = "searchCondition" })
                            @Html.TextBoxFor(model => model.CHEM_CD, null, new { @class = "textBox halfWidth" })
                        </div>
                    </div>
                    <div class="ioSet">
                        <div class="label">
                            <label for="Chemical substance name">化学物質名：</label>
                        </div>
                        <div class="io">
                            @Html.DropDownListFor(m => m.CHEM_NAME_CONDITION, new SelectList(ViewBag.ddl.LookupChemNameCondition, "Value", "Text"), new { @class = "searchCondition" })
                            @Html.TextBoxFor(model => model.CHEM_NAME, null, new { @class = "textBox" })
                        </div>
                    </div>


                    <div class="ioSet">
                        <div class="label">
                            <label for="Product name">商品名：</label>
                        </div>
                        <div class="io">
                            @Html.DropDownListFor(m => m.PRODUCT_NAME_CONDITION, new SelectList(ViewBag.ddl.LookupProductName, "Value", "Text"), new { @class = "searchCondition" })
                            @Html.TextBoxFor(model => model.PRODUCT_NAME, null, new { @class = "textBox" })

                        </div>
                    </div>

                    <div class="ioSet">
                        <div class="label">
                            <label for="CAS#">CAS#(半角)：</label>
                        </div>
                        <div class="io">
                            @Html.DropDownListFor(m => m.CAS_NO_CONDITION, new SelectList(ViewBag.ddl.LookupCas, "Value", "Text"), new { @class = "searchCondition" })
                            @Html.TextBoxFor(model => model.CAS_NO, null, new { id = "CAS_NO", @class = "textBox halfWidth" })
                        </div>
                    </div>

                    <div class="ioSet">
                        <div class="label">
                            <label for="shape">形状：</label>
                        </div>
                        <div class="io">
                            @Html.DropDownListFor(m => m.FIGURE,
                                      new SelectList(ViewBag.ddl.LookupFigure, "Value", "Text"), new { @class = "dropDownList" })
                        </div>
                    </div>

                    <div class="ioSet">
                        <div class="label">
                            <label for="Key management">鍵管理：</label>
                        </div>
                        <div class="io">
                            @Html.DropDownListFor(m => m.KEY_MGMT,
                                             new SelectList(ViewBag.ddl.LookupKeyMgmt, "Value", "Text"), new { @class = "dropDownList" })
                        </div>
                    </div>

                    <div class="ioSet">
                        <div class="label">
                            <label for="Weight management">重量管理：</label>
                        </div>
                        <div class="io">
                            @Html.DropDownListFor(m => m.WEIGHT_MGMT,
                                   new SelectList(ViewBag.ddl.LookupWeightMgmt, "Value", "Text"), new { @class = "dropDownList" })
                        </div>
                    </div>

                    <div class="ioSet">
                        <div class="label">
                            <label for="Laws and Regulations">法規制：</label>
                        </div>
                        <div class="io">
                            <input type="button" id="RegulationSelect" value="選択" Class="buttonLong" />
                            <input type="button" id="RegulationClear" value="クリア" Class="buttonLong" onclick="return Cleartext('Regulation');" />
                            <input type="button" class="btnregulation" name="reg" onclick="return setValue('Regulation');" style="visibility:hidden" />
                            @if (Model.REG_COLLECTION != null && Model.REG_COLLECTION.Count() > 0)
                            {
                                <label id="RegulationSelectionView">@Model.lblalreadySetValue</label>
                                @Html.HiddenFor(Model => Model.hiddenRegulationIds, new { id = "Regulation", Name = "REG_SELECTION" })
                            }
                            else
                            {

                                <label id="RegulationSelectionView"></label>
                                @Html.HiddenFor(Model => Model.hiddenRegulationIds, new { id = "Regulation", Name = "REG_SELECTION" })
                            }
                        </div>
                    </div>

                    <div class="ioSet">
                        <div class="label">
                            <label for="Fire Fighting Law">消防法：</label>
                        </div>
                        <div class="io">
                            <input type="button" id="FireSelect" value="選択" Class="buttonLong" />
                            <input type="button" id="FireClear" value="クリア" Class="buttonLong" onclick="return Cleartext('fire');" />

                            <input type="button" class="btnfire" name="fire" onclick="return setValue('fire');" style="visibility:hidden" />
                            @if (Model.FIRE_COLLECTION != null && Model.FIRE_COLLECTION.Count() > 0)
                            {
                                <label id="FireSelectionView">@Model.lblalreadySetValue</label>
                                @Html.HiddenFor(Model => Model.hiddenfire, new { id = "Fire", Name = "FIRE_SELECTION" })
                            }
                            else
                            {
                                <label id="FireSelectionView"></label>
                                @Html.HiddenFor(Model => Model.hiddenfire, new { id = "Fire", Name = "FIRE_SELECTION" })
                            }
                        </div>
                    </div>

                    <div class="ioSet">
                        <div class="label">
                            <label for="Internal rules">社内ルール：</label>
                        </div>
                        <div class="io">
                            <input type="button" id="OfficeSelect" value="選択" Class="buttonLong" />
                            <input type="button" id="OfficeClear" value="クリア" Class="buttonLong" onclick="return Cleartext('office');" />

                            <input type="button" class="btnoffice" name="office" onclick="return setValue('office');" style="visibility:hidden" />
                            @if (Model.OFFICE_COLLECTION != null && Model.OFFICE_COLLECTION.Count() > 0)
                            {
                                <label id="OFFICESELECTIONVIEW">@Model.lblalreadySetValue</label>
                                @Html.HiddenFor(Model => Model.hiddenoffice, new { id = "Office", Name = "OFFICE_SELECTION" })
                            }
                            else
                            { <label id="OFFICESELECTIONVIEW"></label>
                                @Html.HiddenFor(Model => Model.hiddenoffice, new { id = "Office", Name = "OFFICE_SELECTION" })
                            }

                        </div>
                    </div>

                    <div class="ioSet">
                        <div class="label">
                            <label for="GHS Classification">GHS分類：</label>
                        </div>
                        <div class="io">
                            <input type="button" id="GasSelect" value="選択" Class="buttonLong" />
                            <input type="button" id="GasClear" value="クリア" Class="buttonLong" onclick="return Cleartext('GHS');" />

                            <input type="button" class="btnGasSelectionView" name="gas" value="" onclick="return setValue('GHS');" style="visibility:hidden" />
                            @if (Model.GAS_COLLECTION != null && Model.GAS_COLLECTION.Count() > 0)
                            {
                                <label id="GasSelectionView">@Model.lblalreadySetValue</label>
                                @Html.HiddenFor(Model => Model.hiddenGHS, new { id = "GhsCateogry", Name = "GAS_SELECTION" })
                            }
                            else
                            {
                                <label id="GasSelectionView"></label>
                                @Html.HiddenFor(Model => Model.hiddenGHS, new { id = "GhsCateogry", Name = "GAS_SELECTION" })
                            }
                        </div>
                    </div>

                    <div class="ioSet">
                        <div class="label">
                            <label for="lblMAKER_NAME" style="position: relative; top: 5px;">メーカー名：</label>
                        </div>
                        <div class="io">

                            <div class="contentcontainer med left" style="float:left" : 200px;">
                                @Html.DropDownListFor(m => m.MAKER_NAME_CONDITION, new SelectList(ViewBag.ddl.LookupManufacturerName, "Value", "Text"), new { @class = "searchCondition", @style = "position: relative; top: -2px;" })
                                @Html.DropDownListFor(m => m.MAKER_NAME, new SelectList(ViewBag.ddl.LookupOfManufacturer, "Text", "Text"), new { id = "combobox", @class = "dropDownListLong", @style = "Text" })

                            </div>
                            <input type="hidden" name="MAKER_NAME_HIDDEN" id="MAKER_NAME_HIDDEN" value="" />
                        </div>
                    </div>

                    <div class="ioSet">
                        <div class="label">
                            <label for="lblEXAMINATION">特殊健康診断：</label>
                        </div>
                        <div class="io">
                            @Html.DropDownListFor(m => m.EXAMINATION_FLAG, new SelectList(ViewBag.ddl.LookupSpeMedChekup, "Value", "Text", 2), new { @class = "searchCondition" })
                        </div>
                    </div>

                    <div class="ioSet">
                        <div class="label">
                            <label for="lblMEASUREMENT">作業環境測定：</label>
                        </div>
                        <div class="io">

                            @Html.DropDownListFor(m => m.MEASUREMENT_FLAG, new SelectList(ViewBag.ddl.LookupWorkEnvMeasurement, "Value", "Text", 2), new { @class = "searchCondition" })
                        </div>
                    </div>
                </div>
                <div class="ioFieldShort">
                    <div class="ioSet">
                        <div class="label">
                            <label for="lblContained">含有物：</label>
                        </div>
                        <div class="io">
                            @Html.DropDownListFor(m => m.IncludesContained, new SelectList(ViewBag.ddl.LookupContent, "Value", "Text"), new { @class = "searchCondition" })

                        </div>
                    </div>
                    <div class="ioSet">
                        <div class="label">
                            <label for="lblUSAGE_STATUS">状態：</label>
                        </div>
                        <div class="io">
                            @Html.DropDownListFor(m => m.USAGE_STATUS, new SelectList(ViewBag.ddl.LookupState, "Value", "Text"), new { @class = "searchCondition", @id = "Status" })
                        </div>
                    </div>
                </div>

                @if (ZyCoaG.Classes.util.Common.GetLogonForm().ADMIN_FLAG == "1")
                {
                    <div class="buttonField">
                        <input type="button" id="Search" value="検索" Class="button" formaction="ZC11010" />
                        <input type="submit" id="SearchClick" value="検索" Class="button" formaction="ZC11010" style="display:none" />
                        <input type="submit" id="clear" value="クリア" Class="button" formaction="ClearSearch" />
                        <input type="button" name="Regist" value="新規登録" onclick="return NewRegister();" class="button" />
                    </div>
                    <div class="buttonField">
                        <input type="submit" id="ListOutput" name="ListOutput" value="リスト出力" class="button" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") />
                    </div>
                    <div class="buttonField">
                        @if (Model.CHEM_SEARCH_TARGET == 1)
                        {
                            if (Model.USAGE_STATUS != 0)
                            {
                                <input type="submit" id="Accept" value="商品受入" class="button" disabled="disabled" />
                            }
                            else
                            {
                                <input type="submit" id="Accept" value="商品受入" class="button" onclick="return ProductAccept();" />
                            }
                        }
                        else
                        {
                            <input type="button" id="Accept" value="商品受入" class="button" disabled="disabled" />
                        }

                        <input type="button" id="btnEdit" class="button" value="編集" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") onclick="return EditPageClick();">
                        <input type="button" id="btnReferenceRegistration" value="参照登録" class="button" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") onclick="return RefreneceRegister()" />
                    </div>
                }
                else
                {
                    <div class="buttonField">
                        <input type="button" id="Search" value="検索" Class="button" formaction="ZC11010" />
                        <input type="submit" id="SearchClick" value="検索" Class="button" formaction="ZC11010" style="display:none" />
                        <input type="submit" id="clear" value="クリア" Class="button" formaction="ClearSearch" />
                        <input type="button" name="Regist" value="新規登録" class="button" disabled="disabled" />
                    </div>

                    <div class="buttonField">
                        <input type="submit" id="ListOutput" name="ListOutput" value="リスト出力" class="button" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") />
                    </div>
                    <div class="buttonField">
                        <input type="submit" id="Accept" value="商品受入" class="button" disabled="disabled" />
                        <input type="button" id="btnEdit" class="button" value="編集" onclick="return EditPageClick();" disabled="disabled">
                        <input type="button" id="btnReferenceRegistration" value="参照登録" class="button" @(Model.ChemCommonList.Count() <= 0 ? "disabled='disabled'" : "") onclick="return RefreneceRegister()" disabled="disabled" />
                    </div>
                }

            </div>
        </div>
    </section>
    <hr />

    <input type="hidden" id="hdnGroupCd" name="hdnGroupCd">
    <input type="hidden" id="lblGroupName" name="lblGroupName">
    <input type="hidden" id="Regulationidval" name="Regulationidval">
    <div id="result">
        <span id="SubContents_ResultCount" class="count" style="color:White;font-size:X-Large;font-weight:bold;">
            <font style="vertical-align:inherit;"><span>件数:</span> @Model.ChemCommonList.Count()件</font>

        </span>
        <label for="ResultCount" runat="server" CssClass="count" ForeColor="White" Font-Bold="True" Font-Size="X-Large" />
        <div style="clear: both;" />
        <div style="height:auto; width:100%; overflow-x:hidden">
            <div id="resultGridOuter">
                <div id="resultGridInner">
                    <div>
                        <div class="webGrid">
                            @webGrid.GetHtml(
                         htmlAttributes: new { id = "SelectAllWebGrid" },
                         tableStyle: "webgrid-table",
                          headerStyle: "webgrid-header",
                           footerStyle: "webgrid-footer",
                                     alternatingRowStyle: "webgrid-alternating-row",
                                     rowStyle: "webgrid-row-style",

                         fillEmptyRows: false,
                         mode: WebGridPagerModes.All,
                         columns: webGrid.Columns(
                                webGrid.Column(format: @<text> <input type="checkbox" value="@item.CHEM_CD" name="chkRow" id="@item.MAKER_NAME_DEL_FLAG,@item.UNITSIZE_NAME_DEL_FLAG" class="selection" /> </text>),
webGrid.Column("CHEM_CD", "化学物質コード", style: "col-sm2"),
webGrid.Column("CHEM_NAME", "化学物質名", style: "col-sm2", format: @<text><a href="" onclick="return OpenTreePopup('@item.CHEM_CD')">@item.CHEM_NAME</a>
</text>), webGrid.Column("CHEM_CAT", "分類", style: "col-sm2"),
webGrid.Column("CAS_NO", "CAS #", style: "col-sm2"),
webGrid.Column("KEY_MGMT_NAME", "鍵管理", style: "col-sm2"),
webGrid.Column("WEIGHT_MGMT_NAME", "重量管理", style: "col-sm2"),
webGrid.Column("FIGURE_NAME", "形状", style: "col-sm2"),
webGrid.Column("MEMO", "備考", style: "col-sm2"),
webGrid.Column("USAGE_STATUS_NAME", "状態", style: "col-sm2"),
webGrid.Column("MAKER_NAME", "メーカー", style: "col-sm2"),
webGrid.Column("PRODUCT_NAME", "商品名", style: "col-sm2"),
webGrid.Column("UNITSIZE_NAME_JOIN", "容量", style: "col-sm2"),
webGrid.Column("PRODUCT_BARCODE", "商品バーコード", style: "col-sm2"),
webGrid.Column("EXPIRATION_DATE", "開封後有効期限", style: "col-sm2"),
webGrid.Column("REG_ACRONYM", "法規制", style: "col-sm2"),
webGrid.Column("EXAMINATION", "特殊健康診断", style: "col-sm2"),
webGrid.Column("MEASUREMENT", "作業環境測定", style: "col-sm2"),
webGrid.Column("GHS_ICON_PATH", "GHS分類", style: "col-sm2"),
webGrid.Column("FIRE_ACRONYM", "消防法", style: "col-sm2"),
webGrid.Column("OFFICE_ACRONYM", "社内ルール", style: "col-sm2"),
webGrid.Column("REF_CHEM_CD", "変更中化学物質コード", style: "col-sm2")))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $.unblockUI();
        var url = null;
        $("#Search").click(function () {
            var data = $('form').serialize();
            $.blockUI({ message: '<p>読み込み中...</p>' });
            $.ajax({
                url: "/ZC110/MaxCountResult",
                type: "post",
                cache: false,
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data[0] >= 0) {
                        var SearchCount = data[0];
                        var fixedcount = data[1];
                        if (SearchCount == fixedcount) {
                            //$.blockUI({ message: '<p>読み込み中...</p>' });
                            $('#SearchClick').trigger('click');
                        }
                        else if (SearchCount > fixedcount) {
                            $("#result").hide();
                            $.unblockUI();
                            if (confirm("{" + fixedcount + "} 件以上({ " + SearchCount + "}件)ヒットしました。上位{ " + fixedcount + " } 件の検索結果を表示します。\n全件表示する場合はリスト出力を行ってください。")) {
                                $.blockUI({ message: '<p>読み込み中...</p>' });
                                $('#SearchClick').trigger('click');

                            } else {
                                $('#clear').trigger('click');
                                $("#result").show();
                            }
                        } else {
                            $('#SearchClick').trigger('click');
                        }
                    }
                },
                error: function () {
                    //alert("「何かがおかしい」");
                    $.unblockUI();
                }
            });
        });       

        $("#RegulationSelect").click(function () {
            var regids = $("#Regulation").val();
            url = '../ZC010/ZC01081?TableName=M_REGULATION&ColumnName=P_REG_TYPE_ID&SelectType=2&RowId=&ClassId=Regulation&Id=' + regids + '';
            window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');

        });

        $("#FireSelect").click(function () {
            var fireids = $("#Fire").val();
            url = '../ZC010/ZC01081?TableName=M_REGULATION&ColumnName=P_REG_TYPE_ID&SelectType=2&RowId=&ClassId=Fire&Id=' + fireids + '';
            window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');

        });
        $("#OfficeSelect").click(function () {
            var officeIds = $("#Office").val();
            url = '../ZC010/ZC01081?TableName=M_REGULATION&ColumnName=P_REG_TYPE_ID&SelectType=2&RowId=&ClassId=Office&Id=' + officeIds + '';
            window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');

        });

        $("#GasSelect").click(function () {
            var Gas = $("#GhsCateogry").val();
            url = '../ZC010/ZC01081?TableName=M_REGULATION&ColumnName=P_REG_TYPE_ID&SelectType=2&RowId=&ClassId=Gas&Id=' + Gas + '';
            window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');

        });
    });

    var Status = "";
    function EditPageClick() {
        var checked = $("input[name='chkRow']:checked").length;
        var ChemCD = []; var mode = null;
        $.each($("input[name='chkRow']:checked"), function () {
            ChemCD.push($(this).val());
            var row = $(this).closest("tr")[0];
            Status = row.cells[9].innerHTML;
        });
        if (Status != "") {
            if (Status == "削除済み") {
                mode = 4;
            }
            else {
                mode = 2;
            }
        }
        if (checked > "1") {
            alert("対象が複数選択されています。");
            return false;

        } else if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        else {
            $.blockUI({ message: '<p>読み込み中...</p>' });
            var url = "../ZC110/ZC11020?ChemCd=" + ChemCD + "&mode=" + mode + "&TempFlag=5";
            window.location.href = url;
        }
        return false;
    }

    function RefreneceRegister() {
        var checked = $("input[name='chkRow']:checked").length;
        var ChemCD = []; var mode = 1;
        $.each($("input[name='chkRow']:checked"), function () {
            ChemCD.push($(this).val());
        });
        if (checked > "1") {
            alert("対象が複数選択されています。");
            return false;

        } else if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        else {
            $.blockUI({ message: '<p>読み込み中...</p>' });
            var url = "../ZC110/ZC11020?ChemCd=" + ChemCD + "&mode=" + mode + "&TempFlag=5";
            window.location.href = url;
        }
        return false;
    }


    $(function () {
        $.widget("custom.combobox", {
            _create: function () {
                this.wrapper = $("<span>")
                    .addClass("custom-combobox")
                    .insertAfter(this.element);

                this.element.hide();
                this._createAutocomplete();
                this._createShowAllButton();
            },

            _createAutocomplete: function () {
                var selected = this.element.children(":selected"),
                    value = selected.val() ? selected.text() : "";

                this.input = $("<input>")
                    .appendTo(this.wrapper)
                    .val(value)
                    .attr("title", "")                   
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy(this, "_source")
                    })
                    .tooltip({
                        classes: {
                            "ui-tooltip": "ui-state-highlight"
                        }
                    });

                this._on(this.input, {
                    autocompleteselect: function (event, ui) {
                        ui.item.option.selected = true;
                        this._trigger("select", event, {
                            item: ui.item.option
                        });
                    },

                    autocompletechange: "_removeIfInvalid"
                });
            },

            _createShowAllButton: function () {
                var input = this.input,
                    wasOpen = false;

                $("<a>")
                    .attr("tabIndex", -1)
                    .tooltip()
                    .appendTo(this.wrapper)
                    .button({
                        icons: {
                            primary: "ui-icon-triangle-1-s"
                        },
                        text: false
                    })
                    .removeClass("ui-corner-all")
                    .addClass("custom-combobox-toggle ui-corner-right")
                    .on("mousedown", function () {
                        wasOpen = input.autocomplete("widget").is(":visible");
                    })
                    .on("click", function () {
                        input.trigger("focus");

                        // Close if already visible
                        if (wasOpen) {
                            return;
                        }

                        // Pass empty string as value to search for, displaying all results
                        input.autocomplete("search", "");
                    });
            },

            _source: function (request, response) {
                var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                response(this.element.children("option").map(function () {
                    var text = $(this).text();
                    if (this.value && (!request.term || matcher.test(text)))
                        return {
                            label: text,
                            value: text,
                            option: this
                        };
                }));
            },

            _removeIfInvalid: function (event, ui) {

                // Selected an item, nothing to do
                if (ui.item) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children("option").each(function () {
                    if ($(this).text().toLowerCase() === valueLowerCase) {
                        this.selected = valid = true;
                        return false;
                    }
                });

                // Found a match, nothing to do
                if (valid) {
                    return;
                }

                // Remove invalid value
                this.input
                    .val("")
                    //.attr("title", value + " didn't match any item")
                    .tooltip("open");
                this.element.val("");
                this._delay(function () {
                    this.input.tooltip("close").attr("title", "");
                }, 2500);
                this.input.autocomplete("instance").term = "";
            },

            _destroy: function () {
                this.wrapper.remove();
                this.element.show();
            }
        });

        $("#combobox").combobox();
        $("#toggle").on("click", function () {
            $("#combobox").toggle();
        });
    });

   function setValue(Id) {
        if (Id == "GHS") {

            var GhsCateogry = $("#GhsCateogry").val();
            if (GhsCateogry != "") {
                $("#GasSelectionView").text("設定済み");
                return false;
            }
            else {
                $("#GasSelectionView").text("");
                return false;
            }
        }
        else if (Id == "office") {
            var Office = $("#Office").val();
            if (Office != "") {
                $("#OFFICESELECTIONVIEW").text("設定済み");
                return false;
            }
            else {
                $("#OFFICESELECTIONVIEW").text("");
                return false;
            }
        }
        else if (Id == "fire") {
            var Fire = $("#Fire").val();
            if (Fire != "") {
                $("#FireSelectionView").text("設定済み");
                return false;
            }
            else {
                $("#FireSelectionView").text("");
                return false;
            }
        }
        else if (Id == "Regulation") {
            var Regulation = $("#Regulation").val();
            if (Regulation != "") {
                $("#RegulationSelectionView").text("設定済み");
                return false;
            }
            else {
                $("#RegulationSelectionView").text("");
                return false;
            }
        }
    }


    function Cleartext(Id) {
        if (Id == "GHS") {
            $("#GasSelectionView").text("");
            $("#GhsCateogry").val("");
        }
        else if (Id == "office") {
            $("#OFFICESELECTIONVIEW").text("");
            $("#Office").val("");
        }
        else if (Id == "fire") {
            $("#FireSelectionView").text("");
            $("#Fire").val("");
        }
        else if (Id == "Regulation") {
            $("#RegulationSelectionView").text("");
            $("#Regulation").val("");
        }
    }


    function ProductAccept() {
        var checked = $("input[name='chkRow']:checked").length;
        var ChemCD = []; var mode = null;
        $.each($("input[name='chkRow']:checked"), function () {
            ChemCD.push($(this).val());
        });
        if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        else {
            $.ajax({
                type: "POST",
                url: "/ZC110/ProductAcceptence",
                cache: false,
                data: { 'ChemicalCodes': ChemCD.join(",") },
                success: function (data) {
                    if (data == "") {
                        window.location.href = "../ZC120/ZC12010?Id=" + ChemCD + "";
                    }
                    else {
                        alert(data);
                        return false;
                    }
                },
                error: function () {
                      return false;
                }
            });
        }
        return false;
    }

</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>
<script>
    $(document).ready(function () {
        $("th:first").css("width", "18px");
        $("th:first").html('<input type="checkbox" value="" name="headerchkRow" id="master" class="chkHeaderclass" />');

        $("#master").click(function () {
            var checkAll = $("#master").prop('checked');
            if (checkAll) {
                $(".selection").prop("checked", true);
            } else {
                $(".selection").prop("checked", false);
            }
        });

        $(".selection").click(function () {
            if ($(".selection").length == $(".selection:checked").length) {
                $("#master").prop("checked", true);
            } else {
                $("#master").prop("checked", false);
            }
        });
    });
</script>



