﻿
<!DOCTYPE html>

<html>
@{
    /*Get the name of the page to display corresponding controls*/

    var name = ViewContext.RouteData.GetRequiredString("action");

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (@name.Equals("ZC02001"))
    {
        @*<title>
                化学物質管理システム Ver.4.0【在庫検索画面】
            </title>*@
    }
    else if (@name.Equals("ZC02002"))
    {
        <title>
            化学物質管理システム Ver.4.0【在庫検索画面】
        </title>
    }
    else if (@name.Equals("ZC02004"))
    {
        <title>
            化学物質管理システム Ver.4.0【保管場所一括変更画面】
        </title>
    }
    else if (@name.Equals("ZC02021"))
    {
        <title>
            化学物質管理システム Ver.4.0【在庫詳細画面】
        </title>
    }
    else if (@name.Equals("ZC02022"))
    {
        <title>
            化学物質管理システム Ver.4.0【在庫リスト画面】
        </title>
    }
    else if (@name.Equals("ZC01041"))
    {
        <title>
            化学物質管理システム Ver.4.0【使用履歴検索（単一）】
        </title>
    }
    else if (@name.Equals("ZC04001"))
    {
        <title>在庫利用</title>
    }
    else if (@name.Equals("ZC12010"))
    {
        <title>
            化学物質管理システム Ver.3.0.10 【商品受入画面】
        </title>
    }

</head>

<body class="body" style="padding:10px">
    <!--Header Sections for different pages-->
    @*Inventory Search*@

    @*else*@
    @if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC02002")
    {
        @Styles.Render("~/bundles/Logincsmsscript")
        <script src="~/Scripts/jquery-1.4.1.js"></script>
        @Styles.Render("~/Content/csmscss")


        <div>
            <table class="TableUcHeader" style="width:99%">

                <tr>
                    <td rowspan="2" style="width: 130px">
                        <div id="header">
                            <div class="titleField">
                                <div class="logo">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="left" valign="bottom" class="auto-style1">
                        <label id="lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【在庫検索】</label>
                    <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                    <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                    <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                        <div class="io" align="left">
                            <fieldset style=border:none></fieldset>
                        </div>
                    </td>
                    <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                    <td style="width: 90px" rowspan="2" align="center" valign="middle">
                        <div ID="logout">

                        </div>
                    </td>
                    <td style="width: 112px" rowspan="2" align="center" valign="middle">
                        <div style="width: 112px;" />
                        @if (Request.QueryString["IdentityFlag"] == "M_USER")
                        {
                            <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC01021", "ZC010")'" />
                        }
                        else
                        {
                            <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC01011", "ZC010")'" />
                        }
                    </td>

                </tr>
                <tr>
                    <td style="width:700px;text-align:left;vertical-align:top">
                        @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                        {
                            <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                        }
                    </td>
                </tr>
            </table>
            <hr />
        </div>
    }



    @*Inventory View / Edit Screen*@

    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC02021")
    {
        @Styles.Render("~/bundles/Logincsmsscript")
        <script src="~/Scripts/jquery-1.4.1.js"></script>
        @Styles.Render("~/Content/csmscss")

        <div>
            <table class="TableUcHeader">
                <tbody>
                    <tr>

                        <td rowspan="2" style="width: 10px">
                            <div id="header">
                                <div class="titleField">
                                    <div class="logo">
                                    </div>
                                </div>
                            </div>
                        </td>


                        <td align="left" valign="bottom" class="auto-style1">
                            @if (Request.QueryString["isEdit"] == "0")
                            {
                                <label id="ucHeader_lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【在庫詳細】</label>
                            }
                            else
                            {
                                <label id="ucHeader_lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【在庫メンテナンス】</label>
                            }
                        </td>



                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                        <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                            <div class="io" align="left">
                                <fieldset style=border:none></fieldset>
                            </div>
                        </td>
                        <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 90px" rowspan="2" align="center" valign="middle">
                            <div ID="logout">

                            </div>
                        </td>
                        <td style="width: 112px" rowspan="2" align="center" valign="middle">
                            <div style="width: 112px;" />
                            @if (Request.QueryString["isEdit"] == "1")
                            {
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC02002", "ZC020",new { mode=3})'" />
                            }
                            else
                            {
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick=window.close(); />
                            }
                        </td>

                    </tr>
                    <tr>
                        <td style="width:700px;text-align:left;vertical-align:top">
                            @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                            {
                                <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr />
        </div>
    }

    @*Inventory View / Edit Screen*@

    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC01041")
    {
        @Styles.Render("~/bundles/Logincsmsscript")
        <script src="~/Scripts/jquery-1.4.1.js"></script>
        @Styles.Render("~/Content/csmscss")

        <div>
            <table class="TableUcHeader">
                <tbody>
                    <tr>

                        <td rowspan="2" style="width: 10px">
                            <div id="header">
                                <div class="titleField">
                                    <div class="logo">
                                    </div>
                                </div>
                            </div>
                        </td>


                        <td align="left" valign="bottom" class="auto-style1">

                            <label id="ucHeader_lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【使用履歴検索（単一）】</label>

                        </td>



                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                        <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                            <div class="io" align="left">
                                <fieldset style=border:none></fieldset>
                            </div>
                        </td>
                        <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 90px" rowspan="2" align="center" valign="middle">
                            <div ID="logout">

                            </div>
                        </td>
                        <td style="width: 112px" rowspan="2" align="center" valign="middle">
                            <div style="width: 112px;" />
                            @if (Request.QueryString["StockId"] != null)
                            {
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC02002", "ZC020",new { mode=1})'" />
                            }
                            else if (Request.QueryString["BottleFlow"] != null)
                            {
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC01011", "ZC010")'" />
                            }
                            else
                            {
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC01011", "ZC010")'" />
                            }
                        </td>

                    </tr>
                    <tr>
                        <td style="width:700px;text-align:left;vertical-align:top">
                            @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                            {
                                <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr />
        </div>
    }


    @*Inventory Batch Change Location*@

    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC02004")
    {
        @Styles.Render("~/bundles/Logincsmsscript")
        <script src="~/Scripts/jquery-1.4.1.js"></script>
        @Styles.Render("~/Content/csmscss")

        <div>
            <table class="TableUcHeader">
                <tbody>
                    <tr>

                        <td rowspan="2" style="width: 10px">
                            <div id="header">
                                <div class="titleField">
                                    <div class="logo">
                                    </div>
                                </div>
                            </div>
                        </td>


                        <td align="left" valign="bottom" class="auto-style1">

                            <label id="ucHeader_lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【保管場所一括変更】</label>

                        </td>



                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                        <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                            <div class="io" align="left">
                                <fieldset style=border:none></fieldset>
                            </div>
                        </td>
                        <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 90px" rowspan="2" align="center" valign="middle">
                            <div ID="logout">

                            </div>
                        </td>
                        <td style="width: 112px" rowspan="2" align="center" valign="middle">
                            <div style="width: 112px;" />
                            @if (Request.QueryString["isEdit"] == null)
                            {
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC02002", "ZC020",new { mode=3})'" />
                            }
                            else
                            {
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick=window.close(); />
                            }
                        </td>

                    </tr>
                    <tr>
                        <td style="width:700px;text-align:left;vertical-align:top">
                            @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                            {
                                <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr />
        </div>
    }


    @*Inventory List View*@

    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC02022")
    {
        @Styles.Render("~/bundles/Logincsmsscript")
        <script src="~/Scripts/jquery-1.4.1.js"></script>
        @Styles.Render("~/Content/csmscss")

        <div>
            <table class="TableUcHeader">
                <tbody>
                    <tr>

                        <td rowspan="2" style="width: 10px">
                            <div id="header">
                                <div class="titleField">
                                    <div class="logo">
                                    </div>
                                </div>
                            </div>
                        </td>


                        <td align="left" valign="bottom" class="auto-style1">

                            <label id="ucHeader_lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【在庫リスト】</label>

                        </td>



                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                        <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                            <div class="io" align="left">
                                <fieldset style=border:none></fieldset>
                            </div>
                        </td>
                        <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 90px" rowspan="2" align="center" valign="middle">
                            <div ID="logout">

                            </div>
                        </td>
                        <td style="width: 112px" rowspan="2" align="center" valign="middle">
                            <div style="width: 112px;" />                           
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick=window.close(); />                           
                        </td>

                    </tr>
                    <tr>
                        <td style="width:700px;text-align:left;vertical-align:top">
                            @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                            {
                                <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr />
        </div>
    }


    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC04001")
    {
        @Styles.Render("~/Content/csmscss")
        <div>
            <table class="TableUcHeader">
                <tbody>
                    <tr>
                        <td rowspan="2" style="width: 10px">
                            <div id="header">
                                <div class="titleField">
                                    <div class="logo">
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td align="left" valign="bottom" class="auto-style1">
                            <label id="ucHeader_lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【在庫リスト】</label>
                        </td>

                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                        <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                            <div class="io" align="left">
                                <fieldset style=border:none></fieldset>
                            </div>
                        </td>
                        <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 90px" rowspan="2" align="center" valign="middle">
                            <div ID="logout">

                            </div>
                        </td>
                        <td style="width: 112px" rowspan="2" align="center" valign="middle">
                            <div style="width: 112px;" />
                            @if (Request.QueryString["FlowCode"] != "1")
                            {
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC02002", "ZC020",new { mode=1})'" />
                            }
                            else
                            {
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC01011", "ZC010")'" />
                            }
                        </td>

                    </tr>
                    <tr>
                        <td style="width:700px;text-align:left;vertical-align:top">
                            @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                            {
                                <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr />
        </div>
    }


    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC13010")
    {
        @Styles.Render("~/bundles/Logincsmsscript")
        <script src="~/Scripts/jquery-1.4.1.js"></script>
        @Styles.Render("~/Content/csmscss")

        <div>
            <table class="TableUcHeader">
                <tbody>
                    <tr>

                        <td rowspan="2" style="width: 10px">
                            <div id="header">
                                <div class="titleField">
                                    <div class="logo">
                                    </div>
                                </div>
                            </div>
                        </td>


                        <td align="left" valign="bottom" class="auto-style1">

                            <label id="ucHeader_lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【在庫リスト】</label>

                        </td>



                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                        <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                            <div class="io" align="left">
                                <fieldset style=border:none></fieldset>
                            </div>
                        </td>
                        <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 90px" rowspan="2" align="center" valign="middle">
                            <div ID="logout">

                            </div>
                        </td>
                        <td style="width: 112px" rowspan="2" align="center" valign="middle">
                            <div style="width: 112px;" />
                            @if (Request.QueryString["FlowCode"] != "1")
                            {
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC02002", "ZC020")'" />
                            }
                            else
                            {
                                <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC01011", "ZC010")'" />
                            }
                            @*@if (Request.QueryString["isEdit"] == null)
                                {
                                    <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC02002", "ZC020",new { mode=3})'" />
                                }
                                else
                                {
                                    <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick=window.close(); />
                                }*@
                        </td>

                    </tr>
                    <tr>
                        <td style="width:700px;text-align:left;vertical-align:top">
                            @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                            {
                                <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr />
        </div>
    }
    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC13020")
    {
        @Styles.Render("~/bundles/Logincsmsscript")
        <script src="~/Scripts/jquery-1.4.1.js"></script>
        @Styles.Render("~/Content/csmscss")

        <div>
            <table class="TableUcHeader">
                <tbody>
                    <tr>

                        <td rowspan="2" style="width: 10px">
                            <div id="header">
                                <div class="titleField">
                                    <div class="logo">
                                    </div>
                                </div>
                            </div>
                        </td>


                        <td align="left" valign="bottom" class="auto-style1">

                            <label id="ucHeader_lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【在庫リスト】</label>

                        </td>



                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                        <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                            <div class="io" align="left">
                                <fieldset style=border:none></fieldset>
                            </div>
                        </td>
                        <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 90px" rowspan="2" align="center" valign="middle">
                            <div ID="logout">

                            </div>
                        </td>
                        <td style="width: 112px" rowspan="2" align="center" valign="middle">
                            <div style="width: 112px;" />

                            <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC01011", "ZC010")'" />

                        </td>

                    </tr>
                    <tr>
                        <td style="width:700px;text-align:left;vertical-align:top">
                            @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                            {
                                <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
            <hr />
        </div>
    }
    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC13030")
    {
        @Styles.Render("~/bundles/Logincsmsscript")
        <script src="~/Scripts/jquery-1.4.1.js"></script>
        @Styles.Render("~/Content/csmscss")

        <div>
            <table class="TableUcHeader">
                <tbody>
                    <tr>

                        <td rowspan="2" style="width: 10px">
                            <div id="header">
                                <div class="titleField">
                                    <div class="logo">
                                    </div>
                                </div>
                            </div>
                        </td>


                        <td align="left" valign="bottom" class="auto-style1">

                            <label id="ucHeader_lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【在庫リスト】</label>

                        </td>



                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                        <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                            <div class="io" align="left">
                                <fieldset style=border:none></fieldset>
                            </div>
                        </td>
                        <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 90px" rowspan="2" align="center" valign="middle">
                            <div ID="logout">

                            </div>
                        </td>
                        <td style="width: 112px" rowspan="2" align="center" valign="middle">
                            <div style="width: 112px;" />
                            <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC01011", "ZC010")'" />
                        </td>

                    </tr>
                    <tr>
                        <td style="width:700px;text-align:left;vertical-align:top">
                            @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                            {
                                <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    }
    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC12010")
    {
        @Styles.Render("~/Content/csmscss")
        <div>
            <table class="TableUcHeader">
                <tbody>
                    <tr>

                        <td rowspan="2" style="width: 10px">
                            <div id="header">
                                <div class="titleField">
                                    <div class="logo">
                                    </div>
                                </div>
                            </div>
                        </td>


                        <td align="left" valign="bottom" class="auto-style1">

                            <label id="ucHeader_lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【商品受入】</label>

                        </td>



                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                        <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                            <div class="io" align="left">
                                <fieldset style=border:none></fieldset>
                            </div>
                        </td>
                        <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                        <td style="width: 90px" rowspan="2" align="center" valign="middle">
                            <div ID="logout">

                            </div>
                        </td>
                        <td style="width: 112px" rowspan="2" align="center" valign="middle">
                            <div style="width: 112px;" />
                            <input type="button" ID="btnHeader_Back" Text="戻る" value="戻る" class="ButtonHeader" onclick="location.href='@Url.Action("ZC01011", "ZC010")'" />
                        </td>

                    </tr>
                    <tr>
                        <td style="width:700px;text-align:left;vertical-align:top">
                            @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                            {
                                <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
    </div>


</body>
</html>
