﻿<!DOCTYPE html>
<html>
@{
    /*Get the name of the page to display corresponding controls*/
    var name = ViewContext.RouteData.GetRequiredString("action");
}
<head>
    <meta name="viewport" content="width=device-width" />
    @if (@name.Equals("ZC14010"))
    {
        <title>
            化学物質管理システム Ver.4.0 【管理台帳検索画面】
        </title>
    }
    else if (@name.Equals("ZC14020"))
    {
        <title>
            化学物質管理システム Ver.4.0 【管理台帳登録申請画面】
        </title>
    }
    else if (@name.Equals("ZC14021"))
    {
        <title>
            化学物質管理システムVer.4.0 【使用場所明細画面】
        </title>
    }
    else if (@name.Equals("ZC14030"))
    {
        <title>
            化学物質管理システム Ver.4.0 【案件一覧画面】
        </title>
    }
    else if (@name.Equals("ZC14040"))
    {
        <title>
            化学物質管理システム Ver.4.0 【管理台帳一括変更画面】
        </title>
    }
    else if (@name.Equals("ZC14050"))
    {
        <title>
            化学物質管理システム Ver.4.0 【管理台帳変更履歴画面】
        </title>
    }
</head>
<body>
    @if (name.Equals("ZC14010"))
    {
        @Styles.Render("~/Content/csmscss")
        @Scripts.Render("~/bundles/jquery141min")
        <div id="header">
            <div class="titleField">
                <div class="logo"></div>
                <div class="infoSet">
                    <span id="FormTitle" class="formTitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">【化学物質マスター検索】 </font></font></span>
                    <br>
                    @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                    {
                        <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                    }
                    else
                    {
                        @Url.Action("ZC01001", "ZC010");
                    }
                </div>
            </div>
            <div class="buttonField">
                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="button" name="ctl00$headerButton2" class="ButtonFooter" value="戻る" id="headerButton2" onclick="window.location.href='@Url.Action("SearchBack", "ZC140")'" class="button"></font></font>
            </div>
        </div>
        <hr />

    }
    else if (name.Equals("ZC14020"))
    {
        @Styles.Render("~/Content/csmscss")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/Errorcsmsscript")


        <div id="header">
            <div class="titleField">
                <div class="logo"></div>
                <div class="infoSet">
                    <span id="FormTitle" class="formTitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">【管理台帳登録申請】 </font></font></span>
                    <br>
                    <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>

                </div>
            </div>
            <div class="buttonField">
                @if (Model.FLOW_Mode != null)
                {
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="button" name="headerButton2" value="戻る" id="headerButton2" class="ButtonHeader" onclick="return MatterListBackButton();"></font></font>
                }
                else if (Model._Mode == 5)
                {
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="button" name="headerButton2" value="戻る" id="SearchRedirect" class="ButtonHeader" onclick="location.href='@Url.Action("ZC14010", "ZC140", new { mode = "5" })'"></font></font>
                }
                else if (Request.QueryString["returnid"] == "1")
                {
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="button" name="headerButton2" value="戻る" id="SearchRedirect" class="ButtonHeader" onclick="location.href='@Url.Action("ZC14050", "ZC140")'"></font></font>

                }
                else
                {
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="button" name="headerButton2" value="戻る" id="headerButton2" class="ButtonHeader" onclick="location.href='@Url.Action("RegistrationBackbutton", "ZC140")'"></font></font>
                }
            </div>
        </div>
        <hr />
    }
    else if (name.Equals("ZC14021"))
    {
        @Styles.Render("~/Content/csmscss")
        <div id="header">
            <div class="titleField">
                <div class="logo">
                </div>
                <div class="infoSet">
                    <span id="FormTitle" class="formTitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">【使用場所明細】 </font></font></span>
                    <br>
                    <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                </div>
            </div>
            <div class="buttonField">
                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="button" name="" value="戻る" id="CloseButtonHeader" class="ButtonHeader" onclick="window.close();"></font></font>
            </div>
        </div>
        <hr />

    }

    else if (@name.Equals("ZC14030"))
    {

        @Styles.Render("~/Content/csmscss")
        <div id="header">

            <div class="titleField">
                <div class="logo"></div>
                <div class="infoSet">
                    <span id="FormTitle" class="formTitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">【案件一覧】 </font></font></span>
                    <br>
                    <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>

                </div>
            </div>
            <div class="buttonField">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        <input type="button" name="headerButton2"
                               value="戻る" id="headerButton2" onclick="window.location.href='@Url.Action("ZC01011", "ZC010")'" class="ButtonHeader">
                    </font>
                </font>
            </div>
        </div>
        <hr />

    }
    else if (@name.Equals("ZC14040"))
    {

        @Styles.Render("~/Content/csmscss")
        <div id="header">

            <div class="titleField">
                <div class="logo"></div>
                <div class="infoSet">
                    <span id="FormTitle" class="formTitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">【管理台帳一括変更】 </font></font></span>
                    <br>
                    <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                </div>
            </div>
            <div class="buttonField">
                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="button" onclick="location.href='@Url.Action("ZC14010","ZC140")'" name="headerButton2" value="戻る" id="headerButton2" class="ButtonHeader"></font></font>
            </div>
        </div>
        <hr />

    }
    else if (@name.Equals("ZC14050"))
    {

        @Styles.Render("~/Content/csmscss")
        <div id="header">
            <div class="titleField">
                <div class="logo"></div>
                <div class="infoSet">
                    <span id="FormTitle" class="formTitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">【管理台帳登録申請】 </font></font></span>
                    <br>
                    <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>

                </div>
            </div>
            <div class="buttonField">
                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="button" class="ButtonFooter" name="headerButton2" value="戻る" id="headerButton2" onclick="return BackButton();"></font></font>
            </div>
        </div>

    }

    <div>
        @RenderBody()
    </div>
</body>
</html>
<script>
    //include click function and ui block
    $("#SearchRedirect").click(function () {
        $.blockUI({ message: '<p>読み込み中...</p>' });



    });
</script>