﻿
<!DOCTYPE html>

<html>
@{
    /*Get the name of the page to display corresponding controls*/

    var name = ViewContext.RouteData.GetRequiredString("action");

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (@name.Equals("ZC01001"))
    {
        <title>化学物質管理システム Ver.4.0 【ログイン画面】</title>
    }
    else if (@name.Equals("ZC01011"))
    {
        <title>化学物質管理システム Ver.4.0 【メニュー画面】</title>
    }
    else if (@name.Equals("ZC01021"))
    {
        <title>化学物質管理システム Ver.4.0 【ユーザーマスタ－検索画面】</title>
    }
    else if (@name.Equals("ZC01022"))
    {
        <title>化学物質管理システム Ver.4.0 【ユーザーマスターメンテナンス画面】</title>
    }
    else if (@name.Equals("ZC01024"))
    {
        <title>化学物質管理システム Ver.4.0 【ユーザーマスター確認画面】</title>
    }
    else if (@name.Equals("ZC01081"))
    {
        <title>化学物質管理システムVer.4.0【選択画面】</title>
    }
    else if (@name.Equals("ZC01090"))
    {
        <title>
            化学物質管理システム Ver.4.0 【エラー画面】
        </title>
    }
    else if (@name.Equals("ZC01091"))
    {
        <title>CSMS Ver-4.0</title>
    }
    @*else if (@name.Equals("ZC05901"))
        {
            if (Request.QueryString["IdentityFlag"] == "M_GROUP")
            {
                <title>化学物質管理システム Ver.4.0 【部署マスター検索画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_REGULATION")
            {
                <title>化学物質管理システム Ver.4.0 【法規制マスター検索画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_LOCATION")
            {
                <title>化学物質管理システム Ver.4.0 【保管場所マスター検索画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_MAKER")
            {
                <title>化学物質管理システム Ver.4.0 【メーカーマスター検索画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_UNITSIZE")
            {
                <title>化学物質管理システム Ver.4.0 【容量単位マスター検索画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_ACTION_TYPE")
            {
                <title>化学物質管理システム Ver.4.0 【操作マスター検索画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_WORKFLOW")
            {
                <title>化学物質管理システム Ver.4.0 【ワークフローマスター検索画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_MESSAGE")
            {
                <title>化学物質管理システム Ver.4.0 【ログイン画面メッセージ編集画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_STATUS")
            {
                <title>化学物質管理システム Ver.4.0 【ステータスマスター検索画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_FIRE")
            {
                <title>化学物質管理システム Ver.4.0 【消防法届出マスタ－検索画面】</title>
            }
        }
        else if (@name.Equals("ZC05902"))
        {
            if (Request.QueryString["IdentityFlag"] == "M_GROUP")
            {
                <title>化学物質管理システム Ver.4.0 【部署マスターメンテナンス画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_REGULATION")
            {
                <title>化学物質管理システム Ver.4.0 【法規制マスターメンテナンス画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_LOCATION")
            {
                <title></title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_MAKER")
            {
                <title>化学物質管理システム Ver.4.0 【法規制マスターメンテナンス画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_UNITSIZE")
            {
                <title>化学物質管理システム Ver.4.0 【容量単位マスターメンテナンス画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_ACTION_TYPE")
            {
                <title>化学物質管理システム Ver.4.0 【ステータスマスターメンテナンス画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_WORKFLOW")
            {
                <title>化学物質管理システム Ver.4.0 【ワークフローマスターメンテナンス画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_MESSAGE")
            {
                <title>化学物質管理システム Ver.4.0 【ログイン画面メッセージ編集】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_STATUS")
            {
                <title>化学物質管理システム Ver.4.0 【ステータスマスターメンテナンス画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_FIRE")
            {
                <title>化学物質管理システム Ver.4.0 【消防法届出マスターメンテナンス画面】</title>
            }
        }
        else if (@name.Equals("ZC05903"))
        {
            if (Request.QueryString["IdentityFlag"] == "M_GROUP")
            {
                <title>化学物質管理システム Ver.4.0 【部署マスター確認画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_REGULATION")
            {
                <title>化学物質管理システム Ver.4.0 【法規制マスター確認画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_LOCATION")
            {
                <title>CSMS Ver-4.0</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_MAKER")
            {
                <title>化学物質管理システム Ver.4.0 【メーカーマスター確認画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_UNITSIZE")
            {
                <title>化学物質管理システム Ver.4.0 【容量単位マスター確認画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_ACTION_TYPE")
            {
                <title>化学物質管理システム Ver.4.0 【操作マスター確認画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_WORKFLOW")
            {
                <title>化学物質管理システム Ver.4.0 【ワークフローマスター確認画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_STATUS")
            {
                <title>化学物質管理システム Ver.4.0 【容量単位マスターメンテナンス画面】</title>
            }
            else if (Request.QueryString["IdentityFlag"] == "M_FIRE")
            {
                <title>CSMS Ver-4.0</title>
            }
        }*@
</head>

<body class="body">

    <!--Header Sections for different pages-->
    @if (name.Equals("ZC01001"))
    {
        @Styles.Render("~/Content/csmscss")
        @Scripts.Render("~/bundles/jquery141min")
        @*@Scripts.Render("~/bundles/Logincsmsscript")*@

        <style>
            .TextBoxWidth {
                width: 150px;
            }

            .text-danger {
                color: #ff0000;
            }
        </style>
    }
    else if (name.Equals("ZC01090"))
    {
        <style type="text/css">
            .auto-style1 {
                width: 500px;
                height: 27px;
            }
        </style>
        @Styles.Render("~/Content/csmscss")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/Errorcsmsscript")
        <table class="TableUcHeader">
            <tr>
                <td rowspan="2" style="width: 130px">
                    <div id="header">
                        <div class="titleField">
                            <div class="logo">
                            </div>
                        </div>
                    </div>
                </td>
                <td align="left" valign="bottom" class="auto-style1">
                    <span id="ucHeader_lblTitle" style="color:Yellow;font-size:Small;font-weight:bold;">【エラー】</span>
                <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                <td style="width: 160px" rowspan="2" align="right" valign="middle">
                    <div class="io" align="left">
                        &nbsp;
                    </div>
                </td>
                <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>
            </tr>
            <tr>
                <td style="width: 700px" align="left" valign="top">
                    @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                    {
                        <span id="lblLogin" style="color:White;font-size:Small;">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</span>
                    }
                </td>
            </tr>
        </table>
    }
    else if (name.Equals("ZC01011"))
    {
        <style type="text/css">
            .auto-style1 {
                width: 500px;
                height: 27px;
            }
        </style>
        @Scripts.Render("~/bundles/jquery141min")
        @Scripts.Render("~/bundles/Logincsmsscript")
        @Styles.Render("~/Content/csmscss")

    }

    else if (@name.Equals("ZC01081"))
    {
        @*<link type="text/css" href="~/Content/Css/StyleSheet.css" rel="stylesheet" />
            <link href="~/Content/Css/ui.customDynatree.css" rel="stylesheet" />
            <script src="../Scripts/jquery-2.2.3.min.js" type="text/javascript"></script>*@
        @*<script language="javascript" type="text/javascript" src="../Scripts/zycg.js"></script>
            <script src="../Scripts/jquery.js" type="text/javascript"></script>
            <script src="../Scripts/jquery-ui.custom.js" type="text/javascript"></script>
            <script src="../Scripts/jquery.cookie.js" type="text/javascript"></script>
            <script src="../Scripts/jquery.dynatree.js" type="text/javascript"></script>*@
        @Styles.Render("~/Content/customDynatree")
        @Styles.Render("~/Content/csmscss")
        @Scripts.Render("~/bundles/PopUp")

    }
    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC01022")
    {
        @Scripts.Render("~/bundles/jquery141min")
        @Scripts.Render("~/bundles/Logincsmsscript")
        @Styles.Render("~/Content/csmscss")
        @Scripts.Render("~/bundles/printlabelscript")
    }
    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC01024")
    {
        @Scripts.Render("~/bundles/jquery141min")
        @Scripts.Render("~/bundles/Logincsmsscript")
        @Styles.Render("~/Content/csmscss")
    }
    else if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "ZC01021")
    {
        //  /*@Scripts.Render("~/bundles/jquery141min")*/


      @Scripts.Render("~/bundles/DataTableScripts")
        @Scripts.Render("~/bundles/Logincsmsscript")
        @Scripts.Render("~/bundles/printlabelscript")
        @Scripts.Render("~/bundles/zycgscript")
        @Styles.Render("~/Content/ZC01021")
        @Styles.Render("~/Content/webgrid")

    }



    <div class="container body-content">
        @RenderBody()
    </div>


</body>
</html>
