﻿
<!DOCTYPE html>

<html>
@{
    /*Get the name of the page to display corresponding controls*/

    var name = ViewContext.RouteData.GetRequiredString("action");
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (@name.Equals("ZC05201"))
    {
        if (Request.QueryString["TableName"] == "M_MESSAGE")
        {
            <title>化学物質管理システム Ver.4.0 【ログイン画面メッセージ編集画面】</title>
        }
    }
    else if (@name.Equals("ZC05202"))
    {
        if (Request.QueryString["TableName"] == "M_MESSAGE")
        {
            <title>化学物質管理システム Ver.4.0 【ログイン画面メッセージ編集</title>
        }
    }
    else if (@name.Equals("ZC05901"))
    {
        if (Request.QueryString["TableName"] == "M_GROUP")
        {
            <title>化学物質管理システム Ver.4.0 【部署マスター検索画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_REGULATION")
        {
            <title>化学物質管理システム Ver.4.0 【法規制マスター検索画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_LOCATION")
        {
            <title>化学物質管理システム Ver.4.0 【保管場所マスター検索画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_MAKER")
        {
            <title>化学物質管理システム Ver.4.0 【メーカーマスター検索画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_UNITSIZE")
        {
            <title>化学物質管理システム Ver.4.0 【容量単位マスター検索画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_ACTION_TYPE")
        {
            <title>化学物質管理システム Ver.4.0 【操作マスター検索画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_WORKFLOW")
        {
            <title>化学物質管理システム Ver.4.0 【ワークフローマスター検索画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_STATUS")
        {
            <title>化学物質管理システム Ver.4.0 【ステータスマスター検索画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_FIRE")
        {
            <title>化学物質管理システム Ver.4.0 【消防法届出マスタ－検索画面】</title>
        }
    }
    else if (@name.Equals("ZC05902"))
    {
        if (Request.QueryString["TableName"] == "M_GROUP")
        {
            <title>化学物質管理システム Ver.4.0 【部署マスターメンテナンス画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_REGULATION")
        {
            <title>化学物質管理システム Ver.4.0 【法規制マスターメンテナンス画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_LOCATION")
        {
            <title>化学物質管理システム Ver.4.0 【保管場所マスターメンテナンス画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_MAKER")
        {
            <title>化学物質管理システム Ver.4.0 【法規制マスターメンテナンス画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_UNITSIZE")
        {
            <title>化学物質管理システム Ver.4.0 【容量単位マスターメンテナンス画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_ACTION_TYPE")
        {
            <title>化学物質管理システム Ver.4.0 【操作マスターメンテナンス画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_WORKFLOW")
        {
            <title>化学物質管理システム Ver.4.0 【ワークフローマスターメンテナンス画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_STATUS")
        {
            <title>化学物質管理システム Ver.4.0 【ステータスマスターメンテナンス画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_FIRE")
        {
            <title>化学物質管理システム Ver.4.0 【消防法届出マスターメンテナンス画面】</title>
        }
    }
    else if (@name.Equals("ZC05903"))
    {
        if (Request.QueryString["TableName"] == "M_GROUP")
        {
            <title>化学物質管理システム Ver.4.0 【部署マスター確認画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_REGULATION")
        {
            <title>化学物質管理システム Ver.4.0 【法規制マスター確認画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_LOCATION")
        {
            <title>化学物質管理システム Ver.4.0 【保管場所マスター確認画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_MAKER")
        {
            <title>化学物質管理システム Ver.4.0 【メーカーマスター確認画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_UNITSIZE")
        {
            <title>化学物質管理システム Ver.4.0 【容量単位マスター確認画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_ACTION_TYPE")
        {
            <title>化学物質管理システム Ver.4.0 【操作マスター確認画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_WORKFLOW")
        {
            <title>化学物質管理システム Ver.4.0 【ワークフローマスター確認画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_STATUS")
        {
            <title>化学物質管理システム Ver.4.0 【容量単位マスターメンテナンス画面】</title>
        }
        else if (Request.QueryString["TableName"] == "M_FIRE")
        {
            <title>CSMS Ver-4.0</title>
        }
    }
</head>

<body class="body">

    <!--Header Sections for different pages-->
    @if (name.StartsWith("ZC05901"))
    {
        @Scripts.Render("~/bundles/jquery141min")
        @Scripts.Render("~/bundles/DataTableScripts")
        @Scripts.Render("~/bundles/Logincsmsscript")
        @Styles.Render("~/Content/Totalcsmscss")
        @Styles.Render("~/Content/webgrid")
        @Scripts.Render("~/bundles/zycgscript")
        @Scripts.Render("~/bundles/printlabelscript")
    }
    else if (@name.StartsWith("ZC05902"))
    {
        @Scripts.Render("~/bundles/jquery141min")
        @Scripts.Render("~/bundles/Logincsmsscript")
        @Styles.Render("~/Content/csmscss")
    }
    else if (@name.StartsWith("ZC05903"))
    {
        @Scripts.Render("~/bundles/jquery141min")
        @Styles.Render("~/Content/csmscss")
        @Scripts.Render("~/bundles/Logincsmsscript")
    }
    else if (@name.StartsWith("ZC05031"))
    {
        @*@Scripts.Render("~/bundles/jquery141min")*@

        @Styles.Render("~/Content/Totalcsmscss")
        @Styles.Render("~/Content/webgrid")


        @Scripts.Render("~/bundles/jquery1124")
        @Scripts.Render("~/bundles/jquery141min")
        @Scripts.Render("~/bundles/printlabelscript")
        @Scripts.Render("~/bundles/Logincsmsscript")
    }
    else if (@name.StartsWith("ZC05032"))
    {
        @*@Scripts.Render("~/bundles/jquery141min")*@

        @Styles.Render("~/Content/Totalcsmscss")


        @Scripts.Render("~/bundles/jquery1124")
        @Scripts.Render("~/bundles/jqueryUI")
        @Scripts.Render("~/bundles/printlabelscript")
        @Scripts.Render("~/bundles/Logincsmsscript")
    }
    else if (@name.StartsWith("ZC05201"))
    {
        @Scripts.Render("~/bundles/jquery141min")
        @Scripts.Render("~/bundles/Logincsmsscript")
        @Styles.Render("~/Content/Totalcsmscss")
    }
    else if (@name.StartsWith("ZC05202"))
    {
        @Scripts.Render("~/bundles/jquery141min")
        @Scripts.Render("~/bundles/Logincsmsscript")
        @Styles.Render("~/Content/csmscss")
    }

    <div class="container body-content">
        @RenderBody()
    </div>



    <!--Footer Sections for different pages-->


</body>
</html>
