﻿@model ChemMgmt.Models.InventoryManagement
@{
    WebGrid grid = new WebGrid(Model.listViewInventoryDetails, canSort: false, canPage: false);   
}

<style type="text/css">
    .col-sm {
        min-width: 1150px;
    }

    .col-sm1 {
        min-width: 300px;
    }

    .col-sm2 {
        min-width: 300px;
    }

    .col-sm3 {
        min-width: 350px;
    }

    .col-sm4 {
        min-width: 50px;
    }

    .to-the-right {
        text-align: right;
    }

    .webgrid-table {
        width: 100%;
        display: table;
        border-collapse: collapse;
        border-collapse: collapse;
    }

        .webgrid-table th {
            border: 1px solid black;
            font-size: small;
            border-collapse: collapse;
            border: 1px solid #999;
            /*padding: 0.3rem;*/
            text-align: left;
        }

        .webgrid-table td {
            border-left: 1px solid black;
            /*padding: 0px 40px 0px;*/
            font-size: small;
            border-collapse: collapse;
            /*padding: 0.3rem;*/
            text-align: left;
            white-space: nowrap;
        }

    .webgrid-header {
        background-color: maroon;
        text-align: center;
        background-color: White;
        border-width: 2px;
        border-style: Solid;
        font-size: Small;
        border-collapse: collapse;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        background-color: maroon;
        white-space: nowrap;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        background-color: white;
    }

    .webgrid-alternating-row {
        background-color: seashell;
    }

    .webgrid-header a {
        color: #ffffff;
    }

    .webGrid :hover th {
        cursor: pointer;
    }

    .dataTables_scrollBody thead tr[role="row"] {
        visibility: collapse !important;
    }
</style>


@*@if (Model.listViewInventoryDetails != null && Model.listViewInventoryDetails.Count() > 0)
{*@
    <div style="height:auto; width:100%; overflow-y:visible;">
        <div id="resultGridOuter">
            <div id="resultGridInner">
                <div id="IventoryGrid">
                    @grid.GetHtml(
                    tableStyle: "webgrid-table",
                    headerStyle: "webgrid-header",
                    footerStyle: "webgrid-footer",
                    alternatingRowStyle: "webgrid-alternating-row",
                    rowStyle: "webgrid-row-style",
                    htmlAttributes: new { id = "InventoryListDataView" },
                    fillEmptyRows: false,
                    mode: WebGridPagerModes.All,
                    columns: grid.Columns(
                    grid.Column(format: @<text><input type="checkbox" value=@item.STOCK_ID class="selection" id="chkHeader" name="Inventorycheckbox" /></text>),
grid.Column(columnName: "PRODUCT_NAME_JP", header: "化学物質名", style: "col-sm1"),
grid.Column(columnName: "BARCODE", header: "瓶番号", style: "col-sm1"),
grid.Column(columnName: "MAKER_NAME", header: "メーカー名", style: "col-sm1"),
grid.Column(columnName: "UNIT_NAME", header: "容量", style: "col-sm1"),
grid.Column(columnName: "CAT_CD", header: "化学物質コード", style: "col-sm1"),
grid.Column(columnName: "USER_NAME", header: "受入者", style: "col-sm1"),
grid.Column(columnName: "DELI_DATE_S", header: "受入日", style: "col-sm1"),
grid.Column(columnName: "CUR_GROSS_WEIGHT", header: "残量（内容量）", style: "col-sm1"),
grid.Column(columnName: "STATUS_NAME", header: "在庫ステータス", style: "col-sm1"),
grid.Column(columnName: "LOC_NAME", header: "保管場所", style: "col-sm1"),
grid.Column(columnName: "STATUS_TEXT", header: "法規制", style: "col-sm1"),
grid.Column(columnName: "GHSCAT_NAME", header: "GHS分類", style: "col-sm1"),
grid.Column(columnName: "FIRECAT_NAME", header: "消防法", style: "col-sm1"),
grid.Column(columnName: "OFFICECAT_NAME", header: "社内ルール", style: "col-sm1"),
grid.Column(columnName: "MEMO", header: "備考", style: "center")
))
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
@*}*@

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>
<script>
    $(document).ready(function () {
        var oTable = $('#InventoryListDataView').DataTable({
            "sScrollX": "0",
            "sScrollY": "400px",
            "sScrollXInner": "140%",
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }
        });

        $(".dataTable-column-checkbox").on("checked", function () {
            alert(0);
        });
        $("th:first").css("width", "18px");
        $("th:first").html('<input type="checkbox" value="" name="headerchkRow" id="master" class="chkHeaderclass" />');

        $("#master").click(function () {
            var checkAll = $("#master").prop('checked');
            if (checkAll) {
                $(".selection").prop("checked", true);
            } else {
                $(".selection").prop("checked", false);
            }
        });

        $(".selection").click(function () {
            if ($(".selection").length == $(".selection:checked").length) {
                $("#master").prop("checked", true);
            } else {
                $("#master").prop("checked", false);
            }
        });
    });
</script>
