﻿@model ChemMgmt.Models.InventoryManagement
@{
    WebGrid grid = new WebGrid(Model.listViewInventoryDetails, canSort: false, canPage: false);
    Layout = "~/Views/Shared/_LayoutInventory.cshtml";
}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

@using (Html.BeginForm())
{
    <body class="body">
        <div class="form-horizontal">
            <input type="submit" id="ButtonDefault" Class="ButtonDefault" Value="" style="display: none;" />

            <table width="100%">
                <tbody>
                    <tr>
                        @if (Model.listViewInventoryDetails != null && Model.listViewInventoryDetails.Count() > 0)
                        {
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        <input type="button" name="cmdDelete" value="削除" id="cmdDelete"
                                               class="ButtonNormal NoPrint" />
                                    </font>
                                </font>
                            </td>

                            <td align="right">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        <input type="button" name="cmdPrint" value="ハードコピー" id="cmdPrint"
                                               class="ButtonNormal NoPrint" onclick="window.print();" />
                                    </font>
                                </font>
                            </td>
                        }
                        else
                        {
                            <td>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        <input type="button" name="cmdDelete" value="削除" id="cmdDelete"
                                               class="ButtonNormal NoPrint"  disabled="disabled" />
                                    </font>
                                </font>
                            </td>

                            <td align="right">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        <input type="button" name="cmdPrint" value="ハードコピー" id="cmdPrint"
                                               class="ButtonNormal NoPrint"  disabled="disabled" />
                                    </font>
                                </font>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
       
            <br />
        </div>
        <div id="IventoryGrid">
            @Html.Partial("_PartialViewInventoryDetails",Model)
        </div>      
    </body>
}

<script>
    $('#cmdDelete').click(function () {
        var checked = $("input[name='Inventorycheckbox']:checked").length;
        var retVal = confirm("削除します。よろしいですか？");
        if (retVal == true) {
            if (checked == "0") {
                alert("対象が選択されていません。");
                return false;
            }
            else {
                var favorite = [];
                $.each($("input[name='Inventorycheckbox']:checked"), function () {
                    favorite.push($(this).val());
                });
                $.ajax({
                    url: '/ZC020/DeleteStockInventoryList',
                    type: 'POST',
                    data: { 'StockId': favorite.join(", ") },
                    success: function (data) {
                        $('#IventoryGrid').html('');
                        $('#IventoryGrid').html(data);
                        return false;
                    },
                    error: function (err) {
                        //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                        return false;
                    }
                });
                return false;
            }
        } else {
            return false;
        }
        return false;
    });

    

</script>

