﻿@model ChemMgmt.Models.Chem
@{
    /**/
    ViewBag.Title = "Index";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head id="Head1" runat="server">
    <title>試薬カタログ検索</title>
    <link rel="stylesheet" type="text/css" href="../Styles/StyleSheet.css" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <script language="javascript" type="text/javascript" src="../Scripts/zycg.js"></script>
    <!--<script src="../ChemDraw/chemdraw.js" type="text/javascript"></script>
    <script type="text/javascript">        cd_includeWrapperFile("../ChemDraw/");</script>-->
    <script src="../Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var Whnd02021;
        function GetBase64CDX_CATALOG()
        {
            // document.forms[0].base64data_catalog.value = cd_getData("cdx_catalog", "chemical/x-cdx");
        }      

        function selectFavorites_CATALOG() {
            if (document.getElementById('ddlFavoritesMaker_CATALOG').selectedIndex != 0)
            {
                document.getElementById('cbMaker_CATALOG_Button').disabled = true;
                document.getElementById('cbMaker_CATALOG_TextBox').disabled = true;
            } else
            {
                document.getElementById('cbMaker_CATALOG_Button').disabled = false;
                document.getElementById('cbMaker_CATALOG_TextBox').disabled = false;
            }
        }

        function ButtonClick(btnID) {
            document.forms[0].hdnBtnID.value = btnID;
        }

        $(window).load(function () {
            var parent = $('#resultGridInner');
            var windowHeight = $(window).height();
            var topHeight = $('#header').outerHeight() + $('#contents').outerHeight();
            var gridHeight = windowHeight - topHeight - 64;
            if (gridHeight < 240) {
                gridHeight = 240;
            }
            parent.height(gridHeight);
        });

        $(window).resize(function () {
            var parent = $('#resultGridInner');
            var windowHeight = $(window).height();
            var topHeight = $('#header').outerHeight() + $('#contents').outerHeight();
            var gridHeight = windowHeight - topHeight - 64;
            if (gridHeight < 240) {
                gridHeight = 240;
            }
            parent.height(gridHeight);
        });
    </script>
</head>
<table class="TableUcHeader">
    <tbody>
        <tr>
            <td rowspan="2" style="width: 130px">
                <div id="header">
                    <div class="titleField">
                        <div class="logo">
                        </div>
                    </div>
                </div>
            </td>
            <td align="left" valign="bottom" class="auto-style1">
                <span id="ucHeader_lblTitle" style="color:Yellow;font-size:Small;font-weight:bold;">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">【Reagent catalog search】</font>
                    </font>
                </span>
            </td>
            <td style="width: 120px" rowspan="2" align="center" valign="middle">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        <input type="submit" name="ucHeader$btnHeader_AddCart" value="Add to order list"
                         onclick="document.getElementById('ucHeader_btnHeader_AddCart').disabled =true;__doPostBack('ucHeader$btnHeader_AddCart','');" id="ucHeader_btnHeader_AddCart"
                         class="ButtonHeaderLong" />
                    </font>
                </font>
            </td>
            <td style="width: 120px" rowspan="2" align="center" valign="middle">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        <input type="submit" name="ucHeader$btnHeader_GoCart"
                        value="Confirm order list" id="ucHeader_btnHeader_GoCart" class="ButtonHeaderLong" />
                    </font>
                </font>
            </td>
            <td style="width: 160px" rowspan="2" align="right" valign="middle">
                <div class="io" align="left">
                    &nbsp;
                </div>
            </td>
            <td style="width: 90px" rowspan="2" align="center" valign="middle">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        <input type="submit" name="ucHeader$btnHeader_Back" value="Return" id="ucHeader_btnHeader_Back" class="ButtonHeader" />
                    </font>
                </font>
            </td>
        </tr>
        <tr>
            <td style="width: 700px" align="left" valign="top">
                <span id="ucHeader_lblLogin" style="color:White;font-size:Small;">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Login user name: Development user (administrator)</font>
                    </font>
                </span>
            </td>
        </tr>
    </tbody>
</table>
@using (Html.BeginForm())
{
    <body class="body">
        <hr />
 @Html.AntiForgeryToken()
  <div class="form-horizontal">
 @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="contents">
                <div ID="PanelCatalog" runat="server">
                    <table class="TableSearch">
                        <tr>
                            <!-- 検索フィールド用TD-->
                            <td valign="top" width="630px">
                                <table>
                                    <tr>
                                        <td width="180px" height="25px" align="right">                                        
                                            <label for="lblProduct_CATALOG" class="LabelSearch">商品名：</label>
                                        </td>
                                        <td width="450px">                                          
                                            @Html.DropDownListFor(model => model.CHEM_CAT, new SelectList("Exemplo1", "Exemplo2"), new { @class = "DdlSearchShort" })                                           
                                            &nbsp;                                          
                                            @Html.TextBox("PRODUCT_NAME_JP", null, new { id = "PRODUCT_NAME_JP", @class = "TextBoxSearchLong" })
                                        </td>
                                    </tr>
                                    <tr>
                                      <td height="55px" rowspan="2" align="right">                                          
                                            <label for="lblMaker_CATALOG" class="LabelSearch">Manufacture name</label>
                                        </td>
                                        <td>                                         
                                            <div class="contentcontainer med left" style="float:left":200px; MaxLength="0">
                                                <input name="cbMaker_CATALOG$TextBox" type="text" id="cbMaker_CATALOG_TextBox" autocomplete="off" style="width: 230px; margin: 0px;" />
                                                <select name="thelist" onChange="combo(this, 'theinput')"></select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">                                          
                                            @Html.DropDownListFor(model => model.CHEM_CAT, new SelectList("Exemplo1", "Exemplo2"), new { @class = "DdlSearchLong" })
                                            &nbsp;                                       
                                            <label for="lblFavoritesMaker_CATALOG" Class="LabelFontSmall">Search by favorite pattern</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="25px" align="right">                                        
                                            <label for="lblVendor_CATALOG" Class="LabelSearch">Agency Name</label>
                                        </td>
                                        <td valign="top">                                         
                                            <div class="contentcontainer med left" style="float:left" :200px;">
                                                <input name="cbMaker_CATALOG$TextBox" type="text" id="cbMaker_CATALOG_TextBox" autocomplete="off" style="width: 230px; margin: 0px;" />
                                                <select name="thelist" onChange="combo(this, 'theinput')"></select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="25px" align="right">                                         
                                            <label for="lblCatCd_CATALOG" class="LabelSearch">Catalog Code</label>
                                        </td>
                                        <td>                                      
                                            @Html.DropDownListFor(model => model.CHEM_CAT, new SelectList("Exemplo1", "Exemplo2"), new { @class = "DdlSearchShort" })
                                            &nbsp;                                       
                                            @Html.TextBox("PRODUCT_NAME_JP", null, new { id = "PRODUCT_NAME_JP", @class = "TextBoxSearchLong" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="25px" align="right">                                          
                                            <label for="lblCasNo_CATALOG" Class="LabelSearch">CAS-NO:</label>
                                        </td>
                                        <td>                                          
                                            @Html.TextBox("PRODUCT_NAME_JP", null, new { id = "PRODUCT_NAME_JP", @class = "TextBoxSearchLong" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" />
                                        <td align="left">                                        
                                            <input checked="checked" id="chkCatalogType_CATALOG" name="chkCatalogType_CATALOG" type="checkbox" value="true" />
                                            <label for="checked">Include creation catalog</label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top" align="right">
                                                         <table>
                                                                <tr>
                                                                    <td>                                                                       
                                                                        <input type="submit" id="btnClear_CATALOG" value="Search" Class="ButtonNormal ButtonMargin" />
                                                                    </td>
                                                                    <td>                                                                       
                                                                        <input type="submit" id="btnClear_CATALOG" value="Clear" Class="ButtonNormal ButtonMargin" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>                                                                       
                                                                        <input type="submit" id="btnRegister_CATALOG" value="New Registration" Class="ButtonNormal ButtonMargin" />
                                                                    </td>
                                                                    <td>                                                                      
                                                                        <input type="submit" id="btnClear_CATALOG" value="List output" Class="ButtonNormal ButtonMargin" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>                                                                       
                                                                        <input type="submit" id="btnClear_CATALOG" value="List output" Class="ButtonNormal ButtonMargin" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>                                                                       
                                                                        <input type="submit" id="btnClear_CATALOG" value="Copy registration" Class="ButtonNormal ButtonMargin" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <hr />
                                            </div>
                                        </div>
                                        <div ID="PanelCatalogGrid" runat="server">
                                            <table cellspacing="0" cellpadding="4" rules="cols" id="gvCatalog" style="color:Black;background-color:White;
                                                                   border-width:1px;border-style:Solid;font-size:Small;width:98%;border-collapse:collapse;">
                                                <tbody>
                                                    <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:2px;border-style:Solid;font-weight:bold;">
                                                        <th scope="col"><input id="gvCatalog_selectionCheck" type="checkbox" name="gvCatalog$ctl01$selectionCheck" /></th>
                                                        <th>Product name</th>
                                                        <th>stock</th>
                                                        <th>Laws and regulations</th>
                                                        <th>Manufacture name</th>
                                                        <th>standard</th>
                                                        <th>capacity</th>
                                                        <th>Catalog code</th>
                                                        <th>Catalog price</th>
                                                        <th>CAS-NO</th>
                                                        <th>Agency name</th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <asp:HiddenField ID="base64data_catalog" runat="server" />
                                        <asp:HiddenField ID="hdnBtnID" runat="server" />
                                        <asp:HiddenField ID="hdnSort_catalog" runat="server" />
                                        <uc1:ucCraisChecker ID="ucCraisChecker1" runat="server" OnOkButton_Clicked="ucCraisChecker1_OkButton_Clicked" />                                      
                                    </div>
                                </body>
                            }




                     


  