﻿@model ChemMgmt.Models.InventoryManagement
@{
    WebGrid grid = new WebGrid(Model.listInventoryManagement, canSort: true, canPage: false);
    Layout = "~/Views/Shared/_LayoutInventory.cshtml";
}

<link href="~/Content/Css/StyleSheet.css" rel="stylesheet" />
<script src="../Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="../Scripts/LabelPrint.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style type="text/css">
    .col-sm {
        min-width: 1150px;
    }

    .col-sm1 {
        min-width: 300px;
    }

    .col-sm2 {
        min-width: 300px;
    }

    .col-sm3 {
        min-width: 350px;
    }

    .col-sm4 {
        min-width: 50px;
    }

    .to-the-right {
        text-align: right;
    }

    .webgrid-table {
        width: 100%;
        display: table;
        border-collapse: collapse;     
        border-collapse: collapse;
    }

        .webgrid-table th {
            border: 1px solid black;
            font-size: small;
            border-collapse: collapse;
            border: 1px solid #999;           
            padding: 0.3rem;
            text-align: left;
        }

        .webgrid-table td {
            border-left: 1px solid black;        
            font-size: small;
            border-collapse: collapse;
            padding: 0.3rem;
            text-align: left;
            white-space: nowrap;
        }

    .webgrid-header {
        background-color: maroon;
        text-align: center;
        background-color: White;
        border-width: 2px;
        border-style: Solid;
        font-size: Small;
        border-collapse: collapse;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        background-color: maroon;
        white-space: nowrap;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        background-color: white;
    }

    .webgrid-alternating-row {
        background-color: seashell;
    }

    .webgrid-header a {
        color: #ffffff;
    }

    .webGrid :hover th {
        cursor: pointer;
    }

    .dataTables_scrollBody thead tr[role="row"] {
        visibility: collapse !important;
    }

    .dataTables_scrollBody {
        position: inherit;
    }


    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        width: 80%;
        position: relative;
        left: 7px;
        border-radius: 0px !important;
        border: 1px #c5c5c5;
    }

    .ui-autocomplete {
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        background-color: #fff !important;
    }
</style>



<script type="text/javascript">
    $(document).ready(function () {

        var count = $('#inventoryDataCount').val();
        if (count == 0) {
            $(".DisableCountNo").attr("disabled", true);
        }
        else {
            $(".DisableCountNo").attr("disabled", false);
        }


        $("#datepickerFrom").datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true,
            yearRange: "-600:+0"
        });

        $("#datepickerTo").datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true,
            yearRange: "-600:+0"
        });


        var chkHeader = $("<input type=checkbox id='chkHeaderAll'/>");
        $("#InventoryListDataView th:first-child").append(chkHeader);
        $("#chkHeaderAll").click(function () {
            $(".chkHeaderclass").prop('checked', $(this).prop('checked'));
        });

  
        $("input[name='ids']").click(function () {
            var totalRows = $("#inventoryList td :checkbox").length;
            var checked = $("#inventoryList td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#inventoryList").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#gvStock_selectionCheck").removeAttr("checked");
            }
        });


        var oTable = $('#InventoryListDataView').DataTable({
            "sScrollX": "0",
            "sScrollY": "400px",
            "sScrollXInner": "140%",
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }
        });

        $(".dataTable-column-checkbox").on("checked", function () {
            alert(0);
        });
    });
    
    function OpenTreePopup(w, h, scroll, flag) {
        if (flag == 1) {
            var idval = $('#Locationidval').val();
            var url = "../ZC010/ZC01081?TableName=M_STORING_LOCATION&ColumnName=P_LOC_ID&SelectType=2&RowId=&Filter=&Id=" + idval + "";
        } else {
            var idval = $('#Regulationidval').val();
            var url = "../ZC010/ZC01081?TableName=M_REGULATION&ColumnName=P_REG_TYPE_ID&SelectType=2&RowId=&Filter=&Id=" + idval + "";
        }
        window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');
    }

</script>
<script>
    (function ($) {
        $.widget("custom.combobox", {
            _create: function () {
                this.wrapper = $("<span>")
                    .addClass("custom-combobox")
                    .insertAfter(this.element);

                this.element.hide();
                this._createAutocomplete();
                this._createShowAllButton();
            },
            _createAutocomplete: function () {
                var selected = this.element.children(":selected"),
                    value = selected.val() ? selected.text() : "";

                this.input = $("<input>")
                    .appendTo(this.wrapper)
                    .val(value)
                    .attr("title", "")
                    .addClass("custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left")
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: $.proxy(this, "_source")
                    })
                    .tooltip({
                        tooltipClass: "ui-state-highlight"
                    });

                this._on(this.input, {
                    autocompleteselect: function (event, ui) {
                        ui.item.option.selected = true;
                        this._trigger("select", event, {
                            item: ui.item.option
                        });
                    },

                    autocompletechange: "_removeIfInvalid"
                });
            },

            _createShowAllButton: function () {
                var input = this.input,
                    wasOpen = false;

                $("<a>")
                    .attr("tabIndex", -1)
                    .tooltip()

                    .appendTo(this.wrapper)
                    .button({
                        icons: {
                            primary: "ui-icon-triangle-1-s"
                        },
                        text: false
                    })
                    .removeClass("ui-corner-all")
                    .addClass("custom-combobox-toggle ui-corner-right")
                    .mousedown(function () {
                        wasOpen = input.autocomplete("widget").is(":visible");
                    })
                    .click(function () {
                        input.focus();
                        // Close if already visible
                        if (wasOpen) {
                            return;
                        }
                        // Pass empty string as value to search for, displaying all results
                        input.autocomplete("search", "");
                    });
            },

            _source: function (request, response) {
                var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                response(this.element.children("option").map(function () {
                    var text = $(this).text();
                    if (this.value && (!request.term || matcher.test(text)))
                        return {
                            label: text,
                            value: text,
                            option: this
                        };
                }));
            },

            _removeIfInvalid: function (event, ui) {
                // Selected an item, nothing to do
                if (ui.item) {
                    return;
                }

                // Search for a match (case-insensitive)
                var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                this.element.children("option").each(function () {
                    if ($(this).text().toLowerCase() === valueLowerCase) {
                        this.selected = valid = true;
                        return false;
                    }
                });

                // Found a match, nothing to do
                if (valid) {
                    return;
                }

                // Remove invalid value
                this.input
                    .val("")
                this.element.val("");
                this._delay(function () {
                    this.input.tooltip("close").attr("title", "");
                }, 2500);
                this.input.data("ui-autocomplete").term = "";
            },

            _destroy: function () {
                this.wrapper.remove();
                this.element.show();
            }
        });
    })(jQuery);

    $(function () {
        $("#combobox").combobox();
        $("#toggle").click(function () {
            $("#combobox").toggle();
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (Model.listInventoryManagement != null && Model.listInventoryManagement.Count() > 0)
    {
        @Html.Hidden("inventoryDataCount", 1)
    }
    else
    {
        @Html.Hidden("inventoryDataCount", 0)
    }
    <body class="body">
        <div class="form-horizontal">
            <div id="contents">
                <div>
                    <table class="TableSearch" align="center">
                        <tr>                          
                            <td valign="top" align="right">
                                <table>
                                    <tr align="left">
                                        <td width="210px" height="25px" align="right">

                                            @Html.Label("化学物質名： ", new { @id = "lblProduct_STOCK", @class = "LabelSearch" })
                                        </td>
                                        <td class="auto-style4">
                                            @Html.DropDownListFor(model => model.PRODUCT_NAME_TYPE, Model.LookUpCSNCondition, new { @class = "DdlSearchShort" })
                                            &nbsp;
                                            @Html.TextBoxFor(m => m.PRODUCT_NAME, null, new { id = "txtProduct_STOCK", @class = "TextBoxSearchLong" })
                                        </td>
                                    </tr>

                                    <tr align="left">
                                        <td rowspan="1" align="right">
                                            @Html.Label("メーカー名： ", new { @id = "lblMaker_STOCK", @class = "LabelSearch" })
                                        </td>

                                        <td class="auto-style4">
                                            @Html.DropDownListFor(model => model.MAKER_NAME_TYPE, Model.LookUpMakerNameCondition, new { @class = "DdlSearchShort" })

                                            @Html.DropDownListFor(m => m.MAKER_ID, Model.LookUpMakerName, "", new { @id = "combobox", @class = "DdlSearchShort" })
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td height="25px" align="right">
                                            @Html.Label("化学物質コード(半角)： ", new { @id = "lblCatCd_STOCK", @class = "LabelSearch" })
                                        </td>
                                        <td class="auto-style4">
                                            @Html.DropDownListFor(model => model.CAT_CD_TYPE, Model.LookUpCSCodeCondition, new { @class = "DdlSearchShort" })
                                            &nbsp;
                                            @Html.TextBoxFor(model => model.CAT_CD, null, new { id = "txtCatCd_STOCK", @class = "TextBoxSearchLong" })
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td height="25px" align="right">
                                            @Html.Label("CAS#(半角)： ", new { @id = "lblCasNo_STOCK", @class = "LabelSearch" })
                                        </td>
                                        <td class="auto-style4">
                                            @Html.TextBoxFor(model => model.CAS_NO, null, new { id = "txtCasNo_STOCK", @class = "TextBoxSearchLong" })
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td height="25px" align="right">
                                            @Html.Label("瓶番号(半角)： ", new { @id = "lblBarcode_STOCK", @class = "LabelSearch" })
                                        </td>
                                        <td class="auto-style4">
                                            @Html.DropDownListFor(model => model.BARCODE_TYPE, Model.LookUpBottleNumCondition, new { @class = "DdlSearchShort" })
                                            &nbsp;
                                            @Html.TextBoxFor(model => model.BARCODE, null, new { id = "txtBarcode_STOCK", @class = "TextBoxSearchLong" })
                                        </td>
                                    </tr>
                                    <tr style="display: none;" align="left">
                                        <td height="25px" align="right">
                                            @Html.Label("在庫ステータス： ", new { @id = "lblOrderNo_STOCK", @class = "LabelSearch" })
                                        </td>
                                        <td class="auto-style4">
                                            @Html.TextBoxFor(model => model.ORDER_NO, null, new { id = "txtOrderNo_STOCK", @class = "TextBoxSearchShort" })
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td height="25px" align="right">
                                            @Html.Label("在庫ステータス： ", new { @id = "lblStatus_STOCK", @class = "LabelSearch" })
                                        </td>
                                        <td class="auto-style4">
                                            @Html.DropDownListFor(model => model.STATUS, Model.LookUpStatus, "", new { @class = "DdlSearchShort" })
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td height="25px" align="right">
                                            @Html.Label("受入者： ", new { @id = "lblOrderUser_STOCK", @class = "LabelSearch" })
                                        </td>
                                        <td class="auto-style4">
                                            @Html.DropDownListFor(model => model.ORDER_USER_TYPE, Model.LookUpAcceptCondition, new { @class = "DdlSearchShort" })
                                            &nbsp;
                                            @Html.TextBoxFor(model => model.ORDER_USER, null, new { id = "txtOrderNo_STOCK", @class = "TextBoxSearchLong" })
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td height="25px" align="right">
                                            <label for="lblDeliDate_STOCK" Class="LabelSearch">受入日(半角:YYYY/MM/DD)：</label>
                                        </td>
                                        <td class="auto-style4">
                                            @Html.TextBoxFor(model => model.DELI_DATE_FROM, null, new { id = "datepickerFrom", @class = "TextBoxSearchShort" })
                                            &nbsp;～&nbsp;
                                            @Html.TextBoxFor(model => model.DELI_DATE_TO, null, new { id = "datepickerTo", @class = "TextBoxSearchShort" })
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td height="25px" align="right">
                                            @Html.Label("保管場所：", new { @id = "Label2", @class = "LabelSearch" })
                                        </td>
                                        <td class="auto-style4">
                                            <input type="button" name="LocationSelection" value="選択" id="Location_Selection" class="ButtonUC" onclick="OpenTreePopup('900','700','yes','1')" />
                                            <input type="hidden" id="Locationidval" Name="LocationSelection" value="@Model.hdnLocationIds" />
                                            &nbsp;
                                            <input type="button" name="LocationSelection" value="クリア" id="Location_Selection" class="ButtonUC" onclick="Cleartext('Location');" />
                                            @if (Model.hdnLocationIds != null && Model.hdnLocationIds != "")
                                            {
                                                <label id="lblLocationSelection">設定済み </label>
                                            }
                                            else
                                            {
                                                <label id="lblLocationSelection"></label>
                                            }
                                            <input type="button" class="btnlocreg" name="reg" onclick="return setValue('Location');" style="visibility:hidden" />
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td height="25px" align="right">
                                            @Html.Label("法規制：", new { @id = "lblRegulation_STOCK", @class = "LabelSearch" })
                                        </td>
                                        <td class="auto-style4">
                                            <input type="button" name="RegulationSelection" value="選択" id="Regulation_Selection" class="ButtonUC" onclick="OpenTreePopup('900','700','yes','2')" />
                                            <input type="hidden" id="Regulationidval" Name="RegulationSelection" value="@Model.hdnRegulationIds" />
                                            &nbsp;
                                            <input type="button" name="RegulationSelection" value="クリア" id="Regulation_Selection" class="ButtonUC" onclick="Cleartext('Regulation');" />
                                            @if (Model.hdnRegulationIds != null && Model.hdnRegulationIds != "")
                                            {
                                                <label id="lblRegulationSelection">設定済み </label>
                                            }
                                            else
                                            { <label id="lblRegulationSelection"></label>}
                                            <input type="button" class="btnregclick" name="reg" onclick="return setValue('Regulation');" style="visibility:hidden" />
                                        </td>
                                    </tr>
                                </table>
                            </td>

                            <td valign="top">
                                <table align="left">
                                    <tr>
                                        <td>
                                            <input type="button" id="btnSearch_STOCK" name="btnSearch_STOCK" Class="ButtonNormal ButtonMargin" Value="検索" />
                                            <input type="submit" id="btnSearchSTOCK" name="btnSearch_STOCK" Class="ButtonNormal ButtonMargin" style="display:none" />
                                        </td>
                                        <td>
                                            <input type="submit" id="btnPrint_STOCK" name="btnPrint_STOCK" Class="ButtonNormal ButtonMargin DisableCountNo" Value="リスト出力" />
                                        </td>
                                        <td>
                                            <input type="submit" id="btnControl" Class="ButtonNormal ButtonMargin DisableCountNo" Value="入出庫" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="submit" id="btnClear_STOCK" name="btnClear_STOCK" value="クリア" Class="ButtonNormal ButtonMargin" />
                                        </td>
                                        <td></td>
                                        <td>
                                            <input type="button" id="btnUsageHistory" value="使用履歴" Class="ButtonNormal ButtonMargin DisableCountNo" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <input type="submit" id="btnEdit_STOCK" onclick="return EditPageClick();" value="編集" Class="ButtonNormal ButtonMargin DisableCountNo" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <input type="button" id="btnLabelPrint_STOCK" value="ﾊﾞｰｺｰﾄﾞ印刷" Class="ButtonNormal ButtonMargin DisableCountNo" onclick="return PrintBarCode()" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="button" id="btnStockList_STOCK" value="在庫リスト" Class="ButtonNormal ButtonMargin DisableCountNo" />
                                        </td>
                                        <td>
                                            <input type="submit" id="btnStockListAdd_STOCK" value="リスト追加" Class="ButtonNormal ButtonMargin DisableCountNo" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <input type="button" id="BtnBulkChangeStoringLocation" name="BtnBulkChangeStoringLocation" value="保管場所一括変更" Class="ButtonNormal ButtonMargin DisableCountNo" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr />
            </div>
            <input type="hidden" id="hdnGroupCd" name="hdnGroupCd" />
            <input type="hidden" id="lblGroupName" name="lblGroupName" />
            <div style="overflow:hidden">
                <div style="width: 100%; text-align: right;">
                    @if (Model.listInventoryManagement != null && Model.listInventoryManagement.Count() > 0)
                    {
                        <span id="ResultCount" style="color:White;font-size:X-Large;font-weight:bold;">件数 : @Model.listInventoryManagement.Count() 件</span>
                    }
                </div>

                @if (Model.listInventoryManagement != null && Model.listInventoryManagement.Count() > 0)
                {
                    <div style="height:auto; width:100%; overflow-y:visible;">
                        <div id="resultGridOuter">
                            <div id="resultGridInner">
                                <div id="resultGridInner" style="width:100%">
                                    @grid.GetHtml(
                         tableStyle: "webgrid-table",
                         headerStyle: "webgrid-header",
                         footerStyle: "webgrid-footer",
                         alternatingRowStyle: "webgrid-alternating-row",
                         rowStyle: "webgrid-row-style",
                         htmlAttributes: new { @id = "InventoryListDataView", @class = "Grid" },
                         fillEmptyRows: false,
                         mode: WebGridPagerModes.All,
                         columns: grid.Columns(
                         grid.Column(format: @<text><input type="checkbox" value=@item.STOCK_ID id="@item.BARCODE,@item.PRODUCT_NAME" name="Inventorycheckbox" class="@item.BARCODE" /></text>),
grid.Column("化学物質名", header: "化学物質名", style: "col-sm4", format:@<text>@Html.Raw("<a href='#' onclick='return OpenViewInventory(" + item.STOCK_ID + ")'><span>" + @item.PRODUCT_NAME + "</span></a>")</text>),
grid.Column(columnName: "BARCODE", header: "瓶番号", style: "col-sm4"),
grid.Column(columnName: "MAKER_NAME", header: "メーカー名", style: "col-sm3"),
grid.Column(columnName: "DISPLAY_SIZE", header: "容量", style: "col-sm4"),
grid.Column(columnName: "CAT_CD", header: "化学物質コード", style: "col-sm4"),
grid.Column(columnName: "CAS_NO", header: "CAS＃", style: "col-sm4"),
grid.Column(columnName: "ORDER_USER", header: "受入者", style: "col-sm3"),
grid.Column(columnName: "DELI_DATE", header: "受入日", style: "col-sm4"),
grid.Column(columnName: "CONTENT_WEIGHT", header: "残量（内容量）", style: "col-sm4"),
grid.Column(columnName: "STATUS_NAME", header: "在庫ステータス", style: "col-sm4"),
grid.Column(columnName: "STORING_LOC_NAME", header: "保管場所", style: "col-sm3"),
grid.Column(columnName: "REGULATORY", header: "法規制", style: "col-sm4"),
grid.Column(columnName: "FIRE_NAME", header: "消防法", style: "col-sm3"),
grid.Column(columnName: "OFFICE_NAME", header: "社内ルール", style: "col-sm3"),
grid.Column(columnName: "GHSCAT", header: "GHS分類", style: "col-sm3")
))

                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div style="height:auto; width:100%; overflow-y:visible;">
                        <div id="UpdatePanel">
                            <div id="resultGridOuter" style="overflow:auto; width: 100%;">
                                <div id="resultGridInner" style="height: 409px; width: 1608px;">
                                    <div>
                                        <table cellspacing="0" cellpadding="4" rules="cols" id="grid" style="color:Black;background-color:White;border-width:1px;border-style:Solid;font-size:Small;border-collapse:collapse;">
                                            <tbody>
                                                <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:2px;border-style:Solid;font-weight:bold;font-family:'Times New Roman'">
                                                    <th><input id="gvStock_selectionCheck" type="checkbox" name="gvStock$ctl01$selectionCheck" /></th>
                                                    <th>化学物質名</th>
                                                    <th>
                                                        瓶番号
                                                    </th>
                                                    <th>
                                                        メーカー名
                                                    </th>
                                                    <th>
                                                        容量
                                                    </th>
                                                    <th>
                                                        化学物質コード
                                                    </th>
                                                    <th>
                                                        CAS＃
                                                    </th>
                                                    <th>
                                                        受入者
                                                    </th>
                                                    <th>
                                                        受入日
                                                    </th>
                                                    <th>
                                                        残量（内容量）
                                                    </th>
                                                    <th>
                                                        在庫ステータス
                                                    </th>
                                                    <th>
                                                        保管場所
                                                    </th>
                                                    <th>
                                                        法規制
                                                    </th>
                                                    <th>
                                                        消防法
                                                    </th>
                                                    <th>
                                                        社内ルール
                                                    </th>
                                                    <th>GHS分類</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </body>
}

<script>


    $(document).ready(function () {
        //$.unblockUI();
        var url = null;
        $("#btnSearch_STOCK").click(function () {
            var formdataval = $('form').serialize();
            //$.blockUI({ message: '<p>読み込み中...</p>' });
            $.ajax({
                url: "/ZC020/MaxCountResult",
                type: "POST",
                cache: false,
                data: formdataval,
                dataType: "json",
                success: function (data) {                  
                    if (data[0] >= 0) {
                        var rowCount = data[0];
                        var totalcount = data[1];
                        var maxsearchcount = data[2];
                        if (totalcount <= 500) {
                            //$.blockUI({ message: '<p>読み込み中...</p>' });
                            $('#btnSearchSTOCK').trigger('click');
                        }
                        else if (totalcount >= maxsearchcount) {
                            //$("#result").hide();
                            $.unblockUI();
                            if (confirm("{" + rowCount + "} 件以上({ " + totalcount + "}件)ヒットしました。上位{ " + rowCount + " } 件の検索結果を表示します。\n全件表示する場合はリスト出力を行ってください。")) {
                                //$.blockUI({ message: '<p>読み込み中...</p>' });
                                $('#btnSearchSTOCK').trigger('click');
                            } else {
                                $('#btnClear_STOCK').trigger('click');
                                //$("#result").show();
                            }
                        } else {
                            $('#btnSearchSTOCK').trigger('click');
                        }
                    }
                },
                error: function () {
                    alert("An error has occured!!!");
                }
            });
        });
        return false;
    });

    function OpenViewInventory(obj) {
        var url = "../ZC020/ZC02021?StockId=" + obj + "&isEdit=" + 0;;
        window.open(url, 'popUpWindow', 'height=800,width=1000,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes');
    }

    function EditPageClick() {
        var checked = $("input[name='Inventorycheckbox']:checked").length;
        var StockId = [];
        $.each($("input[name='Inventorycheckbox']:checked"), function () {
            StockId.push($(this).val());
        });
        if (checked > "1") {
            alert("対象が複数選択されています。");
            return false;

        } else if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        else {
            $.ajax({
                url: '/ZC020/CheckLegderExisitsForEdit',
                type: 'GET',
                data: { 'StockId': StockId.join(",") },
                success: function (data) {
                    if (data != "") {
                        alert(data);
                        return false;
                    }
                    else {
                        var url = "../ZC020/ZC02021?StockId=" + StockId + "&isEdit=" + 1;
                        window.location.href = url;
                    }
                    return false;
                },
                error: function (err) {
                    //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                    return false;
                }
            });
            return false;
        }
        return false;
    }

    $('#btnStockListAdd_STOCK').click(function () {
        var checked = $("input[name='Inventorycheckbox']:checked").length;
        if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        else {
            var favorite = [];
            $.each($("input[name='Inventorycheckbox']:checked"), function () {
                favorite.push($(this).val());
            });
            $.ajax({
                url: '/ZC020/AddStockInventoryList',
                type: 'POST',
                data: { 'StockId': favorite.join(", ") },
                success: function (data) {
                    return false;
                },
                error: function (err) {
                    //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                    return false;
                }
            });
            return false;
        }
        return false;
    });


    $('#btnUsageHistory').click(function () {
        var checked = $("input[name='Inventorycheckbox']:checked").length;
        if (checked > "1") {
            alert("対象が複数選択されています。");
            return false;

        } else if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        else {
            var StockId = [];
            $.each($("input[name='Inventorycheckbox']:checked"), function () {
                StockId.push($(this).val());
            });
            var url = "../ZC010/ZC01041?StockId=" + StockId.join(", ");
            window.location.href = url;
        }
        return false;
    });


    $('#btnControl').click(function () {
        var checked = $("input[name='Inventorycheckbox']:checked").length;
        if (checked > "1") {
            alert("対象が複数選択されています。");
            return false;

        } else if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        else {
            var StockId = [];
            $.each($("input[name='Inventorycheckbox']:checked"), function () {
                StockId.push($(this).val());
            });
            var idArray = [];
            $("#InventoryListDataView").find('input[name="Inventorycheckbox"]:checked').each(function (i, k) {
                var item = $(this);
                idArray.push(item.attr("id"));
            });
            var Values = idArray.join(",").split(',');
            $.ajax({
                url: '/ZC020/btnControlStockClick',
                type: 'GET',
                data: { 'StockId': Values[0] },
                success: function (data) {
                    if (data == "True") {
                        window.location.href = "../ZC040/ZC04001?Barcode=" + Values[0] + "&ProductName=" + Values[1];
                    }
                    else {
                        alert("所属部署に管理台帳が登録されていないため、入出庫できません");
                    }
                    return false;
                },
                error: function (err) {
                    //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                    return false;
                }
            });
            return false;
        }
        return false;
    });

    $('#BtnBulkChangeStoringLocation').click(function () {
        var checked = $("input[name='Inventorycheckbox']:checked").length;
        //if (checked > "1") {
        //    alert("対象が複数選択されています。");
        //    return false;
        //}
        if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        else {
            var idArray = [];
            $("#InventoryListDataView").find('input[name="Inventorycheckbox"]:checked').each(function (i, k) {
                var item = $(this);
                idArray.push(item.attr("class"));
            });      
            window.location.href = "../ZC020/ZC02004?id=" + idArray.join(",");
        }
        return false;
    });

    $('#btnStockList_STOCK').click(function () {
        window.open('../ZC020/ZC02022', '', 'width=1276", height=726", menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes');
    });


    function setValue(Id) {
        if (Id == "Location") {
            if ($("#Locationidval").val() != "") {
                $("#lblLocationSelection").text("設定済み");
            } else {
                 $("#lblLocationSelection").text("");
            }
        }
        else if (Id == "Regulation") {
            if ($("#Regulationidval").val() != "") {
                $("#lblRegulationSelection").text("設定済み");
            } else {
                 $("#lblRegulationSelection").text("");
            }
        }
    }

    function Cleartext(Id) {
        if (Id == "Location") {
            $("#lblLocationSelection").text("");
            $("#Locationidval").val("");
        }
        else if (Id == "Regulation") {
            $("#lblRegulationSelection").text("");
            $("#Regulationidval").val("");
        }
    }


    function PrintBarCode() {
        var checked = $("input[name='Inventorycheckbox']:checked").length;
        if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        var StockId = [];
        $.each($("input[name='Inventorycheckbox']:checked"), function () {
            StockId.push($(this).val());
        });

        var result = confirm("バーコードを印刷します。よろしいですか？");
        if (result == true) {
            //alert($('#txtUserCd').val());
            // alert($('#txtUserName').val());
            $.ajax({
                url: '/ZC020/BarCodeLabelPrint',
                data: { 'Barcode': StockId.join(",") },
                type: 'POST',
                success: function (data) {
                    //  alert(data);
                    var agent = window.navigator.userAgent.toLowerCase();
                    var ischrome = (agent.indexOf('chrome') !== -1) && (agent.indexOf('edge') === -1) && (agent.indexOf('opr') === -1)
                    if (ischrome) {
                        DoPrint(data);
                    }
                    else {
                        // IE browser which supports Activex component
                        //alert("IE browser which supports Activex component");
                        DoPTouchLabelPrint(data);
                    }

                    return false;
                },
                error: function (err) {
                    alert(err);
                    return false;
                }
            });
            return false;
        }
    }

</script>


<script type="module">
    import * as bpac from '../../Scripts/bpac.js';
    window.DoPrint = async function DoPTouchLabelPrint(datas) {
        var label = {};
        if (bpac.IsExtensionInstalled() == false) {
            alert(bpac.IsExtensionInstalled());
            const agent = window.navigator.userAgent.toLowerCase();
            const ischrome = (agent.indexOf('chrome') !== -1) && (agent.indexOf('edge') === -1) && (agent.indexOf('opr') === -1)
            if (ischrome) {
                window.open('https://chrome.google.com/webstore/detail/ilpghlfadkjifilabejhhijpfphfcfhb', '_blank');
            }
        } else {
            // extension installed
            try {
                // alert("extension installed Chrome browser");
                const templateFileName = datas.substring(0, datas.indexOf(","));
                var data = datas.substring(datas.indexOf(",") + 1, datas.count);

                var templateFileName1 = "../../Template/" + templateFileName;
               // alert(templateFileName1);
                // alert(data);
                const label = bpac.IDocument;
                const ret = await label.Open(templateFileName1);
               // alert("ret value" + ret);
                if (ret == true) {
                    var divisor = "";
                    if (templateFileName == 'User.lbx') {
                        divisor = 2;
                    } else if (templateFileName == 'Location.lbx') {
                        divisor = 3;
                    } else if (templateFileName == 'Bottle.lbx') {
                        divisor = 2;
                    }

                    label.StartPrint("", 0);
                    var count = 0;
                    // datas = '[{ "Name": "test1", "Number": "dev1" },{ "Name": "test12", "Number": "dev12" }]';
                    JSON.parse(data, function (key, value) {

                        if (typeof (value) != "object") {
                            count++;
                            if (key == "Number") {
                                label.GetObject("Number").Text = value;
                                //  alert("Number: " + label.GetObject("Number").Text);
                            } else if (key == "Barcode") {
                                label.GetObject("Barcode").Text = value;
                                //  alert("Barcode: " + value);
                            }
                            else {
                                label.GetObject("Name").Text = value;
                                // alert("Name: " + label.GetObject("Name").Text);
                            }
                        }
                        if (count != 0 && count % divisor == 0) {
                            alert("printing");
                            label.PrintOut(1, 0);
                            count = 0;
                        }
                    });

                    label.Close();
                    label.EndPrint();
                    //alert("P-Touch End print");
                }
                else {
                    alert("P-Touchラベルプリンターが正しくインストールされていません。");
                }
            }
            catch (e) {
                console.log(e);
            }
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("th:first").css("width", "18px");
        $("th:first").html('<input type="checkbox" value="" name="headerchkRow" id="master" class="chkHeaderclass" />');

        $("#master").click(function () {
            var checkAll = $("#master").prop('checked');
            if (checkAll) {
               $("input[name='Inventorycheckbox']").prop("checked", true);
            } else {
               $("input[name='Inventorycheckbox']").prop("checked", false);
            }
        });

        $("input[name='Inventorycheckbox']").click(function () {
            if ($("input[name='Inventorycheckbox']").length == $("input[name='Inventorycheckbox']:checked").length) {
                $("#master").prop("checked", true);
            } else {
                $("#master").prop("checked", false);
            }
        });
    });
</script>










