﻿
@model ChemMgmt.Models.InventoryManagement
@{
    WebGrid grid = new WebGrid(Model.listBulkChangeInventoryDetails, canSort: true, canPage: false);
    Layout = "~/Views/Shared/_LayoutInventory.cshtml";
}

<style type="text/css">


    .webgrid-table {
        width: 100%;
        display: table;
        border-collapse: collapse;
        border: solid 1px #fff;
        font-size: small;
        font-style: 'Time new roman';
        /*background-color: white;*/
    }

        .webgrid-table th {
            border: 1px solid #fff;
            /*padding: 3px 7px 2px;*/
        }

        .webgrid-table td {
            border-right: 1px solid Black;
            /*border-bottom: 1px solid;*/
            border-left: 1px solid;
            /*padding: 3px 7px 2px;*/
            white-space: nowrap;
        }

    .webgrid-header {
        background-color: maroon;
        text-align: center;
        color: Black;
        background-color: White;
        border-width: 2px;
        border-style: Solid;
        font-size: Small;
        border-collapse: collapse;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        background-color: maroon;
        white-space: nowrap;
    }

    .webgrid-row-style {
        background-color: white;
    }

    .webgrid-alternating-row {
        background-color: seashell;
    }

    .webgrid-header a {
        color: #ffffff;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="clear: both;">
        <div id="contents">
            <div class="form-horizontal">
                <input type="hidden" id="hdnGroupCd" name="hdnGroupCd" />
                <input type="hidden" id="lblGroupName" name="lblGroupName" />
                <table cellspacing="0" id="MainContents_SearchFormView" style="border-collapse:collapse;" width="100%">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="ioSection ioSectionSearch">

                                    <!-- 列1 -->
                                    <div class="ioFieldLong">
                                        <div class="ioSet">
                                            <div class="label">
                                                @Html.Label("保管場所：")
                                            </div>
                                            <div class="io">
                                                <input type="button" id="LocationSelect" value="選択" Class="buttonLong" onclick="OpenTreePopup()" />
                                                <input type="button" id="RegulationClear" value="クリア" Class="buttonLong" onclick="Cleartext('Regulation');" />
                                                <input type="hidden" id="Locationidval" Name="StoringSelection" value="@Model.LocationID" />
                                                <input type="hidden" id="Locationname" Name="StoringLocationName" value="@Model.LocationName" />
                                                @if (Model.LocationName != "" && Model.LocationName != null)
                                                {
                                                    <label id="lblRegulationSelection">@Model.LocationName</label>
                                                }
                                                else
                                                {
                                                    <label id="lblRegulationSelection"></label>
                                                }
                                                <input type="button" class="btnlocreg" name="reg" onclick="return LedgerstorageDetails();" style="visibility:hidden" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="buttonField">
                                        <input type="submit" id="ChangeRequest" name="ChangeRequest" value="変更" class="button" />
                                    </div>
                                </div>
                                <hr />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="result">
            <div style="width: 100%; text-align: right;">
                @if (Model.listBulkChangeInventoryDetails != null && Model.listBulkChangeInventoryDetails.Count() > 0)
                {
                    <span id="ResultCount" style="color:White;font-size:X-Large;font-weight:bold;">件数 : @Model.listBulkChangeInventoryDetails.Count() 件</span>
                }
            </div>
            <div style="clear: both;" />
            <div id="resultGridOuter">
                <div id="resultGridInner">
                    @if (Model.listBulkChangeInventoryDetails != null && Model.listBulkChangeInventoryDetails.Count() > 0)
                    {
                        int rowVal = 0;
                        <div style="height:auto; width:100%; overflow-y:visible;">
                            <div id="resultGridOuter" style="overflow:auto; width: 100%;">
                                <div id="resultGridInner" style="height: 409px; width: 1608px;">
                                    <div id="IventoryGrid">
                                        @grid.GetHtml(
                                                tableStyle: "webgrid-table",
                                                headerStyle: "webgrid-header",
                                                footerStyle: "webgrid-footer",
                                                alternatingRowStyle: "webgrid-alternating-row",
                                                rowStyle: "webgrid-row-style",
                                                htmlAttributes: new { id = "InventoryBatchDataView" },
                                                fillEmptyRows: false,
                                                mode: WebGridPagerModes.All,
                                                columns: grid.Columns(
grid.Column("No.", style: "center", format: item => rowVal = rowVal + 1),
grid.Column(columnName: "CHANGE_RESULT", header: "結果", style: "center"),
grid.Column(columnName: "PRODUCT_NAME_JP", header: "化学物質名", style: "center"),
grid.Column(columnName: "MAKER_NAME", header: "メーカー名", style: "center"),
grid.Column(columnName: "UNITSIZE_NAME_JOIN", header: "容量", style: "center"),
grid.Column(columnName: "BARCODE", header: "瓶番号", style: "center"),
grid.Column(columnName: "LOC_NAME", header: "保管場所", style: "center"),
grid.Column(columnName: "CAT_CD", header: "化学物質コード", style: "center"),
grid.Column(columnName: "OWNER", header: "受入者", style: "center"),
grid.Column(columnName: "DELI_DATE", header: "受入日", style: "center"),
grid.Column(columnName: "CONTENT_WEIGHT_VOLUME", header: "残量(内容量)", style: "center"),
grid.Column(columnName: "STATUS_TEXT", header: "ステータス", style: "center"),
grid.Column(columnName: "REG_TEXT", header: "法規制", style: "center"),
grid.Column(columnName: "FIRECAT_NAME", header: "消防法", style: "center"),
grid.Column(columnName: "LOC_NAME", header: "社内ルール", style: "center"),
grid.Column(columnName: "GHSCAT_NAME", header: "GHS分類", style: "center")
))
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    function OpenTreePopup() {
        var idval = $('#Locationidval').val();
        var url = "../ZC010/ZC01081?TableName=M_STORING_LOCATION&ColumnName=P_LOC_ID&SelectType=0&RowId=&Filter=&Id="+idval+"";
        window.open(url, '', 'width=1276", height=726", menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes'); //, 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes, _blank'
    }

    function setlblValue() {
        var locationId = $('#Locationidval').val();
        $.ajax({
            url: '/ZC020/getLocationName',
            type: 'GET',
            data: { 'locId': locationId },
            success: function (data) {
                if (data != "") {
                    $("#lblRegulationSelection").text(data);
                    $("#Locationname").val(data);
                }
                return false;
            },
            error: function (err) {
                //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                return false;
            }
        });
        return false;
    }

    function Cleartext(Id) {
        if (Id == "Regulation") {
            $("#lblRegulationSelection").text("");
            $("#Locationidval").val("");
            $("#Locationname").val("");
        }
    }

</script>
