﻿@model ChemMgmt.Models.InventoryManagement
@{
    Layout = "~/Views/Shared/_LayoutInventory.cshtml";
}

<style>
    #EvenOddtr:nth-child(odd) {
        background-color: SeaShell;
    }
</style>

@if (TempData["ErrorMessage"] != null)
{
    <script>
                $(document).ready(function () {
                    alert(@TempData["ErrorMessage"]);
                    return false;
                })
    </script>

}

@using (Html.BeginForm())
{
    string EditFlag = "";
    if (Request.QueryString["isEdit"] != null)
    {
        EditFlag = Request.QueryString["isEdit"];
    }
    <body class="body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            <table class="TableSearch" align="center">
                <tr>
                    <td valign="top">
                        <table align="center">
                            <tr>
                                <td align="right" valign="top" width="200px">
                                    <label for="Label1" class="LabelSearch">在庫ステータス：</label>
                                </td>
                                <td align="left">
                                    <asp:Label ID="labStatus_ZC02021" Text="　"></asp:Label>
                                    <label for="labStatus_ZC02021">@Model.viewInventory.STATUS_TEXT</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label2" class="LabelSearch">登録番号(半角)：</label>
                                </td>
                                <td align="left">
                                    <label for="labRegNo_ZC02021">@Model.viewInventory.REG_NO</label>
                                    @Html.HiddenFor(m => m.viewInventory.REG_NO)
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">
                                    <label for="Label3" class="LabelSearch">発注番号：</label>
                                </td>
                                <td align="left">
                                    <label for="labOrderNo_ZC02021">@Model.viewInventory.ORDER_NO</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label5" class="LabelSearch">瓶番号：</label>
                                </td>
                                <td align="left">
                                    <label for="labBarcode_ZC02021">@Model.viewInventory.BARCODE</label>
                                    @Html.HiddenFor(m => m.viewInventory.BARCODE)
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label7" class="LabelSearch">化学物質名：</label>
                                </td>
                                <td align="left">
                                    <label for="labProductName_JP_ZC02021">@Model.viewInventory.PRODUCT_NAME_JP</label>
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">
                                    <label for="Label12" class="LabelSearch">商品名(英名)：</label>
                                </td>
                                <td align="left">
                                    <label for="labProductName_EN_ZC02021">@Model.viewInventory.PRODUCT_NAME_EN</label>
                                </td>
                            </tr>
                            <tr style="display: none">
                                <td align="right" valign="top">
                                    <label for="Label9" class="LabelSearch">保管庫タイプ名：</label>
                                </td>
                                <td align="left">
                                    <label for="labLocationTypeName_ZC02021"></label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label11" class="LabelSearch">保管場所：</label>
                                </td>
                                <td align="left">
                                    <label for="labLocName_ZC02021">@Model.viewInventory.LOC_NAME</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label21" class="LabelSearch">化学物質コード：</label>
                                </td>
                                <td align="left">
                                    <label for="labCatCD_ZC02021">@Model.viewInventory.CAT_CD</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label6" class="LabelSearch">CAS#(半角)：</label>
                                </td>
                                <td align="left">
                                    <label for="labCasNO_ZC02021">@Model.viewInventory.CAS_NO</label>
                                </td>
                            </tr>

                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label13" class="LabelSearch">メーカー名：</label>
                                </td>
                                <td align="left">
                                    @if (EditFlag == "0")
                                    {
                                        <label for="labMaker_ZC02021">@Model.viewInventory.MAKER_NAME</label>
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.viewInventory.MAKER_ID, Model.LookUpMakerName, "", new { @class = "DdlSearchLong required", @id = "MakerName" })
                                    }
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">

                                    <label for="Label15" class="LabelSearch">規格：</label>
                                </td>
                                <td align="left">
                                    <label for="labGrade_ZC02021">@Model.viewInventory.GRADE</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label17" class="LabelSearch">容量(半角)：</label>
                                </td>
                                <td align="left">
                                    @if (EditFlag == "0")
                                    {
                                        <label for="labUnitSize_ZC02021">@Model.viewInventory.UNITSIZE</label>
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.viewInventory.UNITSIZE, new { id = "UNITSIZE", @class = "TextBoxSearchLong required halfWidth allownumericwithdecimal", @maxlength = "12" })
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label19" class="LabelSearch">単位：</label>
                                </td>
                                <td align="left">
                                    @if (EditFlag == "0")
                                    {
                                        <label for="labUnitName_ZC02021">@Model.viewInventory.labUnitName</label>
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.viewInventory.UNITSIZE_ID, Model.LookUpAmountUnitSize, "", new { @Class = "DdlSearchShort required", @id = "UnitName" })
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label23" class="LabelSearch">受入日：</label>
                                </td>
                                <td align="left">
                                    <label for="labDeliDate_ZC02021">@Model.viewInventory.DELI_DATE</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label25" class="LabelSearch">受入者：</label>
                                </td>
                                <td align="left">
                                    <label for="labOrderUserName_ZC02021">@Model.viewInventory.ORDER_NAME</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label27" class="LabelSearch">残量(内容量)：</label>
                                </td>
                                <td align="left">
                                    <label for="labWeight_ZC02021">@Model.viewInventory.CUR_GROSS_WEIGHT_G</label>
                                    &nbsp;
                                    @if (Model.viewInventory.imgWeight)
                                    {
                                        <img src="~/Image/Unit_Gram.png" />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label29" class="LabelSearch">最終使用日：</label>
                                </td>
                                <td align="left">
                                    <label for="labBrw_Date_ZC02021">@Model.viewInventory.BRW_DATE</label>
                                    @Html.HiddenFor(m => m.viewInventory.BRW_DATE)
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label31" class="LabelSearch">最終使用者：</label>
                                </td>
                                <td align="left">
                                    <label for="labBorrower_ZC02021">@Model.viewInventory.BORROWER_NAME</label>
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">
                                    <label for="Label33" class="LabelSearch">保存条件：</label>
                                </td>
                                <td align="left">
                                    <label for="labPreservationCondition_ZC02021">@Model.viewInventory.PRESERVATION_CONDITION</label>
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">
                                    <label for="Label35" class="LabelSearch">消費期限：</label>
                                </td>
                                <td align="left">
                                    <label for="labLimitDate_ZC02021">@Model.viewInventory.LIMIT_DATE</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label37" class="LabelSearch">備考：</label>
                                </td>
                                <td align="left">
                                    @if (EditFlag == "0")
                                    {
                                        <label for="labMemo_ZC02021">@Model.viewInventory.labMemo</label>
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(m => m.viewInventory.MEMO, new { id = "TextMEMO", @class = "multiLineTextBox" })
                                    }
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">
                                    <label for="Label4" class="LabelSearch">購入単価：</label>
                                </td>
                                <td align="left">
                                    <label for="labPrice_ZC02021"></label>
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">
                                    <label for="Label10" class="LabelSearch">通貨：</label>
                                </td>
                                <td align="left">
                                    <label for="labCurrency_ZC02021"></label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label44" class="LabelSearch">初期重量(風袋込)：</label>
                                </td>
                                <td align="left">
                                    <label for="labIni_weight_ZC02021">@Model.viewInventory.INI_GROSS_WEIGHT_G</label>
                                    &nbsp;
                                    @if (Model.viewInventory.imgIni_weight)
                                    {
                                        <img src="~/Image/Unit_Gram.png" />
                                    }
                                </td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label16" class="LabelSearch">風袋重量：</label>
                                </td>
                                <td align="left">
                                    <label for="labBottle_weight_ZC02021">@Model.viewInventory.BOTTLE_WEIGHT_G</label>
                                    &nbsp;
                                    @if (Model.viewInventory.imgbottle_weight)
                                    {
                                        <img src="~/Image/Unit_Gram.png" />
                                    }
                                </td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="Label48" class="LabelSearch">現在所有場所：</label>
                                </td>
                                <td align="left">
                                    <label for="labFirst_loc_ZC02021">@Model.viewInventory.FIRST_LOC_NAME</label>
                                </td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">
                                    <label for="Label52" class="LabelSearch">取扱：</label>
                                </td>
                                <td align="left">
                                    <label for="labTreat_a_ZC02021"></label>
                                </td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">
                                    <label for="Label14" class="LabelSearch">輸送条件：</label>
                                </td>
                                <td align="left">
                                    <label for="labTransportCondition_ZC02021">@Model.viewInventory.TRANSPORT_CONDITION</label>
                                </td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">
                                    <label for="labTransportCondition_ZC02021" class="LabelSearch">廃棄メール送信日：</label>
                                </td>
                                <td align="left">
                                    <label for="labDel_mail_date_ZC02021">@Model.viewInventory.DEL_MAIL_DATE</label>
                                </td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">
                                    <label for="Label60" class="LabelSearch">試薬名称(和名)：</label>
                                </td>
                                <td align="left">
                                    <label for="labReagent_name_jpn_ZC02021"></label>
                                </td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr style="display: none;">
                                <td align="right" valign="top">
                                    <label for="Label64" class="LabelSearch">試薬名称(英名)：</label>
                                </td>
                                <td align="left">
                                    <label for="labReagent_name_eng_ZC02021"></label>
                                </td>
                                <td align="left">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <label for="lblRegulationGrid">法規制：</label>                                                                      <br />
                                </td>
                                <td>
                                    <div style="width: 614px;">

                                        <table cellspacing="0" cellpadding="4" rules="cols" id="RegulationGrid" style="color:Black;background-color:White;border-color:White;border-width:1px;border-style:Solid;font-size:Small;width:100%;border-collapse:collapse;">
                                            <tbody>
                                                <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:1px;border-style:Solid;font-weight:bold;">
                                                    <th scope="col">アイコン</th>
                                                    <th scope="col">法規制</th>
                                                </tr>
                                                @if (Model.vRegulation != null)
                                                {
                                                    foreach (var items in Model.vRegulation)
                                                    {

                                                        <tr id="EvenOddtr">
                                                            @if (items.IconUrl != null && items.IconUrl != "")
                                                            {
                                                                <td align="center" style="width:100px;"><img src="@items.IconUrl" style="height:32px;" /></td>
                                                            }
                                                            else
                                                            {
                                                                <td align="center" style="width:100px;"><span style="display:inline-block;height:32px;"></span></td>
                                                            }
                                                            <td style="width:364px;">@items.REG_TEXT</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td align="right" valign="top">
                                    <label for="lblGhsCategoryGrid">GHS分類：</label><br />
                                </td>
                                <td>
                                    <div style="width: 614px;">
                                        <table cellspacing="0" cellpadding="4" rules="cols" id="GhsCategoryGrid" style="color:Black;background-color:White;border-color:White;border-width:1px;border-style:Solid;font-size:Small;width:100%;border-collapse:collapse;">
                                            <tbody>
                                                <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:1px;border-style:Solid;font-weight:bold;">
                                                    <th scope="col">アイコン</th>
                                                    <th scope="col">GHS分類</th>
                                                </tr>

                                                @if (Model.vGhscat != null)
                                                {

                                                    foreach (var vghscat in Model.vGhscat)
                                                    {

                                                        <tr id="EvenOddtr">
                                                            @if (vghscat.IconUrl != null && vghscat.IconUrl != "")
                                                            {
                                                                <td align="center" style="width:100px;"><img src="@vghscat.IconUrl" style="height:32px;" /></td>
                                                            }
                                                            else
                                                            {
                                                                <td align="center" style="width:100px;"><span style="display:inline-block;height:32px;"></span></td>
                                                            }
                                                            <td style="width:364px;">@vghscat.GHSCAT_NAME</td>
                                                        </tr>

                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td align="right" valign="top">
                                    <label for="lblFireCategoryGrid">消防法：</label>
                                    <br />
                                </td>
                                <td>
                                    <div style="width: 614px;">
                                        <table cellspacing="0" cellpadding="4" rules="cols" id="FireCategoryGrid" style="color:Black;background-color:White;border-color:White;border-width:1px;border-style:Solid;font-size:Small;width:100%;border-collapse:collapse;">
                                            <tbody>
                                                <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:1px;border-style:Solid;font-weight:bold;">
                                                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">アイコン</font></font></th>
                                                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">消防法</font></font></th>
                                                </tr>

                                                @if (Model.vFire != null)
                                                {
                                                    foreach (var items in Model.vFire)
                                                    {

                                                        <tr id="EvenOddtr">
                                                            @if (items.IconUrl != null && items.IconUrl != "")
                                                            {
                                                                <td align="center" style="width:100px;"><img src="@items.IconUrl" style="height:32px;" /></td>
                                                            }
                                                            else
                                                            {
                                                                <td align="center" style="width:100px;"><span style="display:inline-block;height:32px;"></span></td>
                                                            }
                                                            <td style="width:364px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@items.FIRE_NAME</font></font></td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <asp:Label ID="lblOfficeCategoryGrid" runat="server" Text="社内ルール：" />
                                    <label for="lblOfficeCategoryGrid">社内ルール：</label>                                                                           <br />
                                </td>
                                <td>
                                    <div style="width: 614px;">
                                        <table cellspacing="0" cellpadding="4" rules="cols" id="OfficeCategoryGrid" style="color:Black;background-color:White;border-color:White;border-width:1px;border-style:Solid;font-size:Small;width:100%;border-collapse:collapse;">
                                            <tbody>
                                                <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:1px;border-style:Solid;font-weight:bold;">
                                                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">アイコン</font></font></th>
                                                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">社内ルール</font></font></th>
                                                </tr>
                                                @if (Model.vOffice != null)
                                                {
                                                    foreach (var items in Model.vOffice)
                                                    {

                                                        <tr id="EvenOddtr">
                                                            @if (items.IconUrl != null && items.IconUrl != "")
                                                            {
                                                                <td align="center" style="width:100px;"><img src="@items.IconUrl" style="height:32px;" /></td>
                                                            }
                                                            else
                                                            {
                                                                <td align="center" style="width:100px;"><span style="display:inline-block;height:32px;"></span></td>
                                                            }
                                                            <td style="width:364px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@items.OFFICE_NAME</font></font></td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />
            <hr />
            <table class="TableFooter">
                <tbody>
                    <tr>
                        <td>
                            <table style="float:left;">
                                <tbody>
                                    <tr>
                                        <td width="90px"></td>
                                        <td width="90px"></td>
                                        <td width="90px"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table style="float:right;">
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td width="90px"></td>
                                        <td width="90px"></td>
                                        <td width="90px"></td>
                                        <td width="90px"></td>
                                        <td width="90px"></td>
                                        <td width="90px"></td>
                                        <td width="90px"></td>
                                        <td width="90px"></td>
                                        <td width="90px"></td>
                                        <td width="90px">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    @if (EditFlag == "1")
                                                    {
                                                        <input type="submit" name="update" value="更新" onclick="return InventoryViewSubmit();" id="ucFooter_btnFooter_10" class="ButtonFooter" />
                                                        <input type="submit" name="update" value="更新" id="UpdateFormEdit" class="ButtonFooter" style="display:none" />
                                                    }
                                                </font>
                                            </font>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
}

<script>


    $(document).ready(function () {
        $(".allownumericwithdecimal").keypress(function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        $(function () {
            $("#UNITSIZE").bind('paste', function () {
                setTimeout(function () {
                    var data = $('#UNITSIZE').val();
                    var dataFull = data.replace(/[\^\&\|\?\.\\]/gi, '');
                    $('#UNITSIZE').val(dataFull);
                });
            });
        });

    });

    function InventoryViewSubmit() {
        let isOk = confirm("更新します。よろしいですか？");
        if (isOk) {
            if ($("#MakerName").val() == "") {
                alert("メーカー名は必須項目です。");
                return false;
            }
            else if ($("#UNITSIZE").val() == "") {
                alert("容量は必須項目です。");
                return false;
            }
            else if ($("#UnitName").val() == "") {
                alert("単位は必須項目です。");
                return false;
            }
            else if ($("#TextMEMO").val() != "") {
                var txtlength = $("#TextMEMO").val().length;
                if (txtlength > 1000) {
                    alert("備考は1000文字以下で入力してください。");
                    return false;
                }
            }             
            else {
                $.ajax({
                    url: '/ZC020/ValidateDecimalDataValues',
                    type: 'GET',
                    data: { 'unitsize': $("#UNITSIZE").val() },
                    success: function (data) {
                        if (data != "") {
                            alert(data);
                            return false;
                        } else {
                            $('#UpdateFormEdit').trigger("click");
                        }
                        return false;
                    },
                    error: function (err) {
                        //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                        return false;
                    }
                });
                return false;
            }

        } else {
            return false;
        }
    }
</script>

