﻿/* ====================================================== */
/*  画面の背景画像  ノーマル時                            */
/* ====================================================== */
.body {
    background-image: url(../Image/site-background.png);
}

/* ====================================================== */
/*  ロゴ                                                  */
/* ====================================================== */
.titleLogo {
    background-image: url(../Image/site-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: -20px -20px;
    width: 400px;
    height: 95px;
}

.Logo {
    
    background-repeat: no-repeat;
    width: 220px;
    height: 48px;
}
/* ====================================================== */
/*  画面の背景画像  マスター時                            */
/* ====================================================== */
.bodyMaster {
    background-image: url(../Image/site-background.png);
}

/* ====================================================== */
/*  検索画面用ボタンのスタイル                            */
/* ====================================================== */
.ButtonSearch
{
    height: 20px;
    width: 90px;
    Font-Size: small;
    font-family: monospace;
    text-align: center;
}

/* ====================================================== */
/*  通常ボタンのスタイル                                  */
/* ====================================================== */
.ButtonNormal
{
    height: 30px;
    width: 90px;
    Font-Size: small;
    font-family: monospace;
    text-align: center;
    padding: 0px;
}
.ButtonShort {
    height: 30px;
    width: 50px;
    margin-left: 8px;
    Font-Size: small;
    font-family: monospace;
    text-align: center;
    padding: 0px;
}
.ButtonMargin
{
    padding: 0px;
    margin: 0px 16px 2px 0px;
}
.buttonLong {
    margin: 0px 8px 0px 0px;
    display: inline-block;
    text-align: center;
    width: 88px;
    padding: 2px 0px;
    font-size: small;
    font-family: monospace;
}

/* ====================================================== */
/*  通常ボタン(2行)のスタイル                                  */
/* ====================================================== */
.ButtonNormal2Line
{
    Font-Size:x-small;
}

/* ====================================================== */
/*  ヘッダーボタンのスタイル                              */
/* ====================================================== */
.ButtonHeader
{
    height: 35px;
    width: 90px;
    padding: 0px;
    Font-Size: small;
    font-family: monospace;
    text-align: center;
}
.ButtonHeaderLong
{
    height: 35px;
    width: 120px;
    padding: 0px;
    Font-Size: small;
    font-family: monospace;
    text-align: center;
}

/* ====================================================== */
/*  フッターボタンのスタイル                              */
/* ====================================================== */
.ButtonFooter
{
    height: 40px;
    width: 90px;
    Font-Size: small;
    font-family: monospace;
    text-align: center;
    padding: 0px;
}

/* ====================================================== */
/*  メニューボタンのスタイル                              */
/* ====================================================== */
.ButtonMenu
{
    height: 40px;
    width: 230px;
    Font-Size: small;
    font-family: monospace;
    text-align: center;
}

/* ====================================================== */
/*  ユーザーコントロールボタンのスタイル          */
/* ====================================================== */
.ButtonUC
{
    height: 22px;
    width: 90px;
    Font-Size: small;
    font-family: monospace;
    text-align: center;
}

/* ====================================================== */
/*  検索項目用Labelのスタイル                             */
/* ====================================================== */
.LabelSearch
{
    text-align:right;
}

/* ====================================================== */
/*  メニューLabelのスタイル                              */
/* ====================================================== */
.LabelMenu
{
    background-color:#FFFF99;
    border:5px Outset #FFCC99;
    font-size:x-large;
    font-weight:bold;
}

/* ====================================================== */
/*  ノーマルLabelのスタイル                              */
/* ====================================================== */
.LabelNormal
{
    background-color:#fffafa;
    border:3px solid #ffffff;
}
/* ====================================================== */
/*  フォントサイズSmallのLabelのスタイル                  */
/* ====================================================== */
.LabelFontSmall
{
    font-size:small;
}

/* ====================================================== */
/*  TextBoxのスタイル                                     */
/* ====================================================== */
.TextBox
{
    text-align:left;
}
/* ====================================================== */
/*  検索条件のTextBoxのスタイル（短い版）                 */
/* ====================================================== */
.TextBoxSearchShort
{
    width:100px;
    text-align:left;
}
/* ====================================================== */
/*  検索条件のTextBoxのスタイル（長い版）                 */
/* ====================================================== */
.TextBoxSearchLong
{
    text-align:left;
}

/* ====================================================== */
/*  複数行のTextBoxのスタイル                             */
/* ====================================================== */
.multiLineTextBox{
    overflow: auto;
    height: 88px;
    width: 100%;
}

/* ====================================================== */
/*  検索条件のドロップダウンリストのスタイル（短い版）    */
/* ====================================================== */
.DdlSearchShort
{
    width:100px;
}
/* ====================================================== */
/*  検索条件のドロップダウンリストのスタイル（長い版）    */
/* ====================================================== */
.DdlSearchLong
{
    width:200px;
}
/* ====================================================== */
/*  Editorのスタイル                                      */
/* ====================================================== */
.Editor
{
    height:500px;
    width:700px;
}

/* ====================================================== */
/*  Cartイメージのスタイル                                */
/* ====================================================== */
.CartImage
{
    height:69px;
    width:69px;
}

/* ====================================================== */
/*  ヘッダーテーブルのスタイル                            */
/* ====================================================== */
.TableHeader
{
    width:100%;
}

/* ====================================================== */
/*  フッターテーブルのスタイル                            */
/* ====================================================== */
.TableFooter
{
    width:100%;
}

/* ====================================================== */
/*  検索フィールドのTableスタイル                         */
/* ====================================================== */
.TableSearch
{
    width:100%;
    border:5px solid #ffffff;
    background-color:#F5F5DC;
    /*text-align:center;*/
}

/* ====================================================== */
/*  メニュー画面のTableスタイル                            　*/
/* ====================================================== */
.TableMenue
{
    width:100%;
    border:5px solid #ffffff;
    border-width:5px;
}

/* ====================================================== */
/*  UcHeaderのTableスタイル                            　*/
/* ====================================================== */
.TableUcHeader
{
    width:100%;
}

/* ====================================================== */
/*  線と幅のみを指定したTableスタイル                     */
/* ====================================================== */
.TableBorderWidth
{
    width:100%;
    border:3px solid #990000;
}

/* ====================================================== */
/*  ReadOnlyテキストボックスのスタイル
/* ====================================================== */
.TextBoxReadOnly
{
    background-color:#ffffe0;
}

/* ====================================================== */
/* ModalPopupExtenderのスタイル
/* ====================================================== */
.modalBackground 
{
	background-color :Gray;
	filter:alpha(opacity=60);
	-moz-opacity:0.60;
	opacity:0.60;
}

/* ====================================================== */
/*  汎用マスタ項目用Labelのスタイル                       */
/* ====================================================== */
.CommonLabel
{
    margin-bottom:4px;
    display:inline-block;
    text-align:right;
    width:280px;
}

/* ====================================================== */
/*  汎用マスタ値表示用のスタイル                          */
/* ====================================================== */
.CommonOutput
{
    margin-bottom:4px;
    display:inline-block;
    text-align:left;
    width:260px;
}

/* ====================================================== */
/*  汎用マスタ値入力用のスタイル                          */
/* ====================================================== */
.CommonInput
{
    margin-bottom:4px;
    display:inline-block;
    text-align:left;
    width:260px;
}

/* ====================================================== */
/*  汎用マスタNID入力用のスタイル                          */
/* ====================================================== */
.CommonUserInput
{
    margin-bottom:4px;
    display:inline-block;
    text-align:left;
    width:100px;
}

/* ====================================================== */
/*  汎用マスタ値チェック用のスタイル                      */
/* ====================================================== */
.CommonCheckInput
{
    margin-bottom:4px;
    display:inline-block;
    text-align:left;
    width:130px;
}

/* ====================================================== */
/*  汎用マスタ入力必須のスタイル                          */
/* ====================================================== */
.CommonRequired 
{
    color: red;
    font-size: small;
    margin-bottom: 4px;
    margin-left: 4px;
    display: inline-block;
    text-align: left;
    width: 100px;
}

/* ====================================================== */
/*  汎用マスタボタン(短)のスタイル                        */
/* ====================================================== */
.CommonButtonShort
{
    margin-bottom: 2px;
    margin-left: 8px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    text-align: center;
    width: 40px;
}

/* ====================================================== */
/*  必須項目のスタイル                                    */
/* ====================================================== */
.required
{
    background-color: #ffd0d9;
}
input[type="text"][disabled] {
    background-color: #e5e5e5;
}
textarea[disabled] {
    background-color: #e5e5e5;
}
select[disabled]{
    background-color: #e5e5e5;
}

/* ====================================================== */
/*  半角入力制御のスタイル                                */
/* ====================================================== */
.halfWidth{
    ime-mode: disabled;
}
