﻿body {
    padding: 8px 4px 0px;
    background-image: url(../Image/site-background.png);
}
/* ヘッダー */
#header {
    width: 100%;
    height: 52px;
}

    #header > .titleField {
        float: left;
    }

        #header > .titleField > .logo {
            float: left;
            background-image: url(../Image/site-logo-mini.png);
            background-repeat: no-repeat;
            width: 220px;
            height: 48px;
        }


        #header > .titleField > .infoSet {
            margin-left: 4px;
            float: left;
        }

            #header > .titleField > .infoSet > .formTitle {
                display: inline-block;
                margin-top: 8px;
                color: yellow;
                font-size: small;
                font-weight: bold;
            }

            #header > .titleField > .infoSet > .formUserName {
                display: inline-block;
                margin-top: 4px;
                color: white;
                font-size: small;
            }

    #header > .buttonField {
        display: inline-block;
        margin-top: 8px;
        float: right;
    }

.lgtv {
    float: left;
    background-image: url(../Image/site-logo-mini.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 4px;
}

#header > .buttonField > .button {
    height: 36px;
    width: 94px;
    margin: 0px 0px 0px 4px;
    padding: 0px;
    font-family: monospace;
}

    #header > .buttonField > .button:hover:enabled {
        color: #000000;
        background-color: #a6f4ff;
        border: 1px solid #26a0da;
    }

        #header > .buttonField > br.button {
            line-height: 40px;
        }

/* コンテンツ */
#contents {
    margin: 16px auto;
    display: contents;
    width: 100%;
}

    #contents > table {
        width: 100%;
    }

.ioTitle {
    color: #ffffff;
    font-size: large;
    margin-bottom: 4px;
}

.ioSection {
    width: auto;
    /*border: 8px solid #808080;*/
    background-color: #f5f4cd;
    text-align: center;
}

.ioSectionSearch {
    border: 5px solid #ffffff;
    background-color: #F5F5DC;
    padding: 3px;
}

.ioSection > .ioField {
    display: inline-block;
    vertical-align: top;
}

    .ioSection > .ioField > .ioHeading {
        display: table;
        width: 100%;
        text-align: left;
        vertical-align: top;
        margin-left: -4.5em;
    }

        .ioSection > .ioField > .ioHeading > label {
            display: table-cell;
            text-align: left;
            vertical-align: top;
            color: #843C0C;
            font-weight: bold;
        }

    .ioSection > .ioField > .ioSet {
        display: table;
        min-height: 18px;
        margin: 8px 0px;
        vertical-align: top;
    }

        .ioSection > .ioField > .ioSet > .label {
            display: table-cell;
            min-width: 118px;
            min-height: 18px;
            text-align: right;
            vertical-align: top;
        }

        .ioSection > .ioField > .ioSet > .io {
            display: table-cell;
            min-width: 100px;
            min-height: 18px;
            text-align: left;
            padding-left: 4px;
            padding-right: 16px;
            vertical-align: top;
        }

.ioSection > .ioFieldLong {
    display: inline-block;
    vertical-align: top;
}

    .ioSection > .ioFieldLong > .ioHeading {
        display: table;
        width: 100%;
        text-align: left;
        vertical-align: top;
        margin-left: -3.5em;
    }

        .ioSection > .ioFieldLong > .ioHeading > label {
            display: table-cell;
            text-align: left;
            vertical-align: top;
            color: #843C0C;
            font-weight: bold;
        }

    .ioSection > .ioFieldLong > .ioSet {
        display: table;
        min-height: 18px;
        margin: 8px 0px;
        vertical-align: top;
    }

        .ioSection > .ioFieldLong > .ioSet > .label {
            display: table-cell;
            min-width: 208px;
            min-height: 18px;
            text-align: right;
            vertical-align: top;
        }

        .ioSection > .ioFieldLong > .ioSet > .io {
            display: table-cell;
            min-width: 414px;
            min-height: 18px;
            text-align: left;
            padding-left: 4px;
            padding-right: 16px;
            vertical-align: top;
        }
            
                .ioSection > .ioFieldLong > .ioSet > .io > .buttonLong:hover:enabled {
                    color: #000000;
                    background-color:#a6f4ff;
                    border: 1px solid #26a0da;
                }

.ioSection > .ioFieldOne {
    display: inline-block;
    vertical-align: top;
}

    .ioSection > .ioFieldOne > .ioHeading {
        display: table;
        width: 100%;
        text-align: left;
        vertical-align: top;
        margin-left: -1.5em;
    }

        .ioSection > .ioFieldOne > .ioHeading > label {
            display: table-cell;
            text-align: left;
            vertical-align: top;
            color: #843C0C;
            font-weight: bold;
        }

    .ioSection > .ioFieldOne > .ioSet {
        display: table;
        min-height: 18px;
        margin: 8px 0px;
        vertical-align: top;
    }

        .ioSection > .ioFieldOne > .ioSet > .label {
            display: table-cell;
            min-width: 238px;
            min-height: 18px;
            text-align: right;
            vertical-align: top;
        }

            .ioFieldOne > .ioSet > .label > .buttonSmall:hover:enabled {
                color: #000000;
                background-color:#a6f4ff;
                border: 1px solid #26a0da;
            }

        .ioSection > .ioFieldOne > .ioSet > .io {
            display: table-cell;
            min-width: 614px;
            min-height: 18px;
            text-align: left;
            padding-left: 4px;
            padding-right: 16px;
            vertical-align: top;
        }

        .ioSection > .ioFieldOne > .ioSet > .io > .LinkButton {
            left: -356px;
        }

            .ioSection >  .ioFieldOne > .ioSet > .io > .button:hover:enabled {
                color: #000000;
                background-color:#a6f4ff;
                border: 1px solid #26a0da;

                display: inline-block;
                text-align: center;
            }

.ioSection > .ioFieldShort {
    display: inline-block;
    vertical-align: top;
}

    .ioSection > .ioFieldShort > .ioSet {
        display: table;
        min-height: 18px;
        margin: 8px 0px;
        vertical-align: top;
    }

        .ioSection > .ioFieldShort > .ioSet > .label {
            display: table-cell;
            min-width: 68px;
            min-height: 18px;
            text-align: right;
            vertical-align: top;
        }

        .ioSection > .ioFieldShort > .ioSet > .io {
            display: table-cell;
            min-width: 124px;
            min-height: 18px;
            text-align: left;
            padding-left: 4px;
            padding-right: 16px;
            vertical-align: top;
        }

.ioSection > .buttonField {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 6px;
    width: 100px;
    vertical-align: top;
}

    .ioSection > .buttonField > .button {
        height: 30px;
        width: 90px;
        margin: 6px auto 0px;
        Font-Size: small;
        padding: 0px;
        font-family: monospace;
        text-align: center;
    }

        .ioSection > .buttonField > .button:hover:enabled {
            color: #000000;
            background-color:#a6f4ff;
            border: 1px solid #26a0da;
        }

    .ioSection > .buttonField > br.button {
        line-height: 36px;
    }


.locationLabelBase {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.locationLabel {
    width: 100%;
    min-height: 52px;
}

/* モーダルダイアログ */
.modalDialog {
    background-color: #808080;
    filter: alpha(opacity=60);
    opacity: 0.60;
}

.modalBody {
    background-color: #ffffff;
    border: 5px solid #ffffff;
    width: 590px;
}

.modalMessage {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #800000;
    width: 100%;
}

.modalBody > .modalIoSection {
    display: table;
    min-height: 18px;
    margin: 8px 0px;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

    .modalBody > .modalIoSection > .ioField {
        display: inline-block;
        vertical-align: top;
    }

        .modalBody > .modalIoSection > .ioField > .ioSet {
            display: table;
            min-height: 18px;
            margin: 16px 0px 8px;
            vertical-align: top;
        }

            .modalBody > .modalIoSection > .ioField > .ioSet > .label {
                display: table-cell;
                min-width: 118px;
                min-height: 18px;
                text-align: right;
                vertical-align: top;
            }

            .modalBody > .modalIoSection > .ioField > .ioSet > .io {
                display: table-cell;
                min-width: 100px;
                min-height: 18px;
                text-align: left;
                padding-left: 4px;
                padding-right: 16px;
                vertical-align: top;
            }

.modalBody > .buttonField {
    display: inline-block;
    margin-top: 8px;
    border-top: 1px solid #000000;
    text-align: center;
    width: 100%;
}

    .modalIoSection > .ioField > .ioSet > .io > .button:hover:enabled{
            width: 48px;
            height:23px;
            /*font-size: small;*/

            color: #000000;
            background-color:#a6f4ff;
            border: 1px solid #26a0da;
    }

    .modalBody > .buttonField > .button {
        height: 32px;
        width: 88px;
        margin: 8px 0px 0px 16px;
        padding: 0px;
        font-family: monospace;
    }
        .modalBody > .buttonField > .button:hover:enabled {
            color: #000000;
            background-color:#a6f4ff;
            border: 1px solid #26a0da;
        }

/* 検索結果 */
#result, #resultPopup {
    display: inline-block;
    margin: 10px auto 6px;
    width: 100%;
}

#resultGridOuter {
    width: 100%;
    overflow: auto;
}

#result > .count, #resultPopup > .count {
    float: right;
    color: white;
    margin-bottom: 4px;
}

/* フッター */
#footer {
    width: 100%;
}

    #footer > .buttonField {
        display: inline-block;
        margin-top: 8px;
        float: right;
    }

        #footer > .buttonField > .button {
            height: 36px;
            width: 94px;
            margin: 0px 0px 0px 4px;
            padding: 0px;
            font-family: monospace;
        }
            
                #footer > .buttonField > .button:hover:enabled {
                    color: #000000;
                    background-color:#a6f4ff;
                    border: 1px solid #26a0da;
                }

    #footer > .buttonFieldLeft {
        display: inline-block;
        margin-top: 8px;
        float: left;
    }

        #footer > .buttonFieldLeft > .button {
            height: 36px;
            width: 94px;
            margin: 0px 0px 0px 4px;
            padding: 0px;
            font-family: monospace;
        }
            
                #footer > .buttonFieldLeft > .button:hover:enabled {
                    color: #000000;
                    background-color:#a6f4ff;
                    border: 1px solid #26a0da;
                }

/* コンテンツ共通 */
.temporary {
    display: inline-block;
    color: red;
    border: 1px solid red;
    padding: 0px 2px;
    float: left;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.ghs {
    display: inline-block;
}

    .ghs > .ghsField {
        display: inline-block;
        width: 100px;
        text-align: center;
    }

        .ghs > .ghsField > .icon {
            width: 52px;
            height: 52px;
        }

.list {
    overflow: auto;
}

.notUsage {
    color: darkgray;
}

.important {
    color: red;
    font-weight: bold;
}

.delete {
    display: inline-block;
    color: red;
    border: 1px solid red;
    padding: 0px 2px;
    float: left;
    font-size: small;
    font-weight: bold;
}

/* 各種コントロール用 */
.textBoxShort {
    width: 80px;
}

.textBox {
    width: 200px;
}

.textBoxLong {
    width: 256px;
}

.textBoxOne {
    width: 356px;
}

.fileUploadTextBox {
    width: 356px;
    position: relative;
    left: -431px;
}

.requiredFileUploadTextBox {
    width: 356px;
    position: relative;
    left: -431px;
    background-color: #ffd0d9;
}

.dropDownListShort {
    width: 84px;
}

.dropDownList {
    width: 204px;
}

.dropDownListLong {
    width: 260px;
}

.dropDownListOne {
    width: 360px;
}

.searchCondition {
    width: 100px;
    margin-right: 8px;
}

.multiLineTextBox {
    overflow: auto;
    height: 88px;
    width: 100%;
}

.modalIoSection .multiLineTextBox {
    overflow: auto;
    height: 88px;
    width: 440px;
}

.GridPanel {
    /*
    width: 950px;
    margin-right: -425px;
    */
    width: 780px;
    margin-right: -390px;
}

.selectionViewUnset {
    text-align: center;
    width: 30px;
    background-color: #ffffff !important;
    border: 2px solid #000000;
}

.selectionViewSet {
    text-align: center;
    width: 30px;
    background-color: lightpink !important;
    border: 2px solid #000000;
}

.buttonLong {
    margin: 0px 8px 0px 0px;
    display: inline-block;
    text-align: center;
    width: 88px;
    padding: 2px 0px;
    font-size: small;
    font-family: monospace;
}

.buttonSmall {
    margin-top: 8px;
    margin-left: 4px;
    display: inline-block;
    text-align: center;
    width: 50px;
    padding: 2px 0px;
    font-size: small;
    font-family: monospace;
}

.buttonGrid {
    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
    text-align: center;
    width: 50px;
    padding: 2px 0px;
    font-size: small;
    font-family: monospace;
}
    .buttonGrid:hover:enabled{
        color: #000000;
        background-color:#a6f4ff;
        border: 1px solid #26a0da;
    }

/* 共通 */
input[readonly] {
    background-color: #f5f4cd;
}

textarea[readonly] {
    background-color: #f5f4cd;
}

select[disabled] {
    background-color: #f5f4cd;
}

.halfWidth {
    ime-mode: disabled;
}

.numberColumn {
    text-align: right;
}

.required, input[readonly].requiredreadonly {
    background-color: #ffd0d9;
}

/*
.required:not([type=file]) {
    border: 1px solid gray;
}

input.required:not([type=file]):focus {
    border: 1px solid darkslategrey;    
}
*/

select.required::-ms-expand {
    background-color: #ffd0d9;
    border-color: transparent;
}

input[type=file] {
    background-color: transparent;
}

    input[type=file]::-ms-value {
        border: 1px solid silver;
        background-color: lightgray;
    }

    input[type=file].required::-ms-value {
        border: 1px solid silver;
        background-color: #ffd0d9;
    }

    input[type=file]:not([disabled]):focus::-ms-value,
    input[type=file]:not([disabled]):hover::-ms-value {
        border: 1px solid skyblue;
    }

/*
td.ajax__combobox_buttoncontainer > button {
    border: 1px solid darkslategrey;
    border-left: 0px;
    background-color: white;
}

td.ajax__combobox_buttoncontainer > button:focus {
    border: 1px solid darkslategrey;
    border-left: 0px;
    background-color: lightgray;
}
*/

.style1
{
    background-color: #f0fff0;
}
