
.col-sm {
    min-width: 1150px;
}

.col-sm1 {
    min-width: 300px;
}

.col-sm2 {
    min-width: 300px;
}

.col-sm3 {
    min-width: 350px;
}

.col-sm4 {
    min-width: 50px;
}

.to-the-right {
    text-align: right;
}

.webgrid-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
}

    .webgrid-table th {
        border: 1px solid black;
        font-size: small;
        border-collapse: collapse;
        border: 1px solid #999;
        /*background-color: Gray;*/
        padding: 0.3rem;
        text-align: left;
    }

    .webgrid-table td {
        border-left: 1px solid black;
        padding: 0px 40px 0px;
        font-size: small;
        border-collapse: collapse;
        /*border: 1px solid #999;*/
        padding: 0.3rem;
        text-align: left;
        white-space: nowrap;
    }

.webgrid-header {
    background-color: maroon;
    text-align: center;
    background-color: White;
    border-width: 2px;
    border-style: Solid;
    font-size: Small;
    border-collapse: collapse;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    background-color: maroon;
    white-space: nowrap;
}

.webgrid-footer {
}

.webgrid-row-style {
    background-color: white;
}

.webgrid-alternating-row {
    background-color: seashell;
}

.webgrid-header a {
    color: #ffffff;
}

.webGrid :hover th {
    cursor: pointer;
}

.dataTables_scrollBody thead tr[role="row"] {
    visibility: collapse !important;
}
