﻿
.col-sm {
    min-width: 1250px;
}
.col-sm0 {
    min-width: 50px;
}
.col-sm1 {
    min-width: 100px;
}

.col-sm2 {
    min-width: 150px;
}

.col-sm3 {
    min-width: 200px;
}

.col-sm4 {
    min-width: 250px;
}

.col-single {
    white-space: nowrap;
}

.webGrid {
    margin: 4px;
    border-collapse: collapse;
    /*width: 500px;*/
    font-family: Tahoma;
    font-size: small;
    background-color: #fff;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    /*height: 600px;*/
    position: relative;
}

.grid-header {
    background-color: maroon;
    font-weight: bold;
    color: White !important;
}

.webGrid th a {
    color: White;
    text-decoration: none;
}

.webGrid th, .webGrid td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
}

.webGrid td {
    color: black;
}

    .webGridVerticalLineOnly {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

    .alt {
    background-color: seashell;
}

/*.webGrid th a:hover {
               cursor:pointer;
            }*/

.to-the-right {
    text-align: right;
}

.webGrid :hover th {
    cursor: pointer;
}


/*.webGridMM {
    overflow: scroll;
    width: 100%;
    height:500px;
    position: relative;
}*/

.webGridMMHeader {
    overflow-x: auto;
    width: 100%;
    height: 500px;
    position: relative;
    font-family: monospace;
    font-size: small;
    /*height: 393px;*/
    /*width: auto;*/
}