﻿@model ChemMgmt.Models.InventoryManagement
@{
    Layout = null;
}

<style>
    .ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-draggable ui-resizable {
        position: fixed !important;
        height: auto !important;
        width: 645px !important;
        top: 214.5px !important;
        left: 450px !important;
        display: block !important;
    }
</style>
<div id="">
    @if (Model.listChemStockDetails != null && Model.listChemStockDetails.Count() > 0)
    {
        <script>
            $(".BarcodeEnable").attr("disabled", false);
        </script>
    }
    else
    {
        <script>
            $(".BarcodeEnable").attr("disabled", true);
        </script>
    }
    <hr />
    <br /><br />
    @{
        WebGrid grid = new WebGrid(Model.listChemStockDetails, canSort: false, canPage: false);
        int rowVal = 0;
        <div style="height:auto; width:100%; overflow-y:visible;">
            <div id="resultGridOuter" style="overflow:auto; width: 100%;">
                <div id="resultGridInner" style="height: 621px; width: 1376px;">
                    <div>
                        @grid.GetHtml(
                        tableStyle: "webgrid-table",
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        rowStyle: "webgrid-row-style",
                        htmlAttributes: new { id = "BarcodeListDataView" },
                        fillEmptyRows: false,
                        mode: WebGridPagerModes.All,
                        columns: grid.Columns(
                        grid.Column("No.", format: item => rowVal = rowVal + 1),
                        grid.Column(format: @<text>
                                @if (item.IsAccepted == true)
                         {
                        <input type="checkbox" value="@item.RowId" class="chkHeaderclass" name="Acceptancecheckbox" disabled="disabled" /> }
             else
             {
            <input type="checkbox" value="@item.RowId" class="chkHeaderclass" name="Acceptancecheckbox" />
 }
        </text>),
       grid.Column(columnName: "REG_NO", header: "登録番号(半角)", style: "center"),
       grid.Column(format: @<text>
    <input type="text" name="" id="" title="" class="" disabled="disabled" value="@item.BARCODE">
    </text>, header: "瓶番号(半角)", style: "center"),
grid.Column(columnName: "PRODUCT_NAME_JP", header: "化学物質名", style: "center"),
grid.Column(columnName: "MAKER_NAME", header: "メーカー名", style: "center"),
grid.Column(columnName: "UNITSIZE_NAME_JOIN", header: "容量", style: "center"),
grid.Column(format: @<text>
    @if (item.IsAccepted == true)
{
<select id="dropdownselect" style="background-color:#ffd0d9!important" disabled="disabled">
    @foreach (var DrpVal in @item.LOCATION_LIST)
{
<option value="@DrpVal.Id,@item.RowId">@DrpVal.Name</option>
}
</select>
<input type="text" id="@item.RowId" style="width:15%" value="@item.FIRST_LOC_BARCODE" class="halfWidth" disabled="disabled" />
}
else
{
<select id="dropdownselect" class="required CopyValues">
    @foreach (var DrpVal in @item.LOCATION_LIST)
{
<option value="@DrpVal.Id,@item.RowId">@DrpVal.Name</option>
}
</select>
<input type="text" id="@item.RowId" style="width:15%" value="@item.FIRST_LOC_BARCODE" class="halfWidth FirstLocBarcode" onchange="return changeValue(this.value, this.id)" />
}
</text>, header: "保管場所(半角)", style: "center"),
grid.Column(format: @<text>
    @if (item.IsAccepted == true)
{
<input type="button" name="" value="秤量" id="SubContents_ResultGrid_WeightMeasureButton_1" title="" class="buttonGrid" disabled="disabled">
}
else
{
<input type="button" name="" value="秤量" id="SubContents_ResultGrid_WeightMeasureButton_1" title="" class="buttonGrid" onclick="return ShowWeightPopup('@item.RowId');">
}
</text>),
grid.Column(columnName: "INI_GROSS_WEIGHT_G_NAME", header: "総重量", style: "center"),
grid.Column(columnName: "DETAIL_WEIGHT_NAME", header: "内容量", style: "center"),
grid.Column(format: @<text>
    @if (item.IsAccepted == true)
{
<input type="text" name="" disabled="disabled" value="@item.MEMO">
}
else
{
<input type="text" name="" id="@item.RowId" title="" class="saveremarksvalues" value="@item.MEMO" onchange="return SaveMemoDetails(this.value,this.id);">
}
</text>, header: "備考", style: "center"),
grid.Column(columnName: "REG_TEXT", header: "法規制", style: "center"),
grid.Column(columnName: "GHSCAT_NAME", header: "GHS分類", style: "center")))
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>

    $('.FirstLocBarcode').keypress(function (e) {
        var key = e.which;
        if (key == 13) {
            var Obj = $(this).val();
            var Obj1 = $(this).attr("id");
            changeValue(Obj, Obj1);
            return false;
        }
    });


    $('.saveremarksvalues').keypress(function (e) {
        var key = e.which;
        if (key == 13) {
            var Obj = $(this).val();
            var Obj1 = $(this).attr("id");
            SaveMemoDetails(Obj, Obj1);
            return false;
        }
    });

    $(document).ready(function () {
        //Create the CheckBox element.
        var chkHeader = $("<input type=checkbox id='chkHeaderAll'/>");
        $("#BarcodeListDataView th:nth-child(2)").append(chkHeader);
        $("#chkHeaderAll").click(function () {
            $(".chkHeaderclass").prop('checked', $(this).prop('checked'));
        });
    });

    $(".CopyValues").change(function () {
        var id = $(this).val();
        var idvalue = id.split(',');
        var Location = idvalue[0];
        var RowId = idvalue[1];
        $.ajax({
            type: "GET",
            url: "/ZC120/setLocationBarcode",
            data: { 'ddlLocation': Location, 'rowId': RowId },
            cache: false,
            success: function (data) {
                if (data != null) {
                    $('#InventoryListDataView').html('');
                    $('#InventoryListDataView').html(data);
                    return false;
                }
            },
            error: function () {
                //alert("エラーが発生！！")
            }
        });
        return false;
    });


    function SaveMemoDetails(val, id) {
        $.ajax({
            type: "GET",
            url: "/ZC120/SaveMemoDetails",
            data: { 'MemoValue': val, 'rowId': id },
            cache: false,
            success: function (data) {
                if (data != null) {
                    $('#InventoryListDataView').html('');
                    $('#InventoryListDataView').html(data);
                    return false;
                }
            },
            error: function () {
                //alert("エラーが発生！！")
            }
        });
        return false;
    }
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#BarcodeListDataView').DataTable({
            "sScrollX": "0",
            "sScrollY": "400px",
            "sScrollXInner": "140%",
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" },

        });

        $(".dataTable-column-checkbox").on("checked", function () {
            alert(0);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("th:eq( 1 )").css("width", "18px");
        $("th:eq( 8 )").css("width", "18px");
        $("th:eq( 1 )").html('<input type="checkbox" value="" name="headerchkRow" id="master" class="chkHeaderclass"/>');
        $("#master").click(function () {
            var checkAll = $("#master").prop('checked');
            if (checkAll) {
                $(".selection").prop("checked", true);
            } else {
                $(".selection").prop("checked", false);
                $(".selection").prop("checked", false);
            }
        });

        $(".selection").click(function () {
            if ($(".selection").length == $(".selection:checked").length) {
                $("#master").prop("checked", true);
            } else {
                $("#master").prop("checked", false);
            }
        });
    });
</script>*@