﻿@model ChemMgmt.Models.InventoryManagement
@{
    Layout = "~/Views/Shared/_LayoutInventory.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>

<style type="text/css">
    .auto-style3 {
        height: 0px;
    }

    .auto-style4 {
        height: 23px;
    }

    .auto-style5 {
        height: 0px;
    }

    .auto-style6 {
        height: 23px;
    }


    .webgrid-table {
        width: 100%;
        display: table;
        border-collapse: collapse;
        border: solid 1px #fff;
        font-size: small;
    }

        .webgrid-table th {
            border: 1px solid #fff;
            font-size: small;
        }

        .webgrid-table td {
            font-size: small;
        }

    .webgrid-header {
        background-color: maroon;
        text-align: center;
        color: Black;
        background-color: White;
        border-width: 2px;
        border-style: Solid;
        font-size: Small;
        border-collapse: collapse;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        background-color: maroon;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        background-color: white;
    }

    .webgrid-alternating-row {
        background-color: seashell;
    }

    .webgrid-header a {
        color: #ffffff;
    }

    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        width: 90%;
        position: relative;
        left: 7px;
        border-radius: 0px !important;
        border: 1px #c5c5c5;
    }

    .ui-widget-header {
        background: #800000 !important;
        color: #fff !important;
        text-align: center;
    }

    .ui-dialog .ui-dialog-content {
        overflow: hidden !important;
    }

    .ui-draggable .ui-dialog-titlebar {
        display: none;
    }


    .ui-widget.ui-widget-content {
        border: none !important;
        background: none !important;
    }

    .modalBody {
        width: inherit;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        background-color: #fff !important;
    }
</style>
<hr />
@using (Html.BeginForm())
{

    <div id="BarcodeDetails">
        <div class="form-horizontal">
            <div style="clear:both;">
                <table cellspacing="0" id="MainContents_SearchFormView" style="width:100%;">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="ioSection ioSectionSearch">

                                    <div class="ioField">
                                        <div class="ioSet">
                                            <div class="label">
                                                @Html.Label("lblPRODUCT_BARCODE", "商品バーコード(半角)：")
                                            </div>
                                            <div class="io">
                                                @Html.TextBoxFor(m => m.PRODUCT_BARCODE, new { @class = "textbox", @onblur = "return GetProductDetails(this.value);" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ioFieldShort">
                                    </div>
                                    <!-- 列3 -->
                                    <div class="buttonField" style="width: 226px;">
                                        @Html.Label("lblCopyNumber", "コピー数：")

                                        <table id="MainContents_SearchFormView_CopyNumber_Table" class="ajax__combobox_inputcontainer" cellspacing="0" cellpadding="0" style="border-width:0px;border-style:None;border-collapse:collapse;display:inline;position:relative;top:5px;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <select id="CopyValues" class="">
                                                            <option value="2">2</option>
                                                            <option value="12">12</option>
                                                            <option value="20">20</option>
                                                        </select>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                        <input type="button" id="Copy" value="コピー" class="button BarcodeEnable" onclick="return CopyBarcodeDetails();" />
                                    </div>

                                    <div class="buttonField">
                                        <input type="button" id="Delete" value="削除" class="button BarcodeEnable" onclick="return DeleteProductDetails();" />
                                    </div>

                                    <div class="buttonField">
                                        <input type="button" id="Numbering" value="瓶番号採番" class="button BarcodeEnable" onclick="return BottleNumbering();" />
                                    </div>

                                    <div class="buttonField">
                                        <input type="button" id="Accept" value="受入" class="button BarcodeEnable" onclick="return AcceptBarcode();" />
                                    </div>

                                    <div class="buttonField">
                                        <input type="button" id="LabelPrint" value="ﾊﾞｰｺｰﾄﾞ印刷" class="button" disabled="disabled" onclick="return PrintBarCode();" />
                                    </div>

                                    <div class="buttonField">
                                        <input type="submit" id="Clear" value="クリア" class="button BarcodeEnable" name="Clear" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="InventoryListDataView">
            @Html.Partial("~/Views/ZC120/_PartialBarcodeAcceptance.cshtml")
        </div>

    </div>


    <div id="weightOuterPanel" class="ioSet" style="color:white;border-width:2px;height:200px;width:900px;display:none;">
        <br />
        <div class="modalBody">
            <div class="modalMessage">
                @Html.Label("重量計測後、OKボタン実行で登録されます。")
            </div>
            <div class="modalIoSection">
                <div class="ioField">
                    <div class="ioSet">
                        <div class="label" style="color:#000">
                            <label>総重量：</label>
                        </div>
                        <div class="io">
                            <input type="text" class="textBox halfWidth required allownumericwithdecimal" id="TotalWeight" name="TotalWeight" onkeydown="return ValidateNumber(event);" />&nbsp;
                            <img alt="g" id="imgTotal" runat="server" src="~/Image/unitsize-gram.png" />
                        </div>
                    </div>
                    <div class="ioSet">
                        <div class="label" style="color:#000">
                            <label>内容量:</label>
                        </div>
                        <div class="io">
                            <input type="text" class="textBox halfWidth required allownumericwithdecimal" id="DetailWeight" name="DetailWeight" onkeydown="return ValidateNumber(event);" />&nbsp;
                            <img alt="g" id="imgDetail" runat="server" src="~/Image/unitsize-gram.png" />
                        </div>
                    </div>
                </div>
                <input type="hidden" name="rowid" id="RowValue" />
            </div>
            <div class="buttonField">
                <input type="submit" id="OK" value="OK" class="button" onclick="return SaveWeightdetails();" />
                <input type="submit" id="Cancel" value="キャンセル" class="button" OnClick="return WeightMeasurementCancel();" />
            </div>
        </div>
    </div>
}



<script>
    $(document).ready(function () {
        //$("#weightOuterPanel").dialog({ autoOpen: false, modal: true });
        $(".allownumericwithdecimal").keypress(function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

    });

    $('#PRODUCT_BARCODE').keypress(function (e) {
        var key = e.which;
        if (key == 13) {
            var Obj = $(this).val();
            GetProductDetails(Obj);
            e.preventDefault();
            return false;
        }

    });

    function GetProductDetails(obj) {
        if (obj.trim().length > 2) {
            $.blockUI({ message: '<p>読み込み中...</p>' });
            $.ajax({
                type: "GET",
                url: "/ZC120/ValidateProductBarcode",
                data: { 'Barcode': obj.trim() },
                cache: false,
                success: function (data) {
                    if (data != "") {
                        $.unblockUI();
                        $('#PRODUCT_BARCODE').val("");
                        $('#PRODUCT_BARCODE').focus();
                        alert(data);

                        return false;
                    }
                    else if (data == "") {
                        $.ajax({
                            type: "GET",
                            url: "/ZC120/ProductBarcodeEnter",
                            data: { 'Barcode': obj.trim() },
                            cache: false,
                            success: function (data) {
                                if (data != null) {
                                    $('#InventoryListDataView').html('');
                                    $('#InventoryListDataView').html(data);
                                    $('#PRODUCT_BARCODE').val("");
                                    //$('#PRODUCT_BARCODE').focus();
                                    $.unblockUI();
                                    return false;
                                }
                            },
                            error: function () {
                                $.unblockUI();
                                //alert("エラーが発生！！")
                            }
                        });
                        return false;
                    }
                    return false;
                },
                error: function () {
                    $.unblockUI();
                    //alert("エラーが発生！！")
                }
            });
            return false;
        }
        return false;
    }

    function WeightMeasurementCancel() {
        $("#weightOuterPanel").dialog('close');
    }

    function CopyBarcodeDetails() {
        var RowVal = $('#CopyValues').val();
        var checked = $("input[name='Acceptancecheckbox']:checked").length;
        if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        var AcceptanceId = [];
        $.each($("input[name='Acceptancecheckbox']:checked"), function () {
            AcceptanceId.push($(this).val());
        });

        $.ajax({
            type: "POST",
            url: "/ZC120/ValidateCopy",
            data: { 'RowId': AcceptanceId.join(","), 'copyNumber': RowVal },
            cache: false,
            success: function (data) {
                if (data != "") {
                    alert(data);
                    return false;
                }
                else if (data == "") {
                    $.ajax({
                        type: "POST",
                        url: "/ZC120/Copy",
                        data: { 'RowId': AcceptanceId.join(","), 'copyNumber': RowVal },
                        success: function (data) {
                            if (data != null) {
                                $('#InventoryListDataView').html('');
                                $('#InventoryListDataView').html(data);
                                return false;
                            }
                        },
                        error: function () {
                            //alert("エラーが発生！！")
                        }
                    });
                    return false;
                }
            },
            error: function () {
                //alert("エラーが発生！！")
            }
        });
        return false;
    }

    function ShowWeightPopup(data) {
        $('#RowValue').val(data);
        $('.body').fadeIn(300);
        var opt = {
            autoOpen: false,
            modal: true,
            width: 700,
            height: 230,
            closeOnEscape: false
        };
        $("#weightOuterPanel").dialog(opt).dialog('open');
    }


    function SaveWeightdetails() {
        var rowid = $('#RowValue').val().trim();
        var internal = $('#TotalWeight').val().trim();
        var gross = $('#DetailWeight').val().trim();

        if (internal == "" && gross == "") {
            alert("総重量は必須項目です。\n内容量は必須項目です。");
            internal.focus();
            return false;
        }
        else if (internal == "") {
            alert("総重量は必須項目です。");
            $('#TotalWeight').focus();
            return false;
        }
        else if (gross == "") {
            alert("内容量は必須項目です。");
            $('#DetailWeight').focus();
            return false;
        }
        //else if (internal.length > 8) {
        //    alert("総重量の整数部は8桁以下で入力してください。");
        //    $('#TotalWeight').val('');
        //    $('#TotalWeight').focus();
        //    return false;
        //}
        //else if (gross.length > 8) {
        //    alert("内容量の整数部は8桁以下で入力してください。");
        //    $('#DetailWeight').val('');
        //    $('#DetailWeight').focus();
        //    return false;
        //}
        $.ajax({
            type: "GET",
            url: "/ZC120/ValidateWeightVolumes",
            data: { 'grossweight': internal, 'internalvolume': gross, 'RowId': rowid },
            cache: false,
            success: function (data) {
                if (data != "" && data.indexOf("4") == -1) {
                    alert(data);
                    return false;
                } else if (data != "" && data.indexOf("4") != -1) {
                    alert(data);
                    ManageWeightVolumes(internal, gross, rowid);
                    return false;
                }
                else {
                    ManageWeightVolumes(internal, gross, rowid);
                }
            },
            error: function () {
                //alert("エラーが発生！！")
            }
        });
        return false;
    }

    function ManageWeightVolumes(internal, gross, rowid) {
        $.ajax({
            type: "GET",
            url: "/ZC120/WeightManagementVolume",
            data: { 'grossweight': internal, 'internalvolume': gross, 'RowId': rowid },
            success: function (data) {
                if (data != null) {
                    $('#InventoryListDataView').html('');
                    $('#InventoryListDataView').html(data);
                    $('#TotalWeight').val('');
                    $('#DetailWeight').val('');
                    $("#weightOuterPanel").dialog('close');
                    return false;
                }
            },
            error: function () {
                //alert("エラーが発生！！")
            }
        });
        return false;
    }

    function BottleNumbering() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
        var checked = $("input[name='Acceptancecheckbox']:checked").length;
        if (checked == "0") {
            alert("対象が選択されていません。");
            $.unblockUI();
            return false;
        }
        var AcceptanceId = [];
        $.each($("input[name='Acceptancecheckbox']:checked"), function () {
            AcceptanceId.push($(this).val());
        });

        $.ajax({
            type: "GET",
            url: "/ZC120/Numbering",
            data: { 'RowId': AcceptanceId.join(",") },
            cache: false,
            success: function (data) {
                if (data != "") {
                    $.unblockUI();
                    $('#InventoryListDataView').html('');
                    $('#InventoryListDataView').html(data);
                    $("#btnHeader_Back").click(function () { ReturnBtnFunction(); });
                    $("#Clear").click(function () { ClearBtnFunction(); });
                    return false;
                }
            },
            error: function () {
                //alert("エラーが発生！！")
                $.unblockUI();
            }
        });
        return false;
    }

    function ReturnBtnFunction() {
        let isok = confirm('受入を行っていないデータが存在します。戻ってもよろしいですか？');
        if (isok) {

        } else {
            return false;
        }
    }

    function ClearBtnFunction() {
        let isok = confirm('受入を行っていないデータが存在します。クリアしてもよろしいですか？');
        if (isok) {

        } else {
            return false;
        }
    }

    function DeleteProductDetails() {
        let isOk = confirm("削除します。よろしいですか？");
        if (isOk) {
            var checked = $("input[name='Acceptancecheckbox']:checked").length;
            if (checked == "0") {
                alert("対象が選択されていません。");
                return false;
            }
            var AcceptanceId = [];
            $.each($("input[name='Acceptancecheckbox']:checked"), function () {
                AcceptanceId.push($(this).val());
            });

            $.ajax({
                type: "GET",
                url: "/ZC120/Delete",
                data: { 'RowId': AcceptanceId.join(",") },
                cache: false,
                success: function (data) {
                    if (data != "") {
                        $('#InventoryListDataView').html('');
                        $('#InventoryListDataView').html(data);
                        return false;
                    }
                },
                error: function () {
                    //alert("エラーが発生！！")
                }
            });
            return false;
        } else {
            return false;
        }
    }


    function changeValue(obj, RowId) {
        if (obj.trim().length > 2) {
            $.ajax({
                type: "GET",
                url: "/ZC120/ValidateLocationBarcodeValue",
                data: { 'TextValue': obj, 'RowId': RowId },
                cache: false,
                success: function (data) {
                    if (data != "") {
                        $('#' + RowId + '').val('');
                        alert(data);
                        return false;
                    }
                    else if (data == "") {
                        $.ajax({
                            type: "GET",
                            url: "/ZC120/LocationBarcodeEnter",
                            data: { 'TextValue': obj, 'RowId': RowId },
                            cache: false,
                            success: function (data) {
                                if (data != null) {
                                    $('#InventoryListDataView').html('');
                                    $('#InventoryListDataView').html(data);
                                    return false;
                                }
                            },
                            error: function () {
                                //alert("エラーが発生！！")
                            }
                        });
                        return false;
                    }
                },
                error: function () {
                    //alert("エラーが発生！！")
                }
            });
        }
        return false;
    }


    function AcceptBarcode() {
        var AcceptanceId = [];
        let confirmsubmit = confirm("瓶番号が採番されている商品は全て受け入れます。");
        if (confirmsubmit) {
            $.each($("input[name='Acceptancecheckbox']:checked"), function () {
                AcceptanceId.push($(this).val());
            });
            $.blockUI({ message: '<p>読み込み中...</p>' });
            $.ajax({
                type: "GET",
                url: "/ZC120/ValidateBarcodeAccept",
                data: { 'RowId': AcceptanceId.join(",").trim() },
                cache: false,
                success: function (data) {
                    var RawData = data.split(',');
                    //alert(RawData[1].slice(0, -1))
                    //alert(RawData[1])
                    $.unblockUI();
                    if (data != "" && RawData[0] != "") {
                        alert(RawData[0].substring(1));
                        if (RawData[1].slice(0, -1).trim() != "IsValid") {
                            return false;
                        }
                    }
                    if (RawData[1].slice(0, -1).trim() != "NotValid") {
                        //alert(RawData[1].slice(0, -1));
                        $.ajax({
                            type: "GET",
                            url: "/ZC120/BarcodeAccept",
                            cache: false,
                            data: { 'RowId': AcceptanceId.join(",").trim() },
                            success: function (data) {
                                if (data != "") {
                                    $('#InventoryListDataView').html('');
                                    $('#InventoryListDataView').html(data);
                                    $.unblockUI();
                                    return false;
                                }
                            },
                            error: function () {
                                //alert("エラーが発生！！")
                                $.unblockUI();
                            }
                        });
                        return false;
                    }
                    $.unblockUI();
                },
                error: function () {
                    //alert("エラーが発生！！")
                    $.unblockUI();
                }
            });
            return false;
        } else {
            $.unblockUI();
            return false;
        }
    }

    function ValidateNumber(e) {
        var evt = (e) ? e : window.event;
        var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
        ///alert(charCode)
        if ((charCode < 48 && charCode > 57)) {
            return false;
        }
        return true;
    };


    function PrintBarCode() {
        var checked = $("input[name='Acceptancecheckbox']:checked").length;
        if (checked == "0") {
            alert("対象が選択されていません。");
            return false;
        }
        var AcceptanceId = [];
        $.each($("input[name='Acceptancecheckbox']:checked"), function () {
            AcceptanceId.push($(this).val());
        });
        var result = confirm("バーコードを印刷します。よろしいですか？");
        if (result == true) {
            $.ajax({
                url: '/ZC120/BarCodeLabelPrint',
                data: { 'Barcode': StockId.join(",") },
                type: 'POST',
                success: function (data) {
                    //  alert(data);
                    var agent = window.navigator.userAgent.toLowerCase();
                    var ischrome = (agent.indexOf('chrome') !== -1) && (agent.indexOf('edge') === -1) && (agent.indexOf('opr') === -1)
                    if (ischrome) {
                        DoPrint(data);
                    }
                    else {
                        // IE browser which supports Activex component
                        alert("IE browser which supports Activex component");
                        DoPTouchLabelPrint(data);
                    }

                    return false;
                },
                error: function (err) {
                    alert(err);
                    return false;
                }
            });
            return false;
        }
    }
</script>

<script>
    import * as bpac from '../../Scripts/bpac.js';
    window.DoPrint = async function DoPTouchLabelPrint(datas) {
        var label = {};
        if (bpac.IsExtensionInstalled() == false) {
            alert(bpac.IsExtensionInstalled());
            const agent = window.navigator.userAgent.toLowerCase();
            const ischrome = (agent.indexOf('chrome') !== -1) && (agent.indexOf('edge') === -1) && (agent.indexOf('opr') === -1)
            if (ischrome) {
                window.open('https://chrome.google.com/webstore/detail/ilpghlfadkjifilabejhhijpfphfcfhb', '_blank');
            }
        } else {
            // extension installed
            try {
                // alert("extension installed Chrome browser");
                const templateFileName = datas.substring(0, datas.indexOf(","));
                var data = datas.substring(datas.indexOf(",") + 1, datas.count);

                var templateFileName1 = "../../Template/" + templateFileName;
                alert(templateFileName1);
                // alert(data);
                const label = bpac.IDocument;
                const ret = await label.Open(templateFileName1);
                alert("ret value" + ret);
                if (ret == true) {
                    var divisor = "";
                    if (templateFileName == 'User.lbx') {
                        divisor = 2;
                    } else if (templateFileName == 'Location.lbx') {
                        divisor = 3;
                    } else if (templateFileName == 'Bottle.lbx') {
                        divisor = 2;
                    }

                    label.StartPrint("", 0);
                    var count = 0;
                    // datas = '[{ "Name": "test1", "Number": "dev1" },{ "Name": "test12", "Number": "dev12" }]';
                    JSON.parse(data, function (key, value) {

                        if (typeof (value) != "object") {
                            count++;
                            if (key == "Number") {
                                label.GetObject("Number").Text = value;
                                //  alert("Number: " + label.GetObject("Number").Text);
                            } else if (key == "Barcode") {
                                label.GetObject("Barcode").Text = value;
                                //  alert("Barcode: " + value);
                            }
                            else {
                                label.GetObject("Name").Text = value;
                                // alert("Name: " + label.GetObject("Name").Text);
                            }
                        }
                        if (count != 0 && count % divisor == 0) {
                            alert("printing");
                            label.PrintOut(1, 0);
                            count = 0;
                        }
                    });

                    label.Close();
                    label.EndPrint();
                    //alert("P-Touch End print");
                }
                else {
                    alert("P-Touchラベルプリンターが正しくインストールされていません。");
                }
            }
            catch (e) {
                console.log(e);
            }
        }
    }
</script>

