﻿@model ZyCoaG.WebCommonInfo
@{
    WebGrid grid = new WebGrid(Model.listInventoryUsageHistory, canSort: false, canPage: false);
    Layout = null;
}

<div style="width: 100%; text-align: right;">
    @Html.HiddenFor(m => m.BottleNumber, new { @id = "hdnBottleNumber" })
    @if (Model.listInventoryUsageHistory != null && Model.listInventoryUsageHistory.Count() > 0)
    {
        <span id="ResultCount" style="color:White;font-size:X-Large;font-weight:bold;">件数 : @Model.listInventoryUsageHistory.Count() 件</span>
    }
</div>

@if (Model.listInventoryUsageHistory != null && Model.listInventoryUsageHistory.Count() > 0)
{
    int rowVal = 0;
    <div style="height:auto;width:100%;overflow-y:visible;white-space:nowrap;font-size:small">
        <div id="resultGridOuter">
            <div id="resultGridInner">
                <div id="IventoryGrid">
                    @grid.GetHtml(
                    tableStyle: "webgrid-table",
                    headerStyle: "webgrid-header",
                    footerStyle: "webgrid-footer",
                    alternatingRowStyle: "webgrid-alternating-row",
                    rowStyle: "webgrid-row-style",
                    htmlAttributes: new { id = "InventoryListDataView" },
                    fillEmptyRows: false,
                    mode: WebGridPagerModes.All,
                    columns: grid.Columns(grid.Column(header: "操作順", format: item => rowVal = rowVal + 1),
                    grid.Column(columnName: "ACTION_TEXT", header: "操作", style: "center"),
                    grid.Column(columnName: "CHEM_NAME", header: "化学物質名", style: "center"),
                    grid.Column(columnName: "BARCODE", header: "瓶番号", style: "center"),
                    grid.Column(columnName: "USER_NAME", header: "ユーザー名", style: "center"),
                    grid.Column(columnName: "LOC_NAME", header: "保管場所", style: "center"),
                    grid.Column(columnName: "USAGE_LOC_NAME", header: "使用場所", style: "center"),
                    grid.Column(columnName: "INTENDED_USE_ID", header: "使用目的ID", style: "center"),
                    grid.Column(columnName: "INTENDED_NM", header: "使用目的名", style: "center"),
                    grid.Column(columnName: "INTENDED", header: "使用目的(その他)", style: "center"),
                    grid.Column(columnName: "WORKING_TIMES", header: "作業時間（分", style: "center"),
                    grid.Column(columnName: "CUR_GROSS_WEIGHT", header: "重量履歴（風袋込", style: "center"),
                    grid.Column(columnName: "MEMO", header: "備考", style: "center"),
                    grid.Column(columnName: "REG_DATE", header: "発生日時", style: "center")))
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="resultGridOuter" style="overflow:auto; width: 100%;">
        <div id="resultGridInner" style="height: 612px; width: 1005px;">
            <div>
                <table cellspacing="0" cellpadding="4" rules="cols" id="grid" style="color:Black;background-color:White;border-width:1px;border-style:Solid;font-size:Small;border-collapse:collapse;">
                    <tbody>
                        <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:2px;border-style:Solid;font-weight:bold;">
                            <th scope="col">操作順</th>
                            <th scope="col">操作</th>
                            <th scope="col">化学物質名</th>
                            <th scope="col">瓶番号</th>
                            <th scope="col">ユーザー名</th>
                            <th scope="col">保管場所</th>
                            <th scope="col">使用場所</th>
                            <th scope="col">使用目的ID</th>
                            <th scope="col">使用目的名</th>
                            <th scope="col">使用目的(その他)</th>
                            <th scope="col">作業時間（分）</th>
                            <th scope="col" abbr="False">重量履歴（風袋込）</th>
                            <th scope="col">備考</th>
                            <th scope="col">発生日時</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#InventoryListDataView').DataTable({
            "sScrollX": "0px",
            "sScrollY": "400px",
            "sScrollXInner": "140%",
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }
        });

        $(".dataTable-column-checkbox").on("checked", function () {
            alert(0);
        });
    });
</script>