﻿@model ZyCoaG.WebCommonInfo
@{
    Layout = "~/Views/Shared/_LayoutWebCommon.cshtml";
    var name = ViewContext.RouteData.GetRequiredString("action");
}


@if (TempData["alertMessage"] != null && !TempData["alertMessage"].ToString().IsEmpty())
{
    <script type="text/javascript">
                alert('@TempData["alertMessage"]');
    </script>
}
<div>
    <table class="TableUcHeader">
        <tr>
            <td rowspan="2" style="width: 130px">
                <div id="header">
                    <div class="titleField">
                        <div class="logo" />
                    </div>
                </div>
            </td>
            <td align="left" valign="bottom" class="auto-style1">
                <span id="lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【メニュー】</span>
                @*<td style="width: 120px" rowspan="2" align="center" valign="middle">
                        <input type="button" id="btnHeader_AddCart" Text="発注一覧に追加" value="発注一覧に追加" class="ButtonHeaderLong" style="visibility:hidden" />
                    </td>
                    <td style="width: 120px" rowspan="2" align="center" valign="middle">
                        <input type="button" id="btnHeader_GoCart" Text="発注一覧に追加" value="発注一覧に追加" class="ButtonHeaderLong" style="visibility:hidden" />
                    </td>*@
                @if (ZyCoaG.Classes.util.Common.GetLogonForm().ADMIN_FLAG == "1")
                {
                <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                    <div class="io" align="left">
                        <fieldset style=border:none>
                            <label ID="lblReferenceAuthority" Text="参照権限">参照権限</label><br />
                            <input type="radio" name="user" value="0"> 一般ユーザー<br />
                            <input type="radio" checked="checked" name="user" value="1"> 管理者<br />
                        </fieldset>
                    </div>
                </td>
            }
                @if (!name.Equals("Index"))
                {
                    <td style="width: 90px" rowspan="2" align="center" valign="middle">
                        <input type="button" ID="btnHeader_Back" Text="戻る" value="ユーザー設定" class="ButtonHeader" onclick="location.href='@Url.Action("ZC01022", "ZC010")'" />
                    </td>
                }
                <td style="width: 90px" rowspan="2" align="center" valign="middle">
                    <div ID="logout">
                        <input type="submit" ID="btnHeader_LogOut" Text="ログアウト" value="ログアウト"
                               class="ButtonHeader NoPrint" onclick="location.href='@Url.Action("Logout", "ZC010")'" />
                    </div>
                </td>
                <td style="width: 112px" rowspan="2" align="center" valign="middle">
                    <div style="width: 112px;"> </div>
                </td>
            </tr>
            <tr>
                <td style="width:700px;text-align:left;vertical-align:top">
                    @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                    {
                        <Label ID="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                    }
                </td>
            </tr>
        </table>
        <hr />
    </div>
    <section id="DashBoard">
        @using (Html.BeginForm())
        {
            @*@Session["UserName"]*@

        <table class="TableMenue" align="center">
            <tr>
                <td valign="top">
                    <table align="center" width="810px">
                        <tr>
                            <td align="center" width="270px">&nbsp;</td>
                            <td align="center" width="270px">&nbsp;</td>
                            <td align="center" width="270px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="40px" valign="bottom" align="center">
                                <label class="LabelMenu" style="width:240px;display:inline-block">商品受入</label>
                            </td>
                            <td height="40px" valign="bottom" align="center">
                                <label class="LabelMenu" style="width:240px;display:inline-block">在庫管理</label>
                            </td>
                            <td height="40px" valign="bottom" align="center">
                                <label class="LabelMenu" style="width:240px;display:inline-block">検索</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input type="button" id="cmdAccept" value="受入（商品バーコード有）" Class="ButtonMenu" onclick="location.href='@Url.Action("ZC12010","ZC120",new {Flag=1 })'" />
                            </td>
                            <td align="center">
                                <input type="button" id="cmdStOrder" value="在庫検索" Class="ButtonMenu" onclick="location.href='@Url.Action("ZC02002","ZC020")'" />
                            </td>
                            <td align="center">
                                <input type="button" id="cmdHisActSearch" value="瓶番号" Class="ButtonMenu" onclick="location.href='@Url.Action("ZC01041","ZC010",new { BottleFlow=1})'" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="270px">
                                <input type="button" id="cmdSearchAccept" value="受入（商品バーコード無)" Class="ButtonMenu" onclick="location.href='@Url.Action("ZC11010","ZC110",new { mode=7})'" />

                            </td>
                            <td width="270px" height="40px" valign="bottom" align="center">
                                <input type="button" id="cmdControlSingle" value="入出庫" Class="ButtonMenu" onclick="location.href='@Url.Action("ZC04001","ZC040",new { FlowCode=1})'" />

                            </td>
                            <td align="center">
                                <input type="button" id="cmdUsageHistComplex" value="複合" Class="ButtonMenu" onclick="location.href='@Url.Action("ZC13010","ZC130",new { FlowCode=1})'" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="270px">&nbsp;</td>
                            <td align="center" width="270px">&nbsp;</td>

                            <td align="center">
                                <input type="button" id="cmdWorkRecordSearch" value="作業記録" Class="ButtonMenu" onclick="location.href='@Url.Action("ZC13020","ZC130")'" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="270px">&nbsp;</td>
                            <td align="center" width="270px">&nbsp;</td>
                            <td align="center" width="270px">
                                <input type="button" id="cmdHazardTotal" value="危険物集計情報参照" Class="ButtonMenu" onclick="location.href='@Url.Action("ZC13030","ZC130")'" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="270px">&nbsp;</td>
                            <td align="center" width="270px">&nbsp;</td>
                            <td align="center" width="270px">&nbsp;</td>
                        </tr>
                    </table>
                    <table align="center" width="810px">
                        <tr>
                            <td height="40px" valign="bottom" align="center">
                                <label class="LabelMenu" style="display:inline-block;width:240px;">化学物質管理</label>
                            </td>
                            <td height="40px" valign="bottom" align="center" class="auto-style3">
                                <label class="LabelMenu" style="display:inline-block;width:240px;">管理台帳</label>
                            </td>
                            <td height="40px" valign="bottom" align="center">
                                @if (ZyCoaG.Classes.util.Common.GetLogonForm().ADMIN_FLAG == "1")
                                {
                                    <label class="LabelMenu" style="display:inline-block;width:240px;">マスターメンテナンス</label>
                                }
                            </td>
                        </tr>

                        <tr>
                            <td width="270px" height="40px" valign="middle" align="center">
                                @*<input type="button" id="cmdChemSearch" value="化学物質検索・登録" Class="ButtonMenu" onclick="cmdChemSearch_Click" />*@
                                <input type="button" id="cmdChemSearch" value="化学物質検索・登録" Class="ButtonMenu" onclick="loadcsmsSearchPage()" />
                            </td>
                            <td height="40px" valign="middle" align="center" class="auto-style3">
                                <input type="button" id="cmdLedgerSearch" value="管理台帳検索・申請" Class="ButtonMenu" onclick="return LedgerSearch()"@*onclick="location.href='@Url.Action("ZC14010", "ZC140")'"*@ @*onclick="cmdLedgerSearch_Click"*@ />
                            </td>
                            <td align="center">
                                @if (ZyCoaG.Classes.util.Common.GetLogonForm().ADMIN_FLAG == "1")
                                {
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.MaintainanceMasterSubElement, Model.LookupMasterName, " ", new { @style = "width:200px", @class = "DdlSearchLong", id = "ddlMasterName" })
                                            @Html.ValidationMessageFor(model => model.MaintainanceMasterSubElement, " ", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>

                        <tr>
                            <td width="270px" valign="bottom" align="center" class="auto-style2"></td>
                            <td valign="bottom" align="center" class="auto-style4">
                                <input type="button" id="cmdLedgerProject" style="color:Red;" value="案件一覧" Class="ButtonMenu" onclick="return MatterList()" @*onclick="location.href='@Url.Action("ZC14030", "ZC140",new { SearchTarget=0})'"*@ />
                            </td>
                            <td width="270px" valign="bottom" align="center" class="auto-style2">
                                @if (ZyCoaG.Classes.util.Common.GetLogonForm().ADMIN_FLAG == "1")
                                {
                                    <input type="button" id="cmdMasterView" value="マスター表示" Class="ButtonMenu" onclick="return RedirectActionPage();" />
                                }
                            </td>
                        </tr>
                    </table>
        </table>
        <div>
            <br />
            <hr />
            <br />
            <div style="width: auto;text-align:left;vertical-align:middle">
                <a href="http://localhost/" id="linkTemplate" style="padding:5px;background-color:White;color:#0033CC;font-weight:bold" Target="_blank">申請書フォーマット</a>
            </div>
        </div>
    }
</section>
<script>
    function loadcsmsSearchPage() {
        var mode = 6;
        var url = "../ZC110/ZC11010?mode=" + mode;
        window.location.href = url;
    }

    function MatterList() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
        var SearchTarget = 0;
        window.location.href = "../ZC140/ZC14030?SearchTarget=" + SearchTarget;
    } 

    function LedgerSearch() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
        window.location.href = "../ZC140/ZC14010";
    }

    //To get selected value an text of dropdownlist
    function SelectedValue(ddlObject) {
        //Selected value of dropdownlist
        var selectedValue = ddlObject.value;
        //Selected text of dropdownlist
        var selectedText = ddlObject.options[ddlObject.selectedIndex].innerHTML;

        //alert popup with detail of seleceted value and text
        alert(" Selected Value: " + selectedValue + " -- " + "Selected Text: " + selectedText);
    }

    //if (!validNavigation) {
    //    $(window).bind('beforeunload', function () {

    //        alert('Thank you for using this app.');
    //        $.ajax({
    //            url: '/ZC010/SessionRemoveAll',
    //            data: {},
    //            type: 'POST',
    //            success: function (data) {
    //                alert('Session Cleared');
    //            },
    //            error: function (err) {
    //                alert("Error");
    //                return false;
    //            }
    //        });
    //    });
    //}

    function RedirectActionPage() {
        if ($('#ddlMasterName').val() == "") {
            alert("マスターが選択されていないか、マスター名が一致しません。");
            return false;
        }
        var MasterName = $('#ddlMasterName').val();
        window.location.href = MasterName;
    }

    $(document).ready(function () {
        function block() {
            $.blockUI({ message: '<p>読み込み中...</p>' });
        }

        function Unblock() {
            $.unblockUI();
        }
    });
</script> 