﻿@model ZyCoaG.WebCommonInfo
@{
    Layout = "~/Views/Shared/_LayoutWebCommon.cshtml";

    // WebGrid webGrid = new WebGrid(Session["SessionConst.WebGrid"], canSort: false, canPage: false);
}

<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#SelectAllWebGrid').DataTable({
            "sScrollX": "0",
            "sScrollY": "400px",
            "sScrollXInner": "140%",
            "iDisplayLength": 25,
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            //"deferLoading": 57,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }
        });
    });
</script>

<script type="text/javascript">

    $("input").focus(function () {
    var val = this.value,
        $this = $(this);
    $this.val("");

    setTimeout(function () {
        $this.val(val);
        alert($this.value);
    }, 1);
    });

    $(document).ready(function () {
        $("form").keypress(function (e) {
            //#btnBack_Click
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                e.preventDefault();
                return false;
            }
        });
    });

     function LedgerRegulationDetails() {
         $.ajax({
             type: "POST",
             url: "/ZC010/GetLedgerRegulationIdsDetails",
             dataType: "json",
             data: { "GroupCd": $("#hdnGroupCd").val()},
            success: function (data) {
                if (data[0] != null && data[0] != "" && data[1] != null && data[1] != "") {
                    $('#hdnGroupCd').val(data[0]);
                    $('#lblGroupName').val(data[1]);
                    return false;
                }
                else {
                    alert(data);
                    return false;
                }
            },
        });
    }

    @*function Select(userCode) {
        $("#user").val(userCode);
        $.ajax({
            url: '/ZC010/ZC01021', //_Update
                data: {
               'WebCommonInfo':@Model,
                //    'user':userCode,
                },
                type: 'POST',
            });
            return false;
    }*@
        function Select(userCode) {
            $("#user").val(userCode);
            var userCD = $("#txtUser_Cd").val();
            var userNM = $("#txtUser_Nm").val();
            var userKANA = $("#txtUser_Kana").val();
            var groupNM = $("#lblGroupName").val();
            var groupCD = $("#hdnGroupCd").val();
            var delFlag = $("#ddlStatus").val();
            var batchFlag = $("#ddlBatchFlag").val();
        @*$.ajax({
            url: '/ZC010/ZC01021_Update',
                data: {
               //'WebCommonInfo':@Model,
                    'user':userCode,
                },

            });*@
          //  location.href = "/ZC010/ZC01022?identityFlag='M_USER'&usercd="+userCode+"&type=Edit&isInitialize=''&callerIdentity=''";
            location.href = "/ZC010/ZC01021_Update?identityFlag='M_USER'&user="+userCode+"&usrCD="+userCD+"&userName="+userNM+"&userKana="+userKANA+"&groupName="+groupNM+"&grpCD="+groupCD+"&delFlg="+delFlag+"&batchFlg="+batchFlag;
            return false;
    }
    //function Select(userCode) {
    //    $("#user").val(userCode);
    //    $.ajax({
    //        url: '/ZC010/ZC01022',
    //        data: { 'identityFlag': "M_USER",'usercd': userCode, 'type': "Edit",'isInitialize':"",'callerIdentity':"" },

    //    });
    //    return false;
    //}


    function OpenTreePopup(TableName) {
        var url = '../ZC010/ZC01081?TableName=' + TableName + '&ColumnName=P_GROUP_CD&SelectType=0&id=' + document.getElementById("hdnGroupCd").value;
        window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes'); //, 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes, _blank'
    }

    function BarCodeLabelPrintZC01021() {
        var result = confirm("バーコードを印刷します。よろしいですか？");
        if (result == true) {
            $.ajax({
                url: '/ZC010/BarCodeLabelPrintZC01021',
                data: {
                    'userCD': $("#txtUser_Cd").val(),
                    'userNM': $("#txtUser_Nm").val(),
                    'userKANA': $("#txtUser_Kana").val(),
                    'groupNM': $("#lblGroupName").val(),
                    'groupCD': $("#hdnGroupCd").val(),
                    'delFlag': $("#ddlStatus").val(),
                    'batchFlag': $("#ddlBatchFlag").val(),
                },
                type: 'POST',
                success: function (data) {
                    //   alert(data);
                    //var agent = window.navigator.userAgent.toLowerCase();
                    //var ischrome = (agent.indexOf('chrome') !== -1) && (agent.indexOf('edge') === -1) && (agent.indexOf('opr') === -1)
                    //if (ischrome) {
                    //    DoPrint(data);
                    //}
                    //else {
                    //    // IE browser which supports Activex component
                    //    alert("IE browser which supports Activex component");
                    DoPTouchLabelPrint(data);
                    //  }

                },
                error: function (err) {
                    alert(err);
                }
            });
            return false;
        } else {
            return false;
        }
    }
</script>

@*<script type="module">
        import * as bpac from '../../Scripts/bpac.js';
        window.DoPrint = async function DoPTouchLabelPrint(datas) {
            var label = {};
            if (bpac.IsExtensionInstalled() == false) {
                alert(bpac.IsExtensionInstalled());
                const agent = window.navigator.userAgent.toLowerCase();
                const ischrome = (agent.indexOf('chrome') !== -1) && (agent.indexOf('edge') === -1) && (agent.indexOf('opr') === -1)
                if (ischrome) {
                    window.open('https://chrome.google.com/webstore/detail/ilpghlfadkjifilabejhhijpfphfcfhb', '_blank');
                }
            } else {
                // extension installed
                try {
                    // alert("extension installed Chrome browser");
                    const templateFileName = datas.substring(0, datas.indexOf(","));
                    var data = datas.substring(datas.indexOf(",") + 1, datas.count);

                    var templateFileName1 = "../../Template/" + templateFileName;
                    alert(templateFileName1);
                    // alert(data);
                    const label = bpac.idocument;
                    const ret = await label.Open(templateFileName1);
                    //alert("ret value" + ret);
                    if (ret == true) {
                        var divisor = "";
                        if (templateFileName == 'User.lbx') {
                            divisor = 2;
                        } else if (templateFileName == 'Location.lbx') {
                            divisor = 3;
                        } else if (templateFileName == 'Bottle.lbx') {
                            divisor = 2;
                        }

                        label.StartPrint("", 0);
                        var count = 0;
                        // datas = '[{ "Name": "test1", "Number": "dev1" },{ "Name": "test12", "Number": "dev12" }]';
                        JSON.parse(data, function (key, value) {

                            if (typeof (value) != "object") {
                                count++;
                                if (key == "Number") {
                                    label.GetObject("Number").Text = value;
                                    //  alert("Number: " + label.GetObject("Number").Text);
                                } else if (key == "Barcode") {
                                    label.GetObject("Barcode").Text = value;
                                    //  alert("Barcode: " + value);
                                }
                                else {
                                    label.GetObject("Name").Text = value;
                                    // alert("Name: " + label.GetObject("Name").Text);
                                }
                            }
                            if (count != 0 && count % divisor == 0) {
                                alert("printing");
                                label.PrintOut(1, 0);
                                count = 0;
                            }
                        });

                        label.Close();
                        label.EndPrint();
                        //alert("P-Touch End print");
                    }
                    else {
                        alert("P-Touchラベルプリンターが正しくインストールされていません。");
                    }
                }
                catch (e) {
                    console.log(e);
                }
            }
        }
    </script>*@


@using (Html.BeginForm("ZC01021", "ZC010", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (TempData["alertMessage"] != null)
    {
        <script type="text/javascript">
        alert('@TempData["alertMessage"]');
        </script>
    }

    string ButtonDisabled = null;
    int searchCount = 0;
    if (@Session["WebGridCount"] != null)
    {
        searchCount = (int)@Session["WebGridCount"];

    }
    if (searchCount == 0)
    {
        ButtonDisabled = "disabled";
    }

    <div class="bodyMaster">
        <div>
            <table class="TableUcHeader">
                <tr>
                    <td rowspan="2" style="width: 130px">
                        <div id="header">
                            <div class="titleField">
                                <div class="logo">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="left" valign="bottom" class="auto-style1">
                        <label id="lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【ユーザーマスタ－検索】</label>
                    <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                    <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                    <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                        <div class="io" align="left">
                            <fieldset style=border:none></fieldset>
                        </div>
                    </td>
                    <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                    <td style="width: 90px" rowspan="2" align="center" valign="middle">
                        <div id="logout">
                        </div>
                    </td>
                    <td style="width: 112px" rowspan="2" align="center" valign="middle">
                        <div style="width: 112px;" />
                        <input type="submit" id="btnBack_Click" name="btnBack_Click" value="戻る" class="ButtonHeader" onclick="return block();" />
                    </td>
                </tr>
                <tr>
                    <td style="width:700px;text-align:left;vertical-align:top">
                        @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                        {
                            <Label id="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                        }
                    </td>
                </tr>
            </table>
            <hr />
        </div>
        <div id="contents">
            <table class="TableSearch">
                <tr>
                    <td valign="top">
                        <table width="840px" align="center">
                            <tr>
                                <!-- 検索域・1行目 -->
                                <td align="right" width="170px">
                                    <label id="lblUser_Cd" class="LabelSearch">NID(半角)：</label>
                                </td>
                                <td align="left" width="400px">
                                    @Html.TextBoxFor(m => m.USER_CD, new { @id = "txtUser_Cd", @class = "TextBoxSearchLong" })
                                    &nbsp;<img alt="" src="~/image/Word_Equal.png" />
                                    @Html.HiddenFor(m => m.USER, new { @id = "user" })
                                </td>
                                <td align="center" width="90px">
                                    <input type="submit" id="btnSearch" name="btnSearch_Click" value="検索" class="ButtonNormal ButtonMargin" onclick="return block();" />
                                </td>
                                <td align="center" width="90px">
                                    <input type="submit" id="btnOutPutList" name="btnOutPutList_Click" value="リスト出力" disabled=@ButtonDisabled class="ButtonNormal ButtonMargin"  />
                                </td>
                                <td align="center" width="106px"></td>
                            </tr>
                            <tr>
                                <!-- 検索域・2行目 -->
                                <td align="right" width="170px">
                                    @Html.Label("社員名：", new { @class = "LabelSearch" })
                                </td>
                                <td align="left" width="400px">
                                    @Html.TextBoxFor(m => m.USER_NAME, new { @id = "txtUser_Nm", @class = "TextBoxSearchLong" })
                                    &nbsp;<img alt="" class="style1" src="~/image/Word_Contain.png" />
                                </td>
                                <td align="center" width="90px">
                                    <input type="submit" id="btnClear" value="クリア" name="btnClear_Click"
                                           class="ButtonNormal ButtonMargin" onclick="return block();" />
                                </td>
                                <td align="center" width="90px">


                                    <button id="btnLabelPrint" value="ﾊﾞｰｺｰﾄﾞ印刷" name="btnPrint_Click"
                                            class="ButtonNormal ButtonMargin" disabled=@ButtonDisabled onclick="return BarCodeLabelPrintZC01021();">
                                        ﾊﾞｰｺｰﾄﾞ印刷
                                    </button>

                                </td>
                                <td align="center" width="106px"></td>
                            </tr>

                            <tr>
                                <!-- 検索域・3行目 -->
                                <td align="right" width="170px">
                                    @Html.Label("社員名（ローマ字）：", new { @class = "LabelSearch" })
                                </td>
                                <td align="left" width="400px">
                                    @Html.TextBoxFor(model => model.USER_NAME_KANA, new { @id = "txtUser_Kana", @class = "TextBoxSearchLong", })
                                    &nbsp;<img alt="" class="style1" src="~/image/Word_Contain.png" />
                                </td>

                                <td align="center" width="90px">
                                    <input type="submit" id="btnRegist" value="新規登録" name="btnRegist_Click"
                                           class="ButtonNormal ButtonMargin" onclick="btnRegist_Click" />
                                </td>
                                <td align="center" width="106px"></td>
                            </tr>

                            <tr>
                                <!-- 検索域・4行目 -->
                                <td align="right" width="170px">
                                    @Html.Label("部署名：", new { @class = "LabelSearch", @id = "lblGroup_Cd" })
                                </td>
                                <td align="left" width="400px">
                                    <input type="button" id="btnSelect" name="btnChoice_Click" value="選択" class="CommonButtonShort" onclick="OpenTreePopup('M_GROUP')" />
                                    @Html.TextBoxFor(model => model.GROUP_NAME, new { @id = "lblGroupName", @class = "TextBoxSearchLong", @readonly = "readonly", @style = "background-color:Beige;border-style:None;width:238px;" })
                                    @Html.HiddenFor(model => model.GROUP_CD, new { id = "hdnGroupCd" })
                                    <input type="hidden" id="USER_SELECTION" />
                                    <input type="hidden" id="GROUP_SELECTION" />
                                </td>
                                <td align="center" width="90px">
                                    <input type="submit" id="btnOutPutTemplate" value="ﾃﾝﾌﾟﾚｰﾄ出力"
                                           class="ButtonNormal ButtonMargin" name="btnTemplateOutPutList_Click" />
                                </td>
                                <td align="center" width="106px"></td>
                            </tr>

                            <tr>
                                <td align="right" width="170px">
                                    @Html.Label("状態：", new { @class = "LabelSearch", @id = "lblStatus" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.DEL_FLAG, new List<SelectListItem>() {
                                   new SelectListItem() { Value ="1", Text = "使用中"},
                                   new SelectListItem() { Value = "2", Text = "削除済" },
                                   new SelectListItem() { Value ="3", Text = "全て"}}, new { @style = "width:100px", @id = "ddlStatus" })
                                </td>
                            </tr>
                            <tr>
                                <td align="right" width="170px">
                                    @Html.Label("バッチ更新対象外：", new { @class = "LabelSearch", @id = "lblBatchFlag" })
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.BATCH_FLAG, new List<SelectListItem>() {
                                   new SelectListItem() { Value ="1", Text = "全て"},
                                   new SelectListItem() { Value = "2", Text = "対象" },
                                   new SelectListItem() { Value ="3", Text = "対象外"}}, new { @style = "width:100px", @id = "ddlBatchFlag" })
                                </td>

                                <td colspan="3">
                                    <div id="pnlInclude">
                                        @Html.TextBoxFor(m => m.UPLOAD_FILE, new { type = "file", id = "file", name = "uploadFile", accept = "text/comma-separated-values", style = "width:244px;", onkeydown = "return false;", onchange = "moveCursorToEnd('file');" })
                                       
                                        <input type="submit" value="取込"
                                               name="btnInclude_Click" id="btnInclude" class="ButtonShort" onclick="return block();" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            @if (ViewBag.FileStatus != null)
            {
                <label id="lblImportReport" style="color:white;" value="ここに取込レポートを表示します">@Html.Raw(ViewBag.FileStatus)</label>
            }
            <hr />
        </div>

        <div>
            <div id="UpdatePanel">

                <div style="width: 100%; text-align: right;">
                    @if (Session["WebGridCount"] != null)
                    {
                        <span id="ResultCount" style="color:White;font-size:X-Large;font-weight:bold;">件数：@Session["WebGridCount"] 件</span>
                    }
                </div>
                @if (Session["WebGridCount"] != null)
                {

                    WebGrid webGrid = new WebGrid((List<ZyCoaG.WebCommonInfo>)Session["WebGrid"], canSort: false, canPage: false);

                    <div class="webGridMM">
                        @webGrid.GetHtml(
                        tableStyle: "webGrid",
                        htmlAttributes: new { id = "SelectAllWebGrid", @style = "margin-top:0px" },
                        headerStyle: "grid-header",
                        rowStyle: "gridRow",
                        alternatingRowStyle: "alt",
                        mode: WebGridPagerModes.All,
                        columns: webGrid.Columns(
                            webGrid.Column("編集", format: @<text><button value="@item.USER_CD" name="select" id="select" onclick="return Select(this.value)">編集</button></text>, style: "col-sm0"),
webGrid.Column("DEL_USERNAME", "状態", style: "webGridVerticalLineOnly"),
webGrid.Column("USER_CD", "NID", style: "webGridVerticalLineOnly"),
webGrid.Column("USER_NAME", "社員名", style: "webGridVerticalLineOnly"),
webGrid.Column("USER_NAME_KANA", "社員名（ローマ字）", style: "col-single"),
webGrid.Column("GROUP_NAME", "部署名", style: "col-single"),
webGrid.Column("APPROVER1", "上長", style: "col-single"),
webGrid.Column("APPROVER2", "代理者", style: "col-single"),
webGrid.Column("TEL", "内線番号", style: "col-single"),
webGrid.Column("EMAIL", "メールアドレス", style: "col-single"),
webGrid.Column("PREVIOUS_GROUP_NM", "前回部署", style: "col-single"),
webGrid.Column("USAGE", "フロー名", style: "col-single"),
webGrid.Column("REG_USER", "登録者", style: "col-single"),
webGrid.Column("REG_DATE", "登録日時", style: "col-single"),
webGrid.Column("UPD_USER", "更新者", style: "col-single"),
webGrid.Column("UPD_DATE", "更新日時", style: "col-single"),
webGrid.Column("ADMIN_FLAGNAME", "管理者権限", style: "col-single"),
webGrid.Column("DEL_USER", "削除者", style: "col-single"),
webGrid.Column("DEL_DATE", "削除日時", style: "col-single"),
webGrid.Column("BATCH_FLAGNAME", "バッチ更新対象外", style: "col-single")))
                    </div>
                }
                else
                {

                    <div class="webGridMMHeader">
                        <table cellspacing="0" cellpadding="4" rules="cols" id="grid" style="color:Black;background-color:White;border-width:1px;border-style:Solid;font-size:Small;border-collapse:collapse;">
                            <tbody>
                                <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:2px;border-style:Solid;font-weight:bold;">
                                    <th>&nbsp;</th>
                                    <th nowrap>状態</th>
                                    <th nowrap>NID</th>
                                    <th nowrap>社員名</th>
                                    <th nowrap>社員名（ローマ字）</th>
                                    <th nowrap>部署名</th>
                                    <th nowrap>上長</th>
                                    <th nowrap>代理者</th>
                                    <th nowrap>内線番号</th>
                                    <th nowrap>メールアドレス</th>
                                    <th nowrap>前回部署</th>
                                    <th nowrap>フロー名</th>
                                    <th nowrap>登録者</th>
                                    <th nowrap>登録日時</th>
                                    <th nowrap>更新者</th>
                                    <th nowrap>更新日時</th>
                                    <th nowrap>管理者権限</th>
                                    <th nowrap>削除者</th>
                                    <th nowrap>削除日時</th>
                                    <th nowrap>バッチ更新対象外</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                }

            </div>
        </div>
    </div>
}
