﻿
@model ZyCoaG.WebCommonInfo
@{
    Layout = "~/Views/Shared/_LayoutWebCommon.cshtml";
}

<script language="javascript" type="text/javascript" src="../Scripts/zycg.js"></script>
<script>
    $(document).ready(function () {
        // disable enter key
        $("form").keypress(function (e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                e.preventDefault();
                return false;
            }
        });
    });
</script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.TYPE)
    @Html.HiddenFor(m => m.CALLER_IDENTITY)
    @Html.HiddenFor(model => model.FLOW_CD, new { id = "hdnFLOW_CD" })
    @Html.HiddenFor(model => model.ADMIN_FLAG, new { id = "hdnADMIN_FLAG" })
    if (Model.USER_CD != null)
    {
        @Html.Hidden(Model.USER_CD)
    }
    <head id="Head1">
        <title>ユーザーマスター確認画面</title>
    </head>
    <body class="bodyMaster">
        <div>
            <table class="TableUcHeader">
                <div id="header">
                    <div class="titleField">
                        <div class="logo">
                        </div>
                    </div>
                </div>
                <tr>
                    <td rowspan="2" style="width: 130px"><div class="Logo"></div></td>
                    <td align="left" valign="bottom" class="auto-style1">
                        <label id="lblTitle" style="color:Yellow;font-weight:bold;Font-Size:small;">【ユーザーマスター確認】</label>
                    <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                    <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
                    <td style="width: 180px;color:white" rowspan="2" align="right" valign="middle">
                        <div class="io" align="left">
                            <fieldset style=border:none></fieldset>
                        </div>
                    </td>
                    <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>

                    <td style="width: 90px" rowspan="2" align="center" valign="middle">
                        <div id="logout">

                        </div>
                    </td>
                    <td style="width: 112px" rowspan="2" align="center" valign="middle">
                        <div style="width: 112px;"></div>
                        <input type="submit" id="btnBack_Click" value="戻る" class="ButtonHeader" name="btnBack_Click" onclick="return block();" />
                    </td>
                </tr>
                <tr>
                    <td style="width:700px;text-align:left;vertical-align:top">
                        @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                        {
                            <Label id="lblLogin" style="font-size:small;color:#fff">ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)</Label>
                        }
                    </td>
                </tr>
            </table>
            <hr />
        </div>
        <table align="center" frame="box" style="border: 8px solid #808080; " bgcolor="#f5f4cd" width="100%" height="200">
            <tr>
                <td valign="top">
                    <table align="center" width="800px">

                        <tr>
                            <td align="right" width="300px">
                                &nbsp;
                            </td>
                            <td align="left">
                                @if (Model.TYPE == "New")
                                {
                                    <span id="lblMsg" style="color:Red;font-size:Small;">以下の内容で登録しても宜しいですか？</span>
                                }
                                else
                                {
                                    <span id="lblMsg" style="color:Red;font-size:Small;">以下の内容で更新しても宜しいですか？</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                <label id="Label1">NID(半角)：</label>
                            </td>
                            <td align="left">
                                <label id="lblUserCd">@Model.USER_CD</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                <label id="Label2" Text="社員名：">社員名：</label>
                            </td>
                            <td align="left">
                                <label id="lblUserNm">@Model.USER_NAME</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                <label id="Label3" Text="社員名（ローマ字）：">社員名（ローマ字）：</label>
                            </td>
                            <td align="left">
                                <label id="lblUserKana">@Model.USER_NAME_KANA</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                <label id="Label5" Text="部署：">部署：</label>
                            </td>
                            <td align="left">
                                <label id="lblGroupNm">@Model.GROUP_NAME</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                <label id="Label7" Text="内線番号(半角)：">内線番号(半角)：</label>
                            </td>
                            <td align="left">
                                <label id="lblTel">@Model.TEL</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                <label id="Label9" Text="メールアドレス(半角)：">メールアドレス(半角)：</label>
                            </td>
                            <td align="left">
                                <label id="lblEmail">@Model.EMAIL</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                <label id="Label11" Text="上長：">上長：</label>
                            </td>
                            <td align="left">
                                <label id="lblApprover1_Nm">@Model.APPROVER1_NAME</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                <label id="Label13" Text="代理者：">代理者：</label>
                            </td>
                            <td align="left">
                                <label id="lblApprover2_Nm">@Model.APPROVER2_NAME</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                <label id="Label15" Text="管理者権限：">管理者権限：</label>
                            </td>
                            <td align="left">
                                <label id="lblAdminFlag_Nm">@Model.ADMIN_FLAGNAME</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                <label id="Label12" Text="フロー名：">フロー名：</label>
                            </td>
                            <td align="left">
                                <label id="lblFlowNm">@Model.FLOW_NAME</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                状態：
                            </td>
                            <td align="left">
                                @if (Model.DEL_FLG)
                                {
                                    <label id="lblDelFlagNm" style="color:Red;">@Model.DEL_FLAGNAME</label>
                                }
                                else
                                {
                                    <label id="lblDelFlagNm">@Model.DEL_FLAGNAME</label>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="300px">
                                バッチ更新対象：
                            </td>
                            <td align="left">
                                <label id="lblBatchFlagNm">@Model.BATCH_FLAGNAME</label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <table class="TableFooter">
            <tr>
                <td>
                    <table style="float:right;">
                        <tr>
                            <td>&nbsp;</td>
                            <td width="90px">
                                @Html.HiddenFor(m => m.TYPE, new { @id = "type" })
                                @Html.HiddenFor(m => m.IDENTITY, new { @id = "identity" })
                                <input type="submit" id="Confirm" value="確定" class="ButtonFooter" onclick="return block();" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
    if (TempData["alertMessage"] != null)
    {
        <script type="text/javascript">
       alert('@TempData["alertMessage"]');
        </script>
    }
}

