﻿
@{
    Layout = null;
}


@using (Html.BeginForm())
{  
    
    <body class="body">                   
            <table class="TableSearch">
                <tr>
                    <td>
                        <table width="600px" align="center">
                            <tr>
                                <td align="center">
                                    <label ID="lblMsg" Text="対象の保管場所を選択して下さい。" style="font-size:small;color:red;">対象の保管場所を選択して下さい。</label>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <div id="tree"></div>
                                    <div id="select_key"></div>
                                    <asp:HiddenField ID="select_keys"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br />
            <br />      
    </body>


}
