﻿@using IdentityManagement.Entities
@model LoginInfo
@{
    Layout = "~/Views/Shared/_LayoutWebCommon.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    <section id="loginForm">
        @Html.AntiForgeryToken()
        <div>
            <table width="100%">
                <tr>
                    <td align="center">
                        <div class="titleLogo" />
                    </td>
                </tr>
            </table>
            <br />
            <table width="100%" style="border: 5px solid #FFFFFF" align="center">
                <tr>
                    <td width="570px">
                        &nbsp;
                    </td>
                    <td width="680px">
                        &nbsp;
                        <img alt="業務案内" src="~/Image/Word_GyomuAnnai.png" />
                    </td>
                </tr>

                <tr>
                    <td align="center" valign="top">
                        <table style="border-color: #99CCFF; border-style: outset; width: 100%;" bgcolor="snow">
                            <tr><td>&nbsp;</td></tr>

                            <tr>
                                <td align="right">
                                    <label for="UserName">ユーザーID：</label>
                                </td>
                                <td align="left" colspan="2">
                                    <input type="text" id="UserName" name="UserName" Class="TextBoxSearchLong TextBoxWidth" />
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <label for="Password">パスワード：</label>
                                </td>
                                <td align="left" colspan="2">
                                    <input type="password" id="Password" name="Password" Class="TextBoxSearchLong TextBoxWidth" />
                                </td>
                            </tr>
                            @if (TempData["AuthMethod"] != null)
                            {
                                <tr>
                                    <td align="right">
                                        <label for="lblAuthMethod"> 認証：</label>
                                    </td>
                                    <td align="left">
                                        <input type="radio" value="Normal" id="cmdNormal" name="cmdAttestation" />Normal &nbsp;&nbsp;&nbsp;
                                        <input type="radio" value="LDAP" id="cmdLDAP" checked="checked" name="cmdAttestation" />LDAP
                                    </td>
                                </tr>
                            }

                            <tr><td colspan="2"><hr /></td></tr>
                            <tr>
                                <td align="right">&nbsp;</td>
                                <td align="left" colspan="2" valign="top">
                                    <input type="button" id="cmdLogin" value="ログイン" Class="ButtonNormal" onclick="return Loginsubmit();" />
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                        </table>
                    </td>
                    <td>
                        @if (@TempData["DisplayName"] != null)
                        {
                            IHtmlString str = new HtmlString(TempData["DisplayName"].ToString());
                            <div style="border-color: #99CCFF; padding: 5px; border-style: ridge; border-width: medium; background-color: #FFFFFF; width: 840px; height: 420px; overflow-y:scroll; word-wrap: break-word;">
                                @str
                            </div>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </section>

}
<p>
    &nbsp;
</p>
<p>
    &nbsp;
</p>
<p>
    &nbsp;
</p>

<script type="text/javascript">

    var input = document.getElementById("loginForm");

    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("cmdLogin").click();
        }
    });

    $(window).bind('beforeunload', function () {
        $.ajax({
            url: '/ZC010/SessionRemoveAll',
            type: 'POST',
            success: function () {
                //  alert('App Session Cleared');
            },
            error: function (err) {
                //  alert("Error Session Clear");
                return false;
            }
        });
    });


    function Loginsubmit() {

        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();

        var Username = $('#UserName').val();
        var Password = $('#Password').val();

        if (Username == "") {
            alert("ユーザーIDを入力してください。");
            $('#UserName').focus();
            return false;
        }
        if (Password == "") {
            $('#Password').focus();
            alert("パスワードを入力してください。");
            return false;
        }
        //  block();
        $.ajax({

            url: '/ZC010/ZC01001',
            type: 'POST',
            data: {
                __RequestVerificationToken: token,
                'UserName': Username, 'Password': Password, 'method': $("input[name='cmdAttestation']:checked").val(),
            },
            success: function (data) {
                //     Unblock();
                if (data == "") {
                    window.open('/ZC010/ZC01011', '', 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes', '_top');
                    // showModalDialog('/ZC010/ZC01011','', 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes', '_blank');
                    return false;
                }
                else {
                    alert(data);
                }
            },
            error: function (err) {
                //     Unblock();
                //alert('Error[ユーザーIDとパスワードの入力に誤りがあります。]');
                //location.reload(true);
                //Loginsubmit();

                return false;
            }
        });
        return false;
    };

</script>



