﻿
@{
    Layout = null;
}

@using (Html.BeginForm())
{    
    
    <body class="body">       
            <input type="button" ID="ButtonDefault"  Text="" onclick="return false;" style="display: none;" />            
            <table class="TableSearch">
                <tr>
                    <td align="left">
                        <label ID="lblMsg"  Text="設定したいメーカーを選択して下さい。" Font-Size="Small" ForeColor="Red"></label>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <label ID="Label1" Text="パターン名：" class="LabelSearch">パターン名：</label>
                        <input type="text"  ID="txtPatternName"  class="TextBoxSearchLong"/>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <input type="button" ID="btnSelClear"  Text="選択解除" value="選択解除" onclick="btnSelClear_Click" class="ButtonNormal" />
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div style="height:450px; width:100%; overflow-x:hidden; overflow-y:scroll;">
                            @*<asp:UpdatePanel ID="UpdatePanel" >
                                <ContentTemplate>
                                    <asp:GridView ID="grid" ></asp:GridView>
                                </ContentTemplate>
                            </asp:UpdatePanel>*@
                        </div>
                    </td>
                </tr>
            </table>
            <br />              
    </body>
}
