﻿
@{
    Layout = null;
}


<title>社員選択画面</title>
<style type="text/css">
    .style1 {
        width: 68px;
        height: 12px;
    }
</style>

@using (Html.BeginForm())
{    
    <body class="body">   
            <table class="TableSearch">
                <tr>
                    <td valign="top">
                        <table width="800px" align="center">
                            <tr>
                                <td align="right" width="130px">
                                    <label ID="Label1" Text="社員コード：" class="LabelSearch">社員コード：</label>
                                </td>
                                <td align="left" width="400px">
                                    <input type="text" ID="txtUser_Cd" class="TextBoxSearchLong" />
                                    &nbsp;<img alt="" class="style1" src="~/Image/Word_Equal.png" />
                                </td>
                                <td align="center" width="90px">
                                    <input type="button" ID="btnSearch"  Text="検索" value="検索" onclick="btnSearch_Click" class="ButtonNormal" />
                                </td>
                                <td align="center" width="90px">
                                    <input type="button" ID="btnClear"  Text="クリア" value="クリア" class="ButtonNormal" onclick="btnClear_Click" />
                                </td>
                                <td align="center" width="90px">
                                    <input type="button" ID="btnRegist"  Text="新規登録" value="新規登録" class="ButtonNormal" Visible="False" />
                                </td>
                            </tr>
                            <tr>
                                <tsd align="right" width="130px">
                                    <label ID="Label2" Text="社員名：" class="LabelSearch">社員名：</label>
                                </tsd>
                                <td align="left" width="400px">
                                    <input type="text" ID="txtUser_Name" class="TextBoxSearchLong" />
                                    &nbsp;<img alt="" class="style1" src="~/image/Word_Contain.png" />
                                </td>
                                <td align="center" width="90px">
                                    <input type="button" ID="btnSelect"  Text="選択" value="選択" class="ButtonNormal" Visible="False" />
                                </td>
                                <td align="center" width="90px">
                                    <input type="button" ID="btnOutTemplate"  Text="ﾃﾝﾌﾟﾚｰﾄ出力" class="ButtonNormal" Visible="False" />
                                </td>
                                <td align="center" width="90px">
                                    <input type="button" ID="btnInclude"  Text="取込" class="ButtonNormal" Visible="False" />
                                </td>
                            </tr>
                            <tr>
                                <td align="right" width="130px">
                                    <asp:Label ID="Label3"  Text="グループ名：" class="LabelSearch"></asp:Label>
                                </td>
                                <td align="left" width="400px">
                                    <asp:DropDownList ID="ddlGroup"  class="DdlSearchLong"></asp:DropDownList>
                                    &nbsp;
                                    <img alt="" class="style1" src="~/image/Word_Equal.png" /><br />
                                </td>
                                <td align="center" width="90px">&nbsp;</td>
                                <td align="center" width="90px">&nbsp;</td>
                                <td align="center" width="90px">
                                    <input type="button" ID="btnDummy"  Text="Dummy" class="ButtonNormal" Visible="False" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            @*<asp:ScriptManager ID="ScriptManager1" >
            </asp:ScriptManager>*@
            <br />
            <hr />
            <div style="height:auto; width:100%; overflow-y:visible;">
                <br />
                @*<asp:UpdatePanel ID="UpdatePanel1" >
                    <ContentTemplate>
                        <asp:GridView ID="grid" ></asp:GridView>
                    </ContentTemplate>
                </asp:UpdatePanel>*@
            </div>
            <br />              
    </body>
   

}
