﻿
@{
    Layout = null;
}

<head id="Head1" runat="server">
    <title>法規制選択画面</title>
    <link rel="stylesheet" type="text/css" href="../Styles/StyleSheet.css" />
    <link href="../Styles/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet" />

    <script language="javascript" type="text/javascript" src="../Scripts/zycg.js"></script>
    <script src="../Scripts/jquery.js" type="text/javascript"></script>
    <script src="../Scripts/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="../Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="../Scripts/jquery.dynatree.js" type="text/javascript"></script>

    <base target="_self" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
</head>

@using (Html.BeginForm())
{  
   
    <table class="TableSearch">
        <tr>
            <td>
                <table width="600px" align="center">
                    <tr>
                        <td align="center">
                            <label ID="lblMsg" Text="対象の法規制を選択して下さい。" style="font-size:small;color:red;"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <div id="tree"></div>
                            <div id="select_key"></div>
                            <input type="hidden" ID="select_keys"/>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
    <br />
    <br />

}

