﻿@model ZyCoaG.WebCommonInfo
@{
    Layout = "~/Views/Shared/_LayoutWebCommon.cshtml";
}
<div>
    <table class="TableUcHeader">

        <tr>
            <td rowspan="2" style="width: 130px">
                <div id="header">
                    <div class="titleField">
                        <div class="logo">
                        </div>
                    </div>
                </div>
            </td>
            <td align="left" valign="bottom" class="auto-style1">
                <span id="ucHeader_lblTitle" style="color:Yellow;font-size:Small;font-weight:bold;">【選択】</span>
            <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
            <td style="width: 120px" rowspan="2" align="center" valign="middle"></td>
            <td style="width: 160px" rowspan="2" align="right" valign="middle">
                <div class="io" align="left">

                </div>
            </td>
            <td style="width: 90px" rowspan="2" align="center" valign="middle"></td>
        </tr>
        <tr>
            <td style="width: 700px" align="left" valign="top">
                @if (ZyCoaG.Classes.util.Common.GetLogonForm().UserName != null)
                {
                    <span id="ucHeader_lblLogin" style="color:White;font-size:Small;">
                        ログイン者名：@ZyCoaG.Classes.util.Common.GetLogonForm().UserName (@ZyCoaG.Classes.util.Common.GetLogonForm().UserTitle)
                    </span>
                }
            </td>
        </tr>
    </table>
    <hr />
</div>
@using (Html.BeginForm())
{
    <table class="TableSearch">
        <tr>
            <td>
                <table width="600px" align="center">
                    <tr>
                        <td align="center">
                            <label id="lblMsg" style="font-size:small;color:Red;">対象を選択して下さい。</label>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <div id="tree">
                                <script type="text/javascript">
                                    @if (Model.select_keys != "" || Model.select_keys != null) {
                                    @Html.Raw(Model.select_keys)
                                    }
                                </script>
                            </div>
                            <div id="select_keys"></div>
                            <div id="select_keys_name"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <div style="width: auto;text-align:left;vertical-align:middle">
        <table class="TableFooter">
            <tr>
                <td>
                    <table style="float:right;">
                        <tr>
                            <td width="90px">
                                <input type="button" name="select" value="選択" id="select" class="ButtonFooter" onclick="return Select();" />
                            </td>
                            <td width="90px">
                                <input type="button" name="clear" value="クリア" id="clear" class="ButtonFooter" onclick="return Clear();" />
                            </td>
                            <td width="90px">
                                <input type="button" name="close" value="閉じる" id="close" class="ButtonFooter" onclick="window.close();" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
}

<script>
    $('#clear').click(function () {
        document.getElementById('select_keys_name').value = "";
        document.getElementById('select_keys').value = "";
        $("span").each(function () {
            if (($(this).hasClass("dynatree-selected")) || ($(this).hasClass("dynatree-active")) || ($(this).hasClass("dynatree-focused")) || ($(this).hasClass("dynatree-partsel"))) {
                $(this).removeClass("dynatree-selected");
                $(this).removeClass("dynatree-active");
                $(this).removeClass("dynatree-focused");
                $(this).removeClass("dynatree-partsel");
            }
        });
    });


    function Select() {
        var selected_ids = $('#select_keys').val();
        // alert(x);
        //window.opener.document.getElementById("hdnGroupCd").value = $('#select_keys').val();
        //window.opener.document.getElementById("lblGroupName").value = $('#select_keys_name').val();
        //window.close(this);
        $.ajax({
            url: '/ZC010/PopupSelect',
            type: 'POST',
            data: {
                'selectedkeys': selected_ids
            },
            success: function (data) {
                // alert(data);
                //if (data == "True") {
                if (data != "") {
                    //$('#select_keys').val() = "";
                    //  window.location.href = "../ZC110/ZC010?identityFlag=M_USER&usercd=" + userCode;
                    // window.opener.document.getElementById("lblGroupName").value = data;
                    //  $(window.opener.document).find('#lblGroupName').val() = data;

                    //   alert("closing");
                    $.urlParam = function (name) {
                        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                        if (results == null) {
                            return null;
                        }
                        else {
                            return decodeURI(results[1]) || 0;
                        }
                    }
                    var ClassId = $.urlParam('ClassId');
                    var TableName = $.urlParam('TableName');
                    var ColumnName = $.urlParam('ColumnName');
                    var TypeId = $.urlParam('SelectType');
                    var isdelete = $.urlParam('IsDelete');
                    if (ClassId == "Regulation") {
                        window.opener.document.getElementById("Regulation").value = selected_ids;
                        if (TypeId == "3") {
                            window.opener.RegulationDetailsAdd();
                        } else if (TypeId == "2") {
                            window.opener.$(".btnregulation").trigger('click');
                        }

                    } else if (ClassId == "Fire") {
                        window.opener.document.getElementById("Fire").value = selected_ids;
                        if (TypeId == "3") {
                            window.opener.FireIdsDeatilsAdd();
                        }
                        else if (TypeId == "2") {
                            window.opener.$(".btnfire").trigger('click');
                        }

                    } else if (ClassId == "Office") {
                        window.opener.document.getElementById("Office").value = selected_ids;
                        if (TypeId == "3") {
                            window.opener.officedetails();
                        }
                        window.opener.$(".btnoffice").trigger('click');

                    } else if (ClassId == "Gas") {
                        window.opener.document.getElementById("GhsCateogry").value = selected_ids;
                        if (TypeId == "3") {
                            window.opener.GhsDetails();
                        }
                        window.opener.$(".btnGasSelectionView").trigger('click');
                    }
                    if (TableName == "M_STORING_LOCATION") {
                        window.opener.document.getElementById("Locationidval").value = selected_ids;
                        if (TypeId == "0") {
                            window.opener.LedgerstorageDetails();
                        }
                        else if (TypeId == "2") {
                            window.opener.$(".btnlocreg").trigger('click');
                        }

                        else {
                            window.opener.document.getElementById("Locationidval").value = selected_ids;
                            window.opener.$(".btnlocreg").trigger('click');
                        }
                    }
                    else if (TableName == "M_REGULATION") {
                        window.opener.document.getElementById("Regulationidval").value = selected_ids;
                        window.opener.$(".btnregclick").trigger('click');
                    }


                    else if (TableName == "M_GROUP" && isdelete != null) {
                        window.opener.document.getElementById("USER_SELECTION").value = selected_ids;
                        window.opener.document.getElementById("GROUP_SELECTION").value = selected_ids;
                        window.opener.document.getElementById("hdnGroupCd").value = selected_ids;
                        window.opener.document.getElementById("lblGroupName").value = $('#select_keys_name').val();
                        window.opener.$(".btnuserclick").trigger('click');
                    }

                    else if (TableName == "M_GROUP" && (isdelete != "" && isdelete != null)) {

                        window.opener.document.getElementById("hdnGroupCd").value = selected_ids;
                        window.opener.document.getElementById("lblGroupName").value = $('#select_keys_name').val();
                        window.opener.document.getElementById("USER_SELECTION").value = selected_ids;
                        window.opener.document.getElementById("GROUP_SELECTION").value = selected_ids;
                        window.opener.$(".btnuserclick").trigger('click');

                    }
                    //ML
                    else if (TableName == "M_GROUP") {
                        window.opener.document.getElementById("hdnGroupCd").value = selected_ids;
                        window.opener.document.getElementById("USER_SELECTION").value = selected_ids;
                        window.opener.document.getElementById("GROUP_SELECTION").value = selected_ids;
                        if (TypeId == "0") {
                            if (window.opener.document.getElementById("hdnGroupCd").value != null && window.opener.document.getElementById("hdnGroupCd").value != "") {
                                window.opener.LedgerRegulationDetails();
                            }
                            else
                            {
                                alert("対象が選択されていません。");
                                return false;
                            }

                        }
                        else if (TypeId == "2") {
                            window.opener.$(".btnuserclick").trigger('click');
                        }

                    }

                    else if (TableName == "M_USAGE_LOCATION") {
                        window.opener.document.getElementById("UsageLocationidval").value = selected_ids;//UsageLocation
                        if (TypeId == "0") {
                            window.opener.UsageLocationDetails();
                        }
                        else if (TypeId == "2") {
                            window.opener.$(".btnusagelocclick").trigger('click');
                        }
                        else {
                            window.opener.document.getElementById("UsageLocationidval").value = selected_ids;
                            window.opener.$(".btnusagelocclick").trigger('click');
                        }

                    }
                    else if (TableName == "M_LOCATION") {
                        window.opener.document.getElementById("Locationidval").value = selected_ids;
                        window.opener.document.getElementById("hdnGroupCd").value = selected_ids;
                        window.opener.document.getElementById("lblGroupName").value = $('#select_keys_name').val();
                        window.opener.$(".btnlocclick").trigger('click');
                    }
                    else if (TableName == "M_USER") {
                        window.opener.document.getElementById("hdnGroupCd").value = selected_ids;
                        window.opener.document.getElementById("lblGroupName").value = $('#select_keys_name').val();
                        window.opener.$(".btnuserclick").trigger('click');
                    } else if (TableName == "M_COMMON" && ClassId != "M_ISHA_USAGE") {

                        window.opener.document.getElementById("SHAPE_SELECTION").value = selected_ids;

                    }
                    else if (TableName == "M_COMMON" && ClassId == "M_ISHA_USAGE") {

                        window.opener.document.getElementById("TERMS_SELECTION").value = selected_ids;
                        //window.opener.document.getElementById("TERMS_VALUE_SELECTION") = selected_ids;
                    }
                    //else if (TableName == "M_COMMON" && ClassId == null) {

                    //    window.opener.document.getElementById("TABLENAME_SELECTION").value = selected_ids;
                    //    //window.opener.document.getElementById("TERMS_VALUE_SELECTION") = selected_ids;
                    //}

                    window.opener.document.getElementById("lblGroupName").value = $('#select_keys_name').val();
                    window.close(this);
                    return false;
                }
                else {
                    alert("failed。" + data);
                    return false;
                }
            },
            error: function (err) {
                alert("Error:" + err);
                // window.close();
                return false;
            }
        });
    }
</script>
