﻿
@model ZyCoaG.WebCommonInfo
@{
    WebGrid grid = new WebGrid(Model.listInventoryUsageHistory, canSort: false, canPage: false);
    Layout = "~/Views/Shared/_LayoutInventory.cshtml";
}
<link href="~/Content/Css/StyleSheet.css" rel="stylesheet" />
<style>
    .webgrid-table {
        width: 100%;
        display: table;
        border-collapse: collapse;
        border: solid 1px #fff;
        /*background-color: white;*/
    }

        .webgrid-table th {
            border: 1px solid #fff;
            /*padding: 3px 7px 2px;*/
        }

        .webgrid-table td {
            border-right: 1px solid grey;
            /*border-bottom: 1px solid;*/
            border-left: 1px solid;
            /*padding: 3px 7px 2px;*/
        }

    .webgrid-header {
        background-color: maroon;
        text-align: center;
        color: Black;
        background-color: White;
        border-width: 2px;
        border-style: Solid;
        font-size: Small;
        border-collapse: collapse;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        background-color: maroon;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        background-color: white;
    }

    .webgrid-alternating-row {
        background-color: seashell;
    }

    .webgrid-header a {
        color: #ffffff;
    }
</style>
<head>
    <title>使用履歴検索（単一）</title>
    <script language="javascript" type="text/javascript">
        $(window).load(function () {
            var parent = $('#resultGridInner');
            var windowHeight = $(window).height();
            var topHeight = $('#header').outerHeight() + $('#contents').outerHeight();
            var gridHeight = windowHeight - topHeight - 48;
            if (gridHeight < 208) {
                gridHeight = 208;
            }
            parent.height(gridHeight);

            var grid = $('#grid');
            if (parent.length && grid.length) {
                parent.width('10000px');
                parent.width(grid[0].offsetWidth + 20)
            }
        });

        $(window).resize(function () {
            var parent = $('#resultGridInner');
            var windowHeight = $(window).height();
            var topHeight = $('#header').outerHeight() + $('#contents').outerHeight();
            var gridHeight = windowHeight - topHeight - 48;
            if (gridHeight < 208) {
                gridHeight = 208;
            }
            parent.height(gridHeight);
        });
    </script>
</head>
@using (Html.BeginForm())
{@Html.HiddenFor(m => m.Barocde)
@Html.HiddenFor(m => m.BottleFlow)
<body class="body">
    <input type="button" ID="ButtonDefault" Text="" onclick="return false;" style="display: none;" />
    <div id="contents">
        <table class="TableSearch" align="center">
            <tr>
                <td valign="top" align="center">
                    <table>
                        <tr>
                            <td align="right" width="130px">
                                <label ID="Label1" Text="瓶番号(半角)：" class="LabelSearch">瓶番号(半角)：</label>
                            </td>
                            <td width="280px" align="left">
                                @if (Request.QueryString["BottleFlow"] == null)
                                {
                                    <input type="text" ID="txtBarcode" class="TextBoxSearchLong" disabled="disabled" />
                                    @Html.HiddenFor(m => m.StockId)
                                }
                                else if (Request.QueryString["BottleFlow"] == "1")
                                {
                                    @Html.TextBoxFor(m => m.BottleNumber, new { @class = "TextBoxSearchLong", @onchange = "return GetBottleNumberValues(this.value);", @id = "BottleNo" })
                                    @Html.HiddenFor(m => m.BottleNumber)
                                }
                            </td>
                            <td align="center" width="90px">
                                @if (Request.QueryString["BottleFlow"] == null)
                                {
                                    <input type="submit" value="クリア" ID="btnClear" Text="クリア" disabled="disabled" class="ButtonNormal ButtonMargin" name="btnClear_Click" />
                                }
                                else if (Request.QueryString["BottleFlow"] == "1")
                                {
                                    <input type="submit" value="クリア" ID="btnClear" Text="クリア" class="ButtonNormal ButtonMargin" name="btnClear_Click" />
                                }
                            </td>
                            <input type="hidden" name="hdnBarcode" id="Barcode" />
                            <td align="center" width="90px">
                                <input type="submit" value="リスト出力" ID="btnOutList" Text="リスト出力" class="ButtonNormal ButtonMargin" name="btnOutList_Click" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <hr />
    </div>
    <div id="BarocdeDetails">
        @Html.Partial("_PartialBarcodeDetails")
    </div>
</body>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnClear').focus();
        $('#BottleNo').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                var bottleNo = $(this).val();
                GetBottleNumberValues(bottleNo);
                $('#BottleNo').val('');
                return false;
            }
        });
    });

    function GetBottleNumberValues(obj) {
        //window.location.href = "/ZC010/GetBottleNumberValues?barcode=" + obj
        $.ajax({
            url: '/ZC010/GetBottleNumberValues',
            type: 'GET',
            data: { 'barcode': obj },
            success: function (data) {
                $('#BarocdeDetails').html('');
                $('#BarocdeDetails').html(data);
                $('#BottleNo').val('');
                return false;
            },
            error: function (err) {
                alert("ユーザーIDとパスワードの入力に誤りがあります。");
                return false;
            }
        });
        return false;
    }

    $('#btnOutList').click(function (e) {
        $('#Barcode').val($("#InventoryListDataView").find('td:eq(3)').text());
    });
</script>