﻿@model ZyCoaG.M_MASTER
@{
    Layout = "~/Views/Shared/_LayoutWebCommon.cshtml";
}
<style>
    textarea {
        resize: none;
        border: none;
    }
</style>
<br />
<br />
<script src="~/Scripts/jquery-1.4.1.min.js"></script>
@using (Html.BeginForm())
{

    <body class="body">
        <form id="form1">

            <table class="TableSearch">
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td align="center">
                        <label for="lblMSG" style="color:Red;font:bold;font:small">＜エラーが発生しました＞</label>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <label id="lblMSG0" style="color:Red;font:small">解決しない場合は、申し訳ございませんが管理者へお問い合わせ下さい。</label>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <span id="lblMSG1" style="font-size : small; font-weight:normal;">
                            @ViewBag.Exception
                        </span>
                    </td>
                </tr>
                @if (TempData["DebugMode"] != null)
                {
                    <tr>
                        <td align="center">
                            <input type="button" id="btnOpenLog" value="ZyCoaG.Web.logを開く" onclick="return OpenLog_Click();" />
                            <label id="lblMsgWebLog" style="color:Red;font:small">Debugモード時のみこのボタンが表示されます。</label><br />
                            <textarea id="areaMsgWebLog" rows="2" cols="50" style="width:100%">
                        </textarea>
                        </td>
                    </tr>
                }
            </table>
            <br />
            <hr />
            <table class="TableFooter">
                <tr>
                    <td align="center">
                        <input type="button" for="btnLogin" value="ログインへ" CssClass="ButtonFooter"
                               onclick="location.href='@Url.Action("ZC01001","ZC010")'" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
}

<script type="text/javascript">

    function OpenLog_Click() {

        $.ajax({
            url: '/ZC010/btnOpenLog_Click',
            type: 'POST',

            success: function (data) {
                if (data != null) {
                    $('#areaMsgWebLog').val(data);
                    return false;
                }
            },
            error: function (err) {
                alert("Error opening Log File");
                return false;
            }
        });
        return false;
    };
</script>