﻿@model ChemMgmt.Models.InventoryManagement
@{
    Layout = "~/Views/Shared/_LayoutInventory.cshtml";

}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>
<script>
    $(window).load(function () {
        $("#OCCURRENCE_START_DATE").datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true,
            yearRange: "-600:+0"
        });

        $("#OCCURRENCE_END_DATE").datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true,
            yearRange: "-600:+0"
        });
    });


    function OpenTreePopup(flag) {
        if (flag == 1) {
            var val = $('#USER_SELECTION').val();
            var url = "../ZC010/ZC01081?TableName=M_GROUP&ColumnName=P_GROUP_CD&SelectType=2&RowId=&Id=" + val + "";
        } else if (flag == 2) {
            var val = $('#Regulationidval').val();
            var url = "../ZC010/ZC01081?TableName=M_REGULATION&ColumnName=P_REG_TYPE_ID&SelectType=2&RowId=&Id=" + val + "";
        }
        else {
            var val = $('#Locationidval').val();
            var url = "../ZC010/ZC01081?TableName=M_LOCATION&ColumnName=P_LOC_ID&SelectType=2&RowId=&Id=" + val + "";
        }
        window.open(url, 'popUpWindow', 'height=726px,width=1276px,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes'); //, 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes, _blank'
    }

    function setlblValue(Id) {
        if (Id == "Location") {
            var UsageLocationidval = $("#Locationidval").val();
            if (UsageLocationidval != "") {
                $("#lblLocationSelection").text("設定済み");
                return false;
            }
            else {
                $("#lblLocationSelection").text("");
                return false;
            }
        }
        else if (Id == "Regulation") {
            var Regulationidval = $("#Regulationidval").val();
            if (Regulationidval != "") {
                $("#lblRegulationSelection").text("設定済み");
                return false;
            }
            else {
                $("#lblRegulationSelection").text("");
                return false;
            }

        }
        else if (Id == "User") {
            var userSelection = $("#USER_SELECTION").val();
            if (userSelection != "" || $('#GROUP_SELECTION').val()!="") {
                $("#UserSelectionView").text("設定済み");
                return false;
            }
            else {
                $("#UserSelectionView").text("");
                return false;
            }

        }
    }

    function Cleartext(Id) {
        if (Id == "Location") {
            $("#lblLocationSelection").text("");
            $("#Locationidval").val("");
        }
        else if (Id == "Regulation") {
            $("#lblRegulationSelection").text("");
            $("#Regulationidval").val("");
        }
        else if (Id == "User") {
            $("#UserSelectionView").text("");
            $("#USER_SELECTION").val("");
            $('$GROUP_SELECTION').val("");
        }
    }

    $(document).ready(function () {
        //$.unblockUI();
        var url = null;
        $("#ListOutput").click(function () {
            var data = $('form').serialize();
            //$.blockUI({ message: '<p>読み込み中...</p>' });
            $.ajax({
                url: "/ZC130/ValidateCountComposite",
                type: "POST",
                cache: false,
                data: data,
                //dataType: "json",
                success: function (data) {
                    if (data != "") {
                        let isokay = confirm(data);
                        if (isokay) {
                            $('#ListOutputClick').trigger('click');
                        } else {
                            $.unblockUI();
                            return false;
                        }
                    } else {
                        $('#ListOutputClick').trigger('click');
                    }
                },
                error: function () {
                    alert("An error has occured!!!");
                    $.unblockUI();
                }
            });
        });
        return false;
    });


</script>
@using (Html.BeginForm())
{
    if (TempData["ErrorMessages"] != null)
    {
        <script>
           $(document).ready(function () {
               alert("@TempData["ErrorMessages"]");
                 $.unblockUI();
                return false;
            });
        </script>
    }


    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <input type="hidden" id="hdnGroupCd" name="hdnGroupCd" />
        <input type="hidden" id="lblGroupName" name="lblGroupName" />
        @Html.HiddenFor(m=>m.FlowCode)
        <div class="ioSection ioSectionSearch">
            <!-- 列1 -->
            <div class="ioFieldLong">
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("化学物質名：")
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.PRODUCT_NAME_CONDITION, Model.LookUpBarcodeCondition,
                       new { @class = "searchCondition" })
                        @Html.TextBoxFor(m => m.PRODUCT_NAME_JP, new { @class = "textBox" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("瓶番号(半角)：")
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.BARCODE_CONDITION, Model.LookUpBarcodeCondition, new { @class = "searchCondition" })
                        @Html.TextBoxFor(m => m.BARCODE, new { @class = "textBox halfWidth" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("CAS#(半角)：")
                    </div>
                    <div class="io">
                        @Html.TextBoxFor(m => m.CAS_NO, new { @class = "textBox halfWidth" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("登録番号(半角)：")
                    </div>
                    <div class="io">

                        @Html.DropDownListFor(model => model.REG_NO_CONDITION, Model.LookUpBarcodeCondition,
                        new { @class = "searchCondition" })

                        @Html.TextBoxFor(m => m.REG_NO, new { @class = "textBox halfWidth" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("部署名：")
                    </div>
                    <div class="io">
                        <input type="button" id="UserSelect" value="選択" Class="buttonLong" onclick="return OpenTreePopup(1);">
                        <input type="button" id="UserClear" value="クリア" Class="buttonLong" onclick="Cleartext('User');">
                        <label id="UserSelectionView"></label>
                        <input type="hidden" name="USER_SELECTION" id="USER_SELECTION" />
                        <input type="hidden" name="GROUP_SELECTION" id="GROUP_SELECTION" />
                        <input type="button" class="btnuserclick" name="reg" onclick="return setlblValue('User');" style="visibility:hidden" />
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("作業者名：")
                    </div>
                    <div class="io">


                        @Html.DropDownListFor(model => model.USER_NAME_CONDITION, Model.LookUpBarcodeCondition,
                        new { @class = "searchCondition" })
                        @Html.TextBoxFor(m => m.USER_NAME, new { @class = "textBox" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("発生日(半角:YYYY/MM/DD)：")
                    </div>
                    <div class="io">

                        @Html.TextBoxFor(m => m.RECEIPT_START_DATE, new { id = "OCCURRENCE_START_DATE", @class = "TextBoxSearchShort" })
                        <span>  ～ </span>
                        @Html.TextBoxFor(m => m.RECEIPT_END_DATE, new { id = "OCCURRENCE_END_DATE", @class = "TextBoxSearchShort" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("法規制：")
                    </div>
                    <div class="io">
                        <input type="button" id="RegulationSelect" value="選択" Class="buttonLong" onclick="return OpenTreePopup(2);">
                        <input type="button" id="RegulationClear" value="クリア" Class="buttonLong" onclick="Cleartext('Regulation');">
                        <input type="hidden" id="Regulationidval" Name="RegulationSelection" />
                        <label id="lblRegulationSelection"></label>
                        <input type="button" class="btnregclick" name="reg" onclick="return setlblValue('Regulation');" style="visibility:hidden" />
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("保管場所/使用場所：")
                    </div>
                    <div class="io">
                        <input type="button" id="LocationSelect" value="選択" Class="buttonLong" onclick="return OpenTreePopup(3);">
                        <input type="hidden" id="Locationidval" Name="LocationSelection" />
                        <input type="button" name="LocationSelection" value="クリア" id="Location_Selection" class="ButtonUC" onclick="Cleartext('Location');" />
                        <label id="lblLocationSelection"></label>
                        <input type="button" class="btnlocclick" name="reg" onclick="return setlblValue('Location');" style="visibility:hidden" />
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("含有物：")
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.IncludesContained, Model.LookUpInclude, new { @class = "searchCondition" })
                    </div>
                </div>
            </div>
            <!-- 列2 -->
            <div class="buttonField">
                <input type="button" id="ListOutput" name="ListOutput" value="リスト出力" class="button">
                <input type="submit" id="ListOutputClick" name="ListOutput" value="リスト出力" class="button" style="display:none">
                <input type="submit" id="Clear" name="Clear" value="クリア" class="button">
            </div>
        </div>
    </div>

    @*<div id="SubContent" ContentPlaceHolderID="SubContents" runat="server">
            <hr />
            <div id="result">
                <label for="ResultCount" class="count"></label>
                <div style="clear: both;" />
                <div id="resultGridOuter">
                    <div id="resultGridInner">
                        <asp:GridView ID="ResultGrid" runat="server" SelectMethod="GetSearchResult" ItemType="ZyCoaG.Nikon.ChemUsageHistoryModel">
                            <Columns>
                                <asp:TemplateField HeaderText="" ItemStyle-HorizontalAlign="Center" />
                            </Columns>
                        </asp:GridView>
                    </div>
                </div>
            </div>
        </div>*@

}

<script>
    function block() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
    }

    $(document).ready(function () {
        Unblock();
    });
    function Unblock() {
        $.unblockUI();
    }
</script>

