﻿@model ChemMgmt.Models.InventoryManagement
@{
    WebGrid grid = new WebGrid(Model.listWorkRecordModel, canSort: true, canPage: false);
    Layout = "~/Views/Shared/_LayoutInventory.cshtml";

}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script>
    $(window).load(function () {

        $("#ISSUE_START_DATE").datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true,
            yearRange: "-600:+0"
        });

        $("#ISSUE_END_DATE").datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true,
            yearRange: "-600:+0"
        });

        $("#RECEIPT_START_DATE").datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true,
            yearRange: "-600:+0"
        });

        $("#RECEIPT_END_DATE").datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true,
            yearRange: "-600:+0"
        });

    });

    function OpenTreePopup(flag) {
        if (flag == 1) {
            var val = $('#USER_SELECTION').val();
            var url = "../ZC010/ZC01081?TableName=M_GROUP&ColumnName=P_GROUP_CD&SelectType=2&RowId=&Id=" + val + "";
        } else if (flag == 2) {
            var val = $('#Regulationidval').val();
            var url = "../ZC010/ZC01081?TableName=M_REGULATION&ColumnName=P_REG_TYPE_ID&SelectType=2&RowId=&Id=" + val + "";
        }
        else if (flag == 3) {
            var val = $('#UsageLocationidval').val();
            var url = "../ZC010/ZC01081?TableName=M_USAGE_LOCATION&ColumnName=P_LOC_ID&SelectType=2&RowId=&Id=" + val + "";
        }
        window.open(url, 'popUpWindow', 'height=726px,width=1276px,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes'); //, 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes, _blank'
    }


    function setlblValue(Id) {
        if (Id == "Location") {
            var UsageLocationidval = $("#UsageLocationidval").val();
            if (UsageLocationidval != "") {
                $("#lblLocationSelection").text("設定済み");
                return false;
            }
            else {
                $("#lblLocationSelection").text("");
                return false;
            }
        }
        else if (Id == "Regulation") {
            var Regulationidval = $("#Regulationidval").val();
            if (Regulationidval != "") {
                $("#lblRegulationSelection").text("設定済み");
                return false;
            }
            else {
                $("#lblRegulationSelection").text("");
                return false;
            }
        }
        else if (Id == "User") {
            var userSelection = $("#USER_SELECTION").val();
            if (userSelection != "") {
                $("#UserSelectionView").text("設定済み");
                return false;
            }
            else {
                $("#UserSelectionView").text("");
                return false;
            }

        }
    }

    function Cleartext(Id) {
        if (Id == "Location") {
            $("#lblLocationSelection").text("");
            $("#UsageLocationidval").val("");
        }
        else if (Id == "Regulation") {
            $("#lblRegulationSelection").text("");
            $("#Regulationidval").val("");
        }
        else if (Id == "User") {
            $("#UserSelectionView").text("");
            $("#USER_SELECTION").val("");
            $('$GROUP_SELECTION').val("");
        }
    }

</script>
<style type="text/css">
    .col-sm {
        min-width: 1150px;
    }

    .col-sm1 {
        min-width: 50px;
    }

    .col-sm2 {
        min-width: 300px;
    }

    .col-sm3 {
        min-width: 350px;
    }

    .col-sm4 {
        min-width: 50px;
    }

    .to-the-right {
        text-align: right;
    }

    .webgrid-table {
        width: 100%;
        display: table;
        border-collapse: collapse;
        border-collapse: collapse;
    }

        .webgrid-table th {
            border: 1px solid black;
            font-size: small;
            border-collapse: collapse;
            border: 1px solid #999;
            padding: 0.3rem;
            text-align: left;
        }

        .webgrid-table td {
            border-left: 1px solid black;
            font-size: small;
            border-collapse: collapse;
            padding: 0.3rem;
            text-align: left;
            white-space: nowrap;
        }

    .webgrid-header {
        background-color: maroon;
        text-align: center;
        background-color: White;
        border-width: 2px;
        border-style: Solid;
        font-size: Small;
        border-collapse: collapse;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        background-color: maroon;
        white-space: nowrap;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        background-color: white;
    }

    .webgrid-alternating-row {
        background-color: seashell;
    }

    .webgrid-header a {
        color: #ffffff;
    }

    .webGrid :hover th {
        cursor: pointer;
    }

    .dataTables_scrollBody thead tr[role="row"] {
        visibility: collapse !important;
    }
    table, th {
      min-width:60px
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <input type="hidden" id="hdnGroupCd" name="hdnGroupCd" />
        <input type="hidden" id="lblGroupName" name="lblGroupName" />
        <div class="ioSection ioSectionSearch">
            <!-- 列1 -->
            <div class="ioFieldLong">
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("化学物質名：")
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.PRODUCT_NAME_CONDITION, Model.LookUpBarcodeCondition, new { @class = "searchCondition" })
                        @Html.TextBoxFor(m => m.PRODUCT_NAME_JP, new { @class = "textBox" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("瓶番号(半角)：")
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.BARCODE_CONDITION, Model.LookUpBarcodeCondition, new { @class = "searchCondition" })
                        @Html.TextBoxFor(m => m.BARCODE, new { @class = "textBox halfWidth" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("CAS#(半角)：")
                    </div>
                    <div class="io">
                        @Html.TextBoxFor(m => m.CAS_NO, new { @class = "textBox halfWidth" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("登録番号(半角)：")
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.REG_NO_CONDITION, Model.LookUpBarcodeCondition, new { @class = "searchCondition" })
                        @Html.TextBoxFor(m => m.REG_NO, new { @class = "textBox halfWidth" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("部署名：")
                    </div>
                    <div class="io">
                        <input type="button" id="UserSelect" value="選択" Class="buttonLong" onclick="return OpenTreePopup(1);" />
                        <input type="button" id="UserClear" value="クリア" Class="buttonLong" onclick="Cleartext('User');" />
                        @if (Model.hdnGroupIds != null && Model.hdnGroupIds != "")
                        {
                            <label id="UserSelectionView">設定済み </label>
                        }
                        else
                        {
                            <label id="UserSelectionView"></label>

                        }
                        <input type="hidden" name="USER_SELECTION" id="USER_SELECTION" value="@Model.hdnGroupIds" />
                        <input type="hidden" name="GROUP_SELECTION" id="GROUP_SELECTION" value="@Model.hdnGroupIds" />
                        <input type="button" class="btnuserclick" name="reg" onclick="return setlblValue('User');" style="visibility:hidden" />
                    </div>
                </div>

                <div class="ioSet">
                    <div class="label">
                        @Html.Label("作業者名：")
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.USER_NAME_CONDITION, Model.LookUpBarcodeCondition, new { @class = "searchCondition" })
                        @Html.TextBoxFor(m => m.USER_NAME, new { @class = "textBox" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("出庫日(半角:YYYY/MM/DD)：")
                    </div>
                    <div class="io">
                        @Html.TextBoxFor(m => m.ISSUE_START_DATE, new { @class = "textBoxShort halfWidth" })
                        <span>～</span>
                        @Html.TextBoxFor(m => m.ISSUE_END_DATE, new { @class = "textBoxShort halfWidth" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("入庫日(半角:YYYY/MM/DD)：")
                    </div>
                    <div class="io">
                        @Html.TextBoxFor(m => m.RECEIPT_START_DATE, new { @class = "textBoxShort halfWidth" })
                        <span>～</span>
                        @Html.TextBoxFor(m => m.RECEIPT_END_DATE, new { @class = "textBoxShort halfWidth" })
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("法規制：")
                    </div>
                    <div class="io">
                        <input type="button" id="RegulationSelect" value="選択" Class="buttonLong" onclick="return OpenTreePopup(2);" />
                        <input type="button" id="RegulationClear" value="クリア" Class="buttonLong" onclick="Cleartext('Regulation');" />
                        <input type="hidden" id="Regulationidval" Name="RegulationSelection" value="@Model.hdnRegulationIds" />
                        @if (Model.hdnRegulationIds != null && Model.hdnRegulationIds != "")
                        {
                            <label id="lblRegulationSelection">設定済み </label>
                        }
                        else
                        {
                            <label id="lblRegulationSelection"></label>

                        }

                        <input type="button" class="btnregclick" name="reg" onclick="return setlblValue('Regulation');" style="visibility:hidden" />
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("使用場所：")
                    </div>
                    <div class="io">
                        <input type="button" id="LocationSelect" value="選択" Class="buttonLong" onclick="return OpenTreePopup(3);" />
                        <input type="button" name="LocationSelection" value="クリア" id="Location_Selection" class="ButtonUC" onclick="Cleartext('Location');" />
                        <input type="hidden" id="UsageLocationidval" Name="LocationSelection" value="@Model.hdnLocationIds" />
                        @if (Model.hdnLocationIds != null && Model.hdnLocationIds != "")
                        {
                            <label id="lblLocationSelection">設定済み </label>
                        }
                        else
                        {
                            <label id="lblLocationSelection"></label>

                        }
                        <input type="button" class="btnusagelocclick" name="reg" onclick="return setlblValue('Location');" style="visibility:hidden" />
                    </div>
                </div>
                <div class="ioSet">
                    <div class="label">
                        @Html.Label("含有物：")
                    </div>
                    <div class="io">
                        @Html.DropDownListFor(model => model.IncludesContained, Model.LookUpInclude, new { @class = "searchCondition" })
                    </div>
                </div>
            </div>
            <!-- 列1 -->
            <div class="buttonField">
                <input type="submit" id="Search" name="Search" value="検索" class="button" onclick="block();" />
                <input type="submit" id="Clear" name="Clear" value="クリア" class="button" />
            </div>
            <!-- 列2 -->
            <div class="buttonField">
                <input type="submit" id="ListOutput" name="ListOutput"  value="リスト出力" class="button" />
            </div>
        </div>
    </div>
    <hr />


    <div style="width: 100%; text-align: right;">
        @if (Model.listWorkRecordModel != null && Model.listWorkRecordModel.Count() > 0)
        {
            <span id="ResultCount" style="color:White;font-size:X-Large;font-weight:bold;">件数 : @Model.listWorkRecordModel.Count() 件</span>
        }
    </div>
    if (Model.listWorkRecordModel != null && Model.listWorkRecordModel.Count > 0)
    {
        <div style="height:auto; width:100%; overflow-y:visible;">
            <div id="resultGridOuter">
                <div id="resultGridInner">
                    <div>
                        @grid.GetHtml(
tableStyle: "webgrid-table",
headerStyle: "webgrid-header",
footerStyle: "webgrid-footer",
alternatingRowStyle: "webgrid-alternating-row",
rowStyle: "webgrid-row-style",
htmlAttributes: new { id = "InventoryListDataView" },
fillEmptyRows: false,
mode: WebGridPagerModes.All,
columns: grid.Columns(
grid.Column(columnName: "UPD_TYPE", header: "修正区分", style: "col-sm1"),
grid.Column(columnName: "REG_NO", header: "登録番号", style: "col-sm1"),
grid.Column(columnName: "REG_OLD_NO", header: "旧安全衛生番号", style: "col-sm1"),
grid.Column(columnName: "CHEM_NAME", header: "化学物質名", style: "col-sm1"),
grid.Column(columnName: "CAS_NO", header: "CAS#", style: "col-sm1"),
grid.Column(columnName: "BARCODE", header: "瓶番号", style: "col-sm1"),
grid.Column("出庫日", header: "出庫日", style: "col-sm1", format: @<text>
        @if (item.ISSUE_DATE != null)
         {<span>@string.Format("{0:yyyy-MM-dd}", item.ISSUE_DATE)</span>}
         else
         {@item.ISSUE_DATE;}
</text>),
grid.Column("入庫日", header: "入庫日", style: "col-sm1", format: @<text>
    @if (item.RECEIPT_DATE != null)
     {<span>@string.Format("{0:yyyy-MM-dd}", item.RECEIPT_DATE)</span>}
     else
     {<span>@item.RECEIPT_DATE</span>}    
</text>),
grid.Column(columnName: "GROUP_NAME", header: "部署名", style: "col-sm1"),
grid.Column(columnName: "WORKER_USER_NM", header: "作業者名", style: "col-sm1"),
grid.Column(columnName: "WORKER_USER_CD", header: "NID", style: "col-sm1"),
grid.Column(columnName: "USAGE_LOC_NAME", header: "使用場所", style: "col-sm1"),
grid.Column(columnName: "INTENDED_NM", header: "使用目的", style: "col-sm1"),
grid.Column(columnName: "INTENDED", header: "使用目的(その他)", style: "col-sm1"),
grid.Column(columnName: "EXPOSURE_WORK_USE_NAME", header: "ばく露作業の用途", style: "col-sm1"),
grid.Column(columnName: "EXPOSURE_WORK_TYPE_NAME", header: "ばく露作業の種類", style: "col-sm1"),
grid.Column(columnName: "EXPOSURE_WORK_TEMPERATURE_NAME", header: "使用時の温度", style: "col-sm1"),
grid.Column(columnName: "WORKING_TIMES", header: "作業時間（分）", style: "col-sm1"),
grid.Column(columnName: "UNITSIZE", header: "使用量", style: "col-sm1"),
grid.Column(columnName: "UNIT_NAME", header: "使用量単位", style: "col-sm1"),
grid.Column(columnName: "CONTAINED_NAME", header: "含有物質名", style: "col-sm1"),
grid.Column(columnName: "MIN_CONTAINED_RATE", header: "含有率下限値", style: "col-sm1"),
grid.Column(columnName: "MAX_CONTAINED_RATE", header: "含有率上限値", style: "col-sm1"),
grid.Column(columnName: "NOTICES", header: "特記事項", style: "col-sm1"),
grid.Column(columnName: "REG_TEXT", header: "法規制", style: "col-sm1"),
grid.Column(columnName: "UPD_USER_NM", header: "修正者", style: "col-sm1"),
grid.Column(columnName: "UPD_DATE", header: "修正日時", style: "col-sm1"),
grid.Column(columnName: "REASON_FOR_UPDATE", header: "修正理由", style: "col-sm1"),
grid.Column(columnName: "MEMO", header: "備考", style: "col-sm1")))
                    </div>
                </div>
            </div>
        </div> 
    }
    else
    {
        <div style="width: 100%; text-align: right;">

            <span id="ResultCount" style="color:White;font-size:X-Large;font-weight:bold;">件数 : 0 件</span>

        </div>

        <div style="height:auto; width:100%; overflow-y:visible;">
            <div id="UpdatePanel">
                <div id="resultGridOuter" style="overflow:auto; width: 100%;">
                    <div id="resultGridInner" style="height: 409px; width: 1608px;">
                        <div>
                            <table cellspacing="0" cellpadding="4" rules="cols" id="grid" style="color:Black;background-color:White;border-width:1px;border-style:Solid;font-size:Small;border-collapse:collapse;">
                                <tbody>
                                    <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:2px;border-style:Solid;font-weight:bold;font-family:'Times New Roman'">
                                        <th>修正区分</th>
                                        <th>登録番号</th>
                                        <th>旧安全衛生番号</th>
                                        <th>化学物質名</th>
                                        <th>CAS#</th>
                                        <th>瓶番号</th>
                                        <th>出庫日</th>
                                        <th>入庫日</th>
                                        <th>部署名</th>
                                        <th>作業者名</th>
                                        <th>NID</th>
                                        <th>使用場所</th>
                                        <th>使用目的</th>
                                        <th>使用目的(その他)</th>
                                        <th>ばく露作業の用途</th>
                                        <th>ばく露作業の種類</th>
                                        <th>使用時の温度</th>
                                        <th>作業時間（分）</th>
                                        <th>使用量</th>
                                        <th>使用量単位</th>
                                        <th>含有物質名</th>
                                        <th>含有率下限値</th>
                                        <th>含有率上限値</th>
                                        <th>特記事項</th>
                                        <th>法規制</th>
                                        <th>修正者</th>
                                        <th>修正日時</th>
                                        <th>修正理由</th>
                                        <th>備考</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    function block() {
        $.blockUI({ message: '<p>読み込み中...</p>' });
    }

    $(document).ready(function () {
        Unblock();
    });
    function Unblock() {
        $.unblockUI();
    }
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>
<script>
    $(document).ready(function () {
        var oTable = $('#InventoryListDataView').DataTable({
            "sScrollX": "0",
            "sScrollY": "400px",
            "sScrollXInner": "140%",
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }
        });
    });
</script>