﻿@model ChemMgmt.Models.InventoryManagement
@{
    Layout = "~/Views/Shared/_LayoutInventory.cshtml";

}
<script src="~/Scripts/jquery.blockUI.js"></script>

@if (TempData["NotFoundMessage"] != null)
{
    <script>
        $(document).ready(function () {
            alert("@Html.Raw(TempData["NotFoundMessage"])");          
        });
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <input type="hidden" id="hdnGroupCd" name="hdnGroupCd" />
        <input type="hidden" id="lblGroupName" name="lblGroupName" />
        <hr />
        <div id="contents">
            <table class="TableSearch">
                <tr>
                    <td valign="top">
                        <table width="840px" align="center">
                            <tr>
                                <td align="right" width="170px">
                                    <span>保管場所:</span>
                                </td>
                                <td align="left" width="403px">
                                    @Html.DropDownListFor(model => model.ddlLocation, Model.LookUpDDLLocation, new { @class = "searchCondition" })
                                    <input type="hidden" name="hdnddllocation" id="hdnddllocation" />
                                    <input type="button" id="btnSelect" value="選択" Class="buttonLong" onclick="return OpenTreePopup(1);" />
                                    <input type="button" id="btnLocationClear" value="クリア" Class="buttonLong" onclick="Cleartext('Location');" />
                                    @if (Model.hdnLocationIds != "" && Model.hdnLocationIds != null)
                                    {
                                        <label id="lblLocationSelection">設定済み</label>
                                    }
                                    else
                                    {
                                        <label id="lblLocationSelection"></label>
                                    }                                   
                                    <input type="hidden" id="Locationidval" Name="LocationSelection" value="@Model.hdnLocationIds" />
                                </td>
                                <td align="center" width="90px">
                                    <input type="submit" id="btnTotal" name="btnTotal" value="集計" Class="ButtonNormal ButtonMargin"/>
                                </td>
                                <td align="center" width="90px">
                                    &nbsp;
                                    <input type="button" class="btnlocreg" name="reg" onclick="return setValue('Location');" style="visibility:hidden" />
                                </td>
                                <td align="center" width="106px"></td>
                            </tr>
                            <tr>
                                <!-- 検索域・2行目 -->
                                <td align="right" width="170px">
                                    <span>保管場所コード：</span>
                                </td>
                                <td align="left" width="403px">
                                    @Html.TextBoxFor(m => m.txtBarcode, new { @class = "textBox" })
                                </td>
                                <td align="center" width="90px">
                                    <input type="submit" id="btnClear" name="btnClear" value="クリア" Class="ButtonNormal ButtonMargin" />
                                </td>
                                <td align="center" width="90px">
                                    &nbsp;
                                </td>
                                <td align="center" width="106px"></td>
                            </tr>
                            <tr>
                                <!-- 検索域・3行目 -->
                                <td align="right" width="170px">
                                    <span>管理部門</span>
                                </td>
                                <td align="left" width="403px">
                                    <input type="button" id="btnSelect2" value="選択" Class="buttonLong" onclick="return OpenTreePopup(2);" />
                                    <input type="button" id="btnGroupClear" value="クリア" Class="buttonLong" onclick="Cleartext('User');" />
                                    @if (Model.hdnGroupIds != "" && Model.hdnGroupIds != null)
                                    {
                                        <label id="UserSelectionView">設定済み</label>
                                    }
                                    else
                                    {
                                        <label id="UserSelectionView"></label>
                                    }

                                    <input type="hidden" id="USER_SELECTION" Name="USER_SELECTION" value="@Model.hdnGroupIds" />
                                    <input type="hidden" id="GROUP_SELECTION" Name="GROUP_SELECTION" value="@Model.hdnGroupIds" />
                                </td>
                                <td align="center" width="90px">
                                    <input type="button" class="btnuserclick" name="reg" onclick="return setValue('User');" style="visibility:hidden" />
                                    &nbsp;
                                </td>
                                <td align="center" width="106px"></td>
                            </tr>
                            <tr>
                                <!-- 検索域・4行目 -->
                                <td align="right" width="170px">
                                    <span>届出名称：</span>
                                </td>
                                <td align="left" width="403px">
                                    @Html.DropDownListFor(model => model.ddlType, Model.LookUpCSNCondition, new { @class = "DdlSearchShort" })
                                    @Html.TextBoxFor(m => m.txtReportName, new { @class = "TextBoxSearchLong" })
                                </td>

                                <td align="center" width="90px">
                                    &nbsp;
                                </td>
                                <td align="center" width="106px"></td>
                            </tr>
                            <tr>
                                <td align="right" width="170px">
                                    &nbsp;
                                </td>
                                <td></td>
                                <td colspan="3">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <hr />
        </div>
    </div>
}
<script>
    var opwnwindow;
    function OpenTreePopup(flag) {
        if (flag == 1) {
            var val = $('#Locationidval').val();
            var locationval = $('#ddlLocation').val();
            if (locationval == "0") {                
                var url = "../ZC010/ZC01081?TableName=M_STORING_LOCATION&ColumnName=P_LOC_ID&SelectType=2&Id=&Id=" + val + "";
            } else if (locationval == "1") {
                 var url = "../ZC010/ZC01081?TableName=M_USAGE_LOCATION&ColumnName=P_LOC_ID&SelectType=2&Id=&Id=" + val + "";
            } else {
                 var url = "../ZC010/ZC01081?TableName=M_LOCATION&ColumnName=P_LOC_ID&SelectType=2&Id=&Id=" + val + "";
            }
        } else if (flag = 2) {
            var val = $('#USER_SELECTION').val();
            var url = "../ZC010/ZC01081?TableName=M_GROUP&ColumnName=P_GROUP_CD&SelectType=2&Id=" + val + "";
        }
        opwnwindow = window.open(url, 'popUpWindow', 'height=726px,width=1276px,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes'); //, 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes, _blank'
    }

    $('#btnTotal').click(function () {
        var dataval = false;

        if ($('#Locationidval').val() != "") {
            dataval = true;
        }
        else if ($('#USER_SELECTION').val() != "") {
            dataval = true;
        }
        else if ($('#txtBarcode').val() != "") {
            dataval = true;
        }
        else if ($('#txtReportName').val() != "") {
            dataval = true;
        }
        if (dataval == false) {
            alert("集計条件を入力してください");
            return false;
        }
    });

    function setValue(Id) {
        if ($("#Locationidval").val() == "") {
            $('#ddlLocation').removeAttr("disabled", "disabled");
            $("#lblLocationSelection").text("");
        } else {
            if ($("#Locationidval").val().length > 2024) {
                opwnwindow.close();
                alert("選択された保管場所または使用場所が多すぎます");
                $('#Locationidval').val("");
                return false;
            } else {
                if (Id == "Location") {
                    $("#lblLocationSelection").text("設定済み");
                    $('#hdnddllocation').val($('#ddlLocation').val())
                    $('#ddlLocation').attr("disabled", "disabled");
                }
            }
        }

        if ($("#USER_SELECTION").val() == "") {
            $("#UserSelectionView").text("");
        } else {
            if ($("#USER_SELECTION").val().length > 2024) {
                opwnwindow.close();
                alert("選択された保管場所または使用場所が多すぎます");
                return false;
            }
            else {
                if (Id == "User") {
                    $("#UserSelectionView").text("設定済み");
                }
            }
        }
    }

    function Cleartext(Id) {
        if (Id == "Location") {
            $("#lblLocationSelection").text("");
            $("#Locationidval").val("");
             $('#ddlLocation').removeAttr("disabled", "disabled");
        }
        else if (Id == "User") {
            $("#UserSelectionView").text("");
            $("#USER_SELECTION").val("");
            $('$GROUP_SELECTION').val("");
        }
    }
</script>
