﻿@model ChemMgmt.Models.InventoryManagement
@{
    Layout = "~/Views/Shared/_LayoutInventory.cshtml";
}
<script src="~/Scripts/jquery-1.12.4.js"></script>
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="~/Scripts/jquery-ui.js"></script>
<style>
    .editor-multiline-field textarea {
        margin: 0px;
        width: 242px;
        height: 50px;
        resize: none;
        background-color: #F5F5DC;
        border-style: none;
    }
</style>
<script type="text/javascript">
    function OpenTreePopup(filter, flag, id) {
        if (flag == 1) {
            var url = "../ZC010/ZC01081?TableName=M_STORING_LOCATION&ColumnName=P_LOC_ID&SelectType=1&RowId=&Filter=" + filter + "&Id=" + id + "&returnUrl=../ZC040/ZC04001";
        }
        else {
            var url = "../ZC010/ZC01081?TableName=M_USAGE_LOCATION&ColumnName=P_LOC_ID&SelectType=1&RowId=&Filter=" + filter + "&Id=" + id + "&returnUrl=../ZC040/ZC04001";
        }
        window.open(url, 'popUpWindow', 'height=700,width=700,left=100,top=100,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no, status=yes'); //, 'menubar=no, toolbar=no, scrollbars=yes, resizable=yes, status=yes, _blank'
    }

</script>

@if (TempData["ValidationMessage"] != null)
{
    <script>
        $(document).ready(function () {
            alert("@TempData["ValidationMessage"]");
            return false;
        })
    </script>
}
@if (TempData["FailureInfoMessage"] != null)
{
    if (TempData["FailureInfoMessage"].ToString() == "WeightPopUp")
    {
        <script>
            $(document).ready(function () {
                $('.body').fadeIn(300);
                var opt = {
                    autoOpen: false,
                    modal: true,
                    width: 500,
                    height: 250,
                    title: '重量計測後、OKボタン実行で登録されます。',
                    closeOnEscape: false
                };
                $('#txtAllWeight').val($('#hdnOriginalWeight').val());
                $("#weightOuterPanel").dialog(opt).dialog("open");
            })
        </script>
    }
    @*if (TempData["FailureInfoMessage"].ToString() == "WorkersPopUp")
    {
        <script>
            $(document).ready(function () {
                $('.body').fadeIn(300);
                var opt = {
                    autoOpen: false,
                    modal: true,
                    width: 550,
                    height: 500,
                    title: '作業者入力後、登録ボタン実行で登録します。',
                    closeOnEscape: false
                };
                //inputNikonId(keyCode, nikonId);
                //alert($('#LoginUserCode').val() + " " + $('#LoginUserId').val());
                var option = $("<option>").val($('#LoginUserCode').val()).text($('#LoginUserId').val());
                $('#NotTargets').append(option);
                $("#WorkCommentInputOuterPanel").dialog(opt).dialog("open");
                return false;
            })
        </script>
    }*@
}
@if (TempData["FailureAlertMessage"] != null)
{
    <script>
            $(document).ready(function () {
               alert("@TempData["FailureAlertMessage"]");
            return false;
            })
    </script>
}

@using (Html.BeginForm())
{
    <input type="hidden" name="ActionType" id="ActionTypeId" value="" />
    @Html.HiddenFor(m => m.hdnStatusId)
    @Html.HiddenFor(m => m.StockId)
    @Html.HiddenFor(m => m.RegNo)
    @Html.HiddenFor(m => m.storingFilterIds)
    @Html.HiddenFor(m => m.usageFilterIds)
    @Html.HiddenFor(m => m.IsExposureWork)
    @Html.HiddenFor(m => m.IsWorkCommentInput)
    @Html.HiddenFor(m => m.WorkRecordId)
    @Html.HiddenFor(Model => Model.hdnManageWeight)
    @Html.HiddenFor(Model => Model.IsworkerFlag)

    <div class="form-horizontal" id="BindValues">
        <input type="submit" id="ButtonDefault" value="" style="display: none;" />
        <table class="TableSearch" align="center">
            <tr>
                <td>
                    <table align="center">
                        <tr align="center">
                            <td>
                                <label for="Label1" CssClass="LabelSearch">瓶番号(半角)：</label>
                            </td>
                            <td>
                                @if (Request.QueryString["Barcode"] != null)
                                {
                                    <input type="text" class="TextBoxSearchLong" style="margin-right: 32px;" disabled="disabled" />

                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.BARCODE, new { id = "txtBarcode", @class = "TextBoxSearchLong", @onblur = "return txtBarcode_TextChanged(this.value);", @style = "margin-right: 32px;" })

                                }
                            </td>
                            <td>
                                <input type="submit" id="btnClear" value="クリア" class="ButtonNormal" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr />
        <table class="TableSearch">
            @if (TempData["SuccessMessage"] != null)
            {
                <tr align="center">
                    <td>
                        <div id="MessagePanel" class="Set" />
                        <table>
                            <tr>
                                <td align="center" class="auto-style1">
                                    <label for="lblStMsg" style="text-align:left;Color:#3333CC;font-weight:bold" class="text-center"> @TempData["SuccessMessage"]</label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            }
            <tr>
                <td align="center">
                    <div id="pnlGrid">
                        <input type="submit" id="DisposeCommand" value="" style="display: none;" />
                        <input type="submit" id="RepayCommand" value="" style="display: none;" />
                        <table>
                            <tr>
                                <td width="5%">&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label2" CssClass="LabelSearch">在庫ステータス：</label>
                                </td>
                                <td align="left">
                                    <label for="lblStatus">@Model.lblStatus</label>


                                    @*<input type="hidden" name="hdnManageWeight" id="hdnManageWeight" value="@Model.hdnManageWeight" />*@

                                    @Html.HiddenFor(m => m.LastWeight)
                                    @*<input type="hidden" name="LastWeight" id="LastWeight" value="" />*@
                                </td>
                                <td align="right" valign="top" rowspan="6">
                                    <label for="lblRegulationGrid" CssClass="LabelSearch">法規制：</label><br />
                                </td>
                                <td valign="top" rowspan="6">
                                    <div style="height: 120px; width: 470px; overflow: auto;">
                                        <table cellspacing="0" cellpadding="4" rules="cols" id="RegulationGrid"
                                               style="color:Black;background-color:White;border-color:White;border-width:1px;border-style:Solid;font-size:Small;width:100%;border-collapse:collapse;">
                                            <tbody>
                                                <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:1px;border-style:Solid;font-weight:bold;">
                                                    <th>アイコン</th>
                                                    <th>法規制</th>
                                                </tr>
                                                @if (Model.vRegulation != null)
                                                {
                                                    foreach (var items in Model.vRegulation)
                                                    {

                                                        <tr id="EvenOddtr">
                                                            @if (items.IconUrl != null && items.IconUrl != "")
                                                            {
                                                                <td align="center" style="width:100px;"><img src="@items.IconUrl" style="height:32px;" /></td>
                                                            }
                                                            else
                                                            {
                                                                <td align="center" style="width:100px;"><span style="display:inline-block;height:32px;"></span></td>
                                                            }
                                                            <td style="width:364px;">@items.REG_TEXT</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label4" CssClass="LabelSearch">瓶番号：</label>
                                </td>
                                <td align="left">
                                    <label for="lblBarcode">@Model.lblBarcode</label>
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label6" CssClass="LabelSearch">商品名（英名）：</label>
                                </td>
                                <td align="left">
                                    <label for="lblProduct">@Model.lblProduct</label>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label7" CssClass="LabelSearch">化学物質名：</label>
                                </td>
                                <td align="left">
                                    <label for="lblProduct2">@Model.lblProduct2</label>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" class="auto-style1" valign="top">
                                    <label for="Label5" CssClass="LabelSearch">メーカー名：</label>
                                </td>
                                <td align="left" class="auto-style1" valign="top">
                                    <label for="lblMaker">@Model.lblMaker</label>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label16" style="text-align: right" CssClass="LabelSearch">保管場所コード(半角)：</label>
                                    @Html.HiddenFor(m => m.OriginalLocation)
                                    @*<input type="hidden" name="OriginalLocation" id="OriginalLocation" value="" />*@
                                </td>
                                <td align="left">
                                    @*<uc:ucSelectionControl ID="StoringLocation" runat="server" SelectionControlType="StoringLocation" SelectType="OneTerminal" />*@
                                    @*<input name="StoringLocation$Barcode" type="text" value="" maxlength="255" id="StoringLocation_Barcode" class="TextBoxSearchLong halfWidth" />*@
                                    @Html.TextBoxFor(m => m.locbarcode, new { maxlength = "255", @class = "TextBoxSearchLong halfWidth" })

                                    <input type="button" name="StoringLocation$Selection" value="選択" id="StoringLocation_Selection" class="ButtonUC" onclick="@("OpenTreePopup('"+Model.storingFilterIds+"','1','"+Model.OriginalLocation+"')")" />
                                    @*@Html.TextBoxFor(m => m.locName, new { maxlength = "255", @class = "TextBoxSearchLong", @readonly = "readonly" })*@
                                    @*<input type="submit" name="StoringLocation$Selection" value="Choice" id="StoringLocation_Selection" class="ButtonUC" />*@
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td>
                                    <div class="editor-multiline-field">
                                        @Html.EditorFor(m => m.locName)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label11" style="text-align:right" class="LabelSearch">使用場所コード(半角)：</label>
                                </td>
                                <td align="left">
                                    @Html.TextBoxFor(m => m.UsageLocation, new { maxlength = "255", style = "background-color:#ffd0d9;", @class = "TextBoxSearchLong halfWidth", @onblur = "return GetLocationValues(this.value);" })

                                    <input type="button" name="UsageLocation$Selection" value="選択" id="UsageLocation_Selection" class="ButtonUC" onclick="@("OpenTreePopup('"+Model.usageFilterIds+"','2','"+Model.usageFilterIds+"')")" />
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td>
                                    <div class="editor-multiline-field">
                                        @Html.EditorFor(m => m.usageLocName)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label8" class="LabelSearch">化学物質コード：</label>
                                </td>
                                <td align="left">
                                    <label for="lblCatCd">@Model.lblCatCd</label>
                                </td>
                                <td align="right" valign="top" rowspan="6">
                                    <label for="lblGhsCategoryGrid" class="LabelSearch">GHS分類：</label>                                                               <br />
                                </td>
                                <td valign="top" rowspan="6">
                                    <div style="height: 120px; width: 470px; overflow: auto;">
                                        <table cellspacing="0" cellpadding="4" rules="cols" id="GhsCategoryGrid" style="color:Black;background-color:White;border-color:White;border-width:1px;border-style:Solid;font-size:Small;width:100%;border-collapse:collapse;">
                                            <tbody>
                                                <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:1px;border-style:Solid;font-weight:bold;">
                                                    <th>アイコン</th>
                                                    <th>GHS分類</th>
                                                </tr>
                                                @if (Model.vGhscat != null)
                                                {

                                                    foreach (var vghscat in Model.vGhscat)
                                                    {

                                                        <tr id="EvenOddtr">
                                                            @if (vghscat.IconUrl != null && vghscat.IconUrl != "")
                                                            {
                                                                <td align="center" style="width:100px;"><img src="@vghscat.IconUrl" style="height:32px;" /></td>
                                                            }
                                                            else
                                                            {
                                                                <td align="center" style="width:100px;"><span style="display:inline-block;height:32px;"></span></td>
                                                            }
                                                            <td style="width:364px;">@vghscat.GHSCAT_NAME</td>
                                                        </tr>

                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="auto-style1"></td>
                                <td align="right" valign="top">
                                    <label for="Label22" class="LabelSearch">CAS#：</label>
                                </td>
                                <td align="left" valign="top">
                                    <label for="lblCasNo">@Model.lblCasNo</label>
                                </td>

                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label9" class="LabelSearch">容量・単位：</label>
                                </td>
                                <td align="left">
                                    <label for="lblUnitSize">@Model.lblUnitSize</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="auto-style1"></td>
                                <td align="right" valign="top" class="auto-style1">
                                    <label for="Label3" class="LabelSearch">残量（風袋込）：</label>
                                </td>
                                <td align="left" class="auto-style1">
                                    <label for="lblWeight">@Model.lblWeight</label>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label12" class="LabelSearch">初期重量（風袋込）：</label>
                                </td>
                                <td align="left">
                                    <label for="lblIniWeight">@Model.lblIniWeight</label>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label13" class="LabelSearch">風袋重量：</label>
                                </td>
                                <td align="left">
                                    <label for="lblGWeight">@Model.lblGWeight</label>
                                </td>
                            </tr>
                            <tr style="display: none;">
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label10" class="LabelSearch">法規制：</label>
                                </td>
                                <td align="left">
                                    <label for="lblRegulation" ForeColor="Red"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label14" class="LabelSearch">使用期限：</label>
                                </td>
                                <td align="left">
                                    <label for="lblLimit">@Model.lblLimit</label>
                                </td>
                                <td align="right" valign="top" rowspan="6">
                                    <label for="lblFireGrid" class="LabelSearch">消防法：</label>
                                    <br />
                                </td>
                                <td valign="top" rowspan="6">
                                    <div style="height: 120px; width: 470px; overflow: auto;">
                                        <table cellspacing="0" cellpadding="4" rules="cols" id="FireGrid" style="color:Black;background-color:White;border-color:White;border-width:1px;border-style:Solid;font-size:Small;width:100%;border-collapse:collapse;">
                                            <tbody>
                                                <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:1px;border-style:Solid;font-weight:bold;">
                                                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">アイコン</font></font></th>
                                                    <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">消防法</font></font></th>
                                                </tr>
                                                @if (Model.vFire != null)
                                                {
                                                    foreach (var items in Model.vFire)
                                                    {

                                                        <tr id="EvenOddtr">
                                                            @if (items.IconUrl != null && items.IconUrl != "")
                                                            {
                                                                <td align="center" style="width:100px;"><img src="@items.IconUrl" style="height:32px;" /></td>
                                                            }
                                                            else
                                                            {
                                                                <td align="center" style="width:100px;"><span style="display:inline-block;height:32px;"></span></td>
                                                            }
                                                            <td style="width:364px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@items.FIRE_NAME</font></font></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label17" class="LabelSearch">使用目的：</label>
                                </td>
                                <td align="left" colspan="3">
                                    @Html.DropDownListFor(model => model.ddlIntended, Model.LookUpIntended, new { @class = "TextBoxSearchLong required", @style = "background-color:#ffd0d9;", Width = "300px" })
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label19" class="LabelSearch">使用目的(その他)：</label>
                                </td>
                                <td align="left" colspan="3">
                                    @Html.TextBoxFor(m => m.txtIntended, new { id = "UNITSIZE", Width = "300px", @class = "TextBoxSearchLong" })
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label20" class="LabelSearch">作業者：</label>
                                </td>
                                <td align="left" colspan="3">
                                    <input type="button" name="btnRegisterWorker" id="btnRegisterWorker" CssClass="ButtonUC" Value="作業者登録" onclick="return ShowRegisterPopup(event.keyCode,);" />
                                    <span id="TextValue">@Model.LoginUserId</span>
                                    @Html.HiddenFor(m => m.LoginUserId)
                                    @Html.HiddenFor(m => m.LoginUserCode)
                                    <input type="hidden" value="@Model.WorkerIds" id="WorkerIds" name="WorkerIds" />
                                    @*@Html.HiddenFor(m => m.WorkerIds)*@
                                    @* @Html.Hidden(Model.WorkCommentTargetWorkerIds)*@
                                    @*<input type="hidden" name="LoginUserId" id="LoginUserId" value="" />
                                        <input type="hidden" name="WorkerIds" id="WorkerIds" value="" />
                                        <input type="hidden" name="WorkCommentTargetWorkerIds" id="WorkCommentTargetWorkerIds" value="" />*@

                                </td>
                            </tr>
                            <tr>

                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label18" class="LabelSearch">作業時間：</label>
                                </td>

                                <td align="left">
                                    @* AjaxToolKit *@
                                    @*<asp:FilteredTextBoxExtender ID="txtWorkingTimesFilter" runat="server" TargetControlID="txtWorkingTimes" ValidChars="0123456789" />*@
                                    @if (Model.hdnStatusId == "203")
                                    {
                                        @Html.TextBoxFor(m => m.txtWorkingTimes, new { id = "txtWorkingTimes", @type = "number", @class = "TextBoxSearchShort halfWidth", @min = "0", @disabled = "true" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.txtWorkingTimes, new { id = "txtWorkingTimes", @type = "number", @class = "TextBoxSearchShort halfWidth", @min = "0" })
                                    }
                                    分
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label21" class="LabelSearch">使用量：</label>
                                </td>
                                <td align="left">
                                    @Html.TextBoxFor(m => m.txtAmount, new { id = "txtAmount", @type = "number", @class = "TextBoxSearchShort", @Width = "60px" })
                                    @Html.DropDownListFor(model => model.AmountUnitSize, Model.LookUpAmountUnitSize, new { @class = "TextBoxSearchShort", Width = "60px" })

                                    @*@Html.Hidden(Model.IsAmountCheck)*@

                                    @*<input type="hidden" name="IsAmountCheck" id="IsAmountCheck" value="" />*@
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right" valign="top">
                                    <label for="Label15" class="LabelSearch">備考：</label>
                                </td>
                                <td align="left" colspan="1">
                                    @Html.TextBoxFor(m => m.MEMO, null, new { id = "txtMemo", style = "width: 250px; height: 250px", @class = "multiLineTextBox", TextMode = "MultiLine" })
                                </td>
                                <td align="right" valign="top" rowspan="6">
                                    <label for="lblOfficeGrid" class="LabelSearch">社内ルール：</label> <br />
                                </td>
                                <td valign="top" rowspan="6">
                                    <div style="height: 120px; width: 470px; overflow: auto;">
                                        <table cellspacing="0" cellpadding="4" rules="cols" id="OfficeGrid" style="color:Black;background-color:White;border-color:White;border-width:1px;border-style:Solid;font-size:Small;width:100%;border-collapse:collapse;">
                                            <tbody>
                                                <tr align="center" style="color:White;background-color:Maroon;border-color:White;border-width:1px;border-style:Solid;font-weight:bold;">
                                                    <th>アイコン</th>
                                                    <th>社内ルール</th>
                                                </tr>
                                                @if (Model.vOffice != null)
                                                {
                                                    foreach (var items in Model.vOffice)
                                                    {
                                                        <tr id="EvenOddtr">
                                                            @if (items.IconUrl != null && items.IconUrl != "")
                                                            {
                                                                <td align="center" style="width:100px;"><img src="@items.IconUrl" style="height:32px;" /></td>
                                                            }
                                                            else
                                                            {
                                                                <td align="center" style="width:100px;"><span style="display:inline-block;height:32px;"></span></td>
                                                            }
                                                            <td style="width:364px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@items.OFFICE_NAME</font></font></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <div>

        </div>
        <p>

            @Html.HiddenFor(m => m.hdnAllWeight)
            @Html.HiddenFor(m => m.hdnUnitSize)

            <input type="submit" name="cmdDumy" id="cmdDumy" Style="display: none" />
        </p>

        <!-- ばく露作業報告入力 -->
        <div id="ExposureWorkInputOuterPanel" BackColor="white" BorderWidth="2px" Style="display:none;height:260px;width:460px">
            <div id="ExposureWorkInputInnerPanel" Wrap="False">
                <br />
                <table class="TableMenue">
                    <tr>
                        <td align="center" colspan="2">
                            <div style="width: 100%; background-color: maroon; color: white; font-weight: bold;">ばく露作業情報選択後、登録ボタン実行で登録します。</div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" align="right">
                            <div class="LabelSearch">ばく露作業の用途：</div>
                        </td>

                        <td width="70%">
                            @Html.DropDownListFor(model => model.ExposureWorkUse, Model.LookUpExposureWorkUse, new { @class = "DdlSearchLong required" })
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" align="right">
                            <div class="LabelSearch">ばく露作業の種類：</div>
                        </td>
                        <td width="70%">
                            @Html.DropDownListFor(model => model.ExposureWorkType, Model.LookUpExposureWorkType, new { @class = "DdlSearchLong required" })
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" align="right">
                            <div class="LabelSearch">使用時の温度：</div>
                        </td>
                        <td width="70%">
                            @Html.DropDownListFor(model => model.UseTemperature, Model.LookUpUseTemperature, new { @class = "DdlSearchLong required" })
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="button" CssClass="ButtonNormal" Value="登録" />
                            &nbsp;
                            <input type="button" CssClass="ButtonNormal" Value="キャンセル" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
        </div>



        <!-- 作業者入力 -->
        <div id="WorkerSelectionDialog" style="display:none">
            <div ID="WorkerSelectionOuterPanel" BackColor="white" BorderWidth="2px" Height="360" Width="340" draggable="true">
                <div ID="WorkerSelectionInnerPanel" Wrap="False">
                    <br />
                    <table class="TableMenue">
                        <tr>
                            <td align="center" colspan="2">
                                @*<div style="width: 100%; background-color: maroon; color: white; font-weight: bold;">作業者入力後、登録ボタン実行で登録します。</div>*@
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td width="30%" align="right">
                                <div class="LabelSearch">NID：</div>
                            </td>
                            <td width="70%">
                                <input style="width: 180px;" id="WorkerId" type="text" onkeypress="return inputNikonId(event.keyCode, this.value);" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <div class="LabelSearch" style="margin-bottom: 16px;">作業者一覧：</div>
                                <div>
                                    <input type="button" value="削除" onclick="selectionDeleteWithProtect($('#LoginUserId').val(), 'ログインユーザーは削除できません。');" />
                                </div>
                            </td>
                            <td>
                                <select class="required Workers" style="width: 180px;" id="Workers" size="10" multiple="" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input class="ButtonNormal" type="button" value="登録" onclick="setNikonIds();" />
                                &nbsp;
                                <input class="ButtonNormal" type="button" value="キャンセル" onclick="return workerSelectionDialogClose();" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div id="weightOuterPanel" class="ioSet" style="color:white;border-width:2px;height:200px;width:900px;display:none;">
            <br />
            <div class="modalBody">
                @*<div class="modalMessage">
                        @Html.Label("重量計測後、OKボタン実行で登録されます。")
                    </div>*@
                <div class="modalIoSection">
                    <div class="ioField">
                        <div class="ioSet">
                            <div class="label" style="color:#000">
                                <label>総重量：</label>
                            </div>
                            <div class="io">
                                @Html.HiddenFor(m => m.hdnOriginalWeight)
                                @Html.TextBoxFor(m => m.txtAllWeight, new { id = "txtAllWeight", @type = "number", @class = "textBox halfWidth required", @min = "0", @onkeydown = "return ValidateNumber(event);" })
                                @*<input type="text" class="textBox halfWidth required" id="TotalWeight" name="TotalWeight"  />*@
                                &nbsp;
                                <img alt="g" id="imgTotal" src="~/Image/unitsize-gram.png" />
                            </div>
                        </div>
                        <div class="ioSet" style="display:none">
                            <div class="label" style="color:#000">
                                <label>内容量:</label>
                            </div>
                            <div class="io">
                                @Html.TextBoxFor(m => m.txtUnitSize, new { id = "txtUnitSize", @type = "number", @class = "TextBoxSearchShort required", @min = "0" })
                                @*<input type="text" class="textBox halfWidth required" id="DetailWeight" name="DetailWeight" onkeydown="return ValidateNumber(event);" />*@&nbsp;
                                <img alt="g" id="imgDetail" src="~/Image/unitsize-gram.png" />
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="rowid" id="RowValue" />
                </div>
                <div class="buttonField">
                    <input type="submit" name="btnGoodsWeightIssue" id="btnGoodsWeightIssue" class="ButtonNormal" value="OK" formaction=@Url.Action("ZC04001") formmethod="post" />
                    <input type="button" id="Cancel" value="キャンセル" CssClass="button" OnClick="return WeightMeasurementCancel();" />
                </div>
            </div>
        </div>

        <!-- 特記事項入力 -->
        <div ID="WorkCommentInputOuterPanel" BackColor="white" BorderWidth="2px" Style="display:none;height:580px;width:490px;">
            <div ID="modalBody" Wrap="False">
                <br />
                <table class="TableMenue">
                    <tr>
                        <td align="center" colspan="3"></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td width="40%" align="center">
                            <select style="width: 180px;" id="NotTargets" size="10" multiple="" />
                        </td>
                        <td width="20%" align="center">
                            <div style="margin-bottom: 16px;">
                                <input type="button" value="選択" onclick="return selectionRightMove('NotTargets', 'Targets');" />
                            </div>
                            <div>
                                <input type="button" value="削除" onclick="return selectionLeftMove('Targets', 'NotTargets');" />
                            </div>
                        </td>
                        <td width="40%" align="center">
                            <select class="required" style="width: 180px;" id="Targets" size="10" multiple="" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div>
                                特記事項(記入例:○月×日 XX:XX頃 作業者AがXXの<br />
                                作業実施時に～～した。対策として△△△を行った。)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="3">
                            <div>
                                @Html.TextBoxFor(m => m.WorkComment, new { id = "WorkComment", @class = "multiLineTextBox required", style = "width:468px; height: 212px;", TextMode = "MultiLine" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <input type="submit" class="ButtonNormal" id="btnRepayWorker" formaction="LoadWorkersPopup" formmethod="post" name="btnRepay" Value="登録" onclick="return ClickRepayWorker();" />
                            &nbsp;
                            <input type="button" class="ButtonNormal" Value="キャンセル" onclick="return CloseRepayWorker();" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <hr />
        <table class="TableFooter">
            <tbody>
                <tr>
                    <td>
                        <table style="float:left;">
                            <tbody>
                                <tr>
                                    <td width="90px">
                                        <input type="button" name="btnDelete" value="廃棄" id="DiscardSubmit" class="ButtonFooter" onclick="return DiscardOperation();" />
                                    </td>
                                    <td width="90px">
                                        <input type="submit" name="StorageLocation" value="保管場所移動" id="StorageLocation" class="ButtonFooter" />
                                    </td>
                                    <td width="90px">
                                        <input type="submit" name="UseOut" value="使切" id="UseOut" class="ButtonFooter" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table style="float:right;">
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px"></td>
                                    <td width="90px">
                                        @if (Model.hdnStatusId == "204")
                                        {
                                            <input type="button" id="btnGoods_Issue" disabled="disabled" name="btnGoods_Issue" Class="ButtonFooter" Value="検索" />
                                        }
                                        else if (Model.hdnStatusId == "203")
                                        {
                                            <input type="submit" id="btnGoods_Issue" name="btnGoods_Issue" Class="ButtonFooter" formaction=@Url.Action("ZC04001") formmethod="post" Value="検索" onclick="return LendSubmit();" />
                                        }
                                        else
                                        {
                                            <input type="button" id="btnGoods_Issue" disabled="disabled" name="btnGoods_Issue" Class="ButtonFooter" Value="検索" />
                                        }
                                    </td>
                                    <td width="90px">
                                        @if (Model.hdnStatusId == "203")
                                        {
                                            <input type="button" name="btnRepay" value="入庫" id="btnGoods_Receipt" class="ButtonFooter" disabled="disabled" />
                                        }
                                        else if (Model.hdnStatusId == "204")
                                        {
                                            <input type="submit" name="btnRepay" value="入庫" id="btnGoods_Receipt" class="ButtonFooter" formaction=@Url.Action("ZC04001") formmethod="post" />
                                        }
                                        else
                                        {
                                            <input type="button" name="btnRepay" value="入庫" id="btnGoods_Receipt" class="ButtonFooter" disabled="disabled" />
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

<style>
    .ui-widget-header {
        background: #800000 !important;
        color: #fff !important;
        text-align: center;
    }

    .ui-dialog .ui-dialog-content {
        overflow: hidden !important;
    }
</style>
<script>

    function txtBarcode_TextChanged(obj) {
        var url = "@Url.Action("IndexPartial", "ZC040")";
        var model = { BARCODE: obj };
        $.post(url, model, function (res) {
            $("#BindValues").html(res);
            return false;
        });
    }

    $(document).ready(function () {
        //if ($('#hdnStatusId').val() == ""){
        //$("input").prop('disabled', true);
        //$("select").prop('disabled', true);
        //$("#btnHeader_Back").prop('disabled', false);
        //$("#txtBarcode").prop('disabled', false);
        //$("#btnClear").prop('disabled', false);
        //$('#UsageLocation').css("background-color", "");
        //$('#ddlIntended').css("background-color", "");
        //}
        //var opt = {
        //    autoOpen: true,
        //    modal: true,
        //    width: 550,
        //    height: 250,
        //    title: 'Details',
        //    closeOnEscape: false
        //};

        //alert("");
        //$("input").prop('disabled', true);
        //$("select").prop('disabled', true);
        //$("#btnHeader_Back").prop('disabled', false);
        //$("#txtBarcode").prop('disabled', false);

        //$("#btnClear").prop('disabled', false);

        //$("#WorkCommentInputOuterPanel").dialog({
        //    autoOpen: false,
        //    modal: true
        //});
        //$("#WorkerSelectionDialog").dialog({
        //    autoOpen: false, modal: true
        //});
        //$("#weightOuterPanel").dialog({
        //    autoOpen: false, modal: true
        //});

     });

    function selectionRightMove() {
        var selectedOpts = $('#NotTargets option:selected');
        var removeNikonIds = $.map($('#NotTargets option:selected'), function (e) { return e.value; });
        //alert(selectedOpts);
        //alert(removeNikonIds);
       if (removeNikonIds == "") {
           return false;
        }
        $('#Targets').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        return false;
    }

    function ShowRegisterPopup(keyCode, nikonId) {
        var opt = {
            autoOpen: false,
            modal: true,
            width: 550,
            height: 500,
            title: '作業者入力後、登録ボタン実行で登録します。',
            closeOnEscape: false
        };
        inputNikonId(keyCode, nikonId);
        //alert($('#LoginUserCode').val() + " " + $('#LoginUserId').val());
        //$.ajax({
        //    url: '/ZC040/GetWorkersValue',
        //    type: 'GET',
        //    data: { 'locBarcode': null, 'usageLocBarcode': obj },
        //    success: function (data) {
        //        if (data != "") {
        //            for (var x = 0; x < data.length; x++) {
        //                newOption += ("<option value=" + data[x].Value + ">" + data[x].Text + "</option>");
        //            }
        //            $('#Workers').empty();
        //            $('#Workers').append(newOption);
        //            $('.body').fadeIn(300);
        //            $("#WorkerSelectionDialog").dialog(opt).dialog("open");
        //            return false;
        //        } else {
        //            var option = $("<option>").val($('#LoginUserCode').val()).text($('#LoginUserId').val());
        //            $('#Workers').append(option);
        //            $('.body').fadeIn(300);
        //            $("#WorkerSelectionDialog").dialog(opt).dialog("open");
        //            return false;
        //        }
        //        return false;
        //    },
        //    error: function (err) {
        //        //alert("ユーザーIDとパスワードの入力に誤りがあります。");
        //        return false;
        //    }
        //});
        var option = $("<option>").val($('#LoginUserCode').val()).text($('#LoginUserId').val());
        $('#Workers').append(option);
        $('.body').fadeIn(300);
        $("#WorkerSelectionDialog").dialog(opt).dialog("open");
        return false;
        //$("#WorkerSelectionDialog").dialog('open');
        //$('#btnRegisterWorker').modal({ appendTo: '#modalPopUp' });
    }
   

    function CloseRepayWorker() {
        $("#WorkCommentInputOuterPanel").dialog('close');
    }
    function showRequireMessage(itemName) {
        alert(itemName + "は必須項目です。");
    }

    function showMaxStringLengthMessage(itemName, maxStringLength) {
        alert(itemName + "は" + maxStringLength.toString() + "文字以下で入力してください。");
    }

    function ClickRepayWorker() {       
        var targets = $("#Targets");

        if (targets.length == 0) {
            showRequireMessage("発生者");
            return;
        }

        var workComment = $("#WorkComment").val();

        var workCommentName = "特記事項";
        if (workComment.trim().length == 0) {
            showRequireMessage(workCommentName);
            return;
        }

        var workCommentMaxLength = 1000;
        if (workComment.trim().length == workCommentMaxLength) {
            showMaxStringLengthMessage(workCommentName, workCommentMaxLength);
            return;
        }
        alert("in");
        $(this).dialog("close");
        $("#WorkCommentInputOuterPanel").dialog('close');
        alert("close");
        //$('#btnRepayWorker').on('click', function () {
        let yes = confirm("更新します。よろしいですか？");
        if (yes) {
            alert("in");
            //$.ajax({
            //    url: '/ZC040/SaveWorkersId',
            //    type: 'POST',
            //    //data: { 'UserIds': WorkValue },
            //    success: function (data) {
            //        if (data = "true") {
            //            $("#TextValue").text(TextValues.join(','));
            //            $("#WorkerSelectionDialog").dialog('close');
            //            return false;
            //        }
            //    },
            //    error: function (err) {
            //        //alert("ユーザーIDとパスワードの入力に誤りがあります。");
            //        return false;
            //    }
            //});
            //return false;
            //document.getElementById("Form1").submit();
            //$('Form1').get(0).setAttribute('action', "/ZC040/ZC04001");
            //this.form.submit();
            //this.form.submit();
            // return false;
        } else {
            alert("else")
            return false;
        }
    }
    //});


    function selectionLeftMove() {
        var selectedOpts = $('#Targets option:selected');
        var removeNikonIds = $.map($('#Targets option:selected'), function (e) { return e.text; });
        //alert(removeNikonIds)
        if (removeNikonIds == "") {
            return false;
        }
        $('#NotTargets').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        return false;
    }


    function inputNikonId(keyCode, nikonId) {
        if (keyCode != 13) return;
        var inputNikonId = $("#WorkerId").val();
        //nikonIdTextBox.val("");
        if (!inputNikonId.length) return;
        var addedNikonIds = $.map($('#Workers option'), function (e) { return e.value; });
        //alert(addedNikonIds)
        if (addedNikonIds != "") {
            //alert(addedNikonIds);
            var joinvalues = addedNikonIds.join(',');
            //alert(joinvalues)
            var splitString = joinvalues.split(',')
            var valueFound;

            for (var i = 0; i < splitString.length; i++) {
                var stringPart = splitString[i];
                if (stringPart != nikonId) continue;
                valueFound = true;
            }
            if (valueFound == true) {
                //alert(appleFound);
                alert("選択済みです。");
                $('#WorkerId').val('');
                return false;
            }
            //joinvalues.split(',').forEach(function (e) {
                //if (nikonId.indexOf(joinvalues) != -1) {
                //    alert("選択済みです。");
                //    $('#WorkerId').val('');
                //    return false;
                //}
                //return false;
            }
        //$.getJSON("../ZC040/GetUserValues/" + nikonId, null, function (data, status) {
        //    alert(data);
        //    var user = data;
        //    alert(user);
        //    var option = $("<option>").val(user.Key).text(user.Value);
        //    $('#Workers').append(option);
        //});

        //var addSelect = $("#" + addSelectId);
        //var addedNikonIds = addSelect.children();
        //if (addedNikonIds != null && addedNikonIds.toEnumerable().Any("$.val()==\"" + nikonId + "\"")) {
        //    alert("選択済みです。");
        //    return;
        //}
        if (nikonId != "") {
            $.ajax({
                url: '/ZC040/GetUserValues',
                data: { 'id': nikonId },
                type: 'POST',
                ///async: false,
                //contentType: "application/json",
                success: function (data, status) {
                    //var dataval = data;
                    if (data != null) {
                        //alert(data);
                        var splistring = data.split(',');
                        //alert(splistring[0])
                        if (splistring[0].length>2) {
                            //alert(splistrin[0] + " " + splistrin[1])
                            var option = $("<option>").val(splistring[0].slice(1)).text(splistring[1].slice(0, -1));
                            $('#Workers').append(option);
                            $('#WorkerId').val('');
                            return false;
                        }
                        return false;
                    }
                },
                error: function (err) {
                    //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                    return false;
                }
                //return false;
            });
        }
    }

    function selectionDeleteWithProtect(protectValue, protectMessage) {
        var removeNikonIds = $.map($('#Workers option:selected'), function (e) { return e.text; });
        //alert(removeNikonIds)
        if (removeNikonIds != "") {
            var removeIds = removeNikonIds.join(',');
            //alert(removeIds);
            var splitString = removeIds.split(',');
            var itemsFound;
            for (var i = 0; i < splitString.length; i++) {
                var stringPart = splitString[i];
                //alert(stringPart);
                if (stringPart != protectValue) {
                    $("#Workers option:selected").remove();
                    continue;
                }
                itemsFound = true;
            }
            if (itemsFound == true) {
                //alert(itemsFound);
                alert(protectMessage);
                return false;
            }
        }
    }     

    function setNikonIds() {

        var values = $.map($('#Workers option'), function (e) { return e.value; });

        // as a comma separated string
        //alert(values.join(','));
        //var values = $("#Workers>option").map(function () { return $(this).val(); });
        //alert(values.join(','));
        //var rr = [];
        //$('#Workers"').each(function (i, selected) {
        //    rr[i] = $(selected).text();
        //});
        //alert(rr);

        //alert($("#Workers").val());
        //values.toEnumerable().Select("$.val()").ToArray().join(',');
        $("#WorkerIds").val(values.join(','));
        $("#TextValue").text('');
        var TextValues = $.map($('#Workers option'), function (e) { return e.text; });
        var Values = $.map($('#Workers option'), function (e) { return e.value; });
        var WorkValue = Values.join(',');
        alert(WorkValue)
        $.ajax({
            url: '/ZC040/SaveWorkersId',
            type: 'GET',
            data: { 'UserIds': WorkValue  },
            success: function (data) {
                if (data = "true") {
                    $("#TextValue").text(TextValues.join(','));
                    $("#WorkerSelectionDialog").dialog('close');
                    return false;
            }
            },
            error: function (err) {
                //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                return false;
            }
        });
        return false;
        //$("#WorkerIds").val(values.join(','));
        $("#WorkerSelectionDialog").dialog('close');
    }


    function workerSelectionDialogClose() {
        //var =$("#WorkerSelectionDialog").dialog();
        $("#WorkerSelectionDialog").dialog("close");
        //$("#WorkerSelectionDialog").dialog().hide();
        //$('#btnRegisterWorker').modal({ appendTo: '#modalPopUp' });
        return false;
     }


    function txtUsageLoc_TextChanged(obj) {
        $.ajax({
            url: '/ZC040/GetLocationName',
            type: 'GET',
            data: { 'locBarcode': null,'usageLocBarcode':obj},
            success: function (data) {
                $("#usageLocName").val(data);
                return false;
            },
            error: function (err) {
                //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                return false;
            }
        });
        return false;
    }

    function LendSubmit() {
        let isOk = confirm("更新します。よろしいですか？");
        if (isOk) {
            //if ($('#UsageLocation_Barcode').text() == "") {
            //        alert("使用場所を入力してください。");
            //        return false;
            //}
            if ($('#ddlIntended').val() == "") {
                alert("使用目的を入力してください。");
                return false;
            }
            //$('#ActionTypeId').val(4);
            //window.document.forms[0].submit();
            //WeightingPopup();
        } else {
            return false;
        }
    }

    $('#btnGoods_Receipt').on('click', function () {
        let isOk = confirm("作業中に事故が発生した場合は「OK」を、事故が発生しなかった場合は「キャンセル」を押してください。");
        if (isOk) {
            var opt = {
                autoOpen: false,
                modal: true,
                width: 600,
                height: 700,
                title: '発生者を選択し、特記事項入力後、登録ボタン実行で登録します。',
                closeOnEscape: false
            };
            //window.document.forms[0].submit();
            var option = $("<option>").val($('#LoginUserCode').val()).text($('#LoginUserId').val());
            $('#NotTargets').append(option);
            $("#WorkCommentInputOuterPanel").dialog(opt).dialog("open");
            return false;
            //$("#WorkCommentInputOuterPanel").dialog();
            //return false;
        } else {
            let isweight = confirm("入庫します。よろしいですか？");
            if (isweight) {
                //alert("");
                $('Form1').get(0).setAttribute('action', "/ZC040/ZC04001");
                 this.form.submit();
                //var opt = {
                //    autoOpen: false,
                //    modal: true,
                //    width: 550,
                //    height: 300,
                //    title: '作業者入力後、登録ボタン実行で登録します。',
                //    closeOnEscape: false
                //};
                //$('#txtAllWeight').val($('#hdnOriginalWeight').val());
                //$("#weightOuterPanel").dialog(opt).dialog("open");
                //    return false;
                //WeightingPopup();
                // $('#ActionTypeId').val(5);
                //window.document.forms[0].submit();
                return false;
            }
            else {
                return false;
            }
        }
    });

    function DiscardOperation() {
        let isOk = confirm("作業中に事故が発生した場合は「OK」を、事故が発生しなかった場合は「キャンセル」を押してください。");
        if (isOk) {
            var opt = {
                autoOpen: false,
                modal: true,
                width: 600,
                height: 700,
                title: '発生者を選択し、特記事項入力後、登録ボタン実行で登録します。',
                closeOnEscape: false
            };
            ////window.document.forms[0].submit();
            var option = $("<option>").val($('#LoginUserCode').val()).text($('#LoginUserId').val());
            $('#NotTargets').append(option);
            $("#WorkCommentInputOuterPanel").dialog(opt).dialog("open");
            return false;
            //$("#WorkCommentInputOuterPanel").dialog();
            //return false;
        } else {
            //alert("in");
            let isweight = confirm(" 入庫します。よろしいですか？");
            if (isweight) {
                if ($('#hdnStatusId').val() == "203") {
                    if ($('#hdnManageWeight').val() != "") {
                        if ($('#txtWorkingTimes').val() == "") {
                            alert("作業時間を入力してください。");
                            return false;
                        }
                    }
                }
                //WeightingPopup();
                $('#ActionTypeId').val(5);
                //window.document.forms[0].submit();
            }
            else {
                return false;
            }
        }
        return false;
    }


    $('#btnGoodsWeightIssue').on('click', function () {
        //function btnGoodsWeightIssue() {
        var weight = $('#txtAllWeight').val();
        var unitsize = $('#hdnUnitSize').val();
        var statusid = "@Model.hdnStatusId";
        if ($('#txtAllWeight').val() == "") {
            alert(" 総重量は必須項目です。");
            $('#txtAllWeight').focus();
            return false;
        }
        if ($('#txtAllWeight').val().length>=8) {
            alert("総重量の整数部は8桁以下で入力してください。");
            $('#txtAllWeight').focus();
            return false;
        }
        if ($('#hdnUnitSize').val() != "") {
            var unitvalue = $('#hdnUnitSize').val();
            var weightvalue = $('#txtAllWeight').val();
            var weighttextvalue = parseFloat(weightvalue);
            var ExistValue = parseFloat(unitvalue);
            //var weightvalue = weight.split('.');
            //var SplitedValue = value.split('.');
            //alert(weighttextvalue + " " + ExistValue)
            //alert(weighttextvalue < ExistValue)
            if (ExistValue != "" && weighttextvalue!="") {
                if (weighttextvalue < ExistValue) {
                    alert("風袋重量が総重量を超えてます。");
                    $('#txtAllWeight').focus();
                    return false;
                }
            }
        }
        //alert(statusid);
        //return false;
        $.ajax({
            url: '/ZC040/SaveValidatedData',
            type: 'POST',
            data: { 'AllWeight': weight, 'UnitSize': unitsize, 'Status': statusid },
            success: function (data) {
                $("#weightOuterPanel").dialog('close');
                window.location.href ="/ZC040/ZC04001"
               return false;
            },
            error: function (err) {
                //alert("ユーザーIDとパスワードの入力に誤りがあります。");
                return false;
            }
        });
        return false;
    });


    $('#StorageLocation').on('click', function () {
        let isOk = confirm("保管場所移動します。よろしいですか？");
        if (isOk) {
            //if () {
            //    alert("保管場所が変更されていません。");
            //}
            return false;
        } else {
        }
    });
  
    function ValidateNumber(e) {
        var evt = (e) ? e : window.event;
        var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
        ///alert(charCode)
        if ((charCode < 48 && charCode > 57)) {
            return false;
        }
        return true;
    };
</script>
