﻿<script src="@Url.Content("~/Scripts/tinymce/tiny_mce.js")" type="text/javascript"></script>

<script type="text/javascript">
    (function () { tinyMCE.init({ mode: "exact", elements: "@ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)", theme: "advanced", skin: "default", height: "500", width: "790", verify_html: false, plugins: "", theme_advanced_buttons1:"undo,redo,|,cut,|,anchor,|,bold,italic,underline,|,forecolor,backcolor,|,fontselect,fontsizeselect,|,code",theme_advanced_buttons2:"",theme_advanced_buttons3:"",theme_advanced_buttons4:"    ",theme_advanced_toolbar_location:"top",theme_advanced_toolbar_align:"left",theme_advanced_statusbar_location:"bottom",theme_advanced_resizing:false,content_css:"@Url.Content("~/Scripts/tinymce/themes/advanced/skins/default/content.css")",convert_urls:false,template_external_list_url:"lists/template_list.js",external_link_list_url:"lists/link_list.js",external_image_list_url:"lists/image_list.js",media_external_list_url:"lists/media_list.js",})})();

    function clearMsg() {
        // clear the field
        tinyMCE.activeEditor.setContent("");
    }

    function init() {
            // set previous message from hidden textbox
            tinyMCE.activeEditor.setContent(document.getElementById('P_MSG_TEXT').value);
    }

</script>
@Html.TextArea(string.Empty, /* Name suffix */
    ViewData.TemplateInfo.FormattedModelValue /* Initial value */
)